@import "@{adminlte-path}less/buttons.less";
.btn {
    &.btn-red {
        display: inline-block;
        padding: 6px 15px;
        background-color: #d6892f;
        background-size: 100%;
        transition: background-image .3s;
        cursor: pointer;
        font-weight: 700;
        text-decoration: none !important;
        transition: 0.3s;
        color: #ffffff !important;
        outline: none !important;
        &:hover {
            text-decoration: none;
            background-color: #ca7615;
            transition: 0.3s;
            box-shadow: inset 0 0 5px rgba(#fefb3b, 0.7);
        }
    }
}