.content {
    &.with-sidebar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        padding: 0;
        > .content-sidebar,
        > .content-body {
            flex-shrink: 0;
            align-self: flex-start;
            transition: .1s linear width, .1s linear margin;
        }
        > .content-sidebar {
            padding-right: @box-padding;
            width: @sidebar-default;
            position: relative;
            &.right {
                padding-right: inherit;
                padding-left: @box-padding;
            }
        }
        .sidebar-collapse, .sidebar-expand {
            font-size: 20px;
            cursor: pointer;
            text-align: right;
            right: -30px;
            color: #fff;
            background-color: #3c8dbc;
            padding: 0 7px;
            margin-bottom: -3px;
            display: none;
        }
        .sidebar-collapse {
            display: block;
        }
        > .content-body {
            flex-basis: auto;
            width: calc(100% - @sidebar-default);
        }
        @media (min-width: @screen-lg) {
            > .content-sidebar {
                flex-basis: @sidebar-lg;
            }
            > .content-body {
                width: calc(100% - @sidebar-lg);
            }
        }
        &.sidebar-collapsed {
            overflow: hidden;
            .sidebar-collapse {
                display: none;
            }
            .sidebar-expand {
                display: block;
            }
            > .content-sidebar {
                margin-left: -@sidebar-default + 30px;
                @media (min-width: @screen-lg) {
                    margin-left: -@sidebar-lg + 30px;
                }
            }
            > .content-body {
                width: 100%;
            }
        }
    }
}