.checkbox, .checkbox-inline {
    input[type=checkbox], input[type=radio] {
        margin-top: 2px;
    }
}
.dropdown-menu {
    padding: 0;
    > li > a {
        padding: 3px @grid-gutter-width - 1;
    }
    .dropdown-header {
        padding: 3px @grid-gutter-width - 1;
    }
}
.main-header .sidebar-toggle {
    font-family: inherit;
    &:before {
        content: ''
    }
}
@media (max-width: @screen-sm-max) {
    .navbar-custom-menu .navbar-nav > li > a {
        padding-top:    @navbar-padding-vertical;
        padding-bottom: @navbar-padding-vertical;
        line-height: @line-height-computed;
    }
}