@import "@{adminlte-path}less/forms.less";
.form-group input[type=checkbox]:not(:checked) + .input-daterange {
    display: none;
}
.form-linear {
    &.not-boxed.box {
        border: 0;
        background: none;
        .box-body {
            padding: 0;
        }
    }
    .form-group {
        float: left;
        margin-right: 5px;
        .control-label {
            margin-bottom: 0;
            line-height: 2rem;
        }
        .help-block {
            margin: 0;
        }
        .checkbox.checkbox-branded {
            margin-top: 2rem;
            margin-bottom: 0;
            padding: 0 5px;
            font-size: 1.2rem;
            input + label {
                color: #666;
                line-height: 2.8rem;
                font-size: 1.2rem;
                padding-left: 3rem;
                &:before {
                    top: 4px;
                    width: 2rem;
                    height: 2rem;
                }
            }
            input:checked + label:after {
                width: 2rem;
                height: 2rem;
            }
        }
    }
    button[type=submit] {
        margin-top: 2rem;
    }
}