@import "@{adminlte-path}less/select2.less";

.select2-container {
    .select2-selection {
        border-radius: @box-border-radius;
    }
    .select2-selection--multiple .select2-selection__choice {
        border-radius: @box-border-radius;
    }
}

.select2-container--default,
.select2-selection {
    .select2-selection--single {
        height: 28px;
        .select2-selection__rendered {
            line-height: 22px;
        }
        .select2-selection__arrow {
            height: 22px;
        }
    }
}