/* skin-black navbar */
.skin-black {
    background: #131313 url('/static/img/background.png') no-repeat;
    a {
        color: #fff;
    }
    //Navbar & Logo
    .main-header {
        .navbar-toggle {
            color: #CCC;
        }
        .navbar-brand {
            color: #FFF;
            border-right: 0;
        }
        .navbar {
            background: #2F2F2F;
            > .sidebar-toggle {
                color: #FFF;
                border-right: 0;
                .fa-bars {
                    font-size: 1rem;
                }
            }
            .navbar-nav {
                > li > a {
                    border-right: 0;
                    color: #828282;
                }
            }
            .navbar-custom-menu .navbar-nav,
            .navbar-right {
                > li {
                    > a {
                        border-left: 0;
                        border-right-width: 0;
                    }
                }
            }
        }
        .logo {
            border-right: 0;
            background: #2F2F2F;
            &:after {
                content: '';
                margin: 5px 0;
                height: 40px;
                width: 100%;
                background: url(https://bettestingi.com/static/img/new_logo.png) no-repeat center;
                background-size: contain;
                display: block;
            }
        }

        li.user-header {
            background-color: #222;
        }
    }

    //Content Header
    .content-header {
        background: transparent;
        box-shadow: none;
    }

    .content-wrapper {
        background: #1F1F1F;
    }

    //User Panel (resides in the sidebar)
    .user-panel {
        > .info, > .info > a {
            color: #fff;
        }
    }
    //Sidebar Menu. First level links
    .sidebar-menu > li {
        //Section Headning
        &.header {
            color: #878787;
            text-transform: uppercase;
            border-top: 1px solid #878787;
            &:first-child {
                border-top: 0;
            }
        }
        //links
        > a {
            border-left: 3px solid transparent;
            i {
                margin-right: 1rem;
            }
        }
        //Hover and active states
        &:hover > a,
        &.menu-open > a {
            color: #D98324;
            background: linear-gradient(180deg, rgba(28,28,28,1) 0%, rgba(63,63,63,1) 100%);
        }
        &.active > a > i {
            color: #D98324;
        }
        //First Level Submenu
        > .treeview-menu {
            margin: 0 1px;
            background: none;
        }
    }
    //All links within the sidebar menu
    .sidebar a {
        color: #FFF;
        &:hover {
            text-decoration: none;
        }
    }
    //All submenus
    .sidebar-menu .treeview-menu {
        > li {
            > a {
                color: #FFF;
            }
            &.active > a,
            > a:hover {
                color: #FFF;
            }
        }
    }
    .main-footer {
        padding: 0;
        background: none;
        border-top: 0;
        .footer-navigation {
            background: rgba(255, 255, 255, .1);
        }
        .footer-copyright {
            background-color: #252525;
            padding: .5rem 1.5rem;
            font-size: 1.2rem;
            color: #DDD;
        }
    }
    .table {
        &.table-bordered,
        &.table-bordered > tbody > tr > td,
        &.table-bordered > tbody > tr > th,
        &.table-bordered > tfoot > tr > td,
        &.table-bordered > tfoot > tr > th,
        &.table-bordered > thead > tr > td,
        &.table-bordered > thead > tr > th {
            border-color: #4B4B4B;
        }
        > tbody > tr > td,
        > tbody > tr > th,
        > tfoot > tr > td,
        > tfoot > tr > th,
        > thead > tr > td,
        > thead > tr > th {
            color: #F5F5F5;
            a {
                color: #F5F5F5;
            }
        }
    }
    .box {
        border: 1px solid #4B4B4B;
        background-color: #232323;
        color: #666666;
        .box-header {
            color: #FFFFFF;
        }
        .box-body {

        }
        .box-footer {
            border-top: 0;
            background-color: #232323;
        }
        &.box-grid {
            border: 0;
            font-size: 1.2rem;
        }
    }
    .form-group, .filters {
        font-size: 1.2rem;
        .control-label {
            font-weight: 100;
        }
        .form-control {
            padding: .6rem 1rem;
        }
        .form-control, .input-group-addon,
        .select2-container--default .select2-selection--single {
            background-color: #2F2F2F;
            border-color: #4B4B4B;
            color: #EAEAEA;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: #EAEAEA;
        }
    }
    .pagination {
        > li {
            a , span,
            &.disabled a,
            &.disabled span {
                background: #232323;
                color: #909090;
                border-color: #4B4B4B;
                font-size: 1rem;
            }
            &.active a,
            &:not(.disabled):hover a {
                background: #D6892F;
                border-color: #D6892F;
                color: #fff;
            }
        }
    }
}


@media (max-width: 1000px){
    .skin-black .main-footer{
        .footer-navigation{
            flex-flow: column;
        }
        .footer-navigation-links{
            justify-content: center;
        }
        .footer-social{
            justify-content: center;
        }
        .footer-social-text{
            flex-grow: unset;
            flex: 1;
            text-align: right;
        }
        .footer-social-icons{
            flex: 1;
        }
    }
}

@media (max-width: 480px){
    .kv-table-wrap td, .kv-table-wrap th{
      display: table-cell !important;
    }
  }