<template>
    <div class="thimbles-game" id="thimbles-app">
        <div class="bet_type_wrap">
            <div class="bet_type">
                <div class="thimble-left" v-on:click="play(1)">
                    <img :src="thimble_left_url" alt=""/>
                </div>
                <div class="thimble-center" v-on:click="play(2)">
                    <img :src="thimble_center_url" alt=""/>
                </div>
                <div class="thimble-right" v-on:click="play(3)">
                    <img :src="thimble_right_url" alt=""/>
                </div>
            </div>
        </div>
        <div class="msg-wrap">
            <h3 class="text-danger" v-if="errorMessage.length > 0">
                {{ errorMessage }}
            </h3>
            <div ref="amount_message">
                {{ amountMessage }}
            </div>
            <div>
                {{ resultMessage }}
            </div>
        </div>
        <div class="game_type_wrap">
            <div class="info-type-game">{{ $t('1 ball') }} - x3</div>
            <div class="game_type_switch" v-on:click="game_type = (game_type == 1) ? 2 : 1">
                <div class="ball_switch" v-bind:style="ballPosition"></div>
            </div>
            <div class="info-type-game">{{ $t('2 balls') }} - x1.5</div>
        </div>
        <div class="text-center">
            <div class="card-bets-wrap">
                <input type="number" class='form-control amount-bet' min="0" name="input-amount-bet" v-model="bet_input_value">
                <button class="btn btn-danger" @click="bet_input_value = 0">x</button>
                <button class="btn btn-default btn-amount" v-for="amount in amounts" @click="bet_input_value = amount">
                    {{ amount }}
                </button>
                <button class="btn btn-danger" @click="placeBet">{{ $t('Place a bet') }}</button>
            </div>
        </div>
    </div>
</template>

<script>
    import jQuery from 'jquery';

    export default {
        name: "game",
        data() {
            return {
                bet_input_value: 0,
                game_type: 1,
                bet_status: false,
                bet_amount: null,
                errorMessage: '',
                resultMessage: '',
                thimble_left_url: '/static/casino/img/thimbles/thimble_default.png',
                thimble_center_url: '/static/casino/img/thimbles/thimble_default.png',
                thimble_right_url: '/static/casino/img/thimbles/thimble_default.png',
                amounts: [5, 10, 50, 100, 500, 1000],
            };
        },
        computed: {
            amountMessage: function () {
                return (+this.bet_amount > 0) ? this.$t('Your stake: {sum}', {sum: this.bet_amount}) : this.$t('Place your bet');
            },
            ballPosition: function () {
                return (this.game_type === 1) ? {float: 'left'} : {float: 'right'}
            }
        },
        methods: {
            placeBet() {
                this.showThimbles();
                this.resultMessage = '';
                if(window.isGuest) {
                    this.resultMessage = this.$t('You must login first');
                    jQuery('#loginPopup').modal({
                        remote: '/user/auth/login'
                    });
                }
                if (this.bet_input_value < 5) {
                    this.resultMessage = this.$t('Minimum stake: {sum}', {sum: 5});
                }
                if (window.isGuest || this.bet_input_value < 5) {
                    this.highlightHeaders();
                    return false;
                }
                this.resultMessage = this.$t('Guess where the ball is');
                this.bet_amount = this.bet_input_value;
                this.bet_status = true;
                this.bet_input_value = 0;
            },
            play(bet_type) {
                if (this.bet_status === false || this.bet_amount === null) {
                    this.highlightHeaders();
                    return false;
                }
                const formData = new FormData();
                formData.append('amount', this.bet_amount);
                formData.append('bet_type', bet_type);
                formData.append('game_type', this.game_type);
                formData.append(yii.getCsrfParam(), yii.getCsrfToken());
                fetch('/casino/thimbles/game', {
                    method: 'POST',
                    cache: 'no-cache',
                    body: formData,
                }).then((result) => {
                    if (result.status >= 400 && result.status < 600) {
                        result.json().then((error) => {
                            this.errorMessage = error.message || '';
                        });
                        throw result;
                    }
                    return result.json();
                }).then((data) => {
                    this.showThimbles(data.show);
                    this.resultMessage = data.message;
                }).catch(() => {}).finally(() => {
                    this.bet_amount = null;
                    this.bet_status = false;
                });
            },
            highlightHeaders () {
                const h3 = this.$refs.amount_message;
                h3.style.color = '#fc0001';
                h3.style.fontWeight = 'bold';
                setTimeout(function () {
                    h3.style.color = '#fff';
                    h3.style.fontWeight = 'normal';
                }, 1000);
            },
            showThimbles (result) {
                if (!result) {
                    this.thimble_left_url = '/static/casino/img/thimbles/thimble_default.png';
                    this.thimble_center_url = '/static/casino/img/thimbles/thimble_default.png';
                    this.thimble_right_url = '/static/casino/img/thimbles/thimble_default.png';
                } else {
                    this.thimble_left_url = '/static/casino/img/thimbles/thimble_' + result.left + '.png';
                    this.thimble_center_url = '/static/casino/img/thimbles/thimble_' + result.center + '.png';
                    this.thimble_right_url = '/static/casino/img/thimbles/thimble_' + result.right + '.png';
                }
            }
        },
    }
</script>

<style lang="scss">
    @import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap');
    .thimbles-game {
        min-height: 100%;
        height: auto;
        margin: 0 auto -60px;
        padding: 0 0 60px;
        background-image: url("/static/casino/img/thimbles/background.jpg");
        > .container {
            padding: 20px 15px 20px;
        }
        button {
             outline: none !important;
         }
        .card-bets-wrap {
            input {
                text-align: center;
                &.amount-bet {
                    width: 100px;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
        .bet_type_wrap {
            text-align: center;
            margin: 25px 0;
        }
        .bet_type .thimble-left,
        .bet_type .thimble-center,
        .bet_type .thimble-right {
            width: 160px;
            height: 270px;
            display: inline-block;
            margin: 0 20px;
            cursor: pointer;
        }
        .msg-wrap {
            padding: 15px 0;
            min-height: 160px;
            font-family: 'Fira Sans Extra Condensed', sans-serif;
            font-size: 24px;
            margin: 15px 0;
            text-align: center;
            color: #fff;
        }
        .game_type_wrap {
            text-align: center;
            margin: 8px;
            .info-type-game {
                display: inline-block;
                font-family: 'Fira Sans Extra Condensed', sans-serif;
                font-size: 24px;
                padding: 2px 15px 0;
                vertical-align: top;
                color: #fff;
            }
            .game_type_switch {
                height: 43px;
                width: 160px;
                border: 2px solid #fff;
                border-radius: 20px;
                display: inline-block;
                position: relative;
            }
            .ball_switch {
                display: inline-block;
                height: 40px;
                width: 40px;
                background: url("/static/casino/img/thimbles/ball.png") no-repeat;
                background-size: cover;
            }
        }
    }
</style>