<template>  
  <div class="carusel" :class="!logined ? '' : 'loginIn'">    
    <slick :options="slickOptions" ref="carusel">
      <div class="slide_item">
        <img src="/static/img/carusel/slide1.jpg" alt="">
      </div>
      <div class="slide_item">
        <img src="/static/img/carusel/slide2.jpg" alt="">
      </div>
      <div class="slide_item">
        <img src="/static/img/carusel/slide3.jpg" alt="">
      </div>
    </slick>
    <div class="button_wrap" v-if="!logined">
      <a href="/user/auth/login" class="carusel-button" data-toggle="modal" data-target="#loginPopup">
        <span>
          {{translateText.btnTxt}}
        </span>
      </a>
    </div>
  </div>
</template>
<script>
import Slick from 'vue-slick';
export default {
  name: "carusel",
  data() {
    return {
      slickOptions: {
        slidesToShow: 1,
        infinite: false,
        arrows: false,
        dots: true,
      },
      translateText: {},
      logined: false
    }
  },
  components: {Slick},
  mounted() {
    const button = document.querySelectorAll('.arrow-hide-side-bar');
    button.forEach(item => {
      item.addEventListener('click', () => {
        setTimeout(() => {
          this.$refs.carusel.reSlick();
        }, 300);
       });      
    });
    // console.log(window.socketGameParams.loggedIn);
    this.logined = window.socketGameParams.loggedIn;
    
  },
  created: function (){
    const html = document.documentElement.getAttribute("lang");            
    if(html == 'ru'){
        return this.translateText = {
            btnTxt: "Сделать ставку",  
        }                
    }else{
        return this.translateText = {
            btnTxt: "PLACE A BET",
        }  
    }
  }
}
</script>