<template>
    <div class="game-show-content-elements">
        <div class="game-user-day-header"><span>{{ market.title }}</span></div>
        <div class="game-show-for-one-game-coeff">
            <a class="coeffComponent" v-for="outcome in outcomes" :key="outcome.id" @click="addToCart(outcome.id); showCart(true)">
                <div class="coeffComponent-first-element">
                    <span>{{ outcome.title }}</span>
                </div>
                <div class="coeffComponent-second-element">
                    <span :class="outcome.change ">{{ setShort(outcome.rate) }}</span>
                </div>
            </a>
        </div>
    </div>
</template>

<script>
    import {cartAddMixin} from "backend/bets";
    export default {
        mixins: [cartAddMixin],
        name: "game-market",
        props: ['market'],
        computed: {
            outcomes() {
                return this.market.outcomes.filter(outcome => {
                    return outcome.is_enabled && !outcome.is_finished
                });
            }
        },
        methods:{
            showCart(bool) {
                this.$emit('showcart', bool)
            },
            setShort(item){
                if(('' + item).length > 4){
                    return item.toFixed(3);
                }
                return item;
            }
        }
    }
</script>