<template>
    <div class="ui-game-show-coefficient">
        <div class="game-show-coefficient">
            <!-- <div class="show-button show-button-default" @click="openContent" ref="button">
                <i class="fas fa-caret-right"></i>
            </div> -->
            <router-link class="show-games-teams" :to="{name: 'game', params:{id: game.id}}">
                <div class="team-name-wrap">
                    <div class="show-team-name show-team-name--home" v-for="(pname, pkey) in game.participants" :key="pkey">&nbsp;{{pname || ''}}&nbsp;</div>
                    <!-- <div class="show-team-name" v-for="(pname, pkey) in game.participants" :key="pkey">{{pname || ''}}</div> -->
                </div>
                <div class="show-time"><span>{{ game.start_time }} {{ game.start_date }}</span></div>
            </router-link>            
            <div class="show-coeff-matches">
                <div class="show-team-game-coeff">
                    <span class="show-game-second-coef">{{ game.bets_count || 0 }}</span>
                    <span class="show-game-first-coeff" @click="openContent">{{ game.outcomes_count || 0 }}</span>
                </div>
                <div class="show-team-game-coeff"><span>{{ game.result }}</span></div>
            </div>
            <flip-countdown v-if="timer" :deadline="timerTo"></flip-countdown>
            <!-- <div class="show-video-match" :class="{'youtube' : game.onlineWatch}">
                <button v-if="videoId" class="show_video_sidebar" :data-val="`userID=null&videoID=${videoId}&matchName= &ref=8`" :data-id="videoId"></button>
            </div> -->
            <div class="show-all-flex-coefficient">
                <div class="ui-coefficients-for-bet" v-for="outcome in game.outcomes" :key="outcome.id" @click="outcome.r > 0 && addToCart(outcome.id); outcome.r > 0 && showCart(true)">
                    <div class="top-coefficient-for-bet">
                        {{outcome.l}}
                    </div>
                    <div class="bottom-coefficient-for-bet">{{outcome.r > 0 ? outcome.r : '-'}}</div>
                </div>
            </div>
        </div>
        <vue-custom-scrollbar class="scroll_markets" :settings="settings">
            <div ref="content" class="ui-game-show-content">
                <div class="ui-game-show-loader">
                    <span class="fas fa-spinner fa-spin"></span>
                </div>
                <market v-on:showcart="showCart($event)" v-for="market in markets" :key="market.id" :market="market"></market>
            </div>
        </vue-custom-scrollbar>

    </div>
</template>

<script>
    import FlipCountdown from 'vue2-flip-countdown'
    import {games} from 'backend/games';
    import {connection, subscribe, unsubscribe} from "backend/socket";
    import market from "components/game/game-market.vue";
    import {cartAddMixin} from "backend/bets";
    import vueCustomScrollbar from 'vue-custom-scrollbar';

    export default {
        name: "games-list-item",

        components: {
            market, vueCustomScrollbar, FlipCountdown
        },

        props: ['game', 'live'],
        
        mixins: [cartAddMixin],
        
        data: function() {
            return {
                timer: false,
                timerTo: '',
                connection: connection,
                marketsList: [],
                outcomesList: [],
                settings: {
                    wheelSpeed: 0.1,
                    wheelPropagation : false,
                },
                videoId: false
            };
        },

        computed: {
            outcomes() {
                return this.outcomesList.filter((item) => {
                    return item.is_enabled && !item.is_finished && !item.is_banned && !item.is_hidden;
                });
            },

            markets() {
                return this.marketsList.map(item => {
                    return {
                        id: item.id,
                        title: item.title,
                        group: item.group_id,
                        outcomes: this.outcomes.filter(outcome => outcome.market_id === item.id),
                    };
                }).filter(item => item.outcomes.length > 0);
            },
        },
        mounted: function() {
            if(this.live === 0){
                this.timer = true
                this.timerTo = this.game.start_date + ' ' + this.game.start_time + ':00'
            };
        },

        created: function() {  
            // console.log(this.game.participants);
            this.videoId = this.game.video_link;       
            // console.log(this.videoId);
            subscribe(this.game.id); 

            connection.on('or', (data) => {
                const outcome = this.getOutcome(data.g, data.o);
                if(outcome) {
                    outcome.rate = data.r;
                }
            });

            connection.on('os', (data) => {
                // status
            });

            connection.on('oisb', (data) => {
                const outcome = this.getOutcome(data.g, data.o);
                if(outcome) {
                    outcome.is_banned = !!data.is;
                }
            });

            connection.on('oise', (data) => {
                const outcome = this.getOutcome(data.g, data.o);
                if(outcome) {
                    outcome.is_enabled = !!data.is;
                }
            });

            connection.on('oish', (data) => {
                const outcome = this.getOutcome(data.g, data.o);
                if(outcome) {
                    outcome.is_hidden = !!data.is;
                }
            });

            connection.on('oisf', (data) => {
                const outcome = this.getOutcome(data.g, data.o);
                if(outcome) {
                    outcome.is_finished = !!data.is;
                }
            });
        },
        beforeDestroy: function() {
            unsubscribe(this.game.id);
        },
        
        methods: {
            showCart(bool) {
                this.$emit('showcart', bool)
            },
            getOutcome(game, outcome) {
                if(this.outcomesList.length === 0 || this.game.id !== game) {
                    return;
                }
                return this.outcomesList.find(outcomeItem => outcomeItem.id === outcome);
            },
            openContent() {
                const button = this.$refs.button;
                if(button.classList.contains('show-button-default')) {
                    button.classList.remove('show-button-default');
                    button.classList.add('show-button-active');
                    this.$refs.content.classList.add('opened');
                    if(this.marketsList.length === 0) {
                        this.$refs.content.classList.add('loading');
                        games.loadGame(this.game.id).then((game) => {
                            this.marketsList = game.markets;
                            this.outcomesList = game.outcomes;
                            this.$refs.content.classList.remove('loading');
                        }).catch((err) => {
                            console.error(err);
                        });
                    }
                } else {
                    button.classList.remove('show-button-active');
                    button.classList.add('show-button-default');
                    this.$refs.content.classList.remove('opened');
                }
            }
        }
    }
</script>