<template>
    <div class="games-list">
        <carusel></carusel>
        <ui-one-click-set v-on:showcart="showcart($event)" :class="{active_line : showLive}" :sportsList="list" :showLiveIcon="showLiveIcon"
            :showLive="showLive" :title="300"></ui-one-click-set>
        <div class="game-event-title top-title">
            <div class="title-left" @click="pushLive">
                <img src="/static/img/carusel/live.png" alt="">
                <span>ТОП LIVE</span>
            </div>
            <i class="fas fa-long-arrow-alt-right"></i>
        </div>
        <div class="ui-game-event-coefficient">
            <games-list-item-home v-on:showcart="showcart($event)" v-for="(game) in toplive" :key="game.id" :game="game" :live="true"></games-list-item-home>
        </div>
        <div class="game-event-title top-title">
            <div class="title-left" @click="pushLine">
                <img src="/static/img/nav-games/sports-icon_hover.png" alt="">
                <span>ТОП ЛИНИЯ</span>
            </div>
                <i class="fas fa-long-arrow-alt-right"></i>
        </div>
        <div class="ui-game-event-coefficient">
            <games-list-item-home v-on:showcart="showcart($event)" v-for="(game) in topline" :key="game.id" :game="game" :live="false"></games-list-item-home>
        </div>
        <div class="game-event-title top-title">
            <div class="title-left">
                <img src="/static/img/nav-games/console_hover.png" alt="">
                <span>GAMES</span>
            </div>
                <i class="fas fa-long-arrow-alt-right"></i>
        </div>
            <container-casino></container-casino>
    </div>
</template>

<script>
    import {
        games
    } from 'backend/games';
    import {
        cartAddMixin
    } from "backend/bets";
    import item from "components/mobile/game/list-itemHome.vue";
    import carusel from "components/mobile/game/carusel.vue";
    import uiOneClickSet from "components/mobile/game/ui-one-click-set.vue";
    import casino from 'components/mobile/right/casino';
    import {
        connection
    } from "backend/socket";

    export default {
        mixins: [cartAddMixin],
        components: {
            'games-list-item-home': item,
            'ui-one-click-set': uiOneClickSet,
            carusel,
        },
        data: function () {
            return {
                toplive: null,
                topline: null,
                showLive: true,
                showLiveIcon: false,
                sportsList: [],
                showCart: false
            };
        },
        methods: {
            pushLine: function(){
                this.$router.push('/line');
            },
            pushLive: function(){
                this.$router.push('/live');
            },
            showcart(bool) {
                this.$emit('cartopen', bool)
            },
            setIcon(image) {
                return (image !== null) ? {
                    'background-image': `url('/uploads/games/${image}')`
                } : {};
            },
            getGameItem(id) {
                for (let idx in this.list) {
                    let item = this.list[idx].tournament_events.find(item => item.id === id);
                    if (item) {
                        return item;
                    }
                }
            },
            showSlider() {
                if (this.$route.matched.length !== 0 && this.$route.matched[0].hasOwnProperty('path'))
                    return this.$route.matched[0].path == "/live";
                else
                    return false;
            }
        },
        beforeRouteEnter(to, from, next) {
            games.loadGames({live: 1}).then((games) => {
                next(vm => {
                    vm.toplive = games.slice(0, 5)
                });
            }).catch((err) => {
                next(err);
            });
            if (jQuery(window).width() < 1000) {
                jQuery('.bacground-content').slideUp(300, () => {
                    jQuery('.button-content').removeClass('button-active');
                });
            }
        },
        beforeRouteUpdate(to, from, next) {
            games.loadGames({live: 1}).then((games) => {
                this.toplive = games.slice(0, 5)
                next();
            }).catch((err) => {
                next(err);
            });
            if (jQuery(window).width() < 1000) {
                jQuery('.bacground-content').slideUp(300, () => {
                    jQuery('.button-content').removeClass('button-active');
                });
            }

        },
        updated() {
            // console.log(this.$route);

            if (this.$route.name.includes('live')) {
                this.showLive = true;
                this.showLiveIcon = true;
            } else {
                this.showLive = false;
                this.showLiveIcon = false;
            }
        },
        mounted() {
            games.loadGames({live: 0}).then((games) => {
                this.topline = games.slice(0, 5)
            });
            if (this.$route.name.includes('live')) {
                this.showLive = true;
                this.showLiveIcon = true;
            } else {
                this.showLive = false;
                this.showLiveIcon = false;
            }
            connection.on('gres', (data) => {
                let game = this.getGameItem(data.g);
                if (game) {
                    game.result = data.r;
                }
            });
            connection.on('gstats', (data) => {
                console.log('gstats', data, data.g, this.info.id, data.g === this.info.id);
                let game = this.getGameItem(data.g);
                if (game) {
                    if (data.f !== undefined) game.is_finished = !!data.f;
                    if (data.e !== undefined) game.is_enabled = !!data.e;
                    if (data.h !== undefined) game.is_hidden = !!data.h;
                    if (data.b !== undefined) game.is_banned = !!data.b;
                }
            });
        }
    }
</script>