<template>
    <div class="games-list">
        <carusel></carusel>
        <ui-one-click-set v-on:showcart="showcart($event)" :class="{active_line : showLive}" :sportsList="list" :showLiveIcon="showLiveIcon" :showLive="showLive" :title="300"></ui-one-click-set>
        <div class="carousel_wrap">
            <slick :options="slickOptions" v-if="loading">
                <div class="link_wrap" :class="{active_wrap : $route.path == (showLive ? '/live' : '/line')}">
                    <router-link class="list_link all_link" :to="showLive ? '/live' : '/line'">
                        <div class="list_icon game-icon" style="background-image: url(/static/img/carusel/all_icon_white.png)"></div>          
                        {{setLanguage}}
                    </router-link>
                </div>
                <div class="link_wrap" v-for="item in getList" :key="item.id">
                    <router-link class="list_link" :class="{active : item.id==$route.params.sports_id}" :to="{name: (showLive ? 'live/sport' : 'line/sport'), params:{sports_id: item.id}}">
                        <div class="list_icon game-icon" :style="setIcon(item.image)"></div>
                        {{item.title}}
                    </router-link>
                </div>
            </slick>
        </div>
        <div class="ui-game-event-coefficient ui-game-event-coefficient--not_home" v-for="tournament in list" :key="tournament.tournament_id">
            <div class="game-event-title">
                <div class="game-event-icon" :style="setIcon(tournament.sports_image)"></div>
                <span>{{ tournament.tournament_title }}</span>
            </div>
            <games-list-item v-on:showcart="showcart($event)" v-for="(game) in tournament.tournament_events" :key="game.id" :game="game" :live="live"></games-list-item>
        </div>
    </div>    
</template>

<script>  
    
    import {games} from 'backend/games';
    import {cartAddMixin} from "backend/bets";
    import item from "components/mobile/game/list-item.vue";
    import carusel from "components/mobile/game/carusel.vue";
    import uiOneClickSet from "components/mobile/game/ui-one-click-set.vue";
    import {connection} from "backend/socket";
    import Slick from 'vue-slick';

    export default {
        mixins: [cartAddMixin],
        components: {
            'games-list-item': item,
            'ui-one-click-set': uiOneClickSet,
            carusel,
            Slick
        },
        data: function() {
            return {
                live: true,
                loading: true,
                list: [],
                showLive: true,
                showLiveIcon: false,
                sportsList: [],
                slickOptions: {
                    infinite: false,
                    variableWidth: true,
                    swipeToSlide: true
                },
            };
        },
        computed: {
            getList(){
            let list = games.sports;     
            return list;
            },
            setLanguage() {
            const html = document.documentElement.getAttribute("lang")
            if(html == 'ru'){
                return 'Все'
            } else{
                return 'All'
            }
            },
            update(){
            }
        },
        watch: {
            getList() {
            this.loading = false;    
            setTimeout(() => {
                return this.loading = true;        
            }, 300);  
            }
        },
        methods:{
            showcart(bool) {
                this.$emit('cartopen', bool)
            },
            setIcon(image) {                         
                return (image !== null) ? {
                    'background-image':`url('/uploads/games/${image}')`
                } : {};
            },
            getGameItem(id) {                
                for (let idx in this.list) {
                    let item = this.list[idx].tournament_events.find(item => item.id === id);
                    if(item) {
                        return item;
                    }
                }
            },
            showSlider() {
                if (this.$route.matched.length !== 0 && this.$route.matched[0].hasOwnProperty('path'))
                    return this.$route.matched[0].path == "/live";
                else
                    return false;
            }
        },
        beforeRouteEnter(to, from, next) {            
            games.loadGames(to.params).then((games) => {              
                next(vm => {
                    vm.list = games;
                    vm.live = to.params.live                
                });
            }).catch((err) => {
                next(err);
            });
            if(jQuery(window).width() < 1000){
                 jQuery('.bacground-content').slideUp(300, () => {
                     jQuery('.button-content').removeClass('button-active');
                 });
            }
        },
        beforeRouteUpdate(to, from, next) {
            games.loadGames(to.params).then((games) => {
                this.list = games;
                this.live = to.params.live
                next();
            }).catch((err) => {
                next(err);
            });

            if(jQuery(window).width() < 1000){
                 jQuery('.bacground-content').slideUp(300, () => {
                     jQuery('.button-content').removeClass('button-active');
                 });
            }

        }, 
        updated() {
            // console.log(this.$route);
            
            if(this.$route.name.includes('live')){
                this.showLive = true;
                this.showLiveIcon = true;
            } else{
                this.showLive = false;
                this.showLiveIcon = false;
            }
        },
        mounted(){    
            if(this.$route.name.includes('live')){
                this.showLive = true;
                this.showLiveIcon = true;
            } else{
                this.showLive = false;
                this.showLiveIcon = false;
            }        
            connection.on('gres', (data) => {
                let game = this.getGameItem(data.g);
                if(game) {
                    game.result = data.r;
                }
            });
            connection.on('gstats', (data) => {
                console.log('gstats', data, data.g, this.info.id, data.g === this.info.id);
                let game = this.getGameItem(data.g);
                if(game) {
                    if (data.f !== undefined) game.is_finished = !!data.f;
                    if (data.e !== undefined) game.is_enabled = !!data.e;
                    if (data.h !== undefined) game.is_hidden = !!data.h;
                    if (data.b !== undefined) game.is_banned = !!data.b;
                }
            });
        }
    }
</script>