<template>
    <div>
        <div class="ui-one-click-set">
            <div class="set-wrap">
                <div class="one-click-live" v-bind:class="{ activeLink: home }">
                    <a href="/">
                        <i class="fas fa-home"></i>
                    </a>
                </div>
                <div class="one-click-live" @click="pushLive" v-bind:class="{ activeLink: live }">
                    <!-- <img src="/static/img/carusel/live.png" alt=""> -->
                    Live
                </div>
                <div class="one-click-live" @click="pushLine" v-bind:class="{ activeLink: line }">
                    <!-- <img src="/static/img/nav-games/sports-icon_hover.png" alt=""> -->
                    Линия
                </div>
                <div class="navigation-search-button-mobile" v-on:click="openSearch"><i class="fas fa-search"></i></div>
                <transition name="fade">
                    <div class="search_wrap" v-if="search">
                        <input type="text" ref="searchInput" v-model="searchForm" placeholder="Поиск">
                        <div class="search_close" v-on:click="closeSearch"><i class="fas fa-times"></i></div>
                        <button class="search_btn" @click="startSearch"><i class="fas fa-search"></i></button>
                    </div>
                </transition>
            </div>
            <ui-one-click-radio :title="title"></ui-one-click-radio>
        </div>
        <div class="search_modal_wrap" v-if="searchModal">
            <div class="modal-overlay" @click="closeSearch"></div>
            <div class="search_modal">
                <div class="header">
                    <div class="search_count">
                        <span>Найдено Событий:</span>&nbsp;<span>{{searchAnswer.length}}</span>
                    </div>
                    <div class="close_search" @click="closeSearch"><i class="fas fa-times"></i></div>
                </div>
                <div class="ui-game-event-coefficient search-list-mobile" v-if="searchAnswer.length > 0">
                    <games-list-item-search v-on:closeSearch="closeSearchModal(bool)" v-on:showcart="showcart($event)" v-for="(game) in searchAnswer" :key="game.id" :game="game"></games-list-item-search>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {games} from 'backend/games';
    import uiOneClickRadio from "components/game/ui-one-click-radio.vue";
    import Slick from 'vue-slick';
    import item from "components/mobile/game/list-itemSearch.vue";

    export default {

        props: {
            title: {
                type: Number,
                default: ""
            },
            sportsList: {
                type: Array,
                default: [],
            },
            isLived: {
                type: Boolean,
                default: false
            },
            showLiveIcon: {
                type: Boolean,
                default: true
            }
        },

        components: {
            'games-list-item-search': item,
            'ui-one-click-radio': uiOneClickRadio,
            Slick
        },
        data() {
            return {
                searchModal: false,
                searchAnswer: [],
                home: false,
                live: false,
                line: false,
                loading: false,
                search: false,
                searchForm: '',
                routeId: null,
                slickOptions: {
                    slidesToShow: 1,
                    infinite: false,
                    variableWidth: true,
                    // responsive: [
                    //   {breakpoint: 1600,settings:{slidesToShow: 4},breakpoint: 768,settings:{slidesToShow: 2}}
                    // ],
                    touchThreshold: 8
                },
            }
        },

        computed: {
            getList() {
                let list = games.sports;     
                return list;
            },
            setLanguage() {
                const html = document.documentElement.getAttribute("lang")
                if (html == 'ru') {
                    return 'Все'
                } else {
                    return 'All'
                }
            },
            update() {}
        },
        watch: {
            getList: function () {
                this.loading = false;
                setTimeout(() => {
                    return this.loading = true;
                }, 300);
            },
            '$route'(to, from) {
                setTimeout(() => {
                if (this.$route.fullPath.includes('/live') || this.isLived === true) {
                    this.live = true
                    this.line = false
                    this.home = false
                }
                if (this.$route.fullPath.includes('/line') || (this.isLived === false && !this.$route.fullPath.includes('/live'))) {
                    this.live = false
                    this.home = false
                    this.line = true
                }
                if (this.$route.fullPath === '/') {
                    this.live = false
                    this.home = true
                    this.line = false
                }
                }, 300)
            }
        },
        mounted() {
            this.loading = false;
            setTimeout(() => {
                return this.loading = true;
            }, 300);
            setTimeout(() => {
            if (this.$route.fullPath.includes('/live') || this.isLived === true) {
                this.live = true
                this.line = false
                this.home = false
            }
            if (this.$route.fullPath.includes('/line') || (this.isLived === false && !this.$route.fullPath.includes('/live'))) {
                this.live = false
                this.home = false
                this.line = true
            }
            if (this.$route.fullPath === '/') {
                this.live = false
                this.home = true
                this.line = false
            }
            }, 300)
        },
        // created() {
        //     if (this.$parent.isLived === false) {
        //         this.line = true
        //     }
        //     if (this.$parent.isLived) {
        //         this.live = true
        //     }
        // },
        methods: {
            startSearch() {
                let query = this.searchForm.toLowerCase()
                games.loadGames({live: 1}).then((games) => {
                    games.forEach(x => {
                        if(x.sports_title.toLowerCase() === query || x.tournament_title.toLowerCase().includes(query)){
                            x.tournament_events.forEach(x => {
                                this.searchAnswer.push(x)
                            })
                        }
                    })
                    games.forEach(x => {
                            x.tournament_events.forEach(x => {
                                if(x.title.toLowerCase().includes(query) || x.start_date === query){
                                    this.searchAnswer.push(x)
                                } else if(Object.values(x.participants).join(' ').toLowerCase().includes(query)){
                                    this.searchAnswer.push(x)
                                }
                            })
                    })
                });
                games.loadGames({live: 0}).then((games) => {
                    games.forEach(x => {
                        if(x.sports_title.toLowerCase() === query || x.tournament_title.toLowerCase().includes(query)){
                            x.tournament_events.forEach(x => {
                                this.searchAnswer.push(x)
                            })
                        }
                    })
                    games.forEach(x => {
                            x.tournament_events.forEach(x => {
                                if(x.title.toLowerCase().includes(query) || x.start_date === query){
                                    this.searchAnswer.push(x)
                                } else if(Object.values(x.participants).join(' ').toLowerCase().includes(query)){
                                    this.searchAnswer.push(x)
                                }
                            })
                    })
                });
                this.searchModal = true
            },
            showcart(bool) {
                this.$emit('showcart', bool)
            },
            setIcon(image) {
                return (image !== null) ? {
                    'background-image': `url('/uploads/games/${image}')`
                } : {};
            },
            openSearch: function () {
                this.search = true
                setTimeout(() => {
                this.$refs.searchInput.focus()
                }, 300)
            },
            closeSearchModal(bool){
                this.searchModal = bool
                this.search = bool
                this.searchAnswer = []
            },
            closeSearch: function () {
                this.searchModal = false
                this.search = false
                this.searchAnswer = []
            },
            pushLine: function () {
                this.$router.push('/line');
                this.withVideo = false;
            },
            pushLive: function () {
                this.$router.push('/live');
            },
        },
    }
</script>