@import "@{bootstrap-path}variables.less";

@font-size-base: 12px;
@form-group-margin-bottom: 5px;
@container-large-desktop: 100%;
@container-lg: @container-large-desktop;
@grid-gutter-width: 10px;
@nav-link-padding: @grid-gutter-width/2 @grid-gutter-width;
@navbar-height: 30px;

@border-radius-base: 0;
@border-radius-large: 0;
@border-radius-small: 0;

@panel-body-padding:          5px;
@panel-heading-padding:       5px;