select.form-control {
    padding: 6px 8px;
}
textarea {
    resize: vertical;
}
.dropdown-menu {
    hr {
        margin-top: @grid-gutter-width/2;
        margin-bottom: @grid-gutter-width/2;
    }
}
@media (min-width: @screen-sm) {
    .navbar {
        > .container,
        > .container-fluid {
            padding-left: @grid-gutter-width;
            padding-right: @grid-gutter-width;
        }
    }
}