.support-contacts {
    padding: 5px 20px;
    &-header {
        font-size: 2rem;
        color: #FFF;
        margin: 0;
    }
    &-invite {
        font-size: 1.2rem;
        color: #7C7C7C;
    }
    &-list {
        font-size: 1.5rem;
        .contacts-contact {
            .contact-label {
                display: inline-block;
                width: 10rem;
                margin-left: 1rem;
                color: #7D7D7D;
            }
            .contact-address {
                color: #B97729;
            }
        }
        .fa-envelope {
            color: #FFF;
        }
        .fa-telegram-plane {
            color: #7BD9F5;
        }
        .fa-skype {
            color: #65A5DA;
        }
    }
}