.guest_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2f2f2f
}
.logo_main{
    float: none;
}
.guest_menu{
    float: none !important;
    display: flex;
    align-items: stretch;
    font-size: 12px;
}
.guest_header_links{
    display: flex;
    align-items: stretch;
    margin-bottom: 0;
    li{
        display: flex;
    }
    a{
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 10px;
        color: #828282 !important;
        &:hover{
            background-color: #f7f7f7;
        }
    }
}
.guest_fearures{
    padding-top: 20px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}
.guest_fearures_item{
    width: calc(33.3% - 2px);
    text-align: center;
    padding: 40px 20px;
    border: 1px solid;
    margin: 1px;
    .fearures_item_img{
        height: 50px;
        width: 50px;
        margin: auto;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    p{
        font-size: 15px;
        text-transform: uppercase;
        color: #fff;
    }
}
.title1{
    text-align: center;
    color: #d6892f;
    font-size: 30px;
}
.guest_reg_wrap{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.guest_reg{
    font-size: 1.8em;
}
.guest_container{
    max-width: 1000px;
    margin-bottom: 20px;
}
.guest_wrap{
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    font-size: 1.3em;
}

.tabs_box{
    &>div{
        display: none;
    }
}
.tabs_list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin-bottom: 20px;
    padding-left: 0;
    li{
        width: 20%;
        padding: 10px 5px;
        background-color: #1c1e1e;
        color: #878787;
        position: relative;
        transition: 0.3s;
        text-align: center;
        // border: 1px solid #1c1e1e;
        cursor: pointer;
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 4px;
            background: #ff9109;
            background: linear-gradient(90deg, #ff9109 0%, #ffaf32 35%, #ff8900 100%);
            opacity: 0;
            transition: 0.3s;
        }
        &:hover, &.active{
            color: #ffffff;
            // border: 1px solid #3c3c3c;
            border-bottom: none;
            transition: 0.3s;
            &::before{
                opacity: 1;
                transition: 0.3s;
            }
        }
    }
}
.guest_acc_title{
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 10px;
    cursor: pointer;
    &:hover{
        text-decoration: none;
    }
}
.guest_acc_content{
    display: none;
    img{
        max-width: 100%;
    }
}

@media screen and (max-width: "1000px"){
    .guest_fearures_item{
        width: calc(50% - 2px);
    }
    .guest_header{
        *{
            float: none !important;
        }
        .navbar-nav{
            display: flex;
        }
        .logo{
            width: 150px;
        }
        .navbar{
            display: flex;
            justify-content: flex-end;
        }
    }
    .tabs_list{
        display: block;
        li{
            width: 100%;
        }
    }
}
@media screen and (max-width: "550px"){
    .open_menu{
        display: block !important;
        width: 30px;
        height: 30px;
        background: url('/static/img/mobile-button-nav.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        outline: none;
        margin-right: 10px;
    }
    .close_menu{
        display: block !important;
        width: 15px;
        height: 15px;
        background: url('/static/img/close.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        outline: none;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 100;
    }
    .guest_menu, .guest_header_links, .guest_header .navbar-nav{
        display: block;
        padding-left: 0;
        text-align: center;
    }
    .guest_header{
        .navbar-static-top{
            position: fixed;
            top: 0;
            right: -10000px;
            z-index: 99;
            transition: 0.3s;
            &.opened{
                right: 0;
                transition: 0.3s;
            }
        }
    }
    .guest_menu{
        margin: auto;
        padding-top: 20px;
        .dropdown-menu{
            right: 50% !important;
            transform: translateX(50%);
        }
    }
    .guest_header_links li{
        justify-content: center;
        a{
            padding-top: 18px;
            padding-bottom: 18px;
        }
    }
        
}