// Chart background, point stroke for markers and columns etc
$background-color: #2F2F2F;

// Colors for data series and points.
$colors: #FE7652 #FEFF90 #FEC049 #83FFFF #FEFF8F #3257FE #eeaaee #55BF3B #DF5353 #7798BF #aaeeee;

// Neutral colors
$neutral-color-100: #fff;
$neutral-color-80: #E0E0E3;
$neutral-color-60: #E0E0E3;
$neutral-color-40: #666;
$neutral-color-20: #606063;
$neutral-color-10: #707073;
$neutral-color-5: #505053;

// Colored, shades
$highlight-color-100: #F0F0F3;
$highlight-color-60: rgba(255,255,255,0.1);
$highlight-color-20: $neutral-color-10;

// Data-labels
$data-label-color: #B0B0B3;

// Fonts
$title-font-size: 20px;

// Tooltip
$tooltip-background: #2F2F2F;

// Range-selector
$range-selector-input-text: silver;
$range-selector-input-border: $neutral-color-5;

// Buttons
$highcharts-button-background: $neutral-color-5;
$highcharts-button-text:  #fff;

$highcharts-button-pressed-background: #000003;
$highcharts-button-pressed-text:  $neutral-color-100;

$highcharts-button-hover-background: $neutral-color-10;
$highcharts-button-hover-text:  $neutral-color-100;

$context-button-background: #2F2F2F;

// Navigator
$navigator-series-fill: #7798BF;
$navigator-series-border: #A6C7ED;

// Navigator
$scrollbar-track-background: #404043;
$scrollbar-track-border: #404043;

@import "../../../../vendor/npm-asset/highcharts/css/highcharts.scss";

.highcharts-block {
    padding: 10px 15px;
    border: 1px solid #4B4B4B;
    background: #2F2F2F;
}
.highcharts-root text {
    fill: #FFF;
}

.highcharts-tooltip-box .highcharts-label-box {
    fill-opacity: 1;
}
.highcharts-legend-item {
    & > text {
        font-weight: normal;
    }
    .highcharts-graph {
        stroke-width: 16px;
        stroke-linecap: butt;
    }
}
.highcharts-navigator-mask-inside {
    fill: #FFDD60;
    fill-opacity: .4;
}
.highcharts-navigator-series {
    fill: #FFDD60;
    stroke: #FFDD60;
}