.content-copy {
    cursor: pointer;
}

.checkbox label{
    color: #ffffff !important;
}
.profile-heading{
    color: #fff;
    font-size: 1.4em;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
.profile-content{
    max-width: 1100px;
    margin: auto;
    margin-bottom: 10px;
}
@import 'highcharts';
@import 'guest';