.carusel
  width: 100%
  // height: 52em
  overflow: hidden
  position: relative
  img
    width: 100%
    height: 100%
  .slick-slider
    height: 100%
    div
      height: 100%
  .slick-track
    display: flex
  .slick-dots
    position: absolute
    top: 50%
    right: 55px
    transform: translateY(-50%)
    list-style: none
    counter-reset: counter
    li
      &:not(:last-child)
        margin-bottom: 20px
      &:before
        top: 0
        transition: 0.3s
    button
      font-size: 0
      position: relative
      background: none
      border: none
      outline: none
      width: 25px
      height: 25px
      &:before
        counter-increment: counter
        content: "0" counter(counter)
        font-size: 14px
        line-height: 14px
        color: #bcb9b9
        font-weight: 900
        transition: 0.3s
      &:hover
        &:before
          color: #ffffff
          transition: 0.3s
    .slick-active
      &:not(:last-child)
        padding-bottom: 7em
        position: relative
        transition: 0.3s
        &:before
          content: ''
          position: absolute
          top: 35px
          left: 50%
          bottom: 0
          transform: translateX(-50%)
          width: 1px
          background-color: #ff4d30
          transition: 0.3s
      button
        &:before
          color: #ffffff
          transition: 0.3s
  .button_wrap
    position: absolute
    bottom: 6em
    left: 4em
    cursor: pointer
    z-index: 1
    &:before
      content: ''
      position: absolute
      top: 10px
      left: 0
      bottom: -10px
      right: -5px
      background-color: #ff6939
      clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%) 
      -webkit-clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%) 
      transition: 0.3s
      z-index: -1
    &:hover
      &:before
        background-color: #fff
        transition: 0.3s
      .carusel-button
        background-color: #ff6939
        color: #ffffff
        transition: 0.3s
  .carusel-button
    display: inline-block
    min-width: 17em
    text-align: center
    text-decoration: none
    font-size: 18px    
    color: #ff4d30    
    font-weight: 900
    background-color: #fff
    padding: 17px 30px
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%)  
    -webkit-clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%)  
    // z-index: 2  
    transition: 0.3s

.loginIn.carusel  
  .slick-slider 
    div
      max-height: 415px

// @media screen and (max-width: '1300px')
//   .carusel
//     .button_wrap
//       bottom: 3em
//     .carusel-button
//       min-width: 13em
//       padding: 10px 30px
//   .loginIn.carusel  
//     .slick-slider 
//       div
//         max-height: 350px



// @media screen and (max-width: '550px')
//   .carusel
//     display: none
//     .button_wrap
//       left: 2em
//       &:before
//         display: none
//     .carusel-button
//       min-width: 11em
//       padding: 4px 10px
//       font-size: 12px
//     .slick-dots
//       right: 15px
//       li:not(:last-child)
//         margin-bottom: 5px
//       .slick-active:not(:last-child)
//         padding-bottom: 0

//   .mob_banner
//       display: block
//   .banner_showed
//     display: block !important
//   .carusel 
//       .button_wrap
//           bottom: 2em
//       .carusel-button
//           font-size: 14px