.home
    width: 100%
    min-height: calc(100vh - 15em)
    background-size: 100% auto
    background-position-x: center
    background-position-y: -13em
    display: flex
    flex-wrap: wrap
    position: relative
    padding-left: 32.5em
    .content-bar
        width: calc(100% - 65em)
    .side-bar-right
        .ui-button-side-bar
            border-radius: 6px
            .content
                margin: 0
                padding: 0

@import 'ui-accumulator-of-day'
@import 'ui-coefficients-for-bet'
@import 'ui-event-show'
@import 'ui-game-event-coefficient'
@import 'ui-game-show-coefficient'
@import 'ui-game-show-content'
@import 'ui-game-user-day-content'
@import 'ui-my-bet-game-component'
@import 'ui-my-bets-content'
@import 'ui-one-click-set'
@import 'ui-upcoming-events'
@import 'ui-game-page'
@import 'carusel'
@import 'ui-one-click-radio'


// @media screen and (max-width: "1000px")
//     .home
//         .content-bar
//             width: 100%
//             padding: 1.2em
//     .side-bar-right
//         width: 100%

// @media screen and (max-width: "550px")
//     .home
//         .content-bar
//             padding-top: 0
//     .side-bar
//         padding-bottom: 0