.ui-accumulator-of-day
    width: 100%
    border-radius: 5px
    background-color: #ffffff
    margin-top: 4em
    display: none
    .ui-button
        margin-bottom: -4px
        &:after
            display: none
    .accumulator-footer
        width: 100%
        height: 11.5em
        // background-image: url('/static/img/side-bar/footer-background.png')
        // border-radius: 0 0 5px 5px
        // box-shadow: 0 0 20px -7px #fffdfdcc
        background-color: #1d1f1f
        padding: 0.9em 2.2em
        .result-text
            color: white
            display: flex
            line-height: 1.6
            .bonus-color-result
                color: #d6892f !important
            .result-content
                flex: 1
                font-size: 1.5em
            .result-coefficient
                font-size: 1.5em
                text-decoration: underline
                color: #c6c6c6
                font-weight: 700
                line-height: 1.3
        .ui-accumulator-button-position
            width: 100%
            margin: auto
            margin-top: .9em
            // margin: .9em auto auto
            // height: 4.5em
            position: relative
            text-align: center
            .ui-header-button
                background-position: 0em -0.5em
                font-size: 1.2em
                background-size: 100% 100%
                .background-header-button
                    font-weight: 700
                    letter-spacing: .3px
                    line-height: 2.7
            .ui-radius-button
                right: 0
                font-size: 1.2em
                margin: auto
                .background-header-button
                    font-weight: 700
                    letter-spacing: .3px
                    // line-height: 3.3

.modal
    z-index: 99999 !important
        