.ui-coefficients-for-bet
    flex-basis: 6.6em
    border-radius: 5px
    overflow: hidden
    height: 100%
    cursor: pointer
    margin-right: 2.5px
    margin-left: 2.5px
    .top-coefficient-for-bet
        height: 50%
        border-top: 3px solid #d6892f
        background-color: #e8e8e8
        text-align: center
        // font-size: 1.5em
        font-size: 0.8vw
        letter-spacing: 0
        color: #212121
        font-weight: 700
        line-height: 1.5
        span
            font-size: 0.8em
            margin-left: 0.3em
    .bottom-coefficient-for-bet
        height: 50%
        background: url('/static/img/buttons/background.png') no-repeat center
        background-size: cover
        text-align: center
        // font-size: 1.5em
        // font-size: 15px
        font-size: 0.8vw
        letter-spacing: 0
        color: #ffffff
        font-weight: 700
        line-height: 1.5

// @media screen and (max-width: 1680px)
//     .ui-coefficients-for-bet
//         .top-coefficient-for-bet
//             line-height: 1.3

// @media screen and (max-width: 1400px)
//     .ui-coefficients-for-bet
//         .top-coefficient-for-bet
//             line-height: 1.2

// @media screen and (max-width: 1200px)
//     .ui-coefficients-for-bet
//         .top-coefficient-for-bet
//             font-size: 1.5em
//         .bottom-coefficient-for-bet
//             font-size: 1.5em