.event-content
    .ui-event-show
        width: 100%
        display: flex
        margin-bottom: 0.8em
        cursor: pointer
        .event-icon
            background: url('/static/img/events/placeholder.png') no-repeat center
            background-size: contain
            height: 1.9em
            flex-basis: 1.6em
        .event-right-side-icon
            width: 2em
            height: 2em
            border-radius: 1em
            box-shadow: 0 0 4px rgba(27, 24, 21, 0.27)
            background-color: #d6892f
            border: 1px solid #ffffff
            text-align: center
            display: flex
            span
                margin: auto
                font-size: 1.2em
                color: #ffffff
                font-weight: 700
        .event-text
            flex: 1
            font-size: 1.2em
            color: #212121
            font-weight: 700
            padding-left: 1.58em
            letter-spacing: 0.1px
    .ui-event-list
        margin-bottom: 1em
        display: none
        &.opened
            display: block
        .ui-event-list-item
            display: flex
            color: #333
            padding: 5px
            text-decoration: none
            .date-time-game
                flex-basis: 6em
            .team-game
                flex-grow: 1
                .team-game-name

.upcoming_item
    padding: 1.5em 2em
    background-image: url('/static/img/side-bar/up_bg.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    min-height: 240px
    display: flex
    flex-direction: column
    // align-items: center
    justify-content: center
    &:not(:last-child)
        border-bottom: 1px solid #ffffff
    .upcoming_title
        display: flex
        align-items: center
        margin-bottom: 1em
        .upcoming_icon
            width: 22px
            height: 22px
            background: url("/uploads/games/0/b/0b459040e7761170dcd4e3591013db9805217bf822.png") no-repeat center
            background-size: 100%
            margin-right: 0.8em
        .sport_name
            font-size: 1.5em           
            color: #ffffff           
            font-weight: 700
            margin-right: 0.9em
        .upcoming_liga
            font-size: 1.4em            
            color: #bcbcbc            
            font-weight: 500
            line-height: 1.4
    .upcoming_teams
        display: flex
        align-items: center  
        justify-content: space-between      
        // margin-bottom: 1em
        .team
            max-width: 10em
        .team_img
            width: 8em
            height: 7em
            background-position: center
            background-repeat: no-repeat
            background-size: contain
            margin: auto
            margin-bottom: 0.3em
        .team_name
            font-size: 1.1em
            line-height: 1.6em
            color: #ffffff
            font-weight: 500
            text-align: center
            margin-bottom: 0
        .team_coef
            font-size: 1.6em
            line-height: 1.6em
            color: #d6892f
            font-weight: 500
            text-align: center
    .upcoming_button
        display: flex
        justify-content: center
        .ui-radius-button
            color: #ffffff !important
            font-size: 1.2em
            font-weight: 600

// @media screen and (max-width: "1020px")
//     .upcoming_item
//         background-image: none
//         min-height: auto
//         background-color: #2f2f2f
// @media screen and (max-width: "1000px")
//     .upcoming_item
//         display: none
