.scroll_markets
    max-height: 25.4em
    .ps__rail-y
        background: none !important
        z-index: 99999
    .ps__thumb-y
        background-color: #d6892f !important
    
.ui-game-show-content
    width: 99%
    // border-radius: 0 0 5px 5px
    box-shadow: 0 0 7px rgba(27, 24, 21, 0.32)
    background-color: #d1d1d1
    padding: 0 1.5em
    margin: 0 auto
    max-height: 0
    transition: max-height .3s, margin .3s
    display: flex
    flex-flow: column
    // overflow-y: auto
    .ui-game-show-loader
        font-size: 10em
        text-align: center
        padding: 10px
        display: none
    &.loading .ui-game-show-loader
        display: block
    &.opened
        max-height: 100%
        margin-bottom: 1em
    .game-user-day-header
        min-height: 3.5em
        height: auto
        background-color: #e8e8e8
        padding-left: 1.5em
        padding-right: 1.5em
        display: flex
        align-items: center
        justify-content: space-between
        cursor: pointer
        span
            font-size: 1.6em
            letter-spacing: 0
            color: #212121
            font-weight: 700
            margin-right: 5px
        .arrow
            transition: 0.3s
            i
                color: #d6892f
                font-size: 1.4em
    .game-show-for-one-game-coeff
        background-color: #e8e8e8
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        transition: 0.3s
        &.row_3
            .coeffComponent
                width: calc(33.3% - 3px)
    .coeffComponent
        display: flex
        align-items: center
        background-color: #ffffff
        // flex-basis: calc(100% / 3 - 1px)
        text-decoration: none
        cursor: pointer
        transition: 0.3s
        padding-top: 0.3em
        padding-bottom: 0.3em
        &:hover
            opacity: 0.8
            // background-color: #d6892f
            transition: 0.3s
            // .coeffComponent-first-element            
            //     span
            //         color: #ffffff
            //         transition: 0.3s
            // .coeffComponent-second-element
            //     span
            //         color: #ffffff
            //         transition: 0.3s
        .coeffComponent-first-element
            flex: 1 1 100%
            padding-left: 1.5em
            padding-right: 0.5em
            span
                font-size: 1.5em
                color: #454545
                font-weight: 600
                transition: 0.3s
        .coeffComponent-second-element
            flex: 1
            padding-right: 1em
            text-align: right
            span
                display: block
                text-align: center
                // min-width: 70px
                font-size: 1.5em
                color: #ffffff
                font-weight: 600
                transition: 0.3s
                padding: 0.5em
                border-radius: 3px
                background-color: #d6892f
            .change-coeff-active-down
                animation: activeCoeffChangeDown 3s linear
            .change-coeff-active-up
                animation: activeCoeffChangeUp 3s linear
    .game-show-content-elements
        margin-top: 0.7em
        margin-bottom: 0.7em
        border-radius: 5px
        box-shadow: 0 0 7px rgba(27, 24, 21, 0.32)
        &:first-child
            margin-top: 1.4em
        &:last-child
            margin-bottom: 1.4em
        .coeffComponent
            width: calc(50% - 1px)
            margin-bottom: .2em
            .coeffComponent-first-element
                max-width: 85%
                span
                    font-size: 1.4em
                    overflow: hidden
                    text-overflow: ellipsis
                    width: 100%
                    // font-size: 1.2em
                display: flex
                .coeffComponentCount
                    color: #ff9915
                    font-size: 1.4em
                    .ComponentCountCoeff
                        color: #a86918
                        font-size: 1em
            .coeffComponent-second-element
                span
                    font-size: 1.4em


.closed
    overflow: hidden
    border-radius: 0 !important
    .arrow
        transform: rotate(180deg)
        transition: 0.3s
    .game-show-for-one-game-coeff
        display: none
        transition: 0.3s
@keyframes activeCoeffChangeDown
    0%
        color: rgb(255, 0, 0)
    100%
        color: #ff9915
@keyframes activeCoeffChangeUp
    0%
        color: rgb(0, 0, 255)
    100%
        color: #ff9915

// @media only screen and (max-width : 1500px)
.ui-game-show-content
    .game-show-content-elements
        .coeffComponent
            .coeffComponent-first-element
                span
                    font-size: 1.2em
// @media only screen and (max-width : 1000px)
//     .ui-game-show-content
//         .game-show-content-elements
//             .coeffComponent
//                 padding-top: 0.7em
//                 padding-bottom: 0.7em
//             .coeffComponent-first-element
//                 padding-left: 1em
//                 span
//                     font-size: 1.2em !important
//             .coeffComponent-second-element
//                 padding-right: 1em
//                 span
//                     font-size: 1.2em !important
// @media only screen and (max-width : 768px)
//     .ui-game-show-content 
//         .game-show-content-elements
//             .coeffComponent-first-element
//                 span
//                     font-size: 1.1em !important
//         .coeffComponent 
//             .coeffComponent-second-element 
//                 span
//                     min-width: 40px

// @media screen and (min-width: "1000px")
//     .ui-game-show-content
//         scrollbar-color: #ff9915 #f5f5f5
//         scrollbar-width: thin
//         &::-webkit-scrollbar 
//             width: 5px
//             background-color: #f5f5f5
//         &::-webkit-scrollbar-thumb
//             background-color: #ff9915
//             opacity: 0.6
//             border-radius: 5px
//         &::-webkit-scrollbar-track
//             -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
//             background-color: #F5F5F5