.game-view
    margin-top: 1.2em
    .game-view-title
        padding: 1rem 2rem 2rem 2rem
        margin: 0 auto
        border-bottom: 2px solid #131313
        background-color: #ffffff
        line-height: 2.3rem
        font-size: 2.2rem
        color: #212121
        display: flex
        align-items: center
        justify-content: space-between
        a
            color: #8E8E8E
            font-size: 1.1rem
            line-height: 1.2rem
            margin-bottom: 5px
            display: inline-block
            &:hover
                color: #d6892f
    .clone_video
        border: none
        background: none
        outline: none
        width: 20px
        height: 20px
        background-image: url(/static/img/games/full_icon_new.png)
        background-repeat: no-repeat
        background-size: 100%
        background-position: center
        padding: 0
        margin-left: 5px
        margin-right: 10px
        opacity: 0.6
        transition: 0.3s
        &:hover
            opacity: 1
            transition: 0.3s
    .show_video_btn
        width: 30px
        height: 20px
        border: none
        background: none
        outline: none
        background-image: url(/static/img/side-bar/youtube.png)
        background-repeat: no-repeat
        background-size: 100%
        background-position: center
        transition: 0.3s
        margin-right: 1em
        &:hover
            transform: scale(1.1)
            transition: 0.3s
        &.active
            transform: scale(1.1)
            position: relative
            &:before
                content: ''
                position: absolute
                bottom: -6px
                left: 0
                right: 0
                height: 3px
                background-color: #d5892f
    .game_content_top
        margin-bottom: 1em
    .game-view-stats
        background-color: #ffffff
        text-align: center
        border-bottom: 2px solid #131313
        color: #ffffff
        background-repeat: no-repeat
        background-position: center
        background-size: cover
        position: relative        
        overflow: hidden
        background-color: transparent
        .game-view-stats-top
            display: flex
            align-items: stretch
            justify-content: center
        .not_live
            min-height: 200px
            .game_stats_center
                justify-content: center
            .game-view-duration
                margin-bottom: 0
                padding-top: 20px
                padding-bottom: 20px
        &::before
            content: ''
            position: absolute
            top: 0
            left: 0
            bottom: 0
            right: 0
            background-color: rgba(#000000, 0.6)
            z-index: 1
        &::after
            content: ''
            position: absolute
            top: 0
            left: 0
            bottom: 0
            right: 0
            background: url('/static/img/backgrounds/universal.jpg') no-repeat
            background-position: center
            background-size: cover
            z-index: -1
        .game-view-result
            font-size: 8em
            line-height: 1
            color: #ff4d30
            font-weight: 800
            text-align: center 
            position: relative
            z-index: 3
            margin-bottom: 35px
        .game-view-result-small
            font-size: 3em !important
        .game-view-duration
            color: #ffffff
            padding-top: 10px
            font-weight: 700
            line-height: 1.1
            margin-bottom: 7.5em
            position: relative
            z-index: 3
            p
                font-size: 1.6em                
                margin-bottom: 0
            span
                font-size: 3em
            .finished
                font-size: 2em
        .game_stats_center
            padding-left: 3em
            padding-right: 3em
            margin-left: 2em
            margin-right: 2em
            position: relative
            z-index: 2
            display: flex
            flex-direction: column
            align-items: center
            min-width: 30em
            &:before
                content: ''
                top: 0
                left: 0
                bottom: 0
                right: 0
                position: absolute
                z-index: 2
                background-color: #272727
                clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%)
                -webkit-clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%)
            &:after
                content: ''
                top: 0
                left: 0
                bottom: 0
                right: 0
                position: absolute
                z-index: 1
                background-color: #333333
                clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%)
                -webkit-clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%)
        .team_name
            position: absolute
            z-index: 3
            flex: 1
            color: #ffffff
            // z-index: 4
            max-width: 450px
            display: flex
            align-items: center
            top: 50%
            transform: translateY(-50%)
            &::before
                content: ''
                position: absolute
                top: 0px !important              
                bottom: 0px !important              
                background: url('/static/img/games/name_bg.jpg') no-repeat bottom
                background-size: cover
                z-index: -3
            &.team_name_left
                left: 0
                &::before
                    right: 30px
                    left: 0
                    // border-top-right-radius: 25%
                    // border-bottom-right-radius: 25%
            &.team_name_right
                right: 0
                &::before
                    left: 30px
                    right: 0
                    // border-top-left-radius: 25%
                    // border-bottom-left-radius: 25%
            span
                // display: flex
                // align-items: center
                width: 17em
                text-overflow: ellipsis
                overflow: hidden
                padding: 1em
                font-size: 2em
                line-height: 1.1em
                color: #1c1e1e                
                font-weight: 700       
                flex-grow: 2
                position: relative
                z-index: -2
                &.name_left
                    justify-content: flex-end
                    text-align: right
                    // margin-left: -10px
                    padding-right: 2.5em
                &.name_right
                    text-align: left
                    // margin-right: -10px
                    padding-left: 2.5em
            .team_img
                width: 100px
                height: 100px
                background-repeat: no-repeat
                background-size: 75%
                background-position: center
                position: relative
                &:after
                    content: ''
                    position: absolute
                    top: -3px
                    left: -3px
                    right: -3px
                    bottom: -3px
                    background-color: #fff
                    border-radius: 50%
                    z-index: -1
                    box-shadow: 1px 2px 8px 2px rgba(0,0,0,0.6)
                &.img_left
                    margin-left: -30px
                &.img_right
                    margin-right: -30px
            &::before
                content: ''
                position: absolute
    .game-view-groups
        background-color: #333333
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 1em
        select
            font-size: 1.5em
            width: 20em
    .ui-game-show-content
        max-height: unset
        width: 100%
        box-shadow: none

.scroll_tabs
    max-width: 100%
    .ps__rail-x
        // display: none !important
        background: none !important
        z-index: 99999
    .ps__thumb-x
        background-color: #d6892f !important
.game-tabs-wrap
    display: flex
    align-items: center
    // flex-wrap: wrap
    padding-left: 0
    margin-bottom: 0
    // overflow: auto
    // &::-webkit-scrollbar 
    //     height: 5px
    //     background-color: transperent
    // &::-webkit-scrollbar-thumb
    //     background-color: rgba(#ff9915, 0.6)
    //     opacity: 0.6
    //     border-radius: 5px
    // &::-webkit-scrollbar-track
    //     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
    //     background-color: transperent
    .game-tab-item
        display: flex
        align-items: center
        padding: 0.8em 1.5em
        font-size: 1.4em
        line-height: 1.2
        cursor: pointer
        color: #999999
        transition: 0.3s
        border-bottom: 3px solid transparent
        text-shadow: 0 0 4px rgba(27,24,21,0.47)
        border-right: 1px solid #464646 !important
        white-space: nowrap
        &:hover
            transition: 0.3s
            color: #ffffff
            border-color: #e9a033
    .active-game-tab
        border-color: #e9a033
        color: #ffffff
.game-search-wrap
    margin-right: 1.5em
    display: flex
    align-items: center
    input
        padding: 0.23em 
        font-size: 1.2em
        background: none
        outline: none
        border: none
        border-bottom: 1px solid #464646
        transition: 0.3s
        &:hover, &:focus
            border-color: #ffffff
            transition: 0.3s
    span
        font-size: 1.2em
        cursor: pointer
        margin-left: 0.3em
        transition: 0.3s
        &:hover
           color: #ffffff
           transition: 0.3s

.view-groups-left
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    // width: 75%
    flex-grow: 2
    overflow: hidden
    padding-left: 25px
    padding-right: 25px
    position: relative
    .scroll_arrow_left
        position: absolute
        left: 5px
        top: 50%
        transform: translateY(-50%)
        width: 15px
        height: 15px
        color: #ffffff
        font-size: 15px
        display: flex
        align-items: center
        opacity: 0.6
    .scroll_arrow_right
        position: absolute
        right: 5px
        top: 50%
        transform: translateY(-50%)
        width: 15px
        height: 15px
        color: #ffffff
        font-size: 15px
        display: flex
        align-items: center
        opacity: 0.6
.view-groups-right
    display: flex
    margin-right: 1.5em
    align-items: center
    input, .game-search-reset
        display: none
    &.showSearch
        input, .game-search-reset
            display: block
        .show_search_btn
            display: none

.show_search_btn
    font-size: 14px
    color: #ffffff
    cursor: pointer
    transition: 0.3s
    &:hover
        opacity: 0.8
        transition: 0.3s

.temp_change
    width: 25px
    height: 21px
    background: none
    outline: none
    border: none
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    opacity: 0.5
    transition: 0.3s
    &:not(:last-child)
        margin-right: 0.5em
    &.temp_change1
        background-image: url('/static/img/games/col1.png')
    &.temp_change2
        background-image: url('/static/img/games/col2.png')
    &.temp_change3
        background-image: url('/static/img/games/col3.png')
    &:hover, &.active
        opacity: 1
        transition: 0.3s

.video_container
    display: none
    // width: 0
    // height: 0 !important
    // visibility: hidden
.unlogin
    .without_reg
        display: block !important
.with_video
    display: flex
    align-items: stretch
    .video_container
        display: block
        width: 45%
        // visibility: visible
        position: relative
        object
            width: 100% !important
            height: 100% !important
        .without_reg
            position: absolute
            top: 0
            left: 0
            bottom: 0
            right: 0
            background-color: #333333
            z-index: 3
            .btns_wrap
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                height: 100%
                a, button
                    min-width: 10em
                    color: #ffffff !important
                    font-size: 1.2em
                    font-weight: 600
                    text-transform: uppercase
                    margin-bottom: 1em
                    text-align: center
                    border: none
                    outline: none
    .game-view-stats
        width: 55%
        .game_stats_center
            margin-left: 0 !important
            margin-right: 0 !important
        .game-view-result
            font-size: 5em
        .game-view-duration
            p
                font-size: 1.4em
            span
                font-size: 2em
        .team_name
            width: 32%  
            &:before
                top: 5px
                bottom: 5px          
            span
                width: 7em !important
                font-size: 1.6em
            .team_img
                width: 75px
                height: 75px

.result_table_wrap
    width: 100%
    padding-left: 25px
    padding-right: 25px
    overflow: auto
    margin-bottom: 1em
    position: relative
    z-index: 3
    scrollbar-color: #ff9915 #f5f5f5
    scrollbar-width: thin
    &::-webkit-scrollbar 
        width: 5px
        height: 5px
        background-color: transperent
    &::-webkit-scrollbar-thumb
        background-color: rgba(#ff9915, 0.6)
        opacity: 0.6
        border-radius: 5px
    &::-webkit-scrollbar-track
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
        background-color: transperent
.mobile_name
    display: none
.result_table
    font-size: 1.4em
    line-height: 1
    margin: auto
    color: #ffffff  
    position: relative
    z-index: 3
    thead
        border-bottom: 1px solid #464646
    tr
        padding: 5px
        &:not(:last-child)
            border-bottom: 1px solid #464646
    td, th
        padding: 5px
        min-width: 40px
        text-align: center
    td
        font-weight: bold
.team_table_icon
    width: 25px
    height: 25px
    background-repeat: no-repeat
    background-size: 75%
    background-position: center
    position: relative
    &:after
        content: ''
        position: absolute
        top: -1px
        left: -1px
        right: -1px
        bottom: -1px
        background-color: #fff
        border-radius: 50%
        z-index: -1
        box-shadow: 1px 2px 8px 2px rgba(0,0,0,0.6)


// @media screen and (max-width: "1660px")
.temp_change:last-child
    display: none
.game-view 
    .game-view-stats 
        .team_name 
            max-width: 350px
            span
                width: 12em
            .team_img
                flex-shrink: 0
        .game_stats_center
            margin-left: 1em
            margin-right: 1em
            min-width: 25em
            .game-view-result
                font-size: 5em
                margin-bottom: 70px

.with_video
    .video_container
        width: 50%
    .game-view-stats
        width: 50%
        .game_stats_center
            min-width: 20em
        .game-view-duration
            margin-bottom: 4em
        .game-view-result
            margin-bottom: 40px
        .team_name
            span
                font-size: 1.4em
                &.name_left
                    padding-right: 3em
                &.name_right
                    padding-left: 3em
            .team_img
                width: 45px !important
                height: 45px !important
    .result_table                        
        thead
            display: none
        tr
            border: none
        td
            display: flex
            align-items: center
            justify-content: center
            position: relative
            .mobile_name
                display: block
                margin-right: 5px
            // &::before
            //     content: attr(data-head)
            //     padding-right: 5px
    .team_table_icon
        margin: auto

// @media screen and (min-width: "1660px")
.col3 
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    flex-direction: row
    flex-flow: wrap
    .column
        width: calc(33.33% - 10px)
        margin-right: 5px
        margin-left: 5px
    .game-show-content-elements
        // margin-top: 0 !important
        float: none
        background-color: #e8e8e8
        display: inline-block
        width: 100%
        &:last-child
            margin-bottom: 0.7em !important
// @media screen and (max-width: "1440px")
.game-view 
    .game-view-stats 
        .game_stats_center
            min-width: 20em
        .game-view-duration 
            margin-bottom: 3.5em
            p
                font-size: 1.3em
            span
                font-size: 2em
        .game-view-result
            margin-bottom: 50px
            font-size: 3.5em
        .team_name
            top: 40%
            width: 240px
            // max-width: 120px
            span
                font-size: 1.6em
                &.name_left
                    padding-right: 3.5em
                &.name_right
                    padding-left: 3.5em
            .team_img
                width: 75px
                height: 75px
    .with_video        
        .game-view-stats 
            .team_name
                width: 120px
                span
                    font-size: 1.4em 
// @media screen and (max-width: "1300px")
.with_video   
    .game-view-stats
        .game-view-stats-top
            flex-wrap: wrap
            align-items: center
            padding-top: 15px
        .game_stats_center
            order: 2
            width: 100%
            margin: 0
            margin-top: 15px
            &:after
                display: none
            &:before
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)
                -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)
                opacity: 0.6
        .game-view-result
            margin-bottom: 20px !important
        .team_name
            order: 1
            position: static
            transform: translateY(0)
            max-width: 100%
            &::before
                top: 15px
                bottom: 15px
            .team_img
                width: 75px !important
                height: 75px !important
                &.img_left
                    margin-right: 5px
                &.img_right
                    margin-left: 5px

// @media screen and (max-width: "1200px")    
.temp_change
    display: none
.game-view
    .game-view-stats
        .game-view-stats-top
            flex-wrap: wrap
            align-items: center
            padding-top: 15px
        .game_stats_center
            order: 2
            width: 100%
            margin: 0
            margin-top: 15px
            &:after
                display: none
            &:before
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)
                -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)
                opacity: 0.6
        .game-view-result
            margin-bottom: 20px !important
        .team_name
            order: 1
            position: static
            transform: translateY(0)
            max-width: 100%
            .team_img
                width: 60px !important
                height: 60px !important
                &.img_left
                    margin-right: 5px
                &.img_right
                    margin-left: 5px

.game-view 
    .game-view-groups
        flex-wrap: wrap
        justify-content: flex-start
        .view-groups-left
            width: 100%
            border-bottom: 1px solid #464646
            margin-bottom: 2em
            overflow: hidden

.view-groups-right
    margin-right: 0
    margin-left: 2em
    padding-bottom: 2em

.with_video
    flex-direction: column
    .video_container
        width: 100%
        min-height: 400px
        order: 2
    .game-view-stats
        width: 100%
        order: 1
        .team_name
            width: 40%   
    .result_table                        
        thead
            display: table-caption
        td
            display: table-cell
            .mobile_name
                display: none  
    .table_list                     
        thead
            display: none
        tr
            border: none
        td
            display: flex
            align-items: center
            justify-content: center
            position: relative
            .mobile_name
                display: block
                margin-right: 5px                     
// @media screen and (min-width: "1200px")
.col2
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    flex-direction: row
    flex-flow: wrap
    .column
        width: calc(50% - 10px)
        margin-right: 5px
        margin-left: 5px 
    .game-show-content-elements
        width: 100%
        // margin-top: 0 !important
        display: inline-block
.with_video
    .video_container
        height: auto !important
// @media screen and (max-width: "1000px")    
// .view-groups-left
//     align-items: center
//     flex-wrap: nowrap
//     margin-bottom: 0 !important
// .view_btn
//     margin-left: 10px
// .view-groups-right
//     display: none
// .ui-game-show-content
//     padding: 0 0.5em
// // .scroll_tabs.ps
// //     overflow: visible !important
// //     max-width: 95%
// //     .game-tabs-wrap
// //         max-width: 100%
// //         overflow: auto

// // .scroll_tabs
// //     .ps__thumb-x
// //         height: 3px
// .scroll_tabs        
//     .ps__rail-x
//         display: none !important
//     .ps__thumb-x
//         display: none !important
// @media screen and (max-width: "550px")
// .table_list                     
//     thead
//         display: none
//     tr
//         border: none
//     td
//         display: flex
//         align-items: center
//         justify-content: center
//         position: relative
//         .mobile_name
//             display: block
//             margin-right: 5px
//         // &::before
//         //     content: attr(data-head)
//         //     padding-right: 5px
// .team_table_icon
//     margin: auto
// .game-view 
//     .game-view-stats 
//         .team_name
//             width: 40%
//             span
//                 width: auto

