.ui-game-user-day-content
    border-bottom: 2px solid #131313
    .content-game
        height: 5.1em
        display: flex
        background-color: #ffffff
        .icon-game
            flex-basis: 5.4em
            background-repeat: no-repeat
            background-size: 2.2em
            background-position: 2em center
            &.basketball
                background-image: url(/uploads/games/a/8/a846220aa92a5970763dd794592448cab9c0a679e3.png)
                filter: invert(50%)
            &.football
                background-image: url(/uploads/games/a/8/a846220aa92a5970763dd794592448cab9c0a679e3.png)                
                filter: invert(50%)
        .date-time-game
            padding-top: .8em
            div
                font-size: 1.2em
                color: #7a7a7a
                font-family: "Lato"
                font-weight: 600
        .team-game
            padding: 0.5em 1em
            flex: 1
            font-size: 1.4em
            line-height: 1.3
            color: #212121
            font-family: "Lato"
            font-weight: 700
    .result-game
        display: flex
        align-items: center
        // height: 2.5em
        background-color: #e8e8e8
        // padding: 0 2.2em
        padding: 0 20px
        .name-rate-game
            font-size: 1.5em
            line-height: 1.8
            color: #a86918
            font-family: "Lato"
            font-weight: 700
            flex: 1
            span
                color: #363c3f
        .coefficient-game
            color: #363c3f
            font-family: "Lato"
            font-weight: 700
            text-align: right
            font-size: 1.5em
            text-decoration: underline
            span
                font-size: 1.5em

.game_sidebar
    .ui-button        
        &::after
            display: none !important
.game_sidebar_list
    padding-left: 0
    list-style: none
    li
        &:not(:last-child)
            margin-bottom: 1em
    a
        display: block
        text-decoration: none !important
        .game_sidebar_img
            width: 100%
            min-height: 15em
            background-position: top center
            background-size: cover
            background-repeat: no-repeat
            &.game1
                background-position-y: -25px
        .game_sidebar_title
            padding: 13px 20px
            background-color: #2f2f2f
            font-size: 1.5em
            color: #999999            
            font-weight: 700
            text-shadow: 0 0 4px #1b1815
.video_sidebar
    margin-bottom: 2em
    // display: none
    position: relative
    .video_sidebar_content
        // min-height: 300px
        position: relative
        object
            width: 100%
            min-height: 170px
    .ui-button
        align-items: center
    .without_reg
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0
        background-color: #333333
        z-index: 3
        .btns_wrap
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            height: 100%
            a, button
                min-width: 10em
                color: #ffffff !important
                font-size: 1.2em
                font-weight: 600
                text-transform: uppercase
                margin-bottom: 1em
                text-align: center
                border: none
                outline: none
.icon-close
    width: 15px
    height: 15px
    background-image: url(/static/img/side-bar/close.png)
    background-repeat: no-repeat
    background-position: center
    background-size: cover !important
    flex-basis: auto !important
    margin-right: 15px
    cursor: pointer
    transition: 0.3s
    &:hover
        opacity: 0.8
        transition: 0.3s


// @media screen and (max-width: '1000px')
//     .game_sidebar_list
//         display: flex
//         align-items: flex-start
//         flex-wrap: wrap
//         li
//             // display: inline-block
//             width: 50%
//             margin-bottom: 0 !important
//         a
//             .game_sidebar_title
//                 padding-top: 7px
//                 padding-bottom: 7px
//             .game_sidebar_img
//                min-height: 30vw
//                width: 100%
//                margin: auto
//                &.game1
//                     background-position-y: 0px

//     .video_sidebar
//         position: fixed
//         bottom: 0
//         right: 0
//         z-index: 99999
//         display: none
        // &:not(:first-child)
@media screen and (max-width: '768px')
    // .game_sidebar_list
    //     a
    //        .game_sidebar_img
    //            min-height: 52vw
    //            width: 100%