.ui-game-show-coefficient
    width: 100%
    .game-show-coefficient
        width: 100%
        display: flex
        align-items: center
        background-color: #ffffff
        border-bottom: 2px solid #131313
        padding-bottom: 0.5em
    &:last-child
        .game-show-coefficient
            border: none
            // border-radius: 0 0 5px 5px
    .show-time
        display: flex
        // flex-basis: 8em
        span
            // margin: auto
            font-size: 1.5em
            color: #7a7a7a
            font-weight: 400
    .show-coeff-matches
        flex-basis: 14em
        padding-right: 1.25em
        // padding-top: .8em
        .show-team-game-coeff
            text-align: right
            span
                font-size: 1.26em
                color: #454545
                font-weight: 500
                line-height: 1.6
                letter-spacing: .1px
            .show-game-first-coeff
                font-size: 1.5em
                color: #363c3f
                font-family: "Lato"
                font-weight: 800
                text-decoration: underline
                cursor: pointer
                &:hover
                    text-decoration: none
            .show-game-second-coef
                font-size: 1.5em
                color: #d6892f
                font-weight: 800
                padding-right: 0.5em
    .show-video-match
        flex-basis: 5.4em
        border-left: 1px solid #acacac
        border-right: 1px solid #acacac
        height: 85%
        margin: auto 0
        background-size: 3.6em
        background-repeat: no-repeat
        background-position: center
        .show_video_sidebar
            width: 80%
            margin: auto
            height: 35px
            border: none
            background: none
            background-image: url("/static/img/side-bar/youtube.png")
            background-repeat: no-repeat
            background-position: center
            background-size: 100%
            display: block
            outline: none
            transition: 0.3s
            &:hover
                opacity: 0.8
                transition: 0.3s
    .youtube
        padding: 0
    .show-all-flex-coefficient
        flex: 1
        padding: 0.9em 2em .8em 1em
        display: flex
        justify-content: space-between

.team-name-wrap
    // display: flex
    // flex-direction: column-reverse
.show-games-teams
    padding-top: 0.9em
    margin-left: 1.5em
    flex-basis: 18em
    .show-team-name
        font-size: 1.5em
        letter-spacing: .2px
        color: #454545
        font-weight: 400




// @media screen and (max-width: "1200px")
//     .ui-game-show-coefficient .game-show-coefficient
//         overflow: hidden
//         padding-bottom: 1em
//         flex-wrap: wrap
//     .ui-game-show-coefficient .show-all-flex-coefficient
//         width: 100%
//         overflow-x: scroll
//         overflow-y: hidden
//         flex: auto
//         flex-wrap: nowrap !important
//         padding-left: 0
//         padding-right: 0
//         margin-left: 1em
//         margin-right: 1em
//         margin-bottom: -15px
//         padding-bottom: 15px
//     .ui-coefficients-for-bet
//         flex-basis: auto
//         width: 15%
//         margin-right: 1.5em
//         flex-shrink: 0  

// @media screen and (max-width: "1000px")
//     .show-games-teams
//         flex-basis: 16em
//     // .ui-game-show-coefficient .game-show-coefficient
//     //     flex-wrap: wrap
//     .ui-game-show-coefficient 
//         .show-coeff-matches
//             flex-basis: 8em
//         .show-video-match
//             flex-basis: 5em

// @media screen and (max-width: "414px")
//     .ui-game-show-coefficient 
//         .show-time
//             flex-basis: 14em
//     .ui-game-show-coefficient .show-all-flex-coefficient
//         padding-right: 0
//     .ui-coefficients-for-bet
//         flex-basis: auto