.ui-game-event-coefficient
    width: 100%
    margin-top: 2em
    // border-radius: 5px
    overflow: hidden
    &:last-child
        margin-bottom: 2em
    .game-event-title
        width: 100%
        min-height: 4.5em
        height: auto
        // border-radius: 5px 5px 0 0
        border-bottom: 2px solid #131313
        box-shadow: 0 0 7px rgba(27, 24, 21, 0.32)
        background-repeat: no-repeat
        background-size: 2.1em
        background-position: 2.1em center
        background-color: #ffffff
        padding-left: 5.35em
        line-height: 2.6
        position: relative
        .game-event-icon
            position: absolute
            width: 2.5em
            height: 2.5em
            top: 50%
            left: 1.5em
            transform: translateY(-50%)
            filter: invert(50%)
            background-size: 100%
            background-repeat: no-repeat

        span
            font-size: 1.8em
            letter-spacing: .4px
            color: #212121
            font-weight: 700

@media screen and (max-width: "1000px")
    .ui-game-event-coefficient .game-event-title
        // padding: 0
        // text-align: center
        // overflow: hidden
        // text-overflow: ellipsis
        // white-space: nowrap
        // line-height: 1.5
        // display: flex
        // align-items: center