.ui-my-bets-content
    .ui-my-bets-help-list
        padding: 1em 1em 1em 3em
        margin: 0
        li
            font-size: 1.5em
    .my-bets-header
        height: 3.1em
        display: flex
        border-bottom: 2px solid #131313
        .my-bets-header-menu-element
            flex: 1
            display: flex
            background-color: #e8e8e8
            cursor: pointer
            span
                margin: auto
                font-size: 1.1em
                color: #666
                font-weight: 600
                text-align: center
            &.active
                background-color: #e9a033
                span
                    color: #212121
    .my-bets-list
        position: relative
        .cart-list-item
            transition: opacity .5s, transform .5s
        .cart-list-leave-to, .cart-list-enter
            opacity: 0
            transform: translateY(-30px)

        .cart-list-leave-active
            position: absolute
            left: 0
            right: 0

    .my-bet-sumbit-bets-info
        width: 100%
        padding: 0.5em 2em 0 2.1em
        .my-bet-sumbit-bets-odds
            height: 4em
            display: flex
            flex-wrap: wrap
        .odds-in-the-button
            min-height: 2.5em !important
            height: auto
        .odds-in-the-drop
            height: 2.5em !important
            margin-top: .5em
        .my-bet-sumbit-bets-odds-name
            margin: auto 0
            flex: 1
            font-size: 1.4em
            color: #7d7d7d
            font-weight: 400
            white-space: nowrap
        .my-bet-sumbit-bets-odds-count
            margin: auto 0
            flex: 1
            text-align: right
            font-size: 1.5em
            color: #363c3f
            font-weight: 700
        .my-bet-sumbit-bets-odds-drop
            flex-basis: 10.5em
            position: relative
            margin-left: 5px
            .my-bet-sumbit-bets-odds-select
                width: 100%
                height: 2em
                background-color: #eceff1
                display: flex
                cursor: pointer
                font-size: 1.2em
                letter-spacing: 0
                color: #636363
                font-weight: 400
                padding: 0
                // border-radius: 5px
                border: 1px solid #dddddd
            .my-bets-submit-drop-count
                position: absolute
                width: 100%
                display: flex
                overflow: hidden
                max-height: 0
                background-color: #eceff1
                z-index: 1
                cursor: pointer
                border-radius: 0 0 5px 5px
                .my-bets-submit-drop-list
                    height: 2em
                    flex: 1
                    padding-left: 1.05em
                    span
                        font-size: 1.2em
                        letter-spacing: 0
                        color: #636363
                        font-weight: 400
        .bets-take-whit-long-input
            margin-top: 1.3em
            input
                margin-left: 0 !important
                flex: 1
            span, label
                flex-basis: 6.9em
        .my-bet-submit-bets-stake
            width: 100%
            height: 2.6em
            display: flex
            input
                width: 10.7em
                height: 2.6em
                // border-radius: 5px
                background-color: #eeeeee
                border: 1px solid #dddddd
                margin-left: 6.8em
                margin-right: 1em
                padding: 0 .5em
            span, label
                font-size: 1.6em
                letter-spacing: 0
                color: #212121
                font-weight: 600
                margin: auto 0
            .my-bet-submit-bets-stake-currency
                flex-basis: 4.3em
                justify-content: flex-end
                display: flex
                span
                    font-size: 1.4em
                    letter-spacing: 0
                    color: #7d7d7d
                    font-weight: 400
        .my-bet-sybmit-money-set
            width: 100%
            height: 4.7em
            display: flex
            justify-content: space-between
            .money-quality-set
                width: 13%
                line-height: 1.7
                border-radius: 3px
                height: 2em
                margin: auto 0
                display: flex
                align-items: center
                justify-content: center
                background: url('/static/img/baner-left-side/baner-button-bg.png') no-repeat center
                background-size: cover
                cursor: pointer
                &.money_disable
                    opacity: 0.8
                    cursor: default
                span
                    font-size: 1em
                    color: #ffffff
                    font-weight: 400
                i
                    font-size: 1.9em
                    color: #ffffff
                    margin: auto
        .my-bet-submit-place-bet-button
            width: 100%
            margin: 2.1em 0 2.2em 0
            .ui-event-button
                margin: 0 auto
                // width: 14.8em
                // background: url(/static/img/buttons/button_radius.png) no-repeat center
                // background-size: 100%
                // transition: background-image .3s
                &:before
                    // display: none
                    // width: 100%
    .my-bet-submit-footer
        width: 100%
        height: 8.1em
        // background: url('/static/img/side-bar/footer-background.png') no-repeat center
        background-size: 100%
        // border-radius: 0 0 5px 5px
        padding-top: 1.25em
        background-color: #1c1e1e
        .my-bets-submit-footer-clear
            display: flex
            width: 100%
            height: 2.6em
            justify-content: center
            align-items: center
            cursor: pointer
            .my-bets-submit-clear-text
                text-align: right
                font-size: 1.5em
                color: #ff4d30
                font-weight: 500
                margin-right: 1em
                // flex-basis: 12.2em
            .my-bets-submit-clear-close-icon
                // flex: 1
                width: 1.7em
                height: 1.7em
                // background: url('/static/img/side-bar/cancel-white.png') no-repeat 1em 0.44em
                background: url('/static/img/side-bar/cancel-red.png') no-repeat
                // background-size: cover
                background-position: center
                transition: all .3s
                // &:hover
                //     filter: drop-shadow(0px 2px 1px rgba(255, 255, 255, 0.9))
        .my-bets-submit-footer-check-box
            display: flex
            width: 100%
            justify-content: center
            align-items: center
            margin-top: .6em
            .my-bets-submit-footer-check-box-element
                flex-basis: 2em
                height: 2em
                border-radius: 3px
                background-color: #eeeeee
                border: 1px solid #c4c4c4
                margin: 0 0 0 3.6em
                margin-left: 0
                display: flex
                cursor: pointer
                i
                    margin: auto
                    color: #a86918
                    font-size: 1.6em
            .my-bets-submit-check-box-text
                // flex: 1
                font-size: 1.4em
                letter-spacing: 0
                color: #9e9e9e
                font-weight: 400
                padding-left: 0.8em
                line-height: 1.36
                margin-bottom: 0

// @media screen and (max-width: "414px")
//     .ui-my-bets-content
//         font-size: 12.6px
//         .my-bet-sumbit-bets-info
//             .my-bet-submit-bets-stake
//                 input
//                     width: 10em
//                     margin-left: 5em                   

// @media screen and (max-width: "375px")
//     .ui-my-bets-content
//         font-size: 11.8px
//         .my-bet-sumbit-bets-info
//             .my-bet-submit-bets-stake
//                 input
//                     width: 10em
//                     margin-left: 2em  
    