.ui-my-bet-game-component
    border-bottom: 2px solid #131313
    position: relative
    .price-confirm
        display: none
        text-align: center
        cursor: pointer
    &.price-changed
        .price-confirm
            display: inline-block
    &.blocked:after,
    &.price-changed:after
        content: 'X'
        position: absolute
        top: 0
        bottom: 0
        left: 0
        width: 100%
        pointer-events: none
        background: #000
        opacity: .6
        color: #F00
        font-size: 8rem
        text-align: center
        display: flex
        flex-direction: column
        justify-content: center
    &.price-changed:after
        bottom: 2.5rem
        font-size: 6rem
    .ui-my-bet-game-content
        min-height: 5.6em
        height: auto
        display: flex
    .ui-my-bet-game-content-icon
        background-size: 2.1em
        flex-basis: 4.3em
        background-position: right 1.8em
        background-repeat: no-repeat
        filter: invert(50%)
    .show-games-teams
        flex-basis: 20em
        padding-top: 1.1em
        padding-left: 1.1em
        line-height: 1.3
        .show-team-name
            font-size: 1.4em
            font-weight: 700
    .ui-my-bet-game-quality
        min-height: 2.2em
        padding-left: 2em
        line-height: 1
        padding-bottom: 1em
        span
            font-size: 1.6em
            letter-spacing: 0
            color: #212121
            font-weight: 700
    .ui-my-bet-game-coeff
        width: 100%
        height: 2.5em
        background-color: #e8e8e8
        display: flex
        .my-bet-game-coeff-name
            width: 80%
            padding-left: 2.1em
            line-height: 1.6
            display: flex
            position: relative
            span
                font-size: 1.5rem
                color: #a86918
                font-weight: 700
                text-overflow: ellipsis
                overflow: hidden
                white-space: nowrap
            .coeffComponentCount
                color: #a86918
                font-size: 1.5rem
                display: flex
                .ComponentCountCoeff
                    color: #363c3f
                    font-size: 1em
        .my-bet-game-coeff-quality
            flex: 1
            padding-right: 2em
            line-height: 1.6
            text-align: right
            flex-basis: 20%
            span
                font-size: 1.5em
                color: #363c3f
                font-weight: 700

.ui-my-bet-game-close-icon
    flex: 1
    background: url('/static/img/side-bar/cancel.png') no-repeat center 1.7em
    background-size: 2em
    cursor: pointer
    &:hover
        filter: contrast(4)