.ui-one-click-radio
  .radio-text
    width: 100%
    text-align: center
    font-size: 1.4em
    letter-spacing: 0px
    color: #adadad
    font-weight: 500
    line-height: 1.3
  .radio-content
    display: flex    
    width: 79%
    .radio-content-text
      // flex: 1
      font-size: 1.2em
      letter-spacing: 0.4px
      color: #adadad
      font-weight: 500
      line-height: 1.2
      // margin-left: 0.8em
      background: none
      border: none
      max-width: 30px
      border-bottom: 1px solid rgba(#ffffff, 0.6)
      outline: none
      &:disabled
        border-bottom-color: transparent
    .radio-content-value
      position: relative
      flex-basis: 3.3em
      height: 1.1em
      border-radius: 5px
      background-image: url('./../../img/radio/background.png')
      border: 1px solid #161616
      margin: auto
      display: flex
      cursor: pointer
      &:hover
        .radio-icon
          background-color: #292929
          border: 1px solid #161616
          &:before
            background-color: #ffffff
            border: 1px solid #b8b8b8
      .radio-false, .radio-true
        flex: 1

      .radio-icon
        position: absolute
        height: 1.7em
        width: 1.7em
        border-radius: 50%
        top: -0.4em
        transition: all .5s
        &:before
          content: ''
          width: 1.3em
          height: 1.3em
          border-radius: 50%
          right: .1em
          position: absolute
          top: .1em
          transition: all .5s
      .radio-icon-active
        background-color: #292929
        border: 1px solid #161616 !important
        right: -3%
        &:before
          background-color: #d6892f !important
          border: 1px solid #ffc000
      .radio-icon-default
        background-color: #292929
        border: 1px solid #161616
        right: 50%
        &:before
          background-color: #c4c4c4
          border: 1px solid #ffffff
