.ui-one-click-set
  width: 100%
  min-height: 4.4em
  background-color: #363c3f
  margin: .7em 0 1em 0
  display: flex
  align-items: center
  justify-content: space-between
  // flex-wrap: wrap
  // padding: 5px 0
  &.active_line
    display: flex
  .one-click-live
    font-size: 1.8em
    letter-spacing: .4px
    color: #ffffff
    font-weight: 700
    // margin: auto 0 auto 1.1em
    // margin-right: 10px
    // flex: 1
    text-shadow: 0 0 4px #fff4f4d4
    width: 3.1em
    min-height: 44px
    // height: 100%
    border-right: 1px solid #464646
    border-bottom: 3px solid #e9a033
    display: flex
    align-items: center
    justify-content: center
  .ui-one-click-radio
    flex-basis: 10em
    min-height: 44px
    border-left: 1px solid #464646
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
  
.carousel_wrap
  // width: 86%
  width: 100%
  overflow: hidden
  position: relative
  margin-left: 5px
  margin-right: 5px
  .slick-track
    display: flex
  .slick-list
    overflow: hidden
  .slick-slider  
    padding-left: 3.5em
    padding-right: 3.5em  
    .slick-arrow
      position: absolute
      top: 50%
      transform: translateY(-50%)
      width: 10px
      height: 14px
      background: none
      font-size: 0
      outline: none
      border: none
      z-index: 99
      &:before
        content: ''
        position: absolute        
        top: 0
        width: 2px
        height: 9px
        background-color: #999999
        transition: 0.3s
      &:after
        content: ''
        position: absolute        
        bottom: 0
        width: 2px
        height: 9px
        background-color: #999999
        transition: 0.3s
      &:hover
        &:before, &:after
          background-color: #fff
          transition: 0.3s
      &.slick-disabled
        &:before, &:after
          background-color: #999999 !important
          cursor: default
      &.slick-prev
        left: -3.5em
        &:before
          transform: rotate(45deg)
          left: 3px
        &:after
          transform: rotate(-45deg)
          left: 3px
      &.slick-next
        right: -3.5em
        &:before
          transform: rotate(-45deg)
          right: 3px
        &:after
          transform: rotate(45deg)
          right: 3px
    .slick-slide 
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center      
      margin-right: 25px     
      &.slick-active
        transition: 0.3s

.list_link
  display: flex
  align-items: center
  font-size: 1.5em
  line-height: 1em
  padding-top: 5px
  padding-bottom: 5px
  color: #999999
  text-shadow: 0 0 4px rgba(27,24,21,0.47)
  transition: 0.3s
  &:hover,  &:active, &:focus, &.active
    color: #ffffff !important
    text-decoration: none !important
    outline: none
    transition: 0.3s
    .list_icon
      filter: invert(0)
      transition: 0.3s
// .all_link
//   padding-left: 40px
.list_icon
  width: 25px
  height: 25px
  background-repeat: no-repeat
  background-size: 100%
  background-position: center
  margin-right: 7px  
  filter: invert(50%)
  transition: 0.3s
.list_icon_all
  filter: invert(50%)
  width: 14px !important
  height: 14px !important
  transition: 0.3s
.link_wrap
  display: flex
  align-items: center  
  &:hover
    .list_icon_all
      filter: invert(0)
      transition: 0.3s
  &.active_wrap
    a
      color: #ffffff
    .list_icon_all
      filter: invert(0)


// @media screen and (max-width: '1300px')
//   .one-click-text
//     order: 1
//   .ui-one-click-radio
//     order: 2
//   .list_icon
//     width: 25px
//     height: 25px
//     padding: 5px 0
//   .carousel_wrap 
//     .slick-slider 
//       .slick-slide
//         margin-right: 10px
// @media screen and (max-width: '1024px')
//   .carousel_wrap 
//     .slick-list
//       overflow: visible
//     .slick-slider 
//       padding-left: 1em
//       padding-right: 1em
//       .slick-slide
//         margin-right: 15px
//       .slick-arrow
//         display: none !important
// @media screen and (max-width: '1000px')
//   .ui-one-click-set
//     display: flex
//   .carousel_wrap
//     width: 100%
// @media screen and (max-width: '550px')
//   .link_wrap
//     .list_link
//       flex-direction: column
//       justify-content: center
//       align-items: center
//     .list_icon
//       width: 15px !important
//       height: 15px !important
//       margin-right: 0
//       margin: auto
//       margin-bottom: 3px
    // a
    //   font-size: 0
  // .carousel_wrap 
  //   .slick-list
  //     overflow: visible
  //   .slick-slider 
  //     padding-left: 1em
  //     padding-right: 1em
  //     .slick-slide
  //       margin-right: 15px
  //     .slick-arrow
  //       display: none !important
  .ui-one-click-set 
    margin-top: 0
    .ui-one-click-radio
      // display: none
    .one-click-live
      // display: none