.ui-upcoming-events
    background: url('/static/img/baner-left-side/background.png') center
    background-size: cover
    height: 23.4em
    width: 100%
    margin-bottom: .2em
    padding: 1.9em 1.4em 1.7em 1.4em
    display: flex
    flex-direction: column
    &:last-child
        margin-bottom: 0
    .event-header
        display: flex
        .event-name
            flex-basis: 8.5em
            height: 2em
            background-position: 0 center
            background-repeat: no-repeat
            background-size: 2.2em 100%
            text-align: end
            margin-left: 0.9em
            span
                font-size: 1.5em
                color: #ffffff
                font-weight: 700
        .event-liga
            font-size: 1.4em
            padding-left: 0.8em
            flex: 1
            color: #bcbcbc
            font-weight: 500
    .event-value
        flex: 1
        display: flex
        .event-value-home, .event-value-guest
            flex-basis: 9.7em
        .midle-event-value
            flex: 1
    .ui-upcoming-events-button
        margin: 0 auto
        width: 11.7em
        height: 3.5em
        position: relative
    .ui-header-button
        background-position: 0 -0.6em
        background-size: 100% 125%
        font-size: 1.2em
        .background-header-button
            line-height: 2.4
    .ui-radius-button
        height: 5.1em
        right: 0
        top: -.3em
        background-size: 100% 84%
        font-size: 1.2em
        background-position: center top
        .background-header-button
            line-height: 3.8

  
