<template>
    <div class="rockpaperscissors-game" id="rockpaperscissors-app">
        <div class="hands_wrap">
            <div class="left_box"><img v-bind:src="url_hand_left" alt=""></div>
            <div class="right_box"><img v-bind:src="url_hand_right" alt=""></div>
        </div>
        <div class="bet_type_wrap">
            <div class="bet_type">
                <button class="rock" @click="play(1)"></button>
            </div>
            <div class="bet_type">
                <button class="paper" @click="play(2)"></button>
            </div>
            <div class="bet_type">
                <button class="scissors" @click="play(3)"></button>
            </div>
            <div class="text-center">
                <div class="msg-wrap">
                    <div ref="amount_message">
                        {{ amountMessage }}
                    </div>
                    <div>
                        {{ resultMessage }}
                    </div>
                </div>
            </div>

        </div>
        <div class="text-center">
            <div class="card-bets-wrap">
                <input type="number" class='form-control amount-bet' min="0" name="input-amount-bet" v-model="bet_input_value">
                <button class="btn btn-danger" @click="bet_input_value = 0">x</button>
                <button class="btn btn-default btn-amount" v-for="amount in amounts" @click="bet_input_value = amount">
                    {{ amount }}
                </button>
                <button class="btn btn-danger" @click="placeBet">{{ $t('Place a bet') }}</button>
            </div>
        </div>
    </div>
</template>

<script>
    import jQuery from 'jquery';

    export default {
        name: "game",
        data() {
            return {
                bet_input_value: 0,
                bet_status: false,
                bet_amount: null,
                resultMessage: '',
                url_hand_left: '/static/casino/img/rockpaperscissors/question_mark.png',
                url_hand_right: '/static/casino/img/rockpaperscissors/question_mark.png',
                amounts: [5, 10, 50, 100, 500, 1000],
            };
        },
        computed: {
            amountMessage: function() {
                return (+this.bet_amount > 0) ? this.$t('Your stake: {sum}', {sum: this.bet_amount}) : this.$t('Place your bet');
            },
        },
        methods: {
            placeBet() {
                this.url_hand_left = '/static/casino/img/rockpaperscissors/question_mark.png';
                this.url_hand_right = '/static/casino/img/rockpaperscissors/question_mark.png';
                this.message = '';
                if(window.isGuest) {
                    this.resultMessage = this.$t('You must login first');
                    jQuery('#loginPopup').modal({
                        remote: '/user/auth/login'
                    });
                }
                if (this.bet_input_value < 5) {
                    this.resultMessage = this.$t('Minimum stake: {sum}', {sum: 5});
                }
                if (window.isGuest || this.bet_input_value < 5) {
                    this.highlightHeaders();
                    return false;
                }
                this.bet_amount = this.bet_input_value;
                this.bet_status = true;
                this.bet_input_value = 0;
            },
            play(bet_type) {
                if(this.bet_status === false || this.bet_amount === null){
                    this.highlightHeaders();
                    return false;
                }
                const formData = new FormData();
                formData.append('amount', this.bet_amount);
                formData.append('bet_type', bet_type);
                formData.append(yii.getCsrfParam(), yii.getCsrfToken());
                fetch('/casino/rock-paper-scissors/game', {
                    method: 'POST',
                    cache: 'no-cache',
                    body: formData,
                }).then((result) => {
                    if (result.status >= 400 && result.status < 600) {
                        result.json().then((error) => {
                            this.errorMessage = error.message || '';
                        });
                        throw result;
                    }
                    return result.json();
                }).then((data) => {
                    this.url_hand_left = '/static/casino/img/rockpaperscissors/hand_left_' + bet_type + '.png';
                    this.url_hand_right = '/static/casino/img/rockpaperscissors/hand_right_' + data.bet_type + '.png';
                    this.resultMessage = data.message;
                }).catch(() => {}).finally(() => {
                    this.bet_amount = null;
                    this.bet_status = false;
                });
            },
            highlightHeaders() {
                const h3 = this.$refs.amount_message;
                h3.style.color = '#fc0001';
                h3.style.fontWeight = 'bold';
                setTimeout(function(){
                    h3.style.color = '#511DA7';
                    h3.style.fontWeight = 'normal';
                }, 1000);
            }
        },
    }
</script>

<style lang="scss">
    @import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap');
    .rockpaperscissors-game {
        min-height: 100%;
        height: auto;
        margin: 0 auto -60px;
        padding: 0 0 60px;
        background-image: url("/static/casino/img/rockpaperscissors/background.jpg");

        > .container {
            padding: 20px 15px 20px;
        }
        button {
            outline: none !important;
        }
        .amount-bet {
            width: 100px;
            display: inline-block;
            vertical-align: middle;
        }
        .bet_type_wrap {
            text-align: center;
            .bet_type {
                display: inline-block;
                width: 200px;
                height: 180px;
                margin: 5px;
                padding-top: 30px;
                .rock, .paper, .scissors {
                    width: 130px;
                    height: 130px;
                    background-size: contain;
                    background: transparent no-repeat center;
                    border: none;
                }
                .rock {
                    background-image: url("/static/casino/img/rockpaperscissors/rock.png");
                }
                .paper {
                    background-image: url("/static/casino/img/rockpaperscissors/paper.png");
                }
                .scissors {
                    background-image: url("/static/casino/img/rockpaperscissors/scissors.png");
                }
                &:hover {
                    background-image: url("/static/casino/img/rockpaperscissors/selected_bet.png");
                    background-size: contain;
                }
            }
        }
        .hands_wrap {
            text-align: center;
            .left_box, .right_box {
                width: 302px;
                height: 200px;
                border: 1px solid #484848;
                border-radius: 8px;
                display: inline-block;
                margin: 25px 30px;
            }
        }
        .btn-danger {
            background-color: #fc0001;
        }
        .msg-wrap {
            font-family: 'Marck Script', cursive;
            color: #511DA7;
            font-size: 40px;
            min-height: 140px;
        }
    }
</style>