<template>
    <div class="luckycard-game" id="luckycard-app">
        <h2 class="text-center">
            <img src="/static/casino/img/luckycard/lucky-card.png" />
        </h2>
        <div class="row">
            <div class="col-xs-4 cards-left">
                <button class="btn btn-block btn-black btn-bet" @click="play(1)">
                    <span class="text-bold">{{ $t('Black')}}</span><br>x2
                </button>
                <button class="btn btn-black btn-suit btn-bet" @click="play(3)">
                    <img src="/static/casino/img/luckycard/spade.png"><br>x4
                </button>
                <button class="btn btn-black btn-suit btn-bet" @click="play(4)">
                    <img src="/static/casino/img/luckycard/club.png"><br>x4
                </button>
            </div>
            <div class="col-xs-4 text-center">
                <div class="msg-wrap">
                    <h3 class="text-danger" v-if="errorMessage.length > 0">
                        {{ errorMessage }}
                    </h3>
                    <div ref="amount_message">
                        {{ amountMessage }}
                    </div>
                    <div>{{ resultMessage }}</div>
                </div>
                <div class="card-face-wrap">
                    <img v-bind:src="url_card" alt=""/>
                </div>
            </div>
            <div class="col-xs-4 cards-right">
                <button class="btn btn-block btn-red btn-bet" @click="play(2)">
                    <span class="text-bold">{{ $t('Red')}}</span><br>x2
                </button>
                <button class="btn btn-red btn-suit btn-bet" @click="play(5)">
                    <img src="/static/casino/img/luckycard/heart.png"><br>x4
                </button>
                <button class="btn btn-red btn-suit btn-bet" @click="play(6)">
                    <img src="/static/casino/img/luckycard/heart.png"><br>x4
                </button>
            </div>
        </div>
        <div class="text-center">
            <div class="card-bets-wrap">
                <input type="number" class='form-control amount-bet' min="0" name="input-amount-bet" v-model="bet_input_value">
                <button class="btn btn-danger" @click="bet_input_value = 0">x</button>
                <button class="btn btn-default btn-amount" v-for="amount in amounts" @click="bet_input_value = amount">
                    {{ amount }}
                </button>
                <button class="btn btn-danger" @click="placeBet">{{ $t('Place a bet') }}</button>>
            </div>
        </div>
    </div>
</template>

<script>
    import jQuery from 'jquery';

    export default {
        name: "game",
        data() {
            return {
                bet_input_value: 0,
                bet_status: false,
                bet_amount: null,
                errorMessage: '',
                resultMessage: '',
                url_card: '/static/casino/img/luckycard/cards/0.jpg',
                amounts: [5, 10, 50, 100, 500, 1000],
            };
        },
        computed: {
            amountMessage: function () {
                return (+this.bet_amount > 0) ? this.$t('Your stake: {sum}', {sum: this.bet_amount}) : this.$t('Place your bet');
            },
        },
        methods: {
            placeBet() {
                this.url_card = '/static/casino/img/luckycard/cards/0.jpg';
                this.errorMessage = '';
                this.resultMessage = '';
                this.bet_input_value *= 1;
                if(window.isGuest) {
                    this.resultMessage = this.$t('You must login first');
                    jQuery('#loginPopup').modal({
                        remote: '/user/auth/login'
                    });
                }
                if (this.bet_input_value < 5) {
                    this.resultMessage = this.$t('Minimum stake: {sum}', {sum: 5});
                }
                if (window.isGuest || this.bet_input_value < 5) {
                    this.highlightHeaders();
                    return false;
                }
                this.bet_amount = this.bet_input_value;
                this.bet_status = true;
                this.bet_input_value = 0;
            },
            play(bet_type) {
                if (this.bet_status === false || this.bet_amount === null) {
                    this.highlightHeaders();
                    return false;
                }
                const formData = new FormData();
                formData.append('amount', this.bet_amount);
                formData.append('bet_type', bet_type);
                formData.append(yii.getCsrfParam(), yii.getCsrfToken());
                fetch('/casino/lucky-card/game', {
                    method: 'POST',
                    cache: 'no-cache',
                    body: formData,
                }).then((result) => {
                    if (result.status >= 400 && result.status < 600) {
                        result.json().then((error) => {
                            this.errorMessage = error.message || '';
                        });
                        throw result;
                    }
                    return result.json();
                }).then((data) => {
                    this.resultMessage = data.message;
                    this.url_card = '/static/casino/img/luckycard/cards/' + data.bet_type + '.png';
                }).catch(() => {}).finally(() => {
                    this.bet_amount = null;
                    this.bet_status = false;
                });
            },
            highlightHeaders() {
                const h3 = this.$refs.amount_message;
                h3.style.color = '#cf0000';
                h3.style.fontWeight = 'bold';
                setTimeout(function () {
                    h3.style.color = '#fff';
                    h3.style.fontWeight = 'normal';
                }, 1000);
            }
        },
    }
</script>

<style lang="scss">
    @import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap');
    .luckycard-game {
        min-height: 100%;
        height: auto;
        margin: 0 auto -60px;
        padding: 0 0 60px;
        background-image: url("/static/casino/img/luckycard/background_green.jpg");
        > .container {
            padding: 70px 15px 20px;
        }
        button {
            outline: none !important;
        }
        .btn-black {
            color: #fff;
            background-color: #000;
            padding: 7px;

        }

        .btn-red {
            color: #fff;
            background-color: #cf0000;
            padding: 7px;
        }

        .btn {
            outline: 0 !important;
        }

        .amount-bet {
            width: 100px;
            display: inline-block;
            vertical-align: middle;
        }

        .btn-black:hover,
        .btn-red:hover,
        .btn-black:focus,
        .btn-red:focus {
            color: #fff;
        }

        .btn-suit {
            width: 49%;
            margin-top: 15px;
            padding: 3px 0;
        }

        .card-face-wrap {
            padding: 16px;
            border: 6px solid #d0d000;
            border-radius: 8px;
            display: inline-block;
            min-height: 350px;
            min-width: 251px;
        }

        .card-bets-wrap {
            padding: 16px;
            border: 6px solid #d0d000;
            border-radius: 8px;
            display: inline-block;
            text-align: center;
            margin-top: 25px;
        }

        .cards-right, .cards-left {
            padding-top: 215px;
        }

        .msg-wrap {
            text-align: center;
            color: #fff;
            font-size: 20px;
            min-height: 60px;
            margin: 15px 0;
        }

        .text-bold {
            font-weight: bold;
        }
    }
</style>