<template>
    <div id="support-chat" class="box support-chat" v-bind:class="{
        'chat-closed': closed,
        'chat-active': !closed
    }" v-cloak>
        <div class="support-chat-info">
            <a href="/support/request/index" class="support-chat-back">
                <i class='fas fa-chevron-left'></i> {{ $t('Requests list') }}
            </a>
            <span class="support-chat-theme">
                #{{ request.id }}: {{ request.theme }}
            </span>
            <span class="request-time">
                {{ $t('Last update by {name} at {time}', {
                    name: (lastMessage ? lastMessage.from_name : ''),
                    time: (lastMessage ? lastMessage.created_at : ''),
                }) }}
            </span>
            <span class='support-badge btn-danger' v-if="closed">
                {{ $t('Is closed') }}
            </span>
        </div>
        <div class="box-body support-chat-content">
            <div class="support-chat-messages">
                <div v-for="(message, index) in list" class="message" v-bind:class="{
                    'box-warning': message.is_new,
                    'box-primary': !message.is_new
                }" v-bind:key="message.id">
                    <div class="message-header">
                        <div class="message-sender">
                            <i class="fas fa-user"></i>
                            {{ message.from_name }}
                        </div>
                        <div class="message-time">
                            {{ message.created_at }}
                        </div>
                    </div>
                    <div class="message-text" v-html="message.message"></div>
                    <div class="message-files" v-if="message.files.length > 0">
                        <a class="message-file btn" target="_blank" v-for="file in message.files" v-bind:href="file.url">
                            {{ file.name }}
                        </a>
                    </div>
                </div>
            </div>
            <form id="support-form" class="support-chat-form form-vertical" v-on:submit.prevent="sendMessage">
                <div class="form-group highlight-addon field-message required">
                    <label class="control-label has-star" for="message">
                        {{ $t('Message') }}
                    </label>
                    <textarea name="message" id="message" class="form-control" rows="4"></textarea>
                </div>
                <span class="btn fileinput-button">
                    <span>{{ $t('Add files') }}</span>
                    <i class="fas fa-paperclip"></i>
                    <input type="file" id="support-chat-file" name="file" multiple="" :data-ctoken="csrf.token" :data-cparam="csrf.param" :data-url="uploadUrl">
                </span>
                <button type="submit" class="btn btn-red pull-right">
                    {{ $t('Submit') }}
                </button>
                <div class="support-form-files">
                    <div v-for="(file, index) in files" class="message-file" v-bind:key="file.id">
                        <input type="hidden" name="files[]" v-bind:value="file.id" />
                        <i class="glyphicon glyphicon-remove" v-on:click="removeFile(file.id)"></i> {{ file.name }}
                    </div>
                </div>
                <div class="support-form-uploading">
                    <i v-for="n in uploading" class="fas fa-spinner fa-spin"></i>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';

    export default {
        data: function() {
            const data = {
                files: {},
                messages: [],
                closed: paramsSupport.closed,
                request: {
                    id: paramsSupport.request,
                    key: paramsSupport.key,
                    theme: paramsSupport.theme,
                },
                csrf: {
                    param: paramsSupport.csrf.param,
                    token: paramsSupport.csrf.token,
                },
                uploading: 0,
            };
            if(!paramsSupport.closed) {
                data.socket = io.connect(paramsSocket.host, {
                    query: {
                        key: paramsSocket.key,
                        request: paramsSupport.request,
                    },
                    path: paramsSupport.path,
                    timeout: 5000,
                    reconnectionDelay: 1000,
                    reconnectionDelayMax: 1500,
                    randomizationFactor: 0
                });
            }
            return data;
        },
        mounted: function() {
            if(!paramsSupport.closed) {
                this.socket.on('message', (message) => {
                    this.messages.push(message);
                });
                const formData = {};
                const uploadInput = jQuery('#support-chat-file');
                uploadInput.bind('fileuploaddone', function (e, data) {
                    if(!!data.result) {
                        Vue.set(this.files, data.result.id, data.result);
                    }
                }.bind(this));

                uploadInput.bind('fileuploadalways', function () {
                    this.uploading--;
                }.bind(this));
                uploadInput.bind('fileuploadsend', function () {
                    this.uploading++;
                }.bind(this));

                formData[uploadInput.data('cparam')] = uploadInput.data('ctoken');
                uploadInput.fileupload({
                    formData: formData
                });
            }
            fetch(`/support/request/messages?id=${paramsSupport.request}&key=${paramsSupport.key}`).then((result) => {
                if (result.status >= 400 && result.status < 600) {
                    throw result;
                }
                return result.json();
            }).then((res) => {
                res.forEach((item) => {
                    this.messages.push(item);
                });
            }).catch((err) => console.error);
            this.form = document.querySelector('#support-form')
        },
        methods: {
            sendMessage: function() {
                const form = new FormData(this.form);
                this.socket.emit('message', {
                    message: form.get('message'),
                    files: form.getAll('files[]'),
                    request: paramsSupport.request,
                    key: paramsSupport.key,
                }, (result) => {
                    if(result) {
                        this.files = {};
                        this.form.reset();
                    }
                });
            },
            removeFile(id) {
                Vue.delete(this.files, id);
            }
        },
        computed: {
            list: function() {
                return this.messages.sort((a,b) => {
                    return a.id - b.id;
                });
            },
            lastMessage() {
                return this.list[this.list.length - 1];
            },
            uploadUrl() {
                return `/support/request/upload?id=${this.request.id}&key=${this.request.key}`;
            },
        }
    }
</script>