@import url('https://fonts.googleapis.com/css?family=Lato:100,400,700')

@keyframes glyphicon-spin
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(359deg)

.glyphicon.glyphicon-spinner
    animation: glyphicon-spin 1s infinite linear

body
    color: #8E8E8E !important
    background-color: #282828 !important
    font-family: "Lato", sans-serif !important 
    a
        color: #FFF
    // &::-webkit-scrollbar 
    //     width: 10px
    //     background-color: rgba(#f5f5f5, 0.6)
    // &::-webkit-scrollbar-thumb
    //     background-color: #ff9915
    //     opacity: 0.6
    //     border-radius: 10px
    // &::-webkit-scrollbar-track
    //     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
    //     background-color: #F5F5F5

html, body
    font-size: 10px
body.desktop
    min-width: 1450px

.coef_popup
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 200px
    padding: 20px
    font-size: 1.3em
    color: #ffffff
    background-color: #333333
    text-align: center
    opacity: 0
    visibility: hidden
    transition: 0.3s
    z-index: 9
    div
        color: #d6892f !important

.mob_show
    display: none !important

.mob_banner
    display: none



// @media screen and (max-width: 1400px)
//     html, body
//         font-size: 9px !important

// @media screen and (max-width: 1024px)
//     html, body
//         font-size: 8px !important

// @media screen and (max-width: "1000px")
//     .show_coef_popup
//         .coef_popup
//             opacity: 1
//             visibility: visible
//     .mob_show
//         display: block !important
//     .mob_hide
//         display: none !important


@import 'elements/checkbox'
@import 'elements/ui-button'
@import 'elements/ui-user'
@import 'elements/ui-team'
@import 'elements/ui-social'
@import 'elements/ui-radius-button'
@import 'elements/ui-event-button'
@import 'elements/ui-button-content'
@import 'elements/ui-button-drop-toggle'
@import 'elements/ui-button-side-bar'
@import 'elements/panel-group'

@import 'side-bar-right'

@import 'header/nav-bar'
@import 'header/nav-games'
@import 'header/ui-account-information-drop-menu'
@import 'header/ui-bonus-button'
@import 'header/ui-header-button'
@import 'header/ui-header-mail'
@import 'header/ui-lang'
@import 'header/ui-nav-button'
@import 'footer/footer'

@import 'pages/profile/login'
@import 'pages/profile/registration'
@import 'pages/profile/main'
@import 'pages/profile/account'
@import 'pages/profile/password'
@import 'pages/profile/bets'
@import 'pages/purse/history'
@import 'pages/support/list'
@import 'pages/static-pages'
@import 'pages/mini-games'

@import 'mobile'

// @media screen and (max-width: "1000px")
//     body
//         font-size: 16px

// @media screen and (max-width: "480px")
//     .kv-table-wrap td, .kv-table-wrap th
//         display: table-cell !important
//     .profile-content .box .box-body        
//         padding: 0.5em 0

// @media screen and (max-width: "414px")
//     body
//         font-size: 14px
// @media screen and (max-width: "400px")
//     body
//         font-size: 12.7px
// @media screen and (max-width: "321px")
//     body
//         font-size: 9.8px