.content-wrapper
    .mobile_layout
        padding-left: 0
        min-height: unset !important
.mobile_layout
    .flip-card
        font-size: 1.25rem !important
    .flip-clock__slot
        display: none !important
    .flip-clock__piece
        margin: 0 1px !important
    .flip-clock
        flex-basis: 31%
        text-align: right !important
        .flip-clock__piece
            text-align: center !important
            // &:first-child
            //     position: relative
            //     &::after
            //         content: ':'
            //         position: absolute
            //         top: 0
            //         right: -2.5px
            //         color: black
            &:last-child
                display: none !important
    .side-bar-right
        z-index: 100
    .search-list-mobile
        display: block !important
        margin-top: 0
        .game-show-coefficient
            min-height: unset !important
            justify-content: space-between !important
        .ui-game-show-coefficient
            min-width: unset !important
            width: 100% !important
            margin: 0 !important
    .search_modal
        .header
            font-size: 2.5rem
            padding: 1.5rem
    .team-name-wrap
        .show-team-name
            &--home
                display: inline
                &:first-child
                    &::after
                        content: '-'
    .hide
        display: none
    .view-groups-left
        padding-left: 10px !important
        padding-right: 10px !important
    .game-view-groups
        margin-bottom: 0 !important
    .game-tab_item
        border-right: none !important
        margin-right: 5px
        display: flex
        align-items: center
        padding: .8em 1.5em
        font-size: 1.4em
        line-height: 1.2
        cursor: pointer
        color: #999
        transition: .3s
        text-shadow: 0 0 4px rgba(27,24,21,.47)
        white-space: nowrap
        border-top-right-radius: 5px
        border-top-left-radius: 5px
    .active-game-tab
        background-color: #e9a033
    .carousel_wrap
        min-height: 60px
    .content-bar
        padding-top: .9em !important
    .game-view
        margin-top: 0
        .game-view-duration
            display: flex
            align-items: center
            justify-content: space-around
            width: 100%
            min-height: 2.4em
            background-color: #363c3f
            margin: 0
            color: #fff
            font-size: 1.9rem
            p
                margin: 0
        .game-view-stats
            min-height: 20vh
            padding: 1.2em
            display: flex !important
            align-items: center !important
            justify-content: space-between !important
            color: #fff !important
            font-size: 1.8rem
            *
                position: relative
                z-index: 1
            .game_stats-center
                width: 33.33%
                // padding-left: 3em
                // padding-right: 3em
                .game-stats-result
                    border: 1px solid #e5e5e5
                    font-size: 2rem
                    font-weight: 700
                    color: #ff4d30
                    padding: .5rem 1rem
                    max-width: 5em
                    margin: 0 auto .5em
                .start-time
                    margin-bottom: 0
                    font-size: large
            .game_stats_left
                width: 33.33%
                text-align: left
                .result_table
                    margin-left: 0
            .game_stats_right
                width: 33.33%
                text-align: right
                .result_table
                    margin-right: 0
        .result_table_wrap
            padding: 0
            .result_table
                font-size: 1.5rem
                tr
                    padding: 0 !important
                td
                    min-width: unset !important
                th
                    min-width: unset !important
                    white-space: nowrap
    .ui-one-click-set
        margin-top: 0 !important
    .modal-enter-active, .modal-leave-active
        transition: opacity .5s
        z-index: 100
    .modal-enter, .modal-leave-to
        opacity: 0
        z-index: 100
    .cartBtn-enter-active, .cartBtn-leave-active
        transition: all 1s
    .cartBtn-enter, .cartBtn-leave-to
        bottom: -100px !important
    .ui-button-side-bar
        border-top-right-radius: 0 !important
    .slick-arrow
        display: none !important
    .footer-navigation
        padding-left: 0 !important
        padding-right: 0 !important
    .footer-blocks
        display: flex
        justify-content: space-around
        padding-left: 0 !important
        padding-right: 0 !important
    .ui-coefficients-for-bet
        // flex-basis: auto
        width: 15%
        margin-right: 1.5em
        flex-shrink: 0
    .game_sidebar
        .game_sidebar_list
            display: flex
            align-items: flex-start
            flex-wrap: wrap
            li
                margin-bottom: 1em
                width: 50%
                a
                    .game_sidebar_img
                        min-height: 30vw
                        width: 100%
                        margin: auto
    .top-title
        justify-content: space-between !important
    .ui-one-click-set
        display: flex
        position: relative
    .set-wrap
        display: flex
        .one-click-live
            font-size: 2em !important
            letter-spacing: .4px !important
            color: #ffffff !important
            font-weight: 700 !important
            text-shadow: none !important
            width: 6.1em !important
            min-height: 44px !important
            display: flex !important
            align-items: center !important
            justify-content: center !important
            border-bottom: none !important
            a
                font-size: 3rem !important
                text-decoration: none !important
                &:focus
                    text-decoration: none !important
                    color: #fff !important
                &:hover
                    text-decoration: none !important
                    color: #fff !important
            &:first-child
                width: 3em !important
        .activeLink
            border-bottom: 3px solid #e9a033 !important
    .content-wrapper
        padding: 0 !important
        .content-bar
            padding: 1.2em
            width: 100% !important
            .games-list, .game-view
                .carusel
                    max-height: 60vh
                    .slick-list
                        overflow: hidden !important
                .game-event-title
                    // border-bottom: 2px solid #131313 !important
                    // border-right: none !important
                    // line-height: 1.5
                    display: flex
                    align-items: center
                    // justify-content: space-between
                    width: 100%
                    min-height: 4.5em
                    height: auto
                    border-bottom: none !important
                    box-shadow: 0 0 7px rgba(27, 24, 21, 0.32)
                    background-repeat: no-repeat
                    background-size: 2.1em
                    background-position: 2.1em center
                    background-color: #363c3f
                    padding-left: 2em
                    padding-right: 3em
                    line-height: 2.6
                    position: relative
                    border-right: solid 20px rgba(0, 0, 0, 0)
                    overflow-x: auto
                    i
                        font-size: 16px
                    .title-left
                        display: flex
                        align-items: center
                        img
                            margin-right: 5px
                    .game-event-icon
                        // position: absolute
                        width: 2.5em
                        height: 2.5em
                        // top: 50%
                        // left: 1.5em
                        // transform: translateY(-50%)
                        // filter: invert(50%)
                        background-size: 100%
                        background-repeat: no-repeat
                    span
                        font-size: 1.8em
                        letter-spacing: .4px
                        color: white
                        font-weight: 700
                        white-space: nowrap
                .ui-game-event-coefficient
                    line-height: 1.5
                    // align-items: center
                    margin-top: 0 !important
                    display: flex
                    flex-wrap: nowrap
                    overflow: auto !important
                    .ui-game-show-coefficient
                        margin: 0 2.5px
                        // max-width: 50%
                        min-width: 48vw
                        overflow: hidden
                        .game-show-coefficient
                            min-height: 130px
                            position: relative
                            overflow: hidden
                            padding-bottom: 1em
                            flex-wrap: wrap
                            .show-all-flex-coefficient
                                width: 100%
                                overflow-x: auto
                                overflow-y: hidden
                                flex: auto
                                flex-wrap: nowrap!important
                                padding-left: 0
                                padding-right: 0
                                margin-left: 1em
                                margin-right: 1em
                                margin-bottom: -15px
                                padding-bottom: 15px
                            .game-event-title
                                background-color: white
                                align-items: flex-end
                                span
                                    font-size: 1.8em
                                    letter-spacing: .4px
                                    color: black
                                    font-weight: 700
                                    white-space: nowrap
                                .game-event-icon
                                    position: static !important
                                    margin-right: 5px
                            .top-span
                                pointer-events: none
                                position: absolute
                                z-index: 1
                                width: 60px
                                height: 10px
                                color: white
                                font-weight: bold
                                background-image: linear-gradient(180deg,#ecb6a4,#ff6939)
                                top: 5px
                                right: -20px
                                transform: rotate(45deg)
                                text-align: center
                            .show-games-teams
                                &--home
                                    padding-top: 0.9em
                                    margin-left: 1.5em
                                    flex-basis: 25% !important
                                    overflow-x: auto
                                    .show-team-name
                                        font-size: 1.5em
                                        letter-spacing: .2px
                                        color: #454545
                                        font-weight: 400
                                        white-space: nowrap
                        .show-coeff-matches
                            flex-basis: 26%
                        .show-video-match
                            flex-basis: 5em
                        &:first-child
                            margin-right: 5px    
                        &:last-child
                            margin-left: 5px
                .ui-game-event-coefficient--not_home
                    display: block !important
                    margin-top: 1em !important
                    overflow: hidden
                    margin: 0
                    max-width: unset
                    .ui-game-show-coefficient
                        margin: 0 !important
                        .game-show-coefficient
                            min-height: unset
                            // flex-wrap: nowrap
                            .show-all-flex-coefficient
                                flex-basis: 100%
                                margin-bottom: 0
                                padding: .9em 2em .8em 1em
                                display: flex
                                justify-content: space-between
                                .ui-coefficients-for-bet
                                    flex-basis: 6.6em
                                    border-radius: 5px
                                    overflow: hidden
                                    height: 100%
                                    cursor: pointer
                                    margin-right: 2.5px
                                    margin-left: 2.5px
                    .game-event-title
                        width: 100%
                        min-height: 4.5em
                        height: auto
                        border-bottom: 2px solid #131313 !important
                        border-right: none !important
                        box-shadow: 0 0 7px rgba(27,24,21,.32)
                        background-repeat: no-repeat
                        background-size: 2.1em
                        background-position: 2.1em
                        background-color: #fff
                        padding-left: 5.35em
                        line-height: 2.6
                        position: relative
                        span
                            font-size: 1.8em
                            letter-spacing: .4px
                            color: #212121
                            font-weight: 700
                        .game-event-icon
                            position: absolute
                            width: 2.5em
                            height: 2.5em
                            top: 50%
                            left: 1.5em
                            transform: translateY(-50%)
                            filter: invert(50%)
                            background-size: 100%
                            background-repeat: no-repeat
                    &:last-child
                        margin-left: 0
                    .game-show-coefficient
                        // flex-wrap: nowrap
                        min-height: unset
                        .show-team-name
                            white-space: unset
    .search_modal_wrap
        position: fixed
        height: 100%
        width: 100%
        top: 0
        left: 0
        overflow: auto
        z-index: 10
        .modal-overlay
            position: fixed
            height: 100%
            width: 100%
            top: 0
            left: 0
            background: rgba(black, 0.6)
            z-index: 20
        .search_modal
            max-height: 90vh
            max-width: 95vw
            background-color: #1c1e1e
            color: white
            position: absolute
            top: 50%
            left: 50%
            margin-right: -50%
            transform: translate(-50%, -50%)
            z-index: 30
            overflow-y: auto
            .header
                display: flex
                justify-content: space-between
                min-width: 300px
                position: sticky
                z-index: 1
                top: 0
                background-color: #131313
    .ui-button-side-bar
        max-height: 90vh
        max-width: 95vw
        overflow-y: auto
    .game_sidebar_list
        a
            padding: 1em
    .ui-user
        justify-content: center !important
    .footer-social-icons
        justify-content: center
        margin-top: 1em
    .footer-social-text
        text-align: center !important
    .footer-for-mobile-icon
        margin: 0 auto
    .footer-for-mobile-app
        text-align: center
    .footer-link-block
        width: unset !important
    .footer-link-content
        justify-content: space-around !important
    .info-footer-text
        // flex: 1 !important
        ul
            text-align: left
    .show-cart-btn
        cursor: pointer
        background: url('/static/img/mobile/coupon.svg') top no-repeat
        position: fixed
        // overflow: hidden
        bottom: -10px
        height: 8rem
        width: 13rem
        left: 50%
        margin-right: -50%
        transform: translate(-50%, 0)
        z-index: 100
        color: #fff
        font-size: 3.8rem
        padding: 1.2rem 2rem .5rem
        border-top-left-radius: 4rem
        border-top-right-radius: 4rem
        text-align: center
        span
            position: absolute
            top: 5px
            right: 25px
            font-size: 2rem
            background: #bc5127
            height: 1.9rem
            padding: 1px .58rem
            line-height: 1.4rem
            border-radius: 1.4rem
            display: block
            text-align: center

    .cart-popup-wpar
        position: fixed
        height: 100%
        width: 100%
        top: 0
        left: 0
        overflow: auto
        background: rgba(black, 0.6)
        z-index: 10
    .right_wrap
        position: fixed
        z-index: 10
        top: 50%
        left: 50%
        margin-right: -50%
        transform: translate(-50%, -50%)
        min-width: 290px
        z-index: 50
        .close-cart
            width: 33.59px
            height: 37.8px
            position: absolute
            background-color: rgba(22, 26, 27, 0.93)
            top: 0
            right: -33.59px
            border: none
            outline: none
            font-size: 20px
            display: flex
            justify-content: center
            align-items: center
            border-top-right-radius: 6px
            border-bottom-right-radius: 6px
    .navigation
        height: auto
        width: 100%
        background-color: #2f2f2f
    .nav-bar
        height: 7.5em
        width: 100%
        display: flex
        justify-content: space-between
        background-color: #1d1f1f
        border-bottom: 1px solid #2f3131
    .logo
        box-sizing: border-box
        flex-basis: 22.2em
        height: 100%
        background: url('/static/img/new_logo.png') no-repeat
        background-size: 70%
        background-position: center
        cursor: pointer

    .buttons-left-nav
        flex-basis: 45.3em
        display: flex

    .button-right-nav
        flex: 1
        justify-content: flex-end
        align-items: center
        display: flex 
        &>a
            font-size: 1.3em
            text-decoration: none !important
            position: relative
            padding-left: 25px
            color: #ffffff
            transition: 0.3s
            &:before, &:after
                content: ''
                position: absolute
                top: 0
                left: 0
                width: 25px
                height: 25px   
                background-repeat: no-repeat
                transition: 0.3s
            &:after
                opacity: 0
                transition: 0.3s
            &:hover
                color: #e9a033
                transition: 0.3s
                &:before
                    opacity: 0
                    transition: 0.3s
                &:after
                    opacity: 1
                    transition: 0.3s
        .registration        
            text-align: center
            &:before
                background-image: url('/static/img/nav-button/reg.png')
            &:after
                background-image: url('/static/img/nav-button/reg_hover.png')
        .log-in
            flex-basis: 6em
            text-align: center
            padding-right: 20px
            &:before
                top: 1px
                background-image: url('/static/img/nav-button/login.png')
            &:after
                top: 1px
                background-image: url('/static/img/nav-button/login_hover.png')
    .nav-games
        height: 7.5em
        width: 100%
        background-color: #201f1e
        .games
            margin: 0 auto
            height: 100%
            max-width: 155em
            display: flex
            justify-content: space-between

    .header-login
        .ui-bonus-button
            flex-basis: 12.1em
        .ui-account-information-drop-menu
            margin-right: 4.2em
        .ui-header-mail
            margin-right: 3em
        .ui-user
            flex-basis: 10.5em
            .picture
                margin-left: 2.5em
                width: 5.3em
                height: 5.3em
        .ui-lang
            flex-basis: 10.6em
            justify-content: flex-start
            .lang-flag
                width: 62.2%
                background-repeat: no-repeat
                background-position: 1.65em
                background-size: 1.95em 1.35em
    .header-button-place
        flex-basis: 18.7em
        .header-button-container
            margin-left: 1.5em
            position: relative
            .ui-header-button
                background-size: 103.2% 86%
                background-position: -0.2em 0.3em
                height: 4.7em
                font-size: 1.2em
                .background-header-button
                    line-height: 4.9
            .ui-radius-button
                top: .4em
                font-size: 1.2em


    // .navigation-mobile
    //     display: none

    .navigation-menu
        display: none
        background-color: rgba(22, 26, 27, 0.93)
        width: 40%
        height: auto
        z-index: 9999
        position: fixed
        top: 0
        right: -150%
        transition: all .3s
        height: 100vh
        overflow: visible
        .mobile_menu_close
            width: 50px
            height: 46.19px
            position: absolute
            background-color: rgba(22, 26, 27, 0.93)
            top: 0
            left: -50px
            border: none
            outline: none
            font-size: 20px
            opacity: 1 !important

        .mobile-side-header
            width: 100%
            padding: 2em
            margin-bottom: 25px
            border-bottom: 1px solid #303030
            .mobile_logo
                width: 140px
                height: 55px
                background-image: url('/static/img/mob_logo.png')
                background-position: center
                background-size: 100%
                background-repeat: no-repeat
                margin: auto
                margin-bottom: 15px
            .login_wrap
                display: flex
                align-items: center
                i
                    color: #ffffff
                    font-size: 20px
                    margin-right: 20px
                a
                    flex-basis: auto
                    display: inline-block
                    margin: 0
                    margin-left: 2.5px
                    margin-right: 2.5px
                .ui-lang
                    flex-basis: 4.5em
                    margin-left: auto
            .user_info_wrap
                display: flex
                align-items: center
                .mb_info
                    order: inherit
                .ui-lang
                    flex-basis: 5.5em

            .mobile-user-icon
                width: 70px
                height: 65px
                background-image: url('/static/img/mobile/user.png')
                background-position: center
                background-size: contain
                background-repeat: no-repeat
            .mobile-user-info
                flex: 1
                padding: 1.2em
                .user-info-id
                    display: flex
                    span
                        margin: auto 0
                        font-size: 1.5em
                        line-height: 1.2
                        color: #9d9d9d
                .user-balnce
                    display: flex
                    span
                        font-size: 2em
                        color: #ffffff
                        font-weight: 600
            .registration
                margin: auto
                color: #d6892f
                text-align: center
                font-size: 1.9em
                display: flex
                align-items: center
            .log-in
                margin: auto
                color: #ffffff
                flex-basis: 6em
                text-align: center
                font-size: 1.9em
                display: flex
                align-items: center
        .menu-mobile-side-container
            .menu-mobile-side-element
                display: flex
                padding-left: 30px
                position: relative
                transition: 0.3s
                &::before
                    content: ''
                    position: absolute
                    top: 0
                    left: 0
                    bottom: 0
                    width: 3px
                    background-color: #ed8b20
                    opacity: 0
                    transition: 0.3s
                &:not(:last-child)
                    padding-bottom: 5px
                    border-bottom: 1px solid #303030
                &:hover
                    text-decoration: unset
                    transition: 0.3s
                    background-color: #1f2223
                    &::before
                        opacity: 1
                        transition: 0.3s
                .menu-molie-element-logo
                    width: 40px
                    background-position: center
                    background-size: 70%
                    background-repeat: no-repeat
                    filter: contrast(0%)
                .menu-mobile-content
                    flex: 1
                    display: flex
                    padding: 1.2em
                    span
                        margin: auto 0
                        font-size: 2em
                        color: #ffffff
    .header_left
        width: 65%
        .nav-games
            background: none
    .fade-enter-active, .fade-leave-active 
        transition: all .5s
    .fade-enter, .fade-leave-to
        opacity: 0
        transform: translateX(10px)
    .search_wrap
        position: absolute
        width: 100%
        height: 100%
        top: 0
        background-color: #363c3f
        z-index: 1
        display: flex
        input
            height: 100%
            width: 85%
            font-size: 3rem
            background-color: transparent
            border: none
            outline: none
            padding: .5rem
        .search_close
            position: relative
            height: 100%
            width: 5%
            font-size: 2.5rem
            color: white
            background-color: transparent
            i
                position: absolute
                top: 50%
                left: 50%
                margin-right: -50%
                transform: translate(-50%, -50%)
        .search_btn
            height: 100%
            width: 10%
            font-size: 2.5rem
            color: white
            outline: none
            background-color: #ff6939
            border: none
    .navigation
        display: none

    .navigation-menu
        display: block

    .navigation-mobile
        display: flex
        flex-wrap: wrap
        align-items: center
        background-color: #333333
        width: 100%
        margin-top: 0
        padding: 1em 2em
        .mob_logo_wrap
            flex-grow: 2
        .logo
            height: 4em
            background-size: 100%
            flex-basis: auto
            width: 90px
            display: block
            transition: 0.3s
        .log-in-mobile
            font-size: 20px
            line-height: 1.2
            margin-right: 10px
            color: #ffffff !important
            padding: .5rem
            border-radius: 3px
            text-decoration: none
            &--orange
                background-color: #ff6939
            &--green
                border: 1px solid white
    .navigation-search-button-mobile
        flex-basis: auto !important
        font-size: 25px
        line-height: 1.2
        color: #ffffff !important
    .navigation-menu-mobile
        position: relative
        height: 30px
        font-size: 0
        width: 25px
        margin-right: 1rem
        padding: 0
        text-align: left
        padding-top: 6px
        .burger-wrap
            position: absolute
            width: 100%
            height: 100%
            left: 0
            top: 0
            z-index: 999
        .burger-line
            background-color: #f1c759
            display: inline-block
            vertical-align: top
            margin-bottom: 3px
            width: 100%
            height: 3px
            &:nth-child(3)
                width: 75%
            &:last-child
                width: 45%
                margin-bottom: 0
                
    .navigation-menu-mobile
        margin-left: 10px
    .navigation-search-mobile
        flex: 1
        position: absolute
        top: 0
        bottom: 0px
        left: 0
        right: 0
        opacity: 0
        visibility: hidden
        transition: 0.3s
        input
            background: none
            border: none
            border-bottom: 1px solid rgba(#ffffff, 0.5) !important
            margin: 0 auto
            width: 90%
            height: 100%
            font-size: 2.5em
            padding: 0 0.5em
            outline: none !important

    .mobile-user-info
        margin-left: 10px
        text-align: center
        display: flex
        align-items: center
        .user-info-id
            display: flex
            align-items: center
            margin-bottom: 5px
            font-size: 1.5em
            color: #8E8E8E !important
            text-decoration: none !important
            .acc_icon
                width: 20px
                height: 20px
                margin-right: 5px
                background-image: url('/static/img/mobile/user.png')
                background-position: center
                background-size: contain
                background-repeat: no-repeat
    .time_drop_wrap
        order: 2
        margin-right: 10px
        margin-left: 10px
        margin-bottom: 0

        .navbar-nav 
            .select2-container--default 
                .select2-selection--single
                    padding-left: 0
                    padding-right: 0
    .mob_logo_wrap
        order: 1
    .navigation-search-button-mobile
        display: flex
        align-items: center
        justify-content: center
        width: 2em
        order: 3
    .mobile-user-info, .log-in-mobile
        order: 4
    .navigation-menu-mobile
        order: 5

    .login-form-popup
        max-width: 280px !important
    .ui-one-click-set
        width: 100%
        min-height: 4.4em
        background-color: #363c3f
        margin: .7em 0 1em 0
        display: flex
        align-items: center
        justify-content: space-between
    .active_line
        display: flex
    .ui-one-click-radio
        flex-basis: 10em
        min-height: 44px
        border-left: 1px solid #464646
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
    .carousel_wrap
        width: 100%
        overflow: hidden
        position: relative
        margin-left: 5px
        margin-right: 5px
        min-height: 60px
        .slick-track
            display: flex
        .slick-list
            overflow: hidden
        .slick-slider  
            padding-left: 0.5em
            padding-right: 0.5em  
            .slick-arrow
                position: absolute
                top: 50%
                transform: translateY(-50%)
                width: 10px
                height: 14px
                background: none
                font-size: 0
                outline: none
                border: none
                z-index: 99
                &:before
                    content: ''
                    position: absolute        
                    top: 0
                    width: 2px
                    height: 9px
                    background-color: #999999
                    transition: 0.3s
                &:after
                    content: ''
                    position: absolute        
                    bottom: 0
                    width: 2px
                    height: 9px
                    background-color: #999999
                    transition: 0.3s
                &:hover
                    &:before, &:after
                    background-color: #fff
                    transition: 0.3s
                &.slick-disabled
                    &:before, &:after
                    background-color: #999999 !important
                    cursor: default
                &.slick-prev
                    left: -3.5em
                    &:before
                    transform: rotate(45deg)
                    left: 3px
                    &:after
                    transform: rotate(-45deg)
                    left: 3px
                &.slick-next
                    right: -3.5em
                    &:before
                    transform: rotate(-45deg)
                    right: 3px
                    &:after
                    transform: rotate(45deg)
                    right: 3px
            .slick-slide 
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center      
                margin-right: 25px !important
                &.slick-active
                    transition: 0.3s
    .list_link
        display: block !important
        text-align: center
        font-size: 1.5em
        line-height: 1em
        padding-top: 5px
        padding-bottom: 5px
        color: #999999
        text-shadow: 0 0 4px rgba(27,24,21,0.47)
        transition: 0.3s
        &:hover,  &:active, &:focus, &.active
            color: #ffffff !important
            text-decoration: none !important
            outline: none
            transition: 0.3s
            .list_icon
            filter: invert(0) !important
            transition: 0.3s
        .list_icon
            width: 25px !important
            height: 25px !important
            background-repeat: no-repeat
            background-size: 100%
            background-position: center
            margin-bottom: 10px !important
            transition: 0.3s
            margin: 0 auto !important
        .game-icon
            margin-bottom: 10px !important
    .link_wrap
        display: flex
        align-items: center  
        &:hover
            .list_icon
                filter: invert(0) !important
                transition: 0.3s !important
        &.active_wrap
            a
                color: #ffffff
            .list_icon
                filter: invert(0) !important
    .ui-one-click-set
        display: flex
        position: relative
    .carousel_wrap
        width: 100%
    .top-title
        justify-content: space-between !important
    .show-games-teams
        flex-basis: 0 !important
        flex-grow: 2
    .ui-game-show-coefficient
        width: 100%
        min-width: 300px
        .game-show-coefficient
            width: 100%
            display: flex
            align-items: center
            background-color: #ffffff
            border-bottom: 2px solid #131313
            padding-bottom: 0.5em
        &:last-child
            .game-show-coefficient
                border: none
        .show-time
            display: flex
            span
                font-size: 1.5em
                color: #7a7a7a
                font-weight: 400
        .show-coeff-matches
            flex-basis: 17.1em
            padding-right: 1.25em
            .show-team-game-coeff
                text-align: right
                span
                    font-size: 1.26em
                    color: #454545
                    font-weight: 500
                    line-height: 1.6
                    letter-spacing: .1px
                .show-game-first-coeff
                    font-size: 1.5em
                    color: #363c3f
                    font-family: "Lato"
                    font-weight: 800
                    text-decoration: underline
                    cursor: pointer
                    &:hover
                        text-decoration: none
                .show-game-second-coef
                    font-size: 1.5em
                    color: #d6892f
                    font-weight: 800
                    padding-right: 0.5em
        .show-video-match
            flex-basis: 5.4em
            border-left: 1px solid #acacac
            border-right: 1px solid #acacac
            height: 85%
            margin: auto 0
            background-size: 3.6em
            background-repeat: no-repeat
            background-position: center
            .show_video_sidebar
                width: 80%
                margin: auto
                height: 35px
                border: none
                background: none
                background-image: url("/static/img/side-bar/youtube.png")
                background-repeat: no-repeat
                background-position: center
                background-size: 100%
                display: block
                outline: none
                transition: 0.3s
                &:hover
                    opacity: 0.8
                    transition: 0.3s
        .youtube
            padding: 0
        .show-all-flex-coefficient
            flex: 1
            padding: 0.9em 2em .8em 1em
            display: flex
            justify-content: space-between

    @media screen and (max-width: "1024px")
        .mobile_layout
            .close-cart
                height: 33.59px
    

    @media screen and (max-width: "650px")
        .mobile_layout 
            .ui-game-show-coefficient
                min-width: 70vw !important
            .game-view-stats
                padding-left: 0
                padding-right: 0
            .game-view-duration
                min-height: 2.4em
                font-size: 1.5rem

        
    @media screen and (max-width: '550px')
        .mobile_layout
            .slick-slider
                padding-left: 0.5em !important
                padding-right: 0.5em !important
            .one-click-live
                width: 4.1em !important
            .info-footer-text
                flex: unset !important
            .carusel
                display: block !important
        // .link_wrap
        //     .list_link
        //     flex-direction: column
        //     justify-content: center
        //     align-items: center
        //     .list_icon
        //     width: 15px !important
        //     height: 15px !important
        //     margin-right: 0
        //     margin: auto
        //     margin-bottom: 3px
        .ui-one-click-set 
            margin-top: 0
            .ui-one-click-radio
            // display: none

    @media screen and (max-width: "515px")
        .search_wrap
            input
                width: 75%
            .search_close
                width: 10%
            .search_btn
                width: 15%
        .log-in-mobile
            font-size: 14px !important  
        .navigation-menu 
            width: 70%
            .menu-mobile-side-container 
                .menu-mobile-side-element 
                    .menu-molie-element-logo
                        background-size: 60%

    @media screen and (max-width: "450px")
        .mobile_layout
            .slick-slider
                padding-left: 0.5em !important
                padding-right: 0.5em !important
            .ui-game-show-coefficient
                min-width: 96vw !important
            .slick-dotted
                padding: 0 !important

    @media screen and (max-width: "414px")
        .footer-link-content
            justify-content: space-between !important
        .logo
            margin-left: 0 !important
        .mob_logo_wrap
            // flex-grow: 0 !important
        .navigation-menu-mobile
            margin: 0 !important
        .navigation-mobile
            // justify-content: space-between
            .navigation-search-button-mobile
                flex-basis: 3em
        .navigation-menu .mobile-side-header .registration
            font-size: 1.3em
        .navigation-menu .mobile-side-header .log-in
            font-size: 1.3em
        .mobile_layout
            .right_wrap
                transform: translate(-54%,-50%)
            .ui-button-side-bar
                max-width: 90vw
            .ui-my-bets-content
                font-size: 9px
            .ui-game-show-coefficient
                min-width: 94vw !important
                .show-time
                    flex-basis: 14em
            .show-games-teams
                &--home
                    flex-basis: 25% !important
            .show-coeff-matches
                &--home
                    flex-basis: 30% !important
        .ui-game-show-coefficient .show-all-flex-coefficient
            padding-right: 0
        .ui-coefficients-for-bet
            flex-basis: auto
            

    @media screen and (max-width: "330px")
        .mobile_layout
            .ui-my-bets-content
                font-size: 9px
            // .close-cart
            //     right: -18px



    @media screen and (min-width: "880px")
        .mobile_layout 
            .ui-game-show-coefficient
                min-width: 35vw !important


    @media screen and (min-width: "1400px")
        .mobile_layout
            .close-cart
                height: 42px


    @media screen and (max-width: '1300px')
        .carusel
            .button_wrap
                bottom: 3em
            .carusel-button
                min-width: 13em
                padding: 10px 30px
        .loginIn.carusel  
            .slick-slider 
            div
                max-height: 350px



    @media screen and (max-width: '550px')
        .carusel
            .button_wrap
                left: 2em
                &:before
                    display: none
                .carusel-button
                    min-width: 11em
                    padding: 4px 10px
                    font-size: 12px
            .slick-dots
                right: 15px
                li:not(:last-child)
                    margin-bottom: 5px
                .slick-active:not(:last-child)
                    padding-bottom: 0

        .mob_banner
            display: block
        .banner_showed
            display: block !important
        .carusel 
            .button_wrap
                bottom: 2em
            .carusel-button
                font-size: 14px


    @media screen and (max-width: "1000px")
        .footer-blocks
            .info-footer-text
                width: 100%
                flex: unset
                text-align: center
                .info-footer-header
                    line-height: 1.5
            .info-footer-content
                flex-wrap: wrap
                padding: 1.2em
        .footer-copyright
            padding: 0 1.2em
        .footer-navigation 
            height: auto
            &::before
                display: none
            .footer-navigation-count
                width: 100%
                overflow: hidden
                height: auto
                padding: 1.2em
            .footer-navigation-context
                flex-wrap: wrap
                position: relative
                display: block
                .ui-user
                    position: static
                    // right: 5.2em
                    right: 11em
                    top: 7.5em
                    justify-content: flex-start
                    margin-bottom: 10px
                    .picture
                        width: 7em
                        height: 7em
                        margin: 0
                .footer-link-content
                    flex-wrap: wrap
                    width: 100%
                    margin-left: 0
                    .footer-link-block
                        width: 50%
                        &:nth-child(2)
                            margin-left: 0
                .footer-social
                    margin-top: 3em
                    padding: 1.2em
                    padding-left: 0
                    margin-left: 0
                    .footer-social-text
                        text-align: left
            .footer-for-mobile-app
                width: 100%
                flex-wrap: wrap
                .footer-for-mobile-icon
                    // width: 100%
                    margin-bottom: 10px
                .footer-for-mobile-text-count
                    padding: 0
                    margin: 0
                    width: 100%
                .footer-for-mobile-button
                    padding: 0
                    margin-top: 1em


    // @media screen and (max-width: "1000px")
    //     body
    //         font-size: 16px

    @media screen and (max-width: "480px")
        .kv-table-wrap td, .kv-table-wrap th
            display: table-cell !important
        .profile-content .box .box-body        
            padding: 0.5em 0

    @media screen and (max-width: "414px")
        body
            font-size: 14px
    @media screen and (max-width: "400px")
        body.mobile
            font-size: 12.7px
    @media screen and (max-width: "321px")
        body.mobile
            font-size: 9.8px

    @media screen and (max-width: 1680px)
        .mobile_layout
            .ui-coefficients-for-bet
                .top-coefficient-for-bet
                    line-height: 1.3

    @media screen and (max-width: 1400px)
        .mobile_layout
            .ui-coefficients-for-bet
                .top-coefficient-for-bet
                    line-height: 1.2

    @media screen and (max-width: 1200px)
        .mobile_layout
            .ui-coefficients-for-bet
                .top-coefficient-for-bet
                    font-size: 1.5em
                .bottom-coefficient-for-bet
                    font-size: 1.5em

    @media screen and (max-width: "1000px")    
        .view-groups-left
            align-items: center
            flex-wrap: nowrap
            margin-bottom: 0 !important
        .view_btn
            margin-left: 10px
        .view-groups-right
            display: none
        .ui-game-show-content
            padding: 0 0.5em
        // .scroll_tabs.ps
        //     overflow: visible !important
        //     max-width: 95%
        //     .game-tabs-wrap
        //         max-width: 100%
        //         overflow: auto

        // .scroll_tabs
        //     .ps__thumb-x
        //         height: 3px
        .scroll_tabs        
            .ps__rail-x
                display: none !important
            .ps__thumb-x
                display: none !important
    @media screen and (max-width: "550px")
        .table_list                     
            thead
                display: none
            tr
                border: none
            td
                display: flex
                align-items: center
                justify-content: center
                position: relative
                .mobile_name
                    display: block
                    margin-right: 5px
                // &::before
                //     content: attr(data-head)
                //     padding-right: 5px
        .team_table_icon
            margin: auto
        .game-view 
            .game-view-stats 
                .team_name
                    width: 40%
                    span
                        width: auto


@media screen and (max-width: 1400px)
    body.mobile
        font-size: 9px !important

@media screen and (max-width: 1024px)
    body.mobile
        font-size: 8px !important