.side-bar-right
  width: 32.5em
  padding: 1.2em
  .ui-button-side-bar
    .arrow-hide-side-bar
      transform: rotate(180deg)
      flex-basis: 5.6em
      transition: 0.3s
    .button
      &:after
        content: unset
  .event-content .content
    margin-left: 4.4em
  .text
    padding-left: .4em
    color: #808080
  .baners
    width: 100%
    margin: 2.8em 0
    .baner
      height: 10.7em
      width: 100%
      background-size: cover
      background-repeat: no-repeat
      // background-image: url('./../../img/baner/New Project.png')
      margin-bottom: 1.1em
      &:last-child
        margin-bottom: 0

.baner_1
  background-image: url('./../../img/baner/New Project.png')

.baner_2
  background-image: url('./../../img/baner/New Project (1).png')

.baner_3
  background-image: url('./../../img/baner/New Project (2).png')

.baner_4
  background-image: url('./../../img/baner/New Project (3).png')

.baner_5
  background-image: url('./../../img/baner/New Project (4).png')


.event-content
  .button
    align-items: center
.time_drop_wrap
  // margin-bottom: 1.5em
  margin-right: 10px
  position: relative
  box-shadow: 0px 2px 7.65px 1.35px rgba(43, 136, 136, 0.1)
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    height: 1px
    background-color: #252727
    z-index: 9
  .navbar-nav
    width: 100%
    float: none
    margin: 0
    .select2-container--default 
      .select2-selection--single
        outline: none !important
        border-radius: 0
        border: none !important
        background-color: #1c1e1e
        font-size: 1.7em
        font-weight: 600
        padding: 0.3em
        height: auto
        box-shadow: inset 0 0 10px rgba(#000000, 0.6)
        .select2-selection__rendered
          color: #ffffff
          line-height: 1.2
          padding-left: 8px
          padding-right: 8px
          text-shadow: 0px 2px 0px rgba(27, 24, 21, 0.004)
        .select2-selection__arrow
          height: 100%
          display: none
.select2-dropdown
  background-color: #1c1e1e !important
  .select2-search__field
    border: none
    outline-color: #d6892f
    background-color: transparent
  .select2-results
    .select2-results__options
      padding: 1.5em      
      background-color: transparent !important
      font-size: 1.2em
      color: #b3b3b3
      .select2-results__option
        background-color: transparent !important
        color: #b3b3b3
        &:hover
          color: #ffffff
      .select2-results__option[aria-selected=true]
        color: #ffffff
      &::-webkit-scrollbar 
          width: 5px !important
          background-color: transperent !important
      &::-webkit-scrollbar-thumb
          background-color: rgba(#ff9915, 0.6) !important
          opacity: 0.6 !important
          border-radius: 5px !important
      &::-webkit-scrollbar-track
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important
          background-color: transperent !important


  // position: relative
  // margin-bottom: 1.5em  
  // .time_drop_btn
  //   display: flex
  //   align-items: center
  //   padding: 0.8em 1em
  //   padding-right: 40px
  //   background-color: #1c1e1e
  //   position: relative
  //   cursor: pointer
  //   span
  //     color: #878787
  //     font-weight: 500
  //     margin-right: 2em
  //     font-size: 1.3em
  //   p
  //     font-size: 1.7em
  //     font-weight: 600
  //     color: #ffffff
  //     margin-bottom: 0
  //   .icon_wrap
  //     position: absolute
  //     right: 20px
  //     top: 50%
  //     transform: translateY(-50%)
  //     i
  //       transition: 0.3s
  //   &.time_active
  //     i
  //       transform: rotate(180deg)
  //       transition: 0.3s
  // .time_drop_list
  //   position: absolute
  //   top: 105%
  //   right: 0
  //   z-index: 99999
  //   list-style: none
  //   background-color: #1c1e1e
  //   padding: 1.5em
  //   padding-right: 30px
  //   width: 500px
  //   max-height: 155px
  //   overflow: auto
  //   height: 0
  //   padding: 0
  //   // transition: 0.3s
  //   &.active
  //     height: auto
  //     padding: 1.5em
  //     padding-right: 30px
  //     // transition: 0.3s
  //   &::-webkit-scrollbar 
  //       width: 5px
  //       background-color: transperent
  //   &::-webkit-scrollbar-thumb
  //       background-color: rgba(#ff9915, 0.6)
  //       opacity: 0.6
  //       border-radius: 5px
  //   &::-webkit-scrollbar-track
  //       -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
  //       background-color: transperent
  //   li
  //     font-size: 1.2em
  //     color: #b3b3b3
  //     line-height: 1.2
  //     transition: 0.3s
  //     cursor: pointer
  //     &:hover
  //       color: #ffffff
  //       transition: 0.3s
  //     &:not(:last-child)
  //       margin-bottom: 5px
        



// @media screen and (max-width: "1000px")
//   .side-bar-right
//     width: 100%
//   .time_drop_wrap 
//     // border: 1px solid #333333
//     .navbar-nav 
//       .select2-container--default 
//         .select2-selection--single 
//           .select2-selection__rendered
//             padding-right: 5px
//           .select2-selection__arrow
//             display: none

// @media screen and (min-width: "1000px")
.side-bar-right
  // position: fixed
  // top: 75px
  // right: 1em
  // max-height: calc(100vh - 75px)
  // overflow-y: auto
  scrollbar-color: #ff9915 #f5f5f5
  scrollbar-width: thin
  padding-right: 0
  width: 31.5em
  z-index: 2
  transition: 0.3s
  margin-right: 1em
  &::-webkit-scrollbar 
      width: 5px
      background-color: transperent
  &::-webkit-scrollbar-thumb
      background-color: rgba(#ff9915, 0.6)
      opacity: 0.6
      border-radius: 5px
  &::-webkit-scrollbar-track
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
      background-color: transperent

// @media screen and (max-width: "560px")
//   .time_drop_wrap
//     .time_drop_list
//       width: 300px

  // .toggle_right
  //   .home
  //     flex-wrap: nowrap
  //   .content-wrapper
  //     // padding-right: 5em
  //     overflow: hidden
  //     transition: 0.3s
  //     .content-bar
  //       width: calc(100% - 25em) !important
  //   .side-bar-right
  //     // right: -26em
  //     transition: 0.3s
  //     transform: translateX(25em)
  //     .event-content
  //       background-color: transparent
  //     .ui-button-side-bar
  //       opacity: 1 !important
  //       // height: 4.2em !important
  //       visibility: visible !important
  //       .arrow-hide-side-bar
  //         transform: rotate(0)
  //         transition: 0.3s
  //       .button
  //         opacity: 1 !important
  //         // height: 4.2em !important
  //         visibility: visible !important
  //         div
  //           opacity: 1 !important
  //           // height: 4.2em !important
  //           visibility: visible !important
  //     div
  //       opacity: 0
  //       // height: 0
  //       visibility: hidden
  //     &:hover
  //       right: 1em
  //       .event-content
  //         background-color: #fff
  //       div
  //         opacity: 1
  //         // height: auto
  //         visibility: visible
  //         transition: 0.3s