.select2-container {
    .select2-selection {
        border-radius: @box-border-radius;
    }
    .select2-selection--multiple .select2-selection__choice {
        border-radius: @box-border-radius;
    }
}