@import (reference) "../../bootstrap/less/_variables.less";

@box-padding: 5px;
@box-border-radius: 0;
@navbar-height: 30px;
@btn-border-radius: 0;

//content with sidebar
@sidebar-default: 215px;
@sidebar-lg: 265px;