.support-backend {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin: -15px -5px;
    & &-requests {
        flex-shrink: 0;
        width: 300px;
        margin-bottom: 0;
        margin-right: 5px;
        overflow-y: scroll;
        background: #fff;
    }
    & &-request {
        margin-bottom: 0;
        border-top-width: 1px;
        cursor: pointer;
        .request-message {
            max-height: 203px;
            overflow: hidden;
            margin: 5px 0;
        }
        p {
            margin: 0;
            font-size: 0.8em;
        }
    }
    & &-chat {
        margin: 0;
        padding: 5px;
    }
    & &-chat-info {
        padding-bottom: 10px;
        p {
            margin: 0;
            font-size: .8em;
        }
        .time {
            float: left;
            margin-right: 10px;
        }
    }
    & &-chat-list {
        height: 700px;
        overflow-y: scroll;
        border: 1px solid #CCC;
    }
    & &-message {
        padding: 0;
        .box-header {
            font-size: 0.8em;
            border-bottom: 1px solid #CCC;
            .time {
                float: left;
                margin-right: 10px;
            }
        }
        .message-text {
            white-space: pre-line;
        }
        .message-files {
            padding: 2px;
            border-top: 1px solid #CCC;
            .message-file {
                margin: 2px;
            }
        }
        &:last-child {
            margin-bottom: 0;
            border-bottom: 0;
        }
    }
    &-form {
        padding-top: 5px;
    }
}