<template>
    <div class="game-view">
        <div class="game-view-title">
            <div class="game-view-title-left">
                <router-link :to="{name: (this.isLived ? 'live/sport' : 'line/sport'), params:{sports_id: info.sports_id}}">{{ sport.title || '' }} / </router-link>
                <router-link :to="{name: (this.isLived ? 'live/tournament' : 'line/tournament'), params:{tournament_id: info.tournament_id}}">{{ info.tournament_title || '' }}</router-link>
                <br>
                {{ info.title }}            
            </div>  
        </div>
        <div class="game_content_top" :class="{with_video : showVideo}">
            <div ref="videoContainer" class="video_container" style="overflow: hidden;">
                <object id="BridgeMovie" ref="videoPlayer" type="application/x-shockwave-flash" data="/static/player.swf">
                    <param name="menu" value="false">
                    <param name="wmode" value="opaque">
                    <param name="allowFullScreen" value="true">
                    <param name="AllowScriptAccess" value="always">
                    <param name="flashvars" :value="playerLink">                    
                </object>
                <div class="without_reg" v-if="!userLoggedIn">
                    <div class="btns_wrap">
                        <a href="/user/auth/login" class="ui-radius-button log-in" data-toggle="modal" data-target="#loginPopup">{{ $t('Log In')}}</a>
                        <a href="/user/auth/register" class="ui-radius-button">{{ $t('Registration') }}</a>
                    </div>
                </div>
            </div>
            <div class="game-view-stats" v-if="this.info.is_finished" :style="setBg(info.sports_id)">
                <div class="game-view-stats-top">
                    <div ref="nameLeft" class="team_name team_name_left" :style="nameHeight !== '' ? `height: ${nameHeight}` : 'height: auto'">
                        <span class="name_left">{{ participants[0].name }}</span>       
                        <div class="team_img img_left" :style="participants[0].image === '' ? 'background-image: url(/static/img/un.png)' : `background-image: url(${participants[0].image})`"></div>
                    </div>
                    <div class="game_stats_center">
                        <div class="game-view-duration">
                            <span class="finished">
                                {{ $t('Game is finished') }}
                            </span>
                        </div> 
                        <div class="game-view-result">{{ results }}</div>
                        <div class="result_table_wrap" :class="Object.keys(resultExtended).length > 6 ? 'table_list' : ''">
                            <table class="result_table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th v-for="(stat, title) in resultExtended" :key="title" v-html="title"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="team_table_icon" :style="participants[0].image === '' ? 'background-image: url(/static/img/un.png)' : `background-image: url(${participants[0].image})`"></div>
                                        </td>
                                        <td v-for="(stat, title) in resultExtended" :key="title">
                                            <span class="mobile_name" v-html="title"></span>
                                            {{ stat[0] }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="team_table_icon" :style="participants[1].image === '' ? 'background-image: url(/static/img/un2.png)' : `background-image: url(${participants[1].image})`"></div>
                                        </td>
                                        <td v-for="(stat, title) in resultExtended" :key="title">
                                            <span class="mobile_name" v-html="title"></span>
                                            {{ stat[1] }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div ref="nameRight" class="team_name team_name_right" :style="nameHeight !== '' ? `height: ${nameHeight}` : 'height: auto'">
                        <div class="team_img img_right" :style="participants[1].image === '' ? 'background-image: url(/static/img/un2.png)' : `background-image: url(${participants[1].image})`"></div>
                        <span class="name_right">{{ participants[1].name }}</span>  
                    </div>
                </div>
            </div>
            <div class="game-view-stats" v-if="visible" :style="setBg(info.sports_id)">
                <div class="game-view-stats-top" :class="{not_live: !isLived}">
                    <div ref="nameLeft" class="team_name team_name_left" :style="nameHeight !== '' ? `height: ${nameHeight}` : 'height: auto'">
                        <span class="name_left">{{ participants[0].name }}</span>                
                        <div class="team_img img_left" :style="participants[0].image === '' ? 'background-image: url(/static/img/un.png)' : `background-image: url(${participants[0].image})`"></div>
                    </div>
                    <div class="game_stats_center">
                        <div class="game-view-duration">
                            <p v-if="isLived">{{ $t('Match time') }}</p>
                            <p v-if="!isLived">{{ $t('The game will begin') }}</p>
                            <span v-if="isRunning && isLived">{{ durationFormatted }}</span>
                            <p v-if="!isLived">
                                {{ startDate }}  {{ startTime }}
                            </p>
                            <span v-if="!isRunning">{{ $t('Pause') }}</span>
                            <p v-if="info.gamePeriod">{{info.gamePeriod}}</p>  
                            <p v-if="!info.gamePeriod && isLived">{{period}}</p>
                        </div> 
                        <div class="game-view-result" v-if="isLived">{{ results }}</div>
                        <div class="result_table_wrap" v-if="isLived" :class="Object.keys(resultExtended).length > 6 ? 'table_list' : ''">
                            <table class="result_table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th v-for="(stat, title) in resultExtended" :key="title" v-html="title"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="team_table_icon" :style="participants[0].image === '' ? 'background-image: url(/static/img/un.png)' : `background-image: url(${participants[0].image})`"></div>
                                        </td>
                                        <td v-for="(stat, title) in resultExtended" :key="title">
                                            <span class="mobile_name" v-html="title"></span>
                                            {{ stat[0] }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="team_table_icon" :style="participants[1].image === '' ? 'background-image: url(/static/img/un2.png)' : `background-image: url(${participants[1].image})`"></div>
                                        </td>
                                        <td v-for="(stat, title) in resultExtended" :key="title">
                                            <span class="mobile_name" v-html="title"></span>
                                            {{ stat[1] }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div ref="nameRight" class="team_name team_name_right" :style="nameHeight !== '' ? `height: ${nameHeight}` : 'height: auto'">
                        <div class="team_img img_right" :style="participants[1].image === '' ? 'background-image: url(/static/img/un2.png)' : `background-image: url(${participants[1].image})`"></div>
                        <span  class="name_right">{{ participants[1].name }}</span>               
                    </div>
                </div>
            </div>
        </div>

        <div class="game-view-groups" v-if="visible">
            <div class="view-groups-left">
                <div class="scroll_arrow_left">
                    <i class="fas fa-chevron-left"></i>
                </div>
                <!-- <div class="view_btn mob_show">
                    <button class="show_video_btn" :class="{active : showVideo}" @click="toggleVideo" v-if="videoExists"></button>
                </div>   -->
                <vue-custom-scrollbar class="scroll_tabs" :settings="settings">
                    <ul class="game-tabs-wrap">
                        <li v-for="(item, index) in groups" :key="index" class="game-tab-item" :class="{ 'active-game-tab': currentGroup === item.id }" @click="setTab(item.id)">
                            {{ item.title }}
                        </li>
                    </ul> 
                </vue-custom-scrollbar>
                <div class="scroll_arrow_right">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div> 

            <div class="view-groups-right" :class="{showSearch: searchShowed}">
                <div class="game-search-wrap">
                    <div class="show_search_btn" @click="showSearch">
                        <i class="fas fa-search"></i>
                    </div>
                    <input type="text" v-model="search">
                    <span class="game-search-reset">
                        <i class="fas fa-times" @click="clearSearch"></i>
                    </span>                
                </div>
                <button class="clone_video" v-if="showVideo && videoExists" @click="videoToSidebar"></button>
                <div class="view_btn mob_hide">
                    <button class="show_video_btn" :class="{active : showVideo}" @click="toggleVideo" v-if="videoExists"></button>
                </div>  
                <button class="temp_change temp_change1" :class="{ 'active': columns === 'col1' }" @click="setColumns('col1')" v-if="(markets.length ? markets.length >= 2 : true) && (markets.leftSide ? (markets.leftSide.length + markets.rightSide.length >= 2) : true) ">
                </button>
                <button class="temp_change temp_change2" :class="{ 'active': columns === 'col2' }" @click="setColumns('col2')" v-if="(markets.length ? markets.length >= 2 : true) && (markets.leftSide ? (markets.leftSide.length + markets.rightSide.length >= 2) : true) ">
                </button>
                <button class="temp_change temp_change3" :class="{ 'active': columns === 'col3' }" @click="setColumns('col3')" 
                v-if="(markets.length ? markets.length >= 5 : true) 
                && (markets.leftSide ? (markets.leftSide.length + markets.rightSide.length >= 5) : true) 
                && (markets.center ? (markets.left.length + markets.center.length + markets.right.length >= 5) : true)">
                </button>
            </div>      
        </div>
        <div class="ui-game-show-content" :class="columns" v-if="visible && columns==='col1'">            
            <market v-for="market in markets" :key="market.id" :market="market"></market>
        </div>
        <div class="ui-game-show-content" :class="columns" v-if="visible && columns==='col2'">    
            <div class="column">
                <market v-for="market in markets.leftSide" :key="market.id" :market="market"></market>
            </div>
            <div class="column">
                <market v-for="market in markets.rightSide" :key="market.id" :market="market"></market>
            </div>          
        </div>
        <div class="ui-game-show-content" :class="columns" v-if="visible && columns==='col3'">    
            <div class="column">
                <market v-for="market in markets.left" :key="market.id" :market="market"></market>
            </div>
            <div class="column">
                <market v-for="market in markets.center" :key="market.id" :market="market"></market>
            </div>
            <div class="column">
                <market v-for="market in markets.right" :key="market.id" :market="market"></market>
            </div>          
        </div>
    </div>
</template>
<script>
    import Vue from 'vue';

    import {games, gamesMixin} from 'backend/games';
    import {cartAddMixin} from "backend/bets";
    import {connection, subscribe, unsubscribe} from "backend/socket";
    import market from "components/game/game-market.vue";
    import vueCustomScrollbar from 'vue-custom-scrollbar';

    export default Vue.component('container-game', {
        mixins: [cartAddMixin, gamesMixin],
        components: {market, vueCustomScrollbar},
        data: function() {
            return {
                currentGroup: null,
                info: {},
                marketsList: [],
                groupsList: [],
                outcomesList: [],
                search: null,
                duration: 0,
                columns: 'col1',
                showVideo: false,
                extends_res: {},
                participants: [],
                nameHeight: '',
                timer: '',
                period: '',
                isRunning: true,
                index: null,
                indexPage: null,
                startDate: '',
                startTime: '',
                isLived: true,
                searchShowed: false,
                settings: {
                    suppressScrollY: true,
                    maxScrollbarLength: 100,
                    swicher: true,
                    handlers: ['drag-thumb', 'keyboard', 'wheel', 'touch']
                },
                extendedResultsMap: {
                    'Yellow cards': '<img src="/static/img/carts/yellow_cards.png" />',
                    'Red cards': '<img src="/static/img/carts/red_cards.png" />',
                    'Penalties': '<img src="/static/img/carts/penalties.png" />',
                    'Corners': '<img src="/static/img/carts/corners.png" />',
                },
            };
        },
        computed: {
            visible() {                               
                return !this.info.is_finished && this.info.is_enabled && !this.info.is_hidden && !this.info.is_banned;
            },
            durationFormatted() {
                if(this.duration < 0 || this.duration === null) {
                    return '00:00';
                } else if(this.info.is_finished) {
                    return '';
                }
                let left = (this.duration / 60).toString().padStart(2, '0').split(".");
                return left[0] + ':' + (this.duration % 60).toString().padStart(2, '0');
                
            },
            results() {             
                return this.info.result;
            },
            resultExtended () {
                const results = {};
                Object.keys(this.extends_res).forEach((key) => {
                    const value = this.extends_res[key];
                    if(this.extendedResultsMap.hasOwnProperty(key)) {
                        results[this.extendedResultsMap[key]] = value;
                    } else if(this.$te(key)) {
                        results[this.$t(key)] = value;
                    } else {
                        results[key] = value;
                    }
                });
                return results;
            },
            sport() {
                return this.sports.find(item => item.id === this.info.sports_id) || {};
            },
            outcomes() {
                return this.outcomesList.filter(item => {
                    return item.is_enabled && !item.is_finished && !item.is_banned && !item.is_hidden;
                });
            },
            markets() {
                let markets = this.marketsList.filter(item => item.group_id === this.currentGroup).map(item => {
                    return {
                        id: item.id,
                        title: item.title,
                        outcomes: this.outcomes.filter(outcome => outcome.market_id === item.id),
                        group_id: item.group_id,
                        sort_order: item.sort_order,
                    };
                }).filter(item => item.outcomes.length > 0);
                if(this.search && this.search.length > 0){
                    markets = markets.reduce((a, e, i) => {
                        if((e.title.toLowerCase()).includes(this.search.toLowerCase())) {
                            a.push(e);
                        } else {
                            let outcomes = e.outcomes.reduce((array, el) => {
                                if((el.title.toLowerCase()).includes(this.search.toLowerCase())) {
                                    array.push(el);
                                }
                                return array;
                            }, []);
                            if(outcomes.length > 0){
                                a.push({
                                    outcomes,
                                    id: e.id,
                                    title: e.title
                                })
                            }
                        }
                        return a;
                    }, []);
                }

                if(this.columns === 'col3') {
                    let array = markets;
                    let half_length = Math.ceil(array.length / 3);
                    let left = array.splice(0,half_length);
                    let center = array.splice(0 ,(markets.length % half_length === 0 ? half_length : half_length - 1));
                    let right = array.splice(0 ,(markets.length % half_length === 0 ? half_length : half_length - 1));  
                    markets = {left, center, right};           
                    return markets;
                } else if(this.columns === 'col2') {
                    let array = markets;
                    let half_length = Math.ceil(array.length / 2);
                    let leftSide = array.slice(0,half_length);
                    let rightSide = array.slice(half_length);            
                    markets = {leftSide, rightSide};
                    return markets;
                } else {
                    return markets.sort((a, b) => {
                        return b.sort_order - a.sort_order;
                    });
                }

                
            },
            groups() {
                return this.groupsList.filter(group => {
                    return this.marketsList.some(item => {
                        return (group.id === item.group_id) && this.outcomes.some(outcome => outcome.market_id === item.id);
                    });
                });
            },
            userLoggedIn() { 
                return !!window.socketGameParams.loggedIn;
            },
            videoExists() {                
                return !!this.info.video_link;
            },
            playerLink() {
                return 'userID=null&videoID=' + this.info.video_link + '&matchName= &ref=8';
            },
            
        },
        methods: {
            setTab(index){
                this.currentGroup = index;
                this.columns = "col1";
            },
            clearSearch(){
                // this.search = null;
                this.searchShowed = false;
            },
            showSearch(){
                this.searchShowed = true;
            },
            setData: function setData(game, target) {
                if(!!target.info.id) {
                    unsubscribe(target.info.id);
                }
                target.info = {
                    id: game.id,
                    sports_id: game.sports_id || null,
                    tournament_id: game.tournament_id || null,
                    tournament_title: game.tournament_title || '',
                    starts_at: game.starts_at || null,
                    is_finished: game.is_finished || false,
                    is_hidden: game.is_hidden || false,
                    is_banned: game.is_banned || false,
                    is_enabled: game.is_enabled || false,
                    title: game.title || '',
                    result: game.result || '',
                    description: game.description || '',
                    meta_keywords: game.meta_keywords || '',
                    meta_description: game.meta_description || '',
                    video_link: game.video_link
                };
                target.startDate = game.starts_date;
                target.startTime = game.starts_time;
                target.isLived = game.is_live;
                target.extends_res = game.result_extended;
                target.participants = game.participants;
                target.duration = parseInt(game.timer.split(":")[0]) * 60 + parseInt(game.timer.split(":")[1]) || null;
                target.period = game.game_period;
                target.index = game.tournament_id;
                target.indexPage = game.id;

                target.groupsList = game.groups;
                target.marketsList = game.markets;
                target.outcomesList = game.outcomes.map(event => {
                    return Object.assign(event, {
                        change: false
                    })
                });
                target.groupsList.forEach(group => {
                    group.additional.forEach(additional => {
                        let market = target.marketsList.find(item => item.id === additional.market_id);
                        if(market) {
                            target.marketsList.push(Object.assign({}, market, {
                                group_id: group.id,
                                sort_order: additional.sort_order,
                            }));
                        }
                    });

                });
                target.currentGroup = target.groups[0].id || null;
                if(game.video_link){
                    this.$nextTick(() => {
                        target.videoSetAttributes();
                    })
                }
                subscribe(game.id);
            },
            getOutcome(game, outcome) {
                if(this.outcomesList.length === 0 || this.info.id !== +game) {
                    return;
                }
                return this.outcomesList.find(outcomeItem => outcomeItem.id === +outcome);
            },
            videoSetAttributes() {
                const width = this.$refs.videoContainer.offsetWidth;
                this.$refs.videoPlayer.setAttribute('height', width * .75);
                this.$refs.videoPlayer.setAttribute('width', width / 2);
                this.$refs.videoContainer.style.height = `${width * .5}px`;
            },
            setBg(image) { 
                return (image !== undefined) ? {
                    'background-image':`url('/static/img/backgrounds/${image}.jpg')`
                } : {};
            },
            setColumns(col){
                return this.columns = col;
            },
            toggleVideo(){
                this.recalculateNamesHeights();
                $('.id_video_obj').each((id, el) => {
                    if($(el).attr('value') === this.playerLink){
                        $(el).parents('.video_sidebar').hide();
                    }
                });
                return this.showVideo = !this.showVideo;
            },
            recalculateNamesHeights() {
                if(this.$refs.nameLeft.offsetHeight > this.$refs.nameRight.offsetHeight){
                    this.nameHeight = `${this.$refs.nameLeft.offsetHeight}px`;
                } else if(this.$refs.nameLeft.offsetHeight < this.$refs.nameRight.offsetHeight){
                    this.nameHeight = `${this.$refs.nameRight.offsetHeight}px`;
                } else {
                    this.nameHeight = 'auto';
                }
            },
            videoToSidebar() {
                // console.log(this.playerLink);
                // console.log($('#video_sidebar'));
                // $('#video_sidebar').show();
                // $('#urlParam').attr('value', this.playerLink);
                // const el = $('#BridgeMovie2').html();
                // $('#BridgeMovie2').html(el);
                this.toggleVideo();
                // if(window.innerWidth <= 1000){
                //     $('.video_sidebar').show();
                //     $('.id_video_obj').attr('value', this.playerLink);
                //     const el = $('.video_sidebar_content object').html();
                //     $('.video_sidebar_content object').html(el);
                // } else{
                //     }
                $('.video_sidebar_wrap').prepend(`
                    <div class="video_sidebar">
                        <div class="ui-button">
                            <div class="text">
                                <span>${this.$t('Video')}</span>
                            </div>
                            <div class="ui-button-icon icon-close"></div>                
                        </div>
                        <div class="video_sidebar_content">
                            <object type="application/x-shockwave-flash" data="/static/player.swf">
                                <param name="menu" value="false">
                                <param name="wmode" value="opaque">
                                <param name="allowFullScreen" value="true">
                                <param name="AllowScriptAccess" value="always">
                                <param name="flashvars" class="id_video_obj" value="${this.playerLink}">
                            </object>

                            <div class="without_reg without_reg_side hide">
                                <div class="btns_wrap">
                                    <a href="/user/auth/login" class="ui-radius-button log-in" data-toggle="modal" data-target="#loginPopup">${this.$t('Registration')}</a>
                                    <a href="/user/auth/register" class="ui-radius-button">${this.$t('Log In')}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                `);                    
                $('.icon-close').click(function () {            
                    $(this).parent('.ui-button').parent('.video_sidebar').remove();
                });
            }
        },
        created: function() {
            connection.on('or', (data) => {
                const outcome = this.getOutcome(data.g, data.o);
                if(outcome) {
                    outcome.rate = data.r;
                    if(outcome.rate < data.r) {
                        outcome.change = 'change-coeff-active-up';
                    } else if(result.rate > data.r) {
                        outcome.change = 'change-coeff-active-down';
                    } else {
                        outcome.change = '';
                    }
                }
            });
            connection.on('os', (data) => {
                // status
            });
            connection.on('oisb', (data) => {
                const outcome = this.getOutcome(data.g, data.o);
                if(outcome) {
                    outcome.is_banned = !!data.is;
                }
            });
            connection.on('oise', (data) => {
                const outcome = this.getOutcome(data.g, data.o);
                if(outcome) {
                    outcome.is_enabled = !!data.is;
                }
            });
            connection.on('oish', (data) => {
                const outcome = this.getOutcome(data.g, data.o);
                if(outcome) {
                    outcome.is_hidden = !!data.is;
                }
            });
            connection.on('oisf', (data) => {
                const outcome = this.getOutcome(data.g, data.o);
                if(outcome) {
                    outcome.is_finished = !!data.is;
                }
            });
            connection.on('gres', (data) => {
                if(data.g === this.info.id) {
                    console.log('gres', data);                    
                    this.info.result = data.rs;
                    this.extends_res = data.re;
                    if (data.gp !== undefined) this.info.gamePeriod = data.gp;
                }
            });
            connection.on('gstats', (data) => {
                console.log('gstats', data, data.g, this.info.id, data.g === this.info.id);
                if(data.g === this.info.id) {
                    if (data.f !== undefined) this.info.is_finished = !!data.f;
                    if (data.e !== undefined) this.info.is_enabled = !!data.e;
                    if (data.h !== undefined) this.info.is_hidden = !!data.h;
                    if (data.b !== undefined) this.info.is_banned = !!data.b;
                }
            });
            connection.on('gtimer', (data) => {
                if(data.g !== this.info.id) {
                    return;
                }
                if (data.t !== undefined) {
                    const timer = data.t;
                    this.duration = parseInt(timer.split(":")[0]) * 60 + parseInt(timer.split(":")[1]) || null;
                }
                if (data.r !== undefined) this.isRunning = !!data.r;
            });            
            setTimeout(() => {
                jQuery('html, body').animate({
                    scrollTop: jQuery("body").offset().top
                }, 1000)
            }, 300);
        },
        beforeDestroy: function() {
            unsubscribe(this.info.id);
            if(window.innerWidth <= 550) {
                document.getElementById('mob_banner').classList.add("banner_showed");
            }
        },
        mounted() {
            // if(window.innerWidth <= 1000){
            //         this.settings.swicher = false;
            // } else {
            //     this.settings.swicher = true;
            // }
            document.getElementById('mob_banner').style.display = "none";
            document.getElementById('mob_banner').classList.remove("banner_showed");
            window.addEventListener('resize', () => {
                setTimeout(() => {
                    this.recalculateNamesHeights();
                }, 50);
                this.videoSetAttributes();
            });
            setTimeout(() => {
                this.recalculateNamesHeights();
            }, 50);
            clearInterval(this.durationInterval);
            this.durationInterval = setInterval(() => {
                if(!this.isRunning) {
                    return;
                }
                this.duration++;
            }, 1000);
        },
        beforeRouteEnter(to, from, next) {
            games.loadGame(to.params.id).then((game) => {
                next(vm => {
                    vm.columns = 'col1';
                    vm.setData(game, vm);
                });
            }).catch((err) => {
                next(err);
            });
            if(jQuery(window).width() < 1000) {
                 jQuery('.bacground-content').slideUp(300, () => {
                     jQuery('.button-content').removeClass('button-active');
                 });
            }
        },
        beforeRouteUpdate(to, from, next) { 
            this.showVideo = false;          
            games.loadGame(to.params.id).then((game) => {
                this.setData(game, this);
                this.columns = 'col1';
                next();
            }).catch((err) => {
                next(err);
            });
            if(jQuery(window).width() < 1000){
                 jQuery('.bacground-content').slideUp(300, () => {
                     jQuery('.button-content').removeClass('button-active');
                 });
            }
        },
    });
</script>