<template>
    <div class="game-show-content-elements" :class="{closed: !listOpened}">
        <div class="game-user-day-header" @click="toggleList()">
            <span>{{ market.title }}</span>
            <div class="arrow">
                <i class="fas fa-chevron-up"></i>
            </div>
        </div>
        <div class="game-show-for-one-game-coeff" :class="{'row_3': outcomes.length === 3}">
            <a class="coeffComponent" v-for="outcome in outcomes" :key="outcome.id" @click="addToCart(outcome.id)">
                <div class="coeffComponent-first-element">
                    <span>{{ outcome.title }}</span>
                </div>
                <div class="coeffComponent-second-element">
                    <span :class="outcome.change ">{{ setShort(outcome.rate) }}</span>
                </div>
            </a>
        </div>
    </div>
</template>

<script>
    import {cartAddMixin} from "backend/bets";
    export default {
        mixins: [cartAddMixin],
                data: function() {
            return {
                listOpened: true,
            };
        },
        name: "game-market",
        props: ['market'],
        computed: {
            outcomes() {
                return this.market.outcomes.filter(outcome => {
                    return outcome.is_enabled && !outcome.is_finished
                });
            }
        },
        methods:{
            setShort(item){
                if(('' + item).length > 4){
                    return item.toFixed(3);
                }
                return item;
            },
            toggleList(){
                this.listOpened = !this.listOpened;
            }
        }
    }
</script>