<template>
  <div class="ui-one-click-radio">
    <div class="radio-text">One-click</div>
    <div class="radio-content">
        <!-- <div class="radio-content-text">{{title}}</div> -->
        <input type="text" class="radio-content-text" :value="title" :disabled="!radio" ref="input">
        <div class="radio-content-value">
            <div class="radio-false" @click="radioSet(false)"></div>
            <div class="radio-true" @click="radioSet(true)"></div>
            <div class="radio-icon" :class="radio ? 'radio-icon-active' : 'radio-icon-default'" ref="radio"></div>
        </div>
    </div>
</div>
</template>

<script>
export default {
  props: ['title'],
  data() {
    return {
      radio: false
    }
  },
  methods:{
    radioSet(result){
      this.radio = result;

      if(this.radio === true){
        setTimeout(() => {          
          this.$refs.input.focus();
        }, 0);
      }
    
    }
  },
  watch:{
    radio(){
      // if(this.radio){
      //   this.$refs.radio.classList.remove('radio-icon-default');
      //   this.$refs.radio.classList.add('radio-icon-active');
      // }else{
      //   this.$refs.radio.classList.remove('radio-icon-active');
      //   this.$refs.radio.classList.add('radio-icon-default');
      // }

    }
  }
}
</script>