<template>
  <div class="ui-one-click-set">
    <div class="one-click-live" v-if="showLiveIcon">
      <img src="/static/img/carusel/live.png" alt="">
    </div>
    <div class="carousel_wrap">
      <slick :options="slickOptions" v-if="loading">
        <div class="link_wrap" :class="{active_wrap : $route.path == (showLive ? '/live' : '/line')}">
          <router-link class="list_link all_link" :to="showLive ? '/live' : '/line'">
            <div class="list_icon list_icon_all" style="background-image: url(/static/img/carusel/all_icon_white.png)"></div>          
            {{setLanguage}}
          </router-link>
        </div>
        <div class="link_wrap" v-for="item in getList" :key="item.id">
          <router-link class="list_link" :class="{active : item.id==$route.params.sports_id}" :to="{name: (showLive ? 'live/sport' : 'line/sport'), params:{sports_id: item.id}}">
            <div class="list_icon" :style="setIcon(item.image)"></div>
            {{item.title}}
          </router-link>
        </div>
      </slick>
    </div>
    <ui-one-click-radio :title="title"></ui-one-click-radio>
</div>
</template>

<script>
import {games} from 'backend/games';
import uiOneClickRadio from "components/game/ui-one-click-radio.vue";
import Slick from 'vue-slick';

export default {

  props: {
    title: {
      type: Number,
      default: ""
    },
    sportsList: {
      type: Array,
      default: [],            
    },
    showLive: {
      type: Boolean,
      default: false
    },
    showLiveIcon: {
      type: Boolean,
      default: true
    }
  },

  components: {
    'ui-one-click-radio': uiOneClickRadio,
    Slick 
  },
    data() {
    return{
      loading: false,
      routeId: null,
      slickOptions: {
          slidesToShow: 1,
          infinite: false,
          variableWidth: true,
          // responsive: [
          //   {breakpoint: 1600,settings:{slidesToShow: 4},breakpoint: 768,settings:{slidesToShow: 2}}
          // ],
          touchThreshold: 8
      },
    }
  },
 

  computed: {
    getList(){
      let list = games.sports;

    //  this.routeId = this.$route.params.sports_id;      
      return list;
    },
    setLanguage() {
      const html = document.documentElement.getAttribute("lang")
      if(html == 'ru'){
        return 'Все'
      } else{
        return 'All'
      }
    },
    update(){
      }
  },
  watch: {
    getList() {
      this.loading = false;    
      setTimeout(() => {
        return this.loading = true;        
      }, 300);  
    }
  },
  mounted(){
    this.loading = false;    
    setTimeout(() => {
      return this.loading = true;        
    }, 300);    
  },
   methods: {
    setIcon(image) {
        return (image !== null) ? {
            'background-image':`url('/uploads/games/${image}')`
        } : {};
    },
  },
}
</script>