/* common */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}
/* ./common */

.select2-container--krajee .select2-selection--single {
    padding: 9px 24px 6px 12px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 0px !important;
}

#pre-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index:10000;
    display: none;
}

#pre-loader .spinner {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 25%;
    right: calc(50% - 25px);
    background-size: contain;
    background-image: url("/static/images/spinner.gif");
}

/* breadcrumbs-game */

ul#breadcrumbs-game{
    margin: 0;
    padding: 0;
    list-style: none;
}
#breadcrumbs-game{
    background: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #f5f5f5 #e5e5e5 #ccc;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    overflow: hidden;
    width: 100%;
}

#breadcrumbs-game li{
    float: left;
}

#breadcrumbs-game a{
    padding-left: 22px;
    float: left;
    text-decoration: none;
    /*color: #444;*/
    position: relative;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    background-color: #ddd;
    background-image: linear-gradient(to right, #fff, #ecf0f5);
}

#breadcrumbs-game a .title-box{
    line-height: 30px;
    max-width: 200px;
    min-width: 140px;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    height: 30px;
    position:relative;
    float: left;
}

#breadcrumbs-game .title-box::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(236, 240, 245) 100%);
}

#breadcrumbs-game .title-box .title{
    color: #d90000;
}

#breadcrumbs-game .title-box:hover::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
}

#breadcrumbs-game a .two-rows{
    line-height: 14px;
}

#breadcrumbs-game li:first-child a{
    padding-left: 1em;
    border-radius: 5px 0 0 5px;
}

#breadcrumbs-game a:hover {
    background: #fff;
}

#breadcrumbs-game a:hover:after{
    border-left-color: #fff;
}

#breadcrumbs-game a:hover span.title-box:after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
}

#breadcrumbs-game a:hover #breadcrumbs-game .title-box{
    background: red;
}

#breadcrumbs-game a:after,
#breadcrumbs-game a:before{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid;
    right: -1em;
}

#breadcrumbs-game a::after{
    z-index: 2;
    border-left-color: #ecf0f5;
}

#breadcrumbs-game a::before{
    border-left-color: #ccc;
    right: -1.1em;
    z-index: 1;
}

#breadcrumbs-game .current,
#breadcrumbs-game .current:hover{
    line-height: 30px;
    overflow: hidden;
    font-weight: bold;
    background: none;
}

#breadcrumbs-game .current::after,
#breadcrumbs-game .current::before{
    content: normal;
}
/* ./breadcrumbs-game */

/* blink for button */
a.blink {
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    animation-duration: 2s;
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    -webkit-animation-duration: 2s;
    font-size: 19px;
    padding: 1px 10px !important;
    margin-left: 3px;
}

@keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.6; }
}

@-webkit-keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.6; }
}

/* View:(group) Game Markets Groups */
.game-markets-groups #market-list ul,
.game-markets-groups #selected-market-list ul{
    margin: 0;
    padding: 0;

}
.game-markets-groups #market-list ul li,
.game-markets-groups #selected-market-list ul li
{
    list-style: none;
    border: 1px solid #999999;
    border-radius: 3px;
    padding: 4px;
    margin: 1px 0 0 0;
}

.game-markets-groups #selected-market-list ul li{
    cursor: move;
}

.game-markets-groups #market-list ul li span
{
    float: right;
    border-radius: 3px;
    background-color: #f39c12;
    border-color: #e08e0b;
    color: #fff;
    padding: 3px 9px;
    cursor: pointer;
}
.game-markets-groups #selected-market-list ul li span
{
    float: right;
    border-radius: 3px;
    background-color: #f50000;
    border-color: #c40000;
    color: #fff;
    padding: 3px 9px;
    cursor: pointer;
}