.support-backend {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin: -15px -5px; }
  .support-backend .support-backend-requests {
    flex-shrink: 0;
    width: 300px;
    margin-bottom: 0;
    margin-right: 5px;
    overflow-y: scroll;
    background: #fff; }
  .support-backend .support-backend-request {
    margin-bottom: 0;
    border-top-width: 1px;
    cursor: pointer; }
    .support-backend .support-backend-request .request-message {
      max-height: 203px;
      overflow: hidden;
      margin: 5px 0; }
    .support-backend .support-backend-request p {
      margin: 0;
      font-size: 0.8em; }
  .support-backend .support-backend-chat {
    margin: 0;
    padding: 5px; }
  .support-backend .support-backend-chat-info {
    padding-bottom: 10px; }
    .support-backend .support-backend-chat-info p {
      margin: 0;
      font-size: .8em; }
    .support-backend .support-backend-chat-info .time {
      float: left;
      margin-right: 10px; }
  .support-backend .support-backend-chat-list {
    height: 700px;
    overflow-y: scroll;
    border: 1px solid #CCC; }
  .support-backend .support-backend-message {
    padding: 0; }
    .support-backend .support-backend-message .box-header {
      font-size: 0.8em;
      border-bottom: 1px solid #CCC; }
      .support-backend .support-backend-message .box-header .time {
        float: left;
        margin-right: 10px; }
    .support-backend .support-backend-message .message-text {
      white-space: pre-line; }
    .support-backend .support-backend-message .message-files {
      padding: 2px;
      border-top: 1px solid #CCC; }
      .support-backend .support-backend-message .message-files .message-file {
        margin: 2px; }
    .support-backend .support-backend-message:last-child {
      margin-bottom: 0;
      border-bottom: 0; }
  .support-backend-form {
    padding-top: 5px; }

