.content-copy {
  cursor: pointer; }

.checkbox label {
  color: #ffffff !important; }

.profile-heading {
  color: #fff;
  font-size: 1.4em;
  max-width: 1100px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px; }

.profile-content {
  max-width: 1100px;
  margin: auto;
  margin-bottom: 10px; }

/**
 * @license Highcharts
 *
 * (c) 2009-2016 Torstein Honsi
 *
 * License: www.highcharts.com/license
 */
.highcharts-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: left;
  line-height: normal;
  z-index: 0;
  /* #1072 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  font-size: 12px; }

.highcharts-root {
  display: block; }

.highcharts-root text {
  stroke-width: 0; }

.highcharts-strong {
  font-weight: bold; }

.highcharts-emphasized {
  font-style: italic; }

.highcharts-anchor {
  cursor: pointer; }

.highcharts-background {
  fill: #2F2F2F; }

.highcharts-plot-border, .highcharts-plot-background {
  fill: none; }

.highcharts-label-box {
  fill: none; }

.highcharts-button-box {
  fill: inherit; }

.highcharts-tracker-line {
  stroke-linejoin: round;
  stroke: rgba(192, 192, 192, 0.0001);
  stroke-width: 22;
  fill: none; }

.highcharts-tracker-area {
  fill: rgba(192, 192, 192, 0.0001);
  stroke-width: 0; }

/* Titles */
.highcharts-title {
  fill: #E0E0E3;
  font-size: 20px; }

.highcharts-subtitle {
  fill: #E0E0E3; }

/* Axes */
.highcharts-axis-line {
  fill: none;
  stroke: #707073; }

.highcharts-yaxis .highcharts-axis-line {
  stroke-width: 0; }

.highcharts-axis-title {
  fill: #E0E0E3; }

.highcharts-axis-labels {
  fill: #E0E0E3;
  cursor: default;
  font-size: 0.9em; }

.highcharts-grid-line {
  fill: none;
  stroke: #707073; }

.highcharts-xaxis-grid .highcharts-grid-line {
  stroke-width: 0px; }

.highcharts-tick {
  stroke: #707073; }

.highcharts-yaxis .highcharts-tick {
  stroke-width: 0; }

.highcharts-minor-grid-line {
  stroke: #505053; }

.highcharts-crosshair-thin {
  stroke-width: 1px;
  stroke: #606063; }

.highcharts-crosshair-category {
  stroke: #707073;
  stroke-opacity: 0.25; }

/* Credits */
.highcharts-credits {
  cursor: pointer;
  fill: #666;
  font-size: 0.7em;
  transition: fill 250ms, font-size 250ms; }

.highcharts-credits:hover {
  fill: black;
  font-size: 1em; }

/* Tooltip */
.highcharts-tooltip {
  cursor: default;
  pointer-events: none;
  white-space: nowrap;
  transition: stroke 150ms; }

.highcharts-tooltip text {
  fill: #E0E0E3; }

.highcharts-tooltip .highcharts-header {
  font-size: 0.85em; }

.highcharts-tooltip-box {
  stroke-width: 1px;
  fill: #2F2F2F;
  fill-opacity: 0.85; }

.highcharts-tooltip-box .highcharts-label-box {
  fill: #2F2F2F;
  fill-opacity: 0.85; }

div.highcharts-tooltip {
  filter: none; }

.highcharts-selection-marker {
  fill: #335cad;
  fill-opacity: 0.25; }

.highcharts-graph {
  fill: none;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round; }

.highcharts-state-hover .highcharts-graph {
  stroke-width: 3; }

.highcharts-point-inactive {
  opacity: 0.2;
  transition: opacity 50ms;
  /* quick in */ }

.highcharts-series-inactive {
  opacity: 0.2;
  transition: opacity 50ms;
  /* quick in */ }

.highcharts-state-hover path {
  transition: stroke-width 50ms;
  /* quick in */ }

.highcharts-state-normal path {
  transition: stroke-width 250ms;
  /* slow out */ }

/* Legend hover affects points and series */
g.highcharts-series,
.highcharts-point,
.highcharts-markers,
.highcharts-data-labels {
  transition: opacity 250ms; }

.highcharts-legend-series-active g.highcharts-series:not(.highcharts-series-hover),
.highcharts-legend-point-active .highcharts-point:not(.highcharts-point-hover),
.highcharts-legend-series-active .highcharts-markers:not(.highcharts-series-hover),
.highcharts-legend-series-active .highcharts-data-labels:not(.highcharts-series-hover) {
  opacity: 0.2; }

/* Series options */
/* Default colors */
.highcharts-color-0 {
  fill: #FE7652;
  stroke: #FE7652; }

.highcharts-color-1 {
  fill: #FEFF90;
  stroke: #FEFF90; }

.highcharts-color-2 {
  fill: #FEC049;
  stroke: #FEC049; }

.highcharts-color-3 {
  fill: #83FFFF;
  stroke: #83FFFF; }

.highcharts-color-4 {
  fill: #FEFF8F;
  stroke: #FEFF8F; }

.highcharts-color-5 {
  fill: #3257FE;
  stroke: #3257FE; }

.highcharts-color-6 {
  fill: #eeaaee;
  stroke: #eeaaee; }

.highcharts-color-7 {
  fill: #55BF3B;
  stroke: #55BF3B; }

.highcharts-color-8 {
  fill: #DF5353;
  stroke: #DF5353; }

.highcharts-color-9 {
  fill: #7798BF;
  stroke: #7798BF; }

.highcharts-color-10 {
  fill: #aaeeee;
  stroke: #aaeeee; }

.highcharts-area {
  fill-opacity: 0.75;
  stroke-width: 0; }

.highcharts-markers {
  stroke-width: 1px;
  stroke: #2F2F2F; }

.highcharts-point {
  stroke-width: 1px; }

.highcharts-dense-data .highcharts-point {
  stroke-width: 0; }

.highcharts-data-label {
  font-size: 0.9em;
  font-weight: bold; }

.highcharts-data-label-box {
  fill: none;
  stroke-width: 0; }

.highcharts-data-label text, text.highcharts-data-label {
  fill: #B0B0B3; }

.highcharts-data-label-connector {
  fill: none; }

.highcharts-halo {
  fill-opacity: 0.25;
  stroke-width: 0; }

.highcharts-series:not(.highcharts-pie-series) .highcharts-point-select,
.highcharts-markers .highcharts-point-select {
  fill: #606063;
  stroke: #fff; }

.highcharts-column-series rect.highcharts-point {
  stroke: #2F2F2F; }

.highcharts-column-series .highcharts-point {
  transition: fill-opacity 250ms; }

.highcharts-column-series .highcharts-point-hover {
  fill-opacity: 0.75;
  transition: fill-opacity 50ms; }

.highcharts-pie-series .highcharts-point {
  stroke-linejoin: round;
  stroke: #2F2F2F; }

.highcharts-pie-series .highcharts-point-hover {
  fill-opacity: 0.75;
  transition: fill-opacity 50ms; }

.highcharts-funnel-series .highcharts-point {
  stroke-linejoin: round;
  stroke: #2F2F2F; }

.highcharts-funnel-series .highcharts-point-hover {
  fill-opacity: 0.75;
  transition: fill-opacity 50ms; }

.highcharts-funnel-series .highcharts-point-select {
  fill: inherit;
  stroke: inherit; }

.highcharts-pyramid-series .highcharts-point {
  stroke-linejoin: round;
  stroke: #2F2F2F; }

.highcharts-pyramid-series .highcharts-point-hover {
  fill-opacity: 0.75;
  transition: fill-opacity 50ms; }

.highcharts-pyramid-series .highcharts-point-select {
  fill: inherit;
  stroke: inherit; }

.highcharts-solidgauge-series .highcharts-point {
  stroke-width: 0; }

.highcharts-treemap-series .highcharts-point {
  stroke-width: 1px;
  stroke: #707073;
  transition: stroke 250ms, fill 250ms, fill-opacity 250ms; }

.highcharts-treemap-series .highcharts-point-hover {
  stroke: #666;
  transition: stroke 25ms, fill 25ms, fill-opacity 25ms; }

.highcharts-treemap-series .highcharts-above-level {
  display: none; }

.highcharts-treemap-series .highcharts-internal-node {
  fill: none; }

.highcharts-treemap-series .highcharts-internal-node-interactive {
  fill-opacity: 0.15;
  cursor: pointer; }

.highcharts-treemap-series .highcharts-internal-node-interactive:hover {
  fill-opacity: 0.75; }

.highcharts-vector-series .highcharts-point {
  fill: none;
  stroke-width: 2px; }

.highcharts-windbarb-series .highcharts-point {
  fill: none;
  stroke-width: 2px; }

/* Legend */
.highcharts-legend-box {
  fill: none;
  stroke-width: 0; }

.highcharts-legend-item > text {
  fill: #E0E0E3;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  stroke-width: 0; }

.highcharts-legend-item:hover text {
  fill: #fff; }

.highcharts-legend-item-hidden * {
  fill: #606063 !important;
  stroke: #606063 !important;
  transition: fill 250ms; }

.highcharts-legend-nav-active {
  fill: #F0F0F3;
  cursor: pointer; }

.highcharts-legend-nav-inactive {
  fill: #606063; }

circle.highcharts-legend-nav-active, circle.highcharts-legend-nav-inactive {
  /* tracker */
  fill: rgba(192, 192, 192, 0.0001); }

.highcharts-legend-title-box {
  fill: none;
  stroke-width: 0; }

/* Bubble legend */
.highcharts-bubble-legend-symbol {
  stroke-width: 2;
  fill-opacity: 0.5; }

.highcharts-bubble-legend-connectors {
  stroke-width: 1; }

.highcharts-bubble-legend-labels {
  fill: #E0E0E3; }

/* Loading */
.highcharts-loading {
  position: absolute;
  background-color: #2F2F2F;
  opacity: 0.5;
  text-align: center;
  z-index: 10;
  transition: opacity 250ms; }

.highcharts-loading-hidden {
  height: 0 !important;
  opacity: 0;
  overflow: hidden;
  transition: opacity 250ms, height 250ms step-end; }

.highcharts-loading-inner {
  font-weight: bold;
  position: relative;
  top: 45%; }

/* Plot bands and polar pane backgrounds */
.highcharts-plot-band, .highcharts-pane {
  fill: #fff;
  fill-opacity: 0.05; }

.highcharts-plot-line {
  fill: none;
  stroke: #666;
  stroke-width: 1px; }

/* Highcharts More and modules */
.highcharts-boxplot-box {
  fill: #2F2F2F; }

.highcharts-boxplot-median {
  stroke-width: 2px; }

.highcharts-bubble-series .highcharts-point {
  fill-opacity: 0.5; }

.highcharts-errorbar-series .highcharts-point {
  stroke: #fff; }

.highcharts-gauge-series .highcharts-data-label-box {
  stroke: #606063;
  stroke-width: 1px; }

.highcharts-gauge-series .highcharts-dial {
  fill: #fff;
  stroke-width: 0; }

.highcharts-polygon-series .highcharts-graph {
  fill: inherit;
  stroke-width: 0; }

.highcharts-waterfall-series .highcharts-graph {
  stroke: #E0E0E3;
  stroke-dasharray: 1, 3; }

.highcharts-sankey-series .highcharts-point {
  stroke-width: 0; }

.highcharts-sankey-series .highcharts-link {
  transition: fill 250ms, fill-opacity 250ms;
  fill-opacity: 0.5; }

.highcharts-sankey-series .highcharts-point-hover.highcharts-link {
  transition: fill 50ms, fill-opacity 50ms;
  fill-opacity: 1; }

.highcharts-venn-series .highcharts-point {
  fill-opacity: 0.75;
  stroke: #606063;
  transition: stroke 250ms, fill-opacity 250ms; }

.highcharts-venn-series .highcharts-point-hover {
  fill-opacity: 1;
  stroke: #606063; }

/* Highstock */
.highcharts-navigator-mask-outside {
  fill-opacity: 0; }

.highcharts-navigator-mask-inside {
  fill: rgba(255, 255, 255, 0.1);
  /* navigator.maskFill option */
  fill-opacity: 0.25;
  cursor: ew-resize; }

.highcharts-navigator-outline {
  stroke: #606063;
  fill: none; }

.highcharts-navigator-handle {
  stroke: #606063;
  fill: #505053;
  cursor: ew-resize; }

.highcharts-navigator-series {
  fill: #7798BF;
  stroke: #A6C7ED; }

.highcharts-navigator-series .highcharts-graph {
  stroke-width: 1px; }

.highcharts-navigator-series .highcharts-area {
  fill-opacity: 0.05; }

.highcharts-navigator-xaxis .highcharts-axis-line {
  stroke-width: 0; }

.highcharts-navigator-xaxis .highcharts-grid-line {
  stroke-width: 1px;
  stroke: #707073; }

.highcharts-navigator-xaxis.highcharts-axis-labels {
  fill: #666; }

.highcharts-navigator-yaxis .highcharts-grid-line {
  stroke-width: 0; }

.highcharts-scrollbar-thumb {
  fill: #606063;
  stroke: #606063;
  stroke-width: 1px; }

.highcharts-scrollbar-button {
  fill: #707073;
  stroke: #606063;
  stroke-width: 1px; }

.highcharts-scrollbar-arrow {
  fill: #E0E0E3; }

.highcharts-scrollbar-rifles {
  stroke: #E0E0E3;
  stroke-width: 1px; }

.highcharts-scrollbar-track {
  fill: #404043;
  stroke: #404043;
  stroke-width: 1px; }

.highcharts-button {
  fill: #505053;
  stroke: #606063;
  cursor: default;
  stroke-width: 1px;
  transition: fill 250ms; }

.highcharts-button text {
  fill: #fff; }

.highcharts-button-hover {
  transition: fill 0ms;
  fill: #707073;
  stroke: #606063; }

.highcharts-button-hover text {
  fill: #fff; }

.highcharts-button-pressed {
  font-weight: bold;
  fill: #000003;
  stroke: #606063; }

.highcharts-button-pressed text {
  fill: #fff;
  font-weight: bold; }

.highcharts-button-disabled text {
  fill: #fff; }

.highcharts-range-selector-buttons .highcharts-button {
  stroke-width: 0px; }

.highcharts-range-label rect {
  fill: none; }

.highcharts-range-label text {
  fill: #E0E0E3; }

.highcharts-range-input rect {
  fill: none; }

.highcharts-range-input text {
  fill: silver; }

.highcharts-range-input {
  stroke-width: 1px;
  stroke: #505053; }

input.highcharts-range-selector {
  position: absolute;
  border: 0;
  width: 1px;
  /* Chrome needs a pixel to see it */
  height: 1px;
  padding: 0;
  text-align: center;
  left: -9em;
  /* #4798 */ }

.highcharts-crosshair-label text {
  fill: #2F2F2F;
  font-size: 1.1em; }

.highcharts-crosshair-label .highcharts-label-box {
  fill: inherit; }

.highcharts-candlestick-series .highcharts-point {
  stroke: #fff;
  stroke-width: 1px; }

.highcharts-candlestick-series .highcharts-point-up {
  fill: #2F2F2F; }

.highcharts-ohlc-series .highcharts-point-hover {
  stroke-width: 3px; }

.highcharts-flags-series .highcharts-point .highcharts-label-box {
  stroke: #666;
  fill: #2F2F2F;
  transition: fill 250ms; }

.highcharts-flags-series .highcharts-point-hover .highcharts-label-box {
  stroke: #fff;
  fill: #707073; }

.highcharts-flags-series .highcharts-point text {
  fill: #fff;
  font-size: 0.9em;
  font-weight: bold; }

/* Highmaps */
.highcharts-map-series .highcharts-point {
  transition: fill 500ms, fill-opacity 500ms, stroke-width 250ms;
  stroke: #606063; }

.highcharts-map-series .highcharts-point-hover {
  transition: fill 0ms, fill-opacity 0ms;
  fill-opacity: 0.5;
  stroke-width: 2px; }

.highcharts-mapline-series .highcharts-point {
  fill: none; }

.highcharts-heatmap-series .highcharts-point {
  stroke-width: 0; }

.highcharts-map-navigation {
  font-size: 1.3em;
  font-weight: bold;
  text-align: center; }

.highcharts-coloraxis {
  stroke-width: 0; }

.highcharts-coloraxis-marker {
  fill: #666; }

.highcharts-null-point {
  fill: #f7f7f7; }

/* 3d charts */
.highcharts-3d-frame {
  fill: transparent; }

/* Exporting module */
.highcharts-contextbutton {
  fill: #2F2F2F;
  /* needed to capture hover */
  stroke: none;
  stroke-linecap: round; }

.highcharts-contextbutton:hover {
  fill: #707073;
  stroke: #707073; }

.highcharts-button-symbol {
  stroke: #E0E0E3;
  stroke-width: 3px; }

.highcharts-menu {
  border: 1px solid #666;
  background: #2F2F2F;
  padding: 5px 0;
  box-shadow: 3px 3px 10px #888; }

.highcharts-menu-item {
  padding: 0.5em 1em;
  background: none;
  color: #E0E0E3;
  cursor: pointer;
  transition: background 250ms, color 250ms; }

.highcharts-menu-item:hover {
  background: #335cad;
  color: #2F2F2F; }

/* Drilldown module */
.highcharts-drilldown-point {
  cursor: pointer; }

.highcharts-drilldown-data-label text,
text.highcharts-drilldown-data-label,
.highcharts-drilldown-axis-label {
  cursor: pointer;
  fill: #F0F0F3;
  font-weight: bold;
  text-decoration: underline; }

/* No-data module */
.highcharts-no-data text {
  font-weight: bold;
  font-size: 12px;
  fill: #E0E0E3; }

/* Drag-panes module */
.highcharts-axis-resizer {
  cursor: ns-resize;
  stroke: black;
  stroke-width: 2px; }

/* Bullet type series */
.highcharts-bullet-target {
  stroke-width: 0; }

/* Lineargauge type series */
.highcharts-lineargauge-target {
  stroke-width: 1px;
  stroke: #E0E0E3; }

.highcharts-lineargauge-target-line {
  stroke-width: 1px;
  stroke: #E0E0E3; }

/* Annotations module */
.highcharts-annotation-label-box {
  stroke-width: 1px;
  stroke: #fff;
  fill: #fff;
  fill-opacity: 0.75; }

.highcharts-annotation-label text {
  fill: #707073; }

/* Gantt */
.highcharts-treegrid-node-collapsed, .highcharts-treegrid-node-expanded {
  cursor: pointer; }

.highcharts-point-connecting-path {
  fill: none; }

.highcharts-grid-axis .highcharts-tick {
  stroke-width: 1px; }

.highcharts-grid-axis .highcharts-axis-line {
  stroke-width: 1px; }

.highcharts-block {
  padding: 10px 15px;
  border: 1px solid #4B4B4B;
  background: #2F2F2F; }

.highcharts-root text {
  fill: #FFF; }

.highcharts-tooltip-box .highcharts-label-box {
  fill-opacity: 1; }

.highcharts-legend-item > text {
  font-weight: normal; }

.highcharts-legend-item .highcharts-graph {
  stroke-width: 16px;
  stroke-linecap: butt; }

.highcharts-navigator-mask-inside {
  fill: #FFDD60;
  fill-opacity: .4; }

.highcharts-navigator-series {
  fill: #FFDD60;
  stroke: #FFDD60; }

.guest_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2f2f2f; }

.logo_main {
  float: none; }

.guest_menu {
  float: none !important;
  display: flex;
  align-items: stretch;
  font-size: 12px; }

.guest_header_links {
  display: flex;
  align-items: stretch;
  margin-bottom: 0; }
  .guest_header_links li {
    display: flex; }
  .guest_header_links a {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: #828282 !important; }
    .guest_header_links a:hover {
      background-color: #f7f7f7; }

.guest_fearures {
  padding-top: 20px;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap; }

.guest_fearures_item {
  width: calc(33.3% - 2px);
  text-align: center;
  padding: 40px 20px;
  border: 1px solid;
  margin: 1px; }
  .guest_fearures_item .fearures_item_img {
    height: 50px;
    width: 50px;
    margin: auto;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; }
  .guest_fearures_item p {
    font-size: 15px;
    text-transform: uppercase;
    color: #fff; }

.title1 {
  text-align: center;
  color: #d6892f;
  font-size: 30px; }

.guest_reg_wrap {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; }

.guest_reg {
  font-size: 1.8em; }

.guest_container {
  max-width: 1000px;
  margin-bottom: 20px; }

.guest_wrap {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  font-size: 1.3em; }

.tabs_box > div {
  display: none; }

.tabs_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin-bottom: 20px;
  padding-left: 0; }
  .tabs_list li {
    width: 20%;
    padding: 10px 5px;
    background-color: #1c1e1e;
    color: #878787;
    position: relative;
    transition: 0.3s;
    text-align: center;
    cursor: pointer; }
    .tabs_list li::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 4px;
      background: #ff9109;
      background: linear-gradient(90deg, #ff9109 0%, #ffaf32 35%, #ff8900 100%);
      opacity: 0;
      transition: 0.3s; }
    .tabs_list li:hover, .tabs_list li.active {
      color: #ffffff;
      border-bottom: none;
      transition: 0.3s; }
      .tabs_list li:hover::before, .tabs_list li.active::before {
        opacity: 1;
        transition: 0.3s; }

.guest_acc_title {
  font-size: 1.4em;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10px;
  cursor: pointer; }
  .guest_acc_title:hover {
    text-decoration: none; }

.guest_acc_content {
  display: none; }
  .guest_acc_content img {
    max-width: 100%; }

@media screen and (max-width: 1000px) {
  .guest_fearures_item {
    width: calc(50% - 2px); }
  .guest_header * {
    float: none !important; }
  .guest_header .navbar-nav {
    display: flex; }
  .guest_header .logo {
    width: 150px; }
  .guest_header .navbar {
    display: flex;
    justify-content: flex-end; }
  .tabs_list {
    display: block; }
    .tabs_list li {
      width: 100%; } }

@media screen and (max-width: 550px) {
  .open_menu {
    display: block !important;
    width: 30px;
    height: 30px;
    background: url("/static/img/mobile-button-nav.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    margin-right: 10px; }
  .close_menu {
    display: block !important;
    width: 15px;
    height: 15px;
    background: url("/static/img/close.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100; }
  .guest_menu, .guest_header_links, .guest_header .navbar-nav {
    display: block;
    padding-left: 0;
    text-align: center; }
  .guest_header .navbar-static-top {
    position: fixed;
    top: 0;
    right: -10000px;
    z-index: 99;
    transition: 0.3s; }
    .guest_header .navbar-static-top.opened {
      right: 0;
      transition: 0.3s; }
  .guest_menu {
    margin: auto;
    padding-top: 20px; }
    .guest_menu .dropdown-menu {
      right: 50% !important;
      transform: translateX(50%); }
  .guest_header_links li {
    justify-content: center; }
    .guest_header_links li a {
      padding-top: 18px;
      padding-bottom: 18px; } }

