.support {
    &-badge {
        padding: 3px;

    }
}
.support-requests {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    & &-sidebar {
        flex-shrink: 0;
        width: 300px;
        margin-bottom: 0;
        margin-right: 5px;
        background: #fff;
    }
    & &-sidebar-fields {

    }
    & &-sidebar-footer {

    }
    & &-list {
        width: 100%;
        .request {
            text-decoration: none;
            display: block;
            border: 1px solid #CCC;
            margin-bottom: 5px;
            padding: 5px;
        }
    }
}
.support-chat {
    & &-messages {
        width: 100%;
        .message {
            padding: 10px;
            display: flex;
            font-size: 1.5em;
            &:nth-child(2n) {
                background: #f4f6f7;
            }
            .message-header {
                width: 20em;
                font-size: 0.8em;
                display: flex;
                flex-direction: column;
                .message-sender {
                    flex-grow: 1;
                }
                .message-time {
                    float: left;
                    margin-right: 10px;
                }
            }
            .message-text {
                flex: 1;
                white-space: pre-line;
            }
            .message-files {
                .message-file {
                    border: 1px solid #CCC;
                    margin: 5px 5px 0 0;
                }
            }
        }
    }
    & &-info {
        border-bottom: 2px solid #333;
        padding: 0.5em 4em;
        margin-bottom: 10px;
        .support-chat-back {
            color: #7a7a7a;
            font-size: 2em;
            margin-right: 3em;
            margin-left: 10px;
            text-decoration: none;
            i {
                margin-right: 0.5em;
                font-size: 1em;
            }
        }
        .support-chat-theme {
            font-size: 2em;
        }
        .request-time {
            color: #7a7a7a;
            font-size: 1.2em;
        }
    }
    & &-form {
        .fileinput-button {
            border-radius: 5px;
            border: 1px solid #c4c4c4;
            color: #a86918;
        }
        .support-form-files {
            font-size: 1.5em;
            .message-file {
                display: flex;
                align-items: center;
                padding-top: 10px;
                i {
                    margin-right: 5px;
                }
            }
        }
        .support-form-uploading {
            font-size: 2em;
            display: block;
            i {
                padding: 5px;
            }
        }
    }
    &.box &-content.box-body {
        padding-bottom: 4em;
    }
}