<template>
    <div class="headsortails-game" id="headsortails-app">
        <div class="coin-wrap text-center">
            <img v-bind:src="url_coin" alt="coin">
        </div>
        <div class="bet-type-wrap">
            <div class="heads" v-on:click="play(1)">{{ $t('Eagle') }}</div>
            <div class="msg-wrap">
                <div ref="amount_message">{{ amountMessage }}</div>
                <div> {{ resultMessage }} </div>
            </div>
            <div class="tails" v-on:click="play(2)">{{ $t('Tails') }}</div>
        </div>
        <div class="text-center">
            <div class="card-bets-wrap">
                <input type="number" class='form-control amount-bet' min="0" name="input-amount-bet" v-model="bet_input_value">
                <button class="btn btn-danger" @click="bet_input_value = 0">x</button>
                <button class="btn btn-default btn-amount" v-for="amount in amounts" @click="bet_input_value = amount">
                    {{ amount }}
                </button>
                <button class="btn btn-danger" @click="placeBet">{{ $t('Place a bet') }}</button>>
            </div>
        </div>
    </div>
</template>

<script>
    import jQuery from 'jquery';

    export default {
        name: "game",
        data() {
            return {
                bet_input_value: 0,
                bet_status: false,
                bet_amount: 0,
                resultMessage: '',
                url_coin: '/static/casino/img/headsortails/coin.png',
                amounts: [5, 10, 50, 100, 500, 1000],
            };
        },
        computed: {
            amountMessage: function(){
                return (this.bet_amount > 0) ?  this.$t('Your stake: {sum}', {sum: this.bet_amount}) : this.$t('Place your bet');
            },
        },
        methods: {
            placeBet(){
                this.url_coin = '/static/casino/img/headsortails/coin.png';
                this.errorMessage = '';
                this.resultMessage = '';
                this.bet_input_value *= 1;
                if(window.isGuest) {
                    this.resultMessage = this.$t('You must login first');
                    jQuery('#loginPopup').modal({
                        remote: '/user/auth/login'
                    });
                }
                if (this.bet_input_value < 5) {
                    this.resultMessage = this.$t('Minimum stake: {sum}', {sum: 5});
                }
                if (window.isGuest || this.bet_input_value < 5) {
                    this.highlightHeaders();
                    return false;
                }
                this.bet_amount = this.bet_input_value;
                this.bet_status = true;
                this.bet_input_value = 0;
            },

            play(bet_type) {
                if(this.bet_status === false || !this.bet_amount){
                    this.highlightHeaders();
                    return false;
                }
                const formData = new FormData();
                formData.append('amount', this.bet_amount);
                formData.append('bet_type', bet_type);
                formData.append(yii.getCsrfParam(), yii.getCsrfToken());
                fetch('/casino/lucky-card/game', {
                    method: 'POST',
                    cache: 'no-cache',
                    body: formData,
                }).then((result) => {
                    if (result.status >= 400 && result.status < 600) {
                        result.json().then((error) => {
                            this.errorMessage = error.message || '';
                        });
                        throw result;
                    }
                    return result.json();
                }).then((data) => {
                    this.resultMessage = data.message;
                    this.url_card = '/static/casino/img/headsortails/' + ((data.bet_type === 1) ? 'heads' : 'tails') + '.png';
                }).catch(() => {}).finally(() => {
                    this.bet_amount = null;
                    this.bet_status = false;
                });
            },
            highlightHeaders() {
                const el = this.$refs.amount_message;
                el.style.color = '#cf0000';
                el.style.fontWeight = 'bold';
                setTimeout(function(){
                    el.style.color = '#fff';
                    el.style.fontWeight = 'normal';
                }, 1000);
            }
        },
    }
</script>

<style lang="scss">
    @import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap');
    .headsortails-game {
        background-image: url("/static/casino/img/headsortails/background.png");
        min-height: 100%;
        height: auto;
        margin: 0 auto -60px;
        padding: 0 0 60px;
        > .container {
            padding: 70px 15px 20px;
        }
        button {
            outline: none !important;
        }
        .coin-wrap {
            padding-top: 100px;
        }
        .btn-set-bet {
            border: 2px solid #88561b;
            background: #ebbe60 url("/static/casino/img/headsortails/btn-coin.png") no-repeat center;
            background-size: contain;
            width: 150px;
            height: 40px;
            &:hover {
                background-image: url("/static/casino/img/headsortails/btn-coin.png");
                border: 2px solid #d4862a;
            }
        }
        .btn-set-amount {
            background-color: #08296a;
            border: 2px solid #eabd5f;
            color: #eabd5f;
            font-weight: bold;
            &:focus {
                color: #eabd5f;
            }
            &:hover {
                background-color: #083493;
                border: 2px solid #eabd5f;
                color: #eabd5f;
            }
        }
        .amount-bet {
            width: 100px;
            display: inline-block;
            border: 2px solid #eabd5f;
            text-align: center;
            vertical-align: middle;
        }
        .btn-remove-sum {
            border: 2px solid #eabd5f;
            color: red;
            background-color: #fff;
            font-weight: bold;
        }
        .bet-type-wrap {
            padding: 15px;
            text-align: center;
            margin: 25px 0;
            .heads, .tails {
                display: inline-block;
                border: 1px solid #0d56db;
                width: 260px;
                height: 160px;
                background: rgba(44, 137, 213, 0.15) no-repeat;
                background-size: contain;
                color: #fff;
                font-weight: bold;
                font-size: 18px;
                padding: 65px 27px;
            }
            .msg-wrap {
                width: calc(100% - 580px);
                display: inline-block;
                color: #fff;
                font-size: 18px;
                font-weight: bold;
            }
            .heads {
                background-image: url("/static/casino/img/headsortails/heads.png");
                background-position-x: left;
                border-top-left-radius: 80px;
                border-bottom-left-radius: 80px;
                text-align: right;
                margin-left: 25px;
                cursor: pointer;
            }
            .tails {
                background-image: url("/static/casino/img/headsortails/tails.png");
                background-position-x: right;
                border-top-right-radius: 80px;
                border-bottom-right-radius: 80px;
                text-align: left;
                margin-right: 25px;
                cursor: pointer;
            }
        }
    }
</style>