.checkbox-branded,
.checkbox.not-enclosed.checkbox-branded {
    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        margin: 10px 0 0 20px;

        + label {
            position: relative;
            padding: 0 0 0 4rem;
            cursor: pointer;
            line-height: 2.5rem;
            font-size: 1.5rem;
            font-weight: 400;
            color: #333;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 5px;
                background: #EEECED;
                transition: 0.2s;
                border: 1px solid #C5C5C5;
            }
        }

        &:checked + label:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 2.5rem;
            height: 2.5rem;
            transition: 0.2s;
            font-family: "Font Awesome 5 Free";
            color: #A76818;
            font-size: 1.5rem;
            font-weight: 900;
            line-height: 3rem;
            text-align: center;
        }
    }
}