.statistics-main {
    padding: 0 5px;
    .statistics-header {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        border: 1px solid #4B4B4B;
        border-left-width: 0;
        .statistics-amount {
            flex: 1 1 15%;
            text-align: center;
            border-left: 1px solid #4B4B4B;
            padding: 3rem;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 3px;
                left: 0;
                bottom: 0;
                margin-bottom: -1px;
            }
            .amount {
                color: #CCC;
                font-size: 3rem;
            }
            .label {
                color: #FFF;
                font-size: 1.5rem;
            }

            &.withdraw {
                &:after{
                    background: #A75D07;
                }
                .amount {
                    color: #CCC;
                }
            }
            &.yesterday {
                &:after{
                    background: #D6892F;
                }
                .amount {
                    color: #D8882F;
                }
            }
            &.month {
                &:after{
                    background: #F8D06F;
                }
                .amount {
                    color: #F8D06F;
                }
            }
            &.days30 {
                &:after{
                    background: #6761A9;
                }
                .amount {
                    color: #F8D06F;
                }
            }
            &.total {
                &:after{
                    background: #00B7D1;
                }
                .amount {
                    color: #00B7D1;
                }
            }
        }
    }
    .charts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px;
        border: 1px solid #4B4B4B;
        background: #232323;
        .highcharts-block {
            display: block;
            width: calc(50% - 5px);
            @media(max-width: 992px) {
                width: 100%;
            }
        }
    }
}