.navigation
    height: auto
    width: 100%
    background-color: #2f2f2f
.nav-bar
    height: 7.5em
    width: 100%
    display: flex
    justify-content: space-between
    // background: url('/static/img/header_shadow.png') no-repeat center top
    // background-size: 100%
    background-color: #1d1f1f
    border-bottom: 1px solid #2f3131

.logo
    box-sizing: border-box
    flex-basis: 22.2em
    height: 100%
    background: url('/static/img/new_logo.png') no-repeat
    background-size: 70%
    background-position: center
    cursor: pointer

.buttons-left-nav
    flex-basis: 45.3em
    display: flex

.button-right-nav
    flex: 1
    justify-content: flex-end
    align-items: center
    display: flex 
    &>a
        font-size: 1.3em
        text-decoration: none !important
        position: relative
        padding-left: 25px
        color: #ffffff
        transition: 0.3s
        &:before, &:after
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 25px
            height: 25px   
            background-repeat: no-repeat
            transition: 0.3s
        &:after
            opacity: 0
            transition: 0.3s
        &:hover
            color: #e9a033
            transition: 0.3s
            &:before
                opacity: 0
                transition: 0.3s
            &:after
                opacity: 1
                transition: 0.3s
    .registration        
        text-align: center
        // padding: 0 2em
        &:before
            background-image: url('/static/img/nav-button/reg.png')
        &:after
            background-image: url('/static/img/nav-button/reg_hover.png')
    .log-in
        flex-basis: 6em
        text-align: center
        padding-right: 20px
        // padding: 0 2em
        &:before
            top: 1px
            background-image: url('/static/img/nav-button/login.png')
        &:after
            top: 1px
            background-image: url('/static/img/nav-button/login_hover.png')

.nav-games
    height: 7.5em
    width: 100%
    // background: url('/static/img/nav-games/background.png') no-repeat center 0
    background-color: #201f1e
    .games
        margin: 0 auto
        height: 100%
        max-width: 155em
        display: flex
        justify-content: space-between
        // padding-left: 10em

.header-login
    .ui-bonus-button
        flex-basis: 12.1em
    .ui-account-information-drop-menu
        margin-right: 4.2em
    .ui-header-mail
        margin-right: 3em
    .ui-user
        flex-basis: 10.5em
        .picture
            margin-left: 2.5em
            width: 5.3em
            height: 5.3em
    .ui-lang
        flex-basis: 10.6em
        justify-content: flex-start
        .lang-flag
            width: 62.2%
            background-repeat: no-repeat
            background-position: 1.65em
            background-size: 1.95em 1.35em
.header-button-place
    flex-basis: 18.7em
    .header-button-container
        // width: 14.8em
        margin-left: 1.5em
        position: relative
        // height: 5em
        .ui-header-button
            background-size: 103.2% 86%
            background-position: -0.2em 0.3em
            height: 4.7em
            font-size: 1.2em
            .background-header-button
                line-height: 4.9
        .ui-radius-button
            top: .4em
            font-size: 1.2em


// .navigation-mobile
//     display: none

.navigation-menu
    display: none
    background-color: #161a1b
    width: 50%
    height: auto
    z-index: 9999
    position: fixed
    top: 0
    right: -100%
    transition: all .3s
    max-height: 100vh
    overflow: auto
    .mobile_menu_close
        width: 50px
        height: 50px
        position: absolute
        top: 18px
        // left: -50px
        left: 0
        background: none
        border: none
        outline: none
        font-size: 20px
        color: #ffffff
        opacity: 0.6
        transition: all .3s
        &:hover
            opacity: 1
            transition: all .3s

    .mobile-side-header
        // margin-top: 2em
        // min-height: 12.5em
        width: 100%
        // background-image: url('/static/img/mobile/side-title-bg.png')
        // background-position: center
        // background-size: 100%
        // background-repeat: no-repeat
        // background-color: #333333
        // display: flex
        padding: 2em
        // padding-right: 50px
        margin-bottom: 25px
        border-bottom: 1px solid #303030
        .mobile_logo
            width: 140px
            height: 55px
            background-image: url('/static/img/mob_logo.png')
            background-position: center
            background-size: 100%
            background-repeat: no-repeat
            margin: auto
            margin-bottom: 15px
        .login_wrap
            display: flex
            align-items: center
            i
                color: #ffffff
                font-size: 20px
                margin-right: 20px
            a
                flex-basis: auto
                display: inline-block
                margin: 0
                margin-left: 2.5px
                margin-right: 2.5px
            .ui-lang
                flex-basis: 4.5em
                margin-left: auto
        .user_info_wrap
            display: flex
            align-items: center
            .mb_info
                order: inherit
            .ui-lang
                flex-basis: 5.5em

        .mobile-user-icon
            // flex-basis: 15%
            width: 70px
            height: 65px
            background-image: url('/static/img/mobile/user.png')
            background-position: center
            background-size: contain
            background-repeat: no-repeat
        .mobile-user-info
            flex: 1
            padding: 1.2em
            .user-info-id
                display: flex
                span
                    margin: auto 0
                    // font-size: 2.3em
                    font-size: 1.5em
                    line-height: 1.2
                    color: #9d9d9d
            .user-balnce
                display: flex
                span
                    // font-size: 2.5em
                    font-size: 2em
                    color: #ffffff
                    font-weight: 600
        .registration
            margin: auto
            color: #d6892f
            text-align: center
            font-size: 1.9em
            display: flex
            align-items: center
        .log-in
            margin: auto
            color: #ffffff
            flex-basis: 6em
            text-align: center
            font-size: 1.9em
            display: flex
            align-items: center
    .menu-mobile-side-container
        // padding: 1.2em
        padding-bottom: 60px
        .menu-mobile-side-element
            display: flex
            padding-left: 30px
            position: relative
            transition: 0.3s
            &::before
                content: ''
                position: absolute
                top: 0
                left: 0
                bottom: 0
                width: 3px
                background-color: #ed8b20
                opacity: 0
                transition: 0.3s
            &:not(:last-child)
                padding-bottom: 5px
                border-bottom: 1px solid #303030
            &:hover
                text-decoration: unset
                transition: 0.3s
                background-color: #1f2223
                &::before
                    opacity: 1
                    transition: 0.3s
            .menu-molie-element-logo
                // flex-basis: 15%
                width: 40px
                background-position: center
                background-size: 70%
                background-repeat: no-repeat
                filter: contrast(0%)
            .menu-mobile-content
                flex: 1
                display: flex
                padding: 1.2em
                span
                    margin: auto 0
                    font-size: 2em
                    color: #ffffff
                    // font-weight: 600

.header_left
    width: 65%
    .nav-games
        background: none
        
// @media screen and (max-width: "1800px")
.nav-bar
    justify-content: space-between
.logo
    flex-basis: 11.2em
    margin-right: 10px
    margin-left: 10px
    background-size: 90%
.ui-bonus-button 
    flex-basis: 5.1em !important
    .text
        line-height: 1.2 !important
        padding-bottom: 0 !important
.button-right-nav
    flex: 0
    flex-basis: 30em
    margin-left: 10px
.header-login 
    .ui-account-information-drop-menu
        margin-right: 0
// @media screen and (max-width: "1300px")
.header_left
    width: 75%
.button-right-nav
    flex-basis: 22em
.ui-bonus-button 
    flex-basis: 4.2em !important
    .text
        font-size: 1.2em !important
    .bonus
        line-height: 1.1
        .quality
            font-size: 1.2em !important
        span
            font-size: 1.2em !important
.header-login 
    .ui-account-information-drop-menu
        flex-basis: 10em
        margin-right: 0 !important
        span
            font-size: 1.3em
    .ui-lang
        flex-basis: 6.6em
        .lang-flag
            width: 100%
            padding-right: 10px
.ui-games         
    .text
        font-size: 1.2em !important
    .games-icon
        width: 3em !important
        height: 3em !important
        &:after, &:before
            background-size: 1.5em !important

.button-right-nav
    &>a
        font-size: 1.2em
        padding-left: 13px
        &:before, &:after
            top: 3px !important
            width: 10px
            height: 10px
            background-size: cover
    .log-in
        padding-right: 10px
// @media screen and (max-width: "1000px")
//     // .navigation
//     //     display: none

//     .navigation-menu
//         display: block

//     .navigation-mobile
//         display: flex
//         flex-wrap: wrap
//         align-items: center
//         // background-image: url('/static/img/mobile/mobile-bg-nav.png')
//         // background-position: center
//         // background-repeat: no-repeat
//         // background-size: cover
//         background-color: #333333
//         // height: 5em
//         width: 100%
//         // margin: 2em 0
//         margin-top: 0
//         padding: 1em 2em
//         .mob_logo_wrap
//             flex-grow: 2
//             position: relative
//             &.search_show
//                 .logo
//                     opacity: 0
//                     visibility: hidden
//                     transition: 0.3s
//                 .navigation-search-mobile
//                     opacity: 1
//                     visibility: visible
//                     transition: 0.3s
//             .logo
//                 height: 4em
//                 background-size: 100%
//                 flex-basis: auto
//                 width: 90px
//                 display: block
//                 transition: 0.3s
//         .navigation-search-button-mobile
//             flex-basis: auto !important
//             font-size: 25px
//             line-height: 1.2
//             color: #ffffff !important
//         .navigation-menu-mobile
//             margin-left: 10px
//         .navigation-search-mobile
//             flex: 1
//             // width: 0
//             // text-align: center
//             position: absolute
//             top: 0
//             bottom: 0px
//             left: 0
//             right: 0
//             opacity: 0
//             visibility: hidden
//             transition: 0.3s
//             input
//                 background: none
//                 border: none
//                 border-bottom: 1px solid rgba(#ffffff, 0.5) !important
//                 margin: 0 auto
//                 width: 90%
//                 height: 100%
//                 font-size: 2.5em
//                 padding: 0 0.5em
//                 outline: none !important
//         // .navigation-search-button-mobile
//         //     background-image: url('/static/img/mobile/mobile-search-nav.png')
//         .navigation-menu-mobile
//             // background-image: url('/static/img/mobile/mobile-button-nav.png')

//         .mobile-user-info
//             margin-left: 10px
//             text-align: center
//             display: flex
//             align-items: center
//             .user-info-id
//                 display: flex
//                 align-items: center
//                 margin-bottom: 5px
//                 font-size: 1.5em
//                 color: #8E8E8E !important
//                 text-decoration: none !important
//                 .acc_icon
//                     width: 20px
//                     height: 20px
//                     margin-right: 5px
//                     background-image: url('/static/img/mobile/user.png')
//                     background-position: center
//                     background-size: contain
//                     background-repeat: no-repeat
// @media screen and (max-width: "1300px")   
//     .header-login 
//         .ui-header-mail 
//             margin-right: 1em
//         .ui-account-information-drop-menu
//             margin-right: 2em
//         .header-login 
//             .ui-bonus-button
//                 flex-basis: 8.1em
//             .ui-user
//                 flex-basis: 9em
//                 .picture
//                     margin-left: 1em
//         .header-button-place 
//             .header-button-container 
//                 .ui-radius-button
//                     padding: 10px 10px
// @media screen and (max-width: "1000px") 
//     .time_drop_wrap
//         order: 2
//         margin-right: 10px
//         margin-left: 10px
//         margin-bottom: 0

//         .navbar-nav 
//             .select2-container--default 
//                 .select2-selection--single
//                     padding-left: 0
//                     padding-right: 0
//     .mob_logo_wrap
//         order: 1
//     .navigation-search-button-mobile
//         order: 3
//     .mobile-user-info, .log-in-mobile
//         order: 4
//     .navigation-menu-mobile
//         order: 5
// @media screen and (max-width: "515px")    
//     .navigation-menu 
//         width: 100%
//         .menu-mobile-side-container 
//             .menu-mobile-side-element 
//                 .menu-molie-element-logo
//                     background-size: 60%

//     .login-form-popup
//         max-width: 280px !important
// @media screen and (max-width: "414px")
//     .navigation-mobile
//         // height: 6em
//         .navigation-search-button-mobile
//             flex-basis: 3em
//     .navigation-menu .mobile-side-header .registration
//         font-size: 1.3em
//     .navigation-menu .mobile-side-header .log-in
//         font-size: 1.3em

// @media screen and (min-width: "1000px")
.navigation
    position: fixed
    top: 0
    z-index: 99999
.content-wrapper
    padding-top: 75px
    transition: 0.3s
    overflow: hidden
.user-auth-register
    .content-wrapper
        padding-left: 0
.content-bar
    width: calc(100% - 32.5em) !important

.datepicker-dropdown
    z-index: 99999 !important