.ui-games
    // flex: 1
    display: flex
    a
        // flex: 1
        color: #878787
        margin: auto
        margin-left: 5px
        margin-right: 5px
        // height: 4.2em
        display: flex
        align-items: center
        cursor: pointer
        text-decoration: none
        &:hover
            text-decoration: none !important
            color: #ffffff !important
    &:hover
        .games-icon
            border: 2px solid rgba(#ffffff, 1)
            &:after
                opacity: 0
                transition: 0.3s
            &:before   
                opacity: 1
                transition: 0.3s
    .games-icon
        // flex: 0 0 4em
        width: 4em
        height: 4em
        border-radius: 50%
        border: 2px solid rgba(#ffffff, 0.2)
        margin-right: 0.9em
        transition: border-color .3s
        position: relative
        &:after
            content: ''
            position: absolute
            width: 100%
            height: 100%
            background-repeat: no-repeat
            background-position: center
            background-size: 2.2em
        &:before
            content: ''
            position: absolute
            width: 100%
            height: 100%
            background-repeat: no-repeat
            background-position: center
            background-size: 2.2em
            opacity: 0
    .text-preview
        font-size: 1.2em
    .text
        font-size: 1.4em
        line-height: 1
        text-transform: none
        padding-left: 0
        flex: none
        font-weight: 500
    i
        color: #7c756f
        margin-left: 0.8em
        margin-bottom: 0.2em
        font-size: 1.2em


.winner
    &:after
        background-image: url('/static/img/nav-games/winner-icon.png')
    &:before
        background-image: url('/static/img/nav-games/winner-icon_hover.png')
.console
    &:after
        background-image: url('/static/img/nav-games/console.png')
    &:before
        background-image: url('/static/img/nav-games/console_hover.png')

.dice
    &:after
        background-image: url('/static/img/nav-games/dice.png')
        background-size: 2.7em !important
    &:before
        background-image: url('/static/img/nav-games/dice_hover.png')
        background-size: 2.7em !important

.Gambing
    &:after
        background-image: url('/static/img/nav-games/Gambing.png')
    &:before
        background-image: url('/static/img/nav-games/Gambing_hover.png')

.gift
    &:after
        background-image: url('/static/img/nav-games/gift.png')
        background-size: 2.6em !important
    &:before
        background-image: url('/static/img/nav-games/gift_hover.png')
        background-size: 2.6em !important

.live
    &:after
        background-image: url('/static/img/nav-games/live.png')
    &:before
        background-image: url('/static/img/nav-games/live_hover.png')

.podium
    &:after
        background-image: url('/static/img/nav-games/podium.png')
    &:before
        background-image: url('/static/img/nav-games/podium_hover.png')

.sports
    &:after
        background-image: url('/static/img/nav-games/sports-icon.png')
    &:before
        background-image: url('/static/img/nav-games/sports-icon_hover.png')
  