.ui-account-information-drop-menu
    flex-basis: 13em
    text-align: center
    color: #d6892f
    display: flex
    justify-content: center
    cursor: pointer
    height: 100%
    position: relative
    > .dropdown
        align-items: center
        display: flex
    > li, > .open
        > a, > a:hover, > a:focus
            padding: 0
            background: none
            border: none
    &:hover
        color: #878787
    a, span
        font-size: 1.5em
        letter-spacing: 0
        font-weight: 400
        margin: auto 0
        text-decoration: none
        color: #d6892f
    i
        font-size: 1.1em
        margin: auto 0 auto 1em
        transition: all .3s
        transform-origin: center
    .account-content
        position: absolute
        width: 21em
        overflow: hidden
        max-height: 0
        border-radius: 0 0 5px 5px
        box-shadow: 0 5px 10px rgba(27, 24, 21, 0.15)
        background-color: #393939
        top: 100%
        z-index: 2
        left: -48%
        transition: max-height .3s
        .account-content-user-id
            width: 100%
            height: 4.8em
            display: flex
            padding-left: 5em
            span
                font-size: 1.2em
                letter-spacing: 0
                color: #7a7a7a
                font-weight: 400
        .account-content-menu-select
            width: 100%
            height: 2.2em
            text-align: left
            display: flex
            margin-bottom: 1.43em
            padding-left: 5em
            background-size: 1.8em
            background-position: 2em 0.22em
            background-repeat: no-repeat
            cursor: pointer
            span
                font-size: 1.5em
                letter-spacing: 0
                color: #ffffff
                font-weight: 700
                margin: auto 0
                transition: color .3s
            &:hover
                a
                    color: #916632

    .account-content-active
        border-top: 1px solid #ffffff
        max-height: 30em
        margin-top: 1px

.account-icon-avatar
    background-image: url('/static/img/account-menu/avatar.png')

.account-icon-event
    background-image: url('/static/img/account-menu/event.png')

.account-icon-clock
    background-image: url('/static/img/account-menu/clock.png')

.account-icon-wallet
    background-image: url('/static/img/account-menu/wallet.png')

.account-icon-logout
    background-image: url('/static/img/account-menu/logout.png')