.ui-bonus-button
    margin: auto 0
    cursor: pointer
    &:hover
        text-decoration: none !important
        .text
            color: #d6892f
    .text
        font-size: 1.4em
        line-height: .2
        color: #878787
        text-transform: none
        padding-top: 0.6em
        padding-left: 0
        font-weight: 400
        transition: color .3s
        padding-bottom: 0.2em
    .bonus
        line-height: 1.4
        span
            color: #ffffff
            font-size: 1.4em
        .quality
            color: #e9a033
            font-size: 1.4em
            font-weight: 600
.bonus-button-icon
    padding-left: 6em
    background: url('/static/img/nav-button/gift.png') no-repeat
    background-position-x: 2em
    background-position-y: 0.4em
    background-size: 2.8em

#nav-user-website-purse
    margin-right: 5px

// @media screen and (max-width: "1300px")
//     #nav-user-website-purse
//         .text
//             line-height: 1.1


