.ui-header-mail
    background: url('/static/img/nav-button/mail.png') no-repeat center
    background-size: 2.6em 1.9em
    flex: 0 0 3em
    height: 2em
    position: relative
    cursor: pointer
    .count-message
        height: 1.9em
        width: 1.9em
        border-radius: 50%
        position: absolute
        background-color: #d6892f
        top: -0.9em
        right: -0.6em
        display: flex
        justify-content: center
        align-items: center
        span
            font-size: 1em
            letter-spacing: 0
            color: #ffffff
            font-weight: 500
    
  
