.ui-header-button
  flex-basis: 18.7em
  position: relative
  .ui-event-button
    width: 12.6em
    z-index: 1
    box-shadow: 0 2px 5px #fd3035
  
  .ui-event-button:before
    width: 12.4em

  .background-header-button
    width: 13.5em
    height: 3em
    border-radius: 8px
    border: 1px solid #000000
    position: absolute
    top: 0.5em
    right: 2.5em
    z-index: 0