.ui-lang
    flex-basis: 10.5em
    display: flex
    justify-content: center
    cursor: pointer
    .lang-flag
        width: 55%
        display: flex
        align-items: center
        justify-content: flex-end
        height: 3em
        &:hover
            text-decoration: none !important
        i
            font-size: 1.05em
            color: #909090
    .dropdown-menu
        right: 0
        left: unset
        padding: 0
        > li > a
            padding: 5px