.ui-nav-button
    font-size: 1.4em
    display: flex
    margin: auto 0
    padding-left: 3.3em
    background-repeat: no-repeat
    background-position-x: 1.4em
    background-position-y: .1em
    background-size: 1.2em 1.1em
    padding-right: 2.5em
    cursor: pointer
    transition: color .3s
    color: #878787
    font-weight: 400
    &:hover, &:active, &:focus
        color: #ffffff
        text-decoration: none

    &.keyword
        background-image: url('/static/img/nav-button/keyword.png')
        &:hover, &:active, &:focus
            background-image: url('/static/img/nav-button/keyword_hover.png')

    &.credit-card
        background-image: url('/static/img/nav-button/credit-card.png')
        &:hover, &:active, &:focus
            background-image: url('/static/img/nav-button/credit-card_hover.png')
