.main-footer {
    .footer-navigation {
        display: flex;
        &-links {
            display: flex;
            align-items: center;
            a {
                line-height: 3rem;
                color: #FFF;
                display: inline-block;
                margin-right: 3rem;
            }
            .support {
                background: url(/static/img/support.png) no-repeat;
                height: 3rem;
                width: 3rem;
                background-size: cover;
            }
        }
    }
    .footer-cookies {
        display: flex;
        flex: 1;
        padding: 20px;
        &-icon {
            height: 6em;
            flex: 0 0 6em;
            background: url(/static/img/adult.png) no-repeat center;
            background-size: contain;
        }
        &-info {
            flex: 1;
            color: #737373;
            font-size: 1.2rem;
            padding: .6rem;
        }
    }
    .footer-social {
        display: flex;
        flex: 1;
        &-text {
            margin: auto;
            text-transform: uppercase;
            letter-spacing: .3px;
            color: #d6892f;
            font-weight: 700;
            flex-grow: 1;
            text-align: right;
            span {
                font-size: 1.5em;
            }
        }
        &-icons {
            display: flex;
            flex: 1;
            .ui-social {
                width: 3.4rem;
                height: 3.4rem;
                background: url(/static/img/social.png) no-repeat center;
                background-size: contain;
                border-radius: 6px;
                margin: auto 0 auto 2.3rem;
                display: flex;
                transition: all .3s;
                cursor: pointer;
                i {
                    color: #ffffff;
                    margin: auto;
                    font-size: 1.6em;
                }
            }
        }
    }
}