.sidebar-menu li {
    > a {
        font-size: 1.3rem;
        padding: .7rem 2rem;
    }
    &.header {
        padding-left: 2rem;
    }
}
@media (min-width: 768px) {
    .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span {
        padding: .7rem 2rem;
        background: #2f2f2f;
    }
}