<template>
    <div id="support-backend" class="support-backend">
        <div class="support-backend-requests sidebar">
            <div v-for="(request, index) in requests" class="support-backend-request box" v-bind:class="{
                'box-warning': request.is_new,
                'box-primary': !request.is_new
            }" v-bind:key="request.id" v-on:click="setActive(request.id)">
                <div class="box-footer" v-if="request.theme.length > 0">
                    {{ request.theme }}
                </div>
                <div class="box-footer last-message">
                    <p>
                        {{ request.from_email }} {{ request.from_name }} <br>
                        {{ request.message_at }}
                    </p>
                </div>
                <div class="box-footer last-message">
                    <p>
                        {{ request.from_email }} {{ request.name }}
                    </p>
                    <div class="request-message" v-html="request.message"></div>
                </div>
            </div>
        </div>
        <div class="support-backend-chat box sidebar" v-bind:class="{ 'hidden': !request }">
            <div class="support-backend-chat-info" v-if="!!request">
                <div class="request-theme">
                    #{{request.id}} : {{ request.theme }}
                </div>
                <p>
                    <span class="time">{{ request.created_at }}</span>
                    {{ request.email }} {{ request.name }} {{ request.phone }}
                </p>
            </div>
            <div class="support-backend-chat-list" v-if="!!request">
                <transition-group v-on:after-enter="scrollDown">
                    <div v-for="(message, index) in requestMessages" class="support-backend-message box" v-bind:class="{
                        'box-warning': message.is_new,
                        'box-primary': !message.is_new
                    }" v-bind:key="message.id">
                        <div class="box-header">
                        <span class="time">
                            {{ message.created_at }}
                        </span>
                            {{ message.from_email }} {{ message.from_name }}
                        </div>
                        <div class="box-body message-text" v-html="message.message"></div>
                        <div class="message-files" v-if="message.files.length > 0">
                            <a class="btn btn-default message-file" target="_blank" v-for="file in message.files" v-bind:href="file.url">
                                {{ file.name }}
                            </a>
                        </div>
                    </div>
                </transition-group>
            </div>
            <form id="support-backend-form" class="support-backend-form form-vertical" v-on:submit.prevent="sendMessage" ref="replyForm">
                <div class="form-group highlight-addon field-message required">
                    <label class="control-label has-star" for="message">
                        {{ $t('Message') }}
                    </label>
                    <textarea name="message" id="message" class="form-control" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-success">
                    {{ $t('Submit') }}
                </button>
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-danger" v-on:click="requestClose">
                        {{ $t('Close') }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';

    function calculateHeight() {
        const footerHeight = jQuery('.main-footer').outerHeight() || 0;
        const headerHeight  = (jQuery('.main-header').outerHeight() || 0) + (jQuery('.content-header').outerHeight() || 0);
        const windowHeight  = jQuery(window).height();
        const availableHeight = windowHeight - footerHeight - headerHeight;
        jQuery('.support-backend-requests').css('height', availableHeight);
        jQuery('.support-backend-chat-list').css('height', availableHeight - (jQuery('#support-backend-form').outerHeight() || 0) - (jQuery('.support-backend-chat-info').outerHeight() || 0) - 15);
    }

    export default {
        data: function() {
            return {
                requests: {},
                activeID: null,
                socket: io.connect(paramsSocket.host, {
                    query: {
                        key: paramsSocket.key,
                    },
                    path: paramsSocket.path,
                    timeout: 5000,
                    reconnectionDelay: 1000,
                    reconnectionDelayMax: 1500,
                    randomizationFactor: 0
                })
            };
        },
        mounted: function() {
            jQuery(window).resize(function () {
                calculateHeight();
            });
            calculateHeight();
            this.socket.on('request', (request) => {
                request.messages = request.messages || [];
                Vue.set(this.requests, request.id, request);
                if(this.activeID === request.id) {
                    this.preloadMessages(this.activeID).then(() => {
                        this.scrollDown(undefined, true);
                    });
                }
            });
            this.socket.on('message', (message) => {
                const request = this.requests[message.request_id];
                request.message_at = message.created_at;
                request.message = message.message;
                request.from_id = message.from_id;
                request.from_email = message.from_email;
                request.from_name = message.from_name;
                request.from_phone = message.from_phone;
                request.messages.push(message);
            });
        },
        methods: {
            sendMessage: function() {
                const form = new FormData(this.$refs.replyForm);
                this.socket.emit('message', {
                    message: form.get('message'),
                    request: this.request.id,
                    key: this.request.key,
                }, (result) => {
                    if(result) {
                        this.$refs.replyForm.reset();
                    }
                });
            },
            requestClose: function() {
                this.setActive(null);
            },
            setActive: function(id) {
                if(this.activeID === id) {
                    return;
                }
                this.activeID = id;
                if(!!id) {
                    this.preloadMessages(id).then(() => {
                        this.scrollDown(undefined, true);
                    });
                }
            },
            preloadMessages: function(id, last) {
                return fetch(`/support/live/messages?id=${id}&last=${last || 0}`).then((result) => {
                    if (result.status >= 400 && result.status < 600) {
                        throw result;
                    }
                    return result.json();
                }).then((res) => {
                    const messages = this.requests[id].messages;
                    res.forEach((item) => {
                        if(!messages.find((search) => {
                            return item.id === search.id;
                        })) {
                            this.requests[id].messages.push(item);
                        }
                    });
                }).catch((err) => console.error(err));
            },
            scrollDown: function(el, force) {
                calculateHeight();
                const item = jQuery('.support-backend-chat-list');
                if(!force) {
                    force = (item[0].scrollHeight - item.outerHeight() - item.scrollTop()) < 100;
                }
                if(force) {
                    item.scrollTop(9999);
                }
            },
        },
        computed: {
            request: function() {
                return this.requests[this.activeID];
            },
            list: function() {
                return this.requests.sort((a, b) => {
                    if (a.message_at < b.message_at)
                        return -1;
                    if ( a.message_at > b.message_at)
                        return 1;
                    return 0;
                });
            },
            requestMessages: function() {
                if(!this.request) {
                    return [];
                }
                return this.request.messages.sort((a,b) => {
                    return a.id - b.id;
                });
            }
        }
    }
</script>