<template>
    <div class="ui-button-side-bar fav_sidebar" ref="container">
        <div class="button" ref="opener">
            <div class="arrow-button" @click="toggleContainer">
                <i class="fas fa-chevron-down"></i>
            </div>
            <div class="text">
                <span>{{ $t('Favourites') }}</span>
            </div>
            <div class="arrow-hide-side-bar" @click="toggleLeftSidebar()"><i class="fas fa-angle-double-left"></i></div>
        </div>
        <div class="content" ref="content">
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import {gamesMixin} from 'backend/games';
    export default Vue.component('container-favourites', {
        mixins: [gamesMixin],
        data: function () {
            return {};
        },
        methods: {
            toggleContainer(){
                const opener = this.$refs.opener;
                const content = this.$refs.content;
                if(opener.className.includes('active')){
                    opener.classList.remove('active');
                    content.classList.remove('active');
                } else {
                    opener.classList.add('active');
                    content.classList.add('active');
                }
            },
            toggleLeftSidebar() {
                document.querySelector('body').classList.toggle("toggle_left");
            },
        }
    });
</script>