<template>
    <div class="ui-button-side-bar" ref="container">
        <div class="button line_tabs_wrap">
            <a href="/" class="home_btn mob_show">
                <i class="fas fa-home"></i>
            </a>
            <ul class="line_tabs">
                <li @click="pushLine" :class="{active: !isLive}">{{ $t('Line') }}</li>
                <li @click="pushLive" :class="{active: isLive}">Live</li>
            </ul>
        </div>
        <div class="button active sport_content" ref="opener">
            <div class="arrow-button" @click="toggleContainer">
                <i class="fas fa-chevron-down"></i>
            </div>
            <div class="text mob_hide" @click="toggleContainer">
                <span v-if="isLive">LIVE</span>
                <span v-if="!isLive">{{ $t('Line') }}</span>
            </div>
            <div class="content-elements">
                <div class="content-button toggle_vide_btn active" :class="{'active': !isLive && !withVideo}" ref="allBtn" @click="showAll">
                    <span>{{ $t('All') }} {{total || 0}}</span>
                </div>
                <div class="content-button youtube toggle_vide_btn" :class="{'active': isLive && withVideo}" v-if="isLive" ref="videoBtn" @click="showVideo">
                    <span>{{ videosCount || 0 }}</span>
                </div>
            </div>
        </div>
        <div class="content left_content active" ref="content">
            <left-sidebar-sport v-for="(sport, index) in sports" :key="sport.id" :sport="sport" :withVideo="withVideo"></left-sidebar-sport>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';

    import {gamesMixin} from 'backend/games';
    import sport from "components/left/sidebar-sport";

    export default Vue.component('container-sidebar', {
        mixins: [gamesMixin],
        components: {
            'left-sidebar-sport': sport,
        },
        data: function () {
            return {
                withVideo: false,
            };
        },
        computed: {
            total: function () {
                return this.sports.reduce((total, sport) => {
                    return total + sport.tournaments.reduce((sum, item) => {
                        return sum + item.events_count;
                    }, 0)
                }, 0);
            },
            videosCount: function () {
                return this.sports.reduce((total, sport) => {
                    return total + sport.tournaments.reduce((sum, item) => {
                        return sum + item.videos_count;
                    }, 0)
                }, 0);
            },
        },
        methods: {
            toggleContainer: function () {
                const opener = this.$refs.opener;
                const content = this.$refs.content;
                if(opener.className.includes('active')){
                    jQuery(content).slideUp(300, () => {
                        opener.classList.remove('active');
                    });
                } else {
                    jQuery(content).slideDown(300, () => {
                        opener.classList.add('active');
                    });
                }
            },
            pushLine: function(){
                this.$router.push('/line');
                this.withVideo = false;
            },
            pushLive: function(){
                this.$router.push('/live');
            },
            showAll: function(){
                if(this.isLive === true){
                    this.withVideo = false;
                    this.$refs.allBtn.classList.add('active');
                    this.$refs.videoBtn.classList.remove('active');
                }
            },
            showVideo: function(){
                if(this.isLive === true){
                    this.withVideo = true;
                    this.$refs.allBtn.classList.remove('active');
                    this.$refs.videoBtn.classList.add('active');
                }
            },
        }
    });
</script>