<template>
    <div class="upcoming">
        <div class="ui-button-side-bar event-content up_sidebar" ref="container">
            <div class="button" ref="opener" @click="toggleContainer">
                <div class="arrow-button">
                    <i class="fas fa-chevron-down"></i>
                </div>
                <div class="text">
                    <span>{{ $t('Upcoming') }}</span>
                </div>
            </div>
            <div class="content" ref="content">
                <upcoming-list :label="$t('event starts in under 2 hours')" from="0" to="2"></upcoming-list>
                <upcoming-list :label="$t('event starts in 2—4 hours')" from="2" to="4"></upcoming-list>
                <upcoming-list :label="$t('event starts in over 4 hours')" from="4"></upcoming-list>
            </div>

            <div class="upcoming_item" v-for="item in items">
                <div class="upcoming_title">
                    <div class="upcoming_icon"></div>
                    <span class="sport_name">{{ item.sport }}</span>
                    <span class="upcoming_liga">{{ item.tournament }}</span>
                </div>
                <div class="upcoming_teams">
                    <div class="team" v-for="team in item.participants">
                        <div class="team_img" :style="{
                            'background-image': 'url(' + team.logo + ')'
                        }"></div>
                        <p class="team_name">{{ team.name }}</p>
                        <p class="team_coef">{{ team.rate }}</p>
                    </div>
                </div>
                <div class="upcoming_button">
                    <a href="#" class="ui-radius-button">{{ $t('PLACE A BET') }}</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';

    import {gamesMixin} from 'backend/games';
    import list from 'components/left/upcoming-list.vue';

    export default Vue.component('container-upcoming', {
        mixins: [gamesMixin],
        components: {
            'upcoming-list': list
        },
        data: function () {
            return {
                items: [
                    {
                        sport: 'Footboll',
                        tournament: 'Germany / Bundesliga',
                        participants: [
                            {
                                name: 'RasenBallsport Leipzig',
                                rate: 1.85,
                                logo: '/static/img/team-football/Leipzig.png'
                            },
                            {
                                name: 'TSG 1899 Hoffenheim',
                                rate: 4.08,
                                logo: '/static/img/team-football/Hoffenheim.png'
                            }
                        ]
                    },
                    {
                        sport: 'Footboll',
                        tournament: 'Spain / La Liga',
                        participants: [
                            {
                                name: 'Girona',
                                rate: 2.496,
                                logo: '/static/img/team-football/Girona.png'
                            },
                            {
                                name: 'Real Sociedad',
                                rate: 3.15,
                                logo: '/static/img/team-football/RealSociedad.png'
                            }
                        ]
                    }
                ]
            };
        },
        methods: {
            toggleContainer(){
                const opener = this.$refs.opener;
                const content = this.$refs.content;
                if(opener.className.includes('active')){
                    jQuery(content).slideUp(300, () => {
                        opener.classList.remove('active');
                    });
                } else {
                    jQuery(content).slideDown(300, () => {
                        opener.classList.add('active');
                    });
                }
            },
        }
    });
</script>