<template>
    <div>
        <div class="ui-event-show" ref="opener" @click="toggleContent()">
            <div class="event-icon"></div>
            <div class="event-text">{{ $attrs.label }}</div>
        </div>
        <div class="ui-event-list" ref="content">
            <router-link class="ui-event-list-item" v-for="event in events" :key="event.id" :to="{name: 'game', params:{id: event.id}}">
                <div class="date-time-game">
                    <div class="date-game">{{ event.start_date }}</div>
                    <div class="time-hame">{{ event.start_time }}</div>
                </div>
                <div class="team-game">
                    <div class="team-game-name" v-for="(participant, key) in event.participants" :key="key">
                        {{ participant }}
                    </div>
                </div>
            </router-link>
        </div>
    </div>
</template>

<script>
    import {games} from 'backend/games';
    export default {
        name: "upcoming-list",
        data: function() {
            return {
                events: [],
            };
        },
        methods: {
            toggleContent() {
                const opener = this.$refs.opener;
                const content = this.$refs.content;
                if(opener.className.includes('opened')) {
                    jQuery(content).slideUp(300, () => {
                        opener.classList.remove('opened');
                    });
                } else {
                    if(this.events.length === 0) {
                        games.loadUpcoming(this.$attrs.from, this.$attrs.to).then(events => {
                            this.events = events;
                        });
                    }
                    jQuery(content).slideDown(300, function() {
                        opener.classList.add('opened');
                    });
                }
            }
        }
    }
</script>