.mini_wrap
    display: flex
    align-items: flex-start
    width: 100%
    padding: 10px 15px 20px 15px
.mini_left
    width: 16%
.mini_center
    width: 68%
    padding-left: 15px
    padding-right: 15px

.mini_search
    position: relative
    background-color: #1c1e1e
    border: 2px solid #1a1c1c
    padding: 0.8em 2em
    padding-right: 45px
    margin-bottom: 15px
    input
        width: 100%
        border: none
        background: none
        outline: none
        color: #ffffff
        font-size: 1.7em
        line-height: 1
        &::-webkit-input-placeholder  /* Edge */
            color: #ffffff !important
            font-weight: 700
        &:-ms-input-placeholder  /* Internet Explorer 10-11 */
            color: #ffffff !important
            font-weight: 700
        &::placeholder 
            color: #ffffff !important
            font-weight: 700
    button
        width: 20px
        height: 20px
        border: none
        outline: none
        position: absolute
        top: 50%
        right: 20px
        transform: translateY(-50%)
        background: none
        background-image: url(/static/img/mini-games/search.png)
        background-size: cover
        background-repeat: no-repeat
        background-position: center
        opacity: 0.6
        transition: 0.3s
        &:hover
            opacity: 1
            transition: 0.3s
.mini_cat
    margin-bottom: 20px
    .button
        margin-bottom: 5px
        border: 2px solid #1a1c1c
        &::after
            display: none
    .content-text
        padding-left: 20px
.min_popular_title
    background-color: #1c1e1e
    border: 2px solid #1a1c1c
    padding: 1.1em 2em
    font-weight: 700
    span
        font-size: 1.7em
        line-height: 1
        color: #ffffff
.popular_list
    list-style: none
    padding: 0
    li
        a
            background-color: #fff
            display: flex
            align-items: center
            padding: 10px 15px
            text-decoration: none !important
            transition: 0.3s
        &:nth-child(2n)
            a
                background-color: #e8e8e8
        &:hover
            a
                opacity: 0.8
                transition: 0.3s
            
.popular_img
    margin-right: 15px
.popular_price
    font-size: 1.4em
    line-height: 1.2
    color: #7d7d7d
    margin-bottom: 5px
    span
        color: #ff4d30
        font-weight: bold
.popular_name
    font-size: 1.4em
    line-height: 1.2
    font-weight: 600
    color: #1c1e1e
    margin-bottom: 0

.mini_center_title
    position: relative
    background-color: #1c1e1e
    border: 2px solid #1a1c1c
    padding: 1.1em 2em
    padding-right: 45px
    box-sizing: border-box
    margin-bottom: 15px
    &::before
        content: ''
        position: absolute
        bottom: -2px
        left: -2px
        right: -2px
        height: 1px
        background-color: #3c3c3c
    p
        margin-bottom: 0
        color: #ffffff
        font-size: 1.7em
        line-height: 1
        font-weight: 600
.mini_center_content
    margin-right: -5px
    margin-left: -5px
    display: flex
    flex-wrap: wrap
    align-items: flex-start
.mini_item
    width: 25%
    padding-left: 5px
    padding-right: 5px
    margin-bottom: 10px
    &:nth-child(8n+1), &:nth-child(8n+6), &:nth-child(8n+7), &:nth-child(8n+8)
        width: 50%    
        
    a
        text-decoration: none !important
        transition: 0.3s
        display: block
        &:hover
            opacity: 0.8
            transition: 0.3s
    .mini_item_bg
        min-height: 230px
        background-size: contain
        background-position: center
        background-repeat: no-repeat
        background-image: url(/static/img/mini-games/mines.png)
        background-color: #3b312f
    &.mines
        .mini_item_bg
            background-image: url(/static/img/mini-games/mines.png)
            background-color: #3b312f
    &.blackjack
        .mini_item_bg
            background-image: url(/static/img/mini-games/blackjack.png)
            background-color: #1c1e1e
    &.dice
        .mini_item_bg
            background-image: url(/static/img/mini-games/dice.png)
            background-color: #ffffff
    &.keno
        .mini_item_bg
            background-image: url(/static/img/mini-games/keno.png)
            background-color: #ffa92c
    &.seven
        .mini_item_bg
            background-image: url(/static/img/mini-games/777.png)
            background-color: #383231
    &.hilo
        .mini_item_bg
            background-image: url(/static/img/mini-games/hilo.png)
            background-color: #dbdbdb
    &.wheel
        .mini_item_bg
            background-image: url(/static/img/mini-games/wheel.png)
            background-color: #f3f3e9
    &.baccarat
        .mini_item_bg
            background-image: url(/static/img/mini-games/baccarat.png)
            background-color: #2f2f2f
    &.roulette
        .mini_item_bg
            background-image: url("/static/img/mini-games/roulet.jpg")
            background-size: cover
    &.rock-paper-scissors
        .mini_item_bg
            background-image: url("/static/img/mini-games/rock.jpg")
            background-size: cover
    &.heads-or-tails
        .mini_item_bg
            background-image: url("/static/img/mini-games/headsortails.jpg")
            background-size: cover
    &.lucky-card
        .mini_item_bg
            background-image: url("/static/img/mini-games/lucky.jpg")
            background-size: cover
.mini_item_txt
    color: #ffffff
    font-size: 1.5em
    line-height: 1
    font-weight: 700
    padding: 15px 20px
    background-color: #2f2f2f   

.mini_right
    width: 16%
.mini_banner
    padding-top: 9.6vw
    padding-bottom: 12vw
    display: flex
    justify-content: center
    background-image: url(/static/img/mini-games/banner.jpg)
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    margin-bottom: 20px
.mini_banner_btn
    font-size: 1.3em
    line-height: 1
    font-weight: 700
    text-transform: uppercase
    color: #ffffff
    text-decoration: none !important
    padding: 1em 2.2em
    background-color: #ff4d30
    margin: auto
    border: 1px solid #ff4d30
    transition: 0.3s
    &:hover
        background-color: transparent
        color: #ff4d30
        transition: 0.3s
.mini_winner_title
    background-color: #1c1e1e
    border: 2px solid #1a1c1c
    padding: 1.1em 2em
    p
        margin-bottom: 0
        color: #ffffff
        font-size: 1.7em
        line-height: 1
        font-weight: 600
.mini_winner_list
    list-style: none
    padding: 0
    counter-reset: counter  
    li
        display: flex
        justify-content: space-between
        align-items: center
        padding: 1em 2em
        padding-left: 35px
        background-color: #fff
        position: relative
        &:nth-child(2n)       
            background-color: #e8e8e8
        &::before
            counter-increment: counter
            content: counter(counter)
            position: absolute
            left: 15px
            top: 50%
            transform: translateY(-50%)
            font-size: 1.4em
            line-height: 1.2
            font-weight: 600
            color: #7d7d7d
        .winner_list_left
            display: flex
            align-items: center
            margin-right: 5px
            .winner_list_img
                margin-right: 10px
            p
                font-size: 1.4em
                line-height: 1.2
                font-weight: 500
                color: #7d7d7d
                margin-bottom: 0
        .winner_list_right
            p
                margin-bottom: 0
                font-size: 1.4em
                line-height: 1.2
                font-weight: 700
                color: #1c1e1e

// @media screen and (max-width: "1250px")
//     .mini_winner_list 
//         li
//             padding-left: 20px
//             &::before
//                 left: 5px
// @media screen and (max-width: "1000px")
//     .mini_wrap
//         display: block
//     .mini_left, .mini_right, .mini_center
//         width: 100%
//     .mini_banner
//         display: none
//     .mini_cat
//         .ui-button-content
//             width: 100%
//     .mini_center_title
//         margin-bottom: 0
// @media screen and (max-width: "768px")
//     .mini_item
//         width: 50% !important
// @media screen and (max-width: "515px")
//     .mini_item
//         width: 100% !important




