// about page
.static_wrap
    background-image: url(/static/img/static-pages/about_bg.jpg)
    background-size: cover
    background-repeat: no-repeat
    background-position: left bottom
    position: relative
    z-index: 3
    // min-height: 100vh
    &::before
        content: ''
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        background-image: url(/static/img/static-pages/footboll_img.png)
        background-repeat: no-repeat
        background-position: right
        z-index: 2
    &::after
        content: ''
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        background-color: rgba(#000000, 0.6)   
        z-index: 1
    .static_container
        margin: 0 auto
        max-width: 147.8em
        padding: 5em 2.5em
        position: relative
        z-index: 3     
        .about_txt
            font-size: 1.2em
            line-height: 1.8
            color: #d6892f
            font-weight: 700
            &:last-of-type
                margin-bottom: 20px
        .about_item
            h3
                font-size: 1.6em
                line-height: 1.6
                color: #ffffff
                font-weight: 700
                text-transform: uppercase
                margin-bottom: 20px
            p
                font-size: 1.2em
                line-height: 1.8
                font-weight: 700
        .about_item_big
            margin-bottom: 25px
            p
                margin-bottom: 0
        .about_row
            display: flex
            align-items: flex-start
            margin-left: -2.5em
            margin-right: -2.5em
            .about_item_small
                width: 33.3%
                padding: 0 2.5em
                p:not(:last-child)
                    margin-bottom: 15px

// contact page
.contact_wrap
    padding-bottom: 20em
    &::before
        background-image: url(/static/img/static-pages/contact_img.png)
    .contact_container
        display: flex
        align-items: flex-start
        // justify-content: space-between
        h3
            font-size: 1.6em
            line-height: 1.6
            color: #ffffff
            font-weight: 700
            text-transform: uppercase
            margin-bottom: 20px
        .contact_left
            width: 39em
            margin-right: 10em
        .contact_left_item
            &:not(:last-child)
                margin-bottom: 30px
        .contact_list
            list-style: none
            font-size: 1.2em
            line-height: 1.8
            font-weight: 700
            padding-left: 0
            li
                display: flex
                align-items: center
                justify-content: space-between
                p
                    margin-bottom: 0
                a
                    color: #d6892f
                    margin-left: 5em
                    &.contact_tell_link
                        font-size: 1.8em
                        text-transform: uppercase
.contact_right    
    p
        font-size: 1.2em
        line-height: 1.8
        font-weight: 700
.contact_form
    margin-top: 20px
    .form_row
        display: flex
        align-items: flex-start
        margin-bottom: 40px
        margin-right: -2.5em
        margin-left: -2.5em
        .form_input
            width: 50%
            margin-left: 2.5em
            margin-right: 2.5em
            position: relative
            &:before
                content: ''
                position: absolute
                bottom: 0
                left: 0
                width: 1px
                height: 7px
                background-color: #b5b5b5
            &:after
                content: ''
                position: absolute
                bottom: 0
                right: 0
                width: 1px
                height: 7px
                background-color: #b5b5b5
            input, textarea
                width: 100%
                resize: none
                background: none
                border: none
                border-bottom: 1px solid #b5b5b5
                padding: 5px 10px
                outline: none
                font-size: 1.2em
                line-height: 1.8
                font-weight: 700
            textarea
                height: 2.7em
                overflow: hidden
        .textarea_input
            &:before
                bottom: 3px

            &:after
                bottom: 3px

.form_btn
    width: 14.8em
    position: relative
    height: 5em
    button
        border: none
        outline: none
        right: 1em
        // .background-header-button
        //     padding-bottom: 5px

.modal
    z-index: 999999 !important

.content-view-rules
    .navigation
        position: static
    .content-wrapper
        padding-top: 0

.games-mini-games-game,
.games-mini-games-list
    .content-wrapper
        padding-left: 0

// @media screen and (max-width: "1000px")
//     .static_wrap
//         &::before
//             display: none
//         .static_container
//             .about_row
//                 display: block
//                 margin: 0
//                 .about_item_small
//                     width: 100%
//                     padding: 0
//                     margin-bottom: 15px
//     .contact_wrap
//         .contact_container
//             display: block
//             .contact_left
//                 margin-right: 0
//                 margin-bottom: 10em
//                 width: 100%

// @media screen and (max-width: "768px")
//     .contact_wrap
//         padding-bottom: 0
//         .contact_container
//             .contact_left
//                 margin-bottom: 2em
//             .contact_list
//                 li
//                     display: block
//                     a
//                         margin-left: 0
//     .contact_form
//         .form_row
//             display: block
//             margin: 0
//             .form_input
//                 width: 100%
//                 margin: 0
//                 margin-bottom: 15px
//             .textarea_input
//                 &:before
//                     bottom: 5px

//                 &:after
//                     bottom: 5px