.home {
  width: 100%;
  min-height: calc(100vh - 15em);
  background-size: 100% auto;
  background-position-x: center;
  background-position-y: -13em;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-left: 32.5em; }
  .home .content-bar {
    width: calc(100% - 65em); }
  .home .side-bar-right .ui-button-side-bar {
    border-radius: 6px; }
    .home .side-bar-right .ui-button-side-bar .content {
      margin: 0;
      padding: 0; }

.ui-accumulator-of-day {
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  margin-top: 4em;
  display: none; }
  .ui-accumulator-of-day .ui-button {
    margin-bottom: -4px; }
    .ui-accumulator-of-day .ui-button:after {
      display: none; }
  .ui-accumulator-of-day .accumulator-footer {
    width: 100%;
    height: 11.5em;
    background-color: #1d1f1f;
    padding: 0.9em 2.2em; }
    .ui-accumulator-of-day .accumulator-footer .result-text {
      color: white;
      display: flex;
      line-height: 1.6; }
      .ui-accumulator-of-day .accumulator-footer .result-text .bonus-color-result {
        color: #d6892f !important; }
      .ui-accumulator-of-day .accumulator-footer .result-text .result-content {
        flex: 1;
        font-size: 1.5em; }
      .ui-accumulator-of-day .accumulator-footer .result-text .result-coefficient {
        font-size: 1.5em;
        text-decoration: underline;
        color: #c6c6c6;
        font-weight: 700;
        line-height: 1.3; }
    .ui-accumulator-of-day .accumulator-footer .ui-accumulator-button-position {
      width: 100%;
      margin: auto;
      margin-top: .9em;
      position: relative;
      text-align: center; }
      .ui-accumulator-of-day .accumulator-footer .ui-accumulator-button-position .ui-header-button {
        background-position: 0em -0.5em;
        font-size: 1.2em;
        background-size: 100% 100%; }
        .ui-accumulator-of-day .accumulator-footer .ui-accumulator-button-position .ui-header-button .background-header-button {
          font-weight: 700;
          letter-spacing: .3px;
          line-height: 2.7; }
      .ui-accumulator-of-day .accumulator-footer .ui-accumulator-button-position .ui-radius-button {
        right: 0;
        font-size: 1.2em;
        margin: auto; }
        .ui-accumulator-of-day .accumulator-footer .ui-accumulator-button-position .ui-radius-button .background-header-button {
          font-weight: 700;
          letter-spacing: .3px; }

.modal {
  z-index: 99999 !important; }

.ui-coefficients-for-bet {
  flex-basis: 6.6em;
  border-radius: 5px;
  overflow: hidden;
  height: 100%;
  cursor: pointer;
  margin-right: 2.5px;
  margin-left: 2.5px; }
  .ui-coefficients-for-bet .top-coefficient-for-bet {
    height: 50%;
    border-top: 3px solid #d6892f;
    background-color: #e8e8e8;
    text-align: center;
    font-size: 0.8vw;
    letter-spacing: 0;
    color: #212121;
    font-weight: 700;
    line-height: 1.5; }
    .ui-coefficients-for-bet .top-coefficient-for-bet span {
      font-size: 0.8em;
      margin-left: 0.3em; }
  .ui-coefficients-for-bet .bottom-coefficient-for-bet {
    height: 50%;
    background: url("/static/img/buttons/background.png") no-repeat center;
    background-size: cover;
    text-align: center;
    font-size: 0.8vw;
    letter-spacing: 0;
    color: #ffffff;
    font-weight: 700;
    line-height: 1.5; }

.event-content .ui-event-show {
  width: 100%;
  display: flex;
  margin-bottom: 0.8em;
  cursor: pointer; }
  .event-content .ui-event-show .event-icon {
    background: url("/static/img/events/placeholder.png") no-repeat center;
    background-size: contain;
    height: 1.9em;
    flex-basis: 1.6em; }
  .event-content .ui-event-show .event-right-side-icon {
    width: 2em;
    height: 2em;
    border-radius: 1em;
    box-shadow: 0 0 4px rgba(27, 24, 21, 0.27);
    background-color: #d6892f;
    border: 1px solid #ffffff;
    text-align: center;
    display: flex; }
    .event-content .ui-event-show .event-right-side-icon span {
      margin: auto;
      font-size: 1.2em;
      color: #ffffff;
      font-weight: 700; }
  .event-content .ui-event-show .event-text {
    flex: 1;
    font-size: 1.2em;
    color: #212121;
    font-weight: 700;
    padding-left: 1.58em;
    letter-spacing: 0.1px; }

.event-content .ui-event-list {
  margin-bottom: 1em;
  display: none; }
  .event-content .ui-event-list.opened {
    display: block; }
  .event-content .ui-event-list .ui-event-list-item {
    display: flex;
    color: #333;
    padding: 5px;
    text-decoration: none; }
    .event-content .ui-event-list .ui-event-list-item .date-time-game {
      flex-basis: 6em; }
    .event-content .ui-event-list .ui-event-list-item .team-game {
      flex-grow: 1; }

.upcoming_item {
  padding: 1.5em 2em;
  background-image: url("/static/img/side-bar/up_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .upcoming_item:not(:last-child) {
    border-bottom: 1px solid #ffffff; }
  .upcoming_item .upcoming_title {
    display: flex;
    align-items: center;
    margin-bottom: 1em; }
    .upcoming_item .upcoming_title .upcoming_icon {
      width: 22px;
      height: 22px;
      background: url("/uploads/games/0/b/0b459040e7761170dcd4e3591013db9805217bf822.png") no-repeat center;
      background-size: 100%;
      margin-right: 0.8em; }
    .upcoming_item .upcoming_title .sport_name {
      font-size: 1.5em;
      color: #ffffff;
      font-weight: 700;
      margin-right: 0.9em; }
    .upcoming_item .upcoming_title .upcoming_liga {
      font-size: 1.4em;
      color: #bcbcbc;
      font-weight: 500;
      line-height: 1.4; }
  .upcoming_item .upcoming_teams {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .upcoming_item .upcoming_teams .team {
      max-width: 10em; }
    .upcoming_item .upcoming_teams .team_img {
      width: 8em;
      height: 7em;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin: auto;
      margin-bottom: 0.3em; }
    .upcoming_item .upcoming_teams .team_name {
      font-size: 1.1em;
      line-height: 1.6em;
      color: #ffffff;
      font-weight: 500;
      text-align: center;
      margin-bottom: 0; }
    .upcoming_item .upcoming_teams .team_coef {
      font-size: 1.6em;
      line-height: 1.6em;
      color: #d6892f;
      font-weight: 500;
      text-align: center; }
  .upcoming_item .upcoming_button {
    display: flex;
    justify-content: center; }
    .upcoming_item .upcoming_button .ui-radius-button {
      color: #ffffff !important;
      font-size: 1.2em;
      font-weight: 600; }

.ui-game-event-coefficient {
  width: 100%;
  margin-top: 2em;
  overflow: hidden; }
  .ui-game-event-coefficient:last-child {
    margin-bottom: 2em; }
  .ui-game-event-coefficient .game-event-title {
    width: 100%;
    min-height: 4.5em;
    height: auto;
    border-bottom: 2px solid #131313;
    box-shadow: 0 0 7px rgba(27, 24, 21, 0.32);
    background-repeat: no-repeat;
    background-size: 2.1em;
    background-position: 2.1em center;
    background-color: #ffffff;
    padding-left: 5.35em;
    line-height: 2.6;
    position: relative; }
    .ui-game-event-coefficient .game-event-title .game-event-icon {
      position: absolute;
      width: 2.5em;
      height: 2.5em;
      top: 50%;
      left: 1.5em;
      transform: translateY(-50%);
      filter: invert(50%);
      background-size: 100%;
      background-repeat: no-repeat; }
    .ui-game-event-coefficient .game-event-title span {
      font-size: 1.8em;
      letter-spacing: .4px;
      color: #212121;
      font-weight: 700; }

.ui-game-show-coefficient {
  width: 100%; }
  .ui-game-show-coefficient .game-show-coefficient {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 2px solid #131313;
    padding-bottom: 0.5em; }
  .ui-game-show-coefficient:last-child .game-show-coefficient {
    border: none; }
  .ui-game-show-coefficient .show-time {
    display: flex; }
    .ui-game-show-coefficient .show-time span {
      font-size: 1.5em;
      color: #7a7a7a;
      font-weight: 400; }
  .ui-game-show-coefficient .show-coeff-matches {
    flex-basis: 14em;
    padding-right: 1.25em; }
    .ui-game-show-coefficient .show-coeff-matches .show-team-game-coeff {
      text-align: right; }
      .ui-game-show-coefficient .show-coeff-matches .show-team-game-coeff span {
        font-size: 1.26em;
        color: #454545;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: .1px; }
      .ui-game-show-coefficient .show-coeff-matches .show-team-game-coeff .show-game-first-coeff {
        font-size: 1.5em;
        color: #363c3f;
        font-family: "Lato";
        font-weight: 800;
        text-decoration: underline;
        cursor: pointer; }
        .ui-game-show-coefficient .show-coeff-matches .show-team-game-coeff .show-game-first-coeff:hover {
          text-decoration: none; }
      .ui-game-show-coefficient .show-coeff-matches .show-team-game-coeff .show-game-second-coef {
        font-size: 1.5em;
        color: #d6892f;
        font-weight: 800;
        padding-right: 0.5em; }
  .ui-game-show-coefficient .show-video-match {
    flex-basis: 5.4em;
    border-left: 1px solid #acacac;
    border-right: 1px solid #acacac;
    height: 85%;
    margin: auto 0;
    background-size: 3.6em;
    background-repeat: no-repeat;
    background-position: center; }
    .ui-game-show-coefficient .show-video-match .show_video_sidebar {
      width: 80%;
      margin: auto;
      height: 35px;
      border: none;
      background: none;
      background-image: url("/static/img/side-bar/youtube.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      display: block;
      outline: none;
      transition: 0.3s; }
      .ui-game-show-coefficient .show-video-match .show_video_sidebar:hover {
        opacity: 0.8;
        transition: 0.3s; }
  .ui-game-show-coefficient .youtube {
    padding: 0; }
  .ui-game-show-coefficient .show-all-flex-coefficient {
    flex: 1;
    padding: 0.9em 2em .8em 1em;
    display: flex;
    justify-content: space-between; }

.show-games-teams {
  padding-top: 0.9em;
  margin-left: 1.5em;
  flex-basis: 18em; }
  .show-games-teams .show-team-name {
    font-size: 1.5em;
    letter-spacing: .2px;
    color: #454545;
    font-weight: 400; }

.scroll_markets {
  max-height: 25.4em; }
  .scroll_markets .ps__rail-y {
    background: none !important;
    z-index: 99999; }
  .scroll_markets .ps__thumb-y {
    background-color: #d6892f !important; }

.ui-game-show-content {
  width: 99%;
  box-shadow: 0 0 7px rgba(27, 24, 21, 0.32);
  background-color: #d1d1d1;
  padding: 0 1.5em;
  margin: 0 auto;
  max-height: 0;
  transition: max-height .3s, margin .3s;
  display: flex;
  flex-flow: column; }
  .ui-game-show-content .ui-game-show-loader {
    font-size: 10em;
    text-align: center;
    padding: 10px;
    display: none; }
  .ui-game-show-content.loading .ui-game-show-loader {
    display: block; }
  .ui-game-show-content.opened {
    max-height: 100%;
    margin-bottom: 1em; }
  .ui-game-show-content .game-user-day-header {
    min-height: 3.5em;
    height: auto;
    background-color: #e8e8e8;
    padding-left: 1.5em;
    padding-right: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer; }
    .ui-game-show-content .game-user-day-header span {
      font-size: 1.6em;
      letter-spacing: 0;
      color: #212121;
      font-weight: 700;
      margin-right: 5px; }
    .ui-game-show-content .game-user-day-header .arrow {
      transition: 0.3s; }
      .ui-game-show-content .game-user-day-header .arrow i {
        color: #d6892f;
        font-size: 1.4em; }
  .ui-game-show-content .game-show-for-one-game-coeff {
    background-color: #e8e8e8;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: 0.3s; }
    .ui-game-show-content .game-show-for-one-game-coeff.row_3 .coeffComponent {
      width: calc(33.3% - 3px); }
  .ui-game-show-content .coeffComponent {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    padding-top: 0.3em;
    padding-bottom: 0.3em; }
    .ui-game-show-content .coeffComponent:hover {
      opacity: 0.8;
      transition: 0.3s; }
    .ui-game-show-content .coeffComponent .coeffComponent-first-element {
      flex: 1 1 100%;
      padding-left: 1.5em;
      padding-right: 0.5em; }
      .ui-game-show-content .coeffComponent .coeffComponent-first-element span {
        font-size: 1.5em;
        color: #454545;
        font-weight: 600;
        transition: 0.3s; }
    .ui-game-show-content .coeffComponent .coeffComponent-second-element {
      flex: 1;
      padding-right: 1em;
      text-align: right; }
      .ui-game-show-content .coeffComponent .coeffComponent-second-element span {
        display: block;
        text-align: center;
        font-size: 1.5em;
        color: #ffffff;
        font-weight: 600;
        transition: 0.3s;
        padding: 0.5em;
        border-radius: 3px;
        background-color: #d6892f; }
      .ui-game-show-content .coeffComponent .coeffComponent-second-element .change-coeff-active-down {
        animation: activeCoeffChangeDown 3s linear; }
      .ui-game-show-content .coeffComponent .coeffComponent-second-element .change-coeff-active-up {
        animation: activeCoeffChangeUp 3s linear; }
  .ui-game-show-content .game-show-content-elements {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(27, 24, 21, 0.32); }
    .ui-game-show-content .game-show-content-elements:first-child {
      margin-top: 1.4em; }
    .ui-game-show-content .game-show-content-elements:last-child {
      margin-bottom: 1.4em; }
    .ui-game-show-content .game-show-content-elements .coeffComponent {
      width: calc(50% - 1px);
      margin-bottom: .2em; }
      .ui-game-show-content .game-show-content-elements .coeffComponent .coeffComponent-first-element {
        max-width: 85%;
        display: flex; }
        .ui-game-show-content .game-show-content-elements .coeffComponent .coeffComponent-first-element span {
          font-size: 1.4em;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%; }
        .ui-game-show-content .game-show-content-elements .coeffComponent .coeffComponent-first-element .coeffComponentCount {
          color: #ff9915;
          font-size: 1.4em; }
          .ui-game-show-content .game-show-content-elements .coeffComponent .coeffComponent-first-element .coeffComponentCount .ComponentCountCoeff {
            color: #a86918;
            font-size: 1em; }
      .ui-game-show-content .game-show-content-elements .coeffComponent .coeffComponent-second-element span {
        font-size: 1.4em; }

.closed {
  overflow: hidden;
  border-radius: 0 !important; }
  .closed .arrow {
    transform: rotate(180deg);
    transition: 0.3s; }
  .closed .game-show-for-one-game-coeff {
    display: none;
    transition: 0.3s; }

@keyframes activeCoeffChangeDown {
  0% {
    color: red; }
  100% {
    color: #ff9915; } }

@keyframes activeCoeffChangeUp {
  0% {
    color: blue; }
  100% {
    color: #ff9915; } }

.ui-game-show-content .game-show-content-elements .coeffComponent .coeffComponent-first-element span {
  font-size: 1.2em; }

.ui-game-user-day-content {
  border-bottom: 2px solid #131313; }
  .ui-game-user-day-content .content-game {
    height: 5.1em;
    display: flex;
    background-color: #ffffff; }
    .ui-game-user-day-content .content-game .icon-game {
      flex-basis: 5.4em;
      background-repeat: no-repeat;
      background-size: 2.2em;
      background-position: 2em center; }
      .ui-game-user-day-content .content-game .icon-game.basketball {
        background-image: url(/uploads/games/a/8/a846220aa92a5970763dd794592448cab9c0a679e3.png);
        filter: invert(50%); }
      .ui-game-user-day-content .content-game .icon-game.football {
        background-image: url(/uploads/games/a/8/a846220aa92a5970763dd794592448cab9c0a679e3.png);
        filter: invert(50%); }
    .ui-game-user-day-content .content-game .date-time-game {
      padding-top: .8em; }
      .ui-game-user-day-content .content-game .date-time-game div {
        font-size: 1.2em;
        color: #7a7a7a;
        font-family: "Lato";
        font-weight: 600; }
    .ui-game-user-day-content .content-game .team-game {
      padding: 0.5em 1em;
      flex: 1;
      font-size: 1.4em;
      line-height: 1.3;
      color: #212121;
      font-family: "Lato";
      font-weight: 700; }
  .ui-game-user-day-content .result-game {
    display: flex;
    align-items: center;
    background-color: #e8e8e8;
    padding: 0 20px; }
    .ui-game-user-day-content .result-game .name-rate-game {
      font-size: 1.5em;
      line-height: 1.8;
      color: #a86918;
      font-family: "Lato";
      font-weight: 700;
      flex: 1; }
      .ui-game-user-day-content .result-game .name-rate-game span {
        color: #363c3f; }
    .ui-game-user-day-content .result-game .coefficient-game {
      color: #363c3f;
      font-family: "Lato";
      font-weight: 700;
      text-align: right;
      font-size: 1.5em;
      text-decoration: underline; }
      .ui-game-user-day-content .result-game .coefficient-game span {
        font-size: 1.5em; }

.game_sidebar .ui-button::after {
  display: none !important; }

.game_sidebar_list {
  padding-left: 0;
  list-style: none; }
  .game_sidebar_list li:not(:last-child) {
    margin-bottom: 1em; }
  .game_sidebar_list a {
    display: block;
    text-decoration: none !important; }
    .game_sidebar_list a .game_sidebar_img {
      width: 100%;
      min-height: 15em;
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat; }
      .game_sidebar_list a .game_sidebar_img.game1 {
        background-position-y: -25px; }
    .game_sidebar_list a .game_sidebar_title {
      padding: 13px 20px;
      background-color: #2f2f2f;
      font-size: 1.5em;
      color: #999999;
      font-weight: 700;
      text-shadow: 0 0 4px #1b1815; }

.video_sidebar {
  margin-bottom: 2em;
  position: relative; }
  .video_sidebar .video_sidebar_content {
    position: relative; }
    .video_sidebar .video_sidebar_content object {
      width: 100%;
      min-height: 170px; }
  .video_sidebar .ui-button {
    align-items: center; }
  .video_sidebar .without_reg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #333333;
    z-index: 3; }
    .video_sidebar .without_reg .btns_wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%; }
      .video_sidebar .without_reg .btns_wrap a, .video_sidebar .without_reg .btns_wrap button {
        min-width: 10em;
        color: #ffffff !important;
        font-size: 1.2em;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 1em;
        text-align: center;
        border: none;
        outline: none; }

.icon-close {
  width: 15px;
  height: 15px;
  background-image: url(/static/img/side-bar/close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover !important;
  flex-basis: auto !important;
  margin-right: 15px;
  cursor: pointer;
  transition: 0.3s; }
  .icon-close:hover {
    opacity: 0.8;
    transition: 0.3s; }

.ui-my-bet-game-component {
  border-bottom: 2px solid #131313;
  position: relative; }
  .ui-my-bet-game-component .price-confirm {
    display: none;
    text-align: center;
    cursor: pointer; }
  .ui-my-bet-game-component.price-changed .price-confirm {
    display: inline-block; }
  .ui-my-bet-game-component.blocked:after, .ui-my-bet-game-component.price-changed:after {
    content: 'X';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    background: #000;
    opacity: .6;
    color: #F00;
    font-size: 8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .ui-my-bet-game-component.price-changed:after {
    bottom: 2.5rem;
    font-size: 6rem; }
  .ui-my-bet-game-component .ui-my-bet-game-content {
    min-height: 5.6em;
    height: auto;
    display: flex; }
  .ui-my-bet-game-component .ui-my-bet-game-content-icon {
    background-size: 2.1em;
    flex-basis: 4.3em;
    background-position: right 1.8em;
    background-repeat: no-repeat;
    filter: invert(50%); }
  .ui-my-bet-game-component .show-games-teams {
    flex-basis: 20em;
    padding-top: 1.1em;
    padding-left: 1.1em;
    line-height: 1.3; }
    .ui-my-bet-game-component .show-games-teams .show-team-name {
      font-size: 1.4em;
      font-weight: 700; }
  .ui-my-bet-game-component .ui-my-bet-game-quality {
    min-height: 2.2em;
    padding-left: 2em;
    line-height: 1;
    padding-bottom: 1em; }
    .ui-my-bet-game-component .ui-my-bet-game-quality span {
      font-size: 1.6em;
      letter-spacing: 0;
      color: #212121;
      font-weight: 700; }
  .ui-my-bet-game-component .ui-my-bet-game-coeff {
    width: 100%;
    height: 2.5em;
    background-color: #e8e8e8;
    display: flex; }
    .ui-my-bet-game-component .ui-my-bet-game-coeff .my-bet-game-coeff-name {
      width: 80%;
      padding-left: 2.1em;
      line-height: 1.6;
      display: flex;
      position: relative; }
      .ui-my-bet-game-component .ui-my-bet-game-coeff .my-bet-game-coeff-name span {
        font-size: 1.5rem;
        color: #a86918;
        font-weight: 700;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; }
      .ui-my-bet-game-component .ui-my-bet-game-coeff .my-bet-game-coeff-name .coeffComponentCount {
        color: #a86918;
        font-size: 1.5rem;
        display: flex; }
        .ui-my-bet-game-component .ui-my-bet-game-coeff .my-bet-game-coeff-name .coeffComponentCount .ComponentCountCoeff {
          color: #363c3f;
          font-size: 1em; }
    .ui-my-bet-game-component .ui-my-bet-game-coeff .my-bet-game-coeff-quality {
      flex: 1;
      padding-right: 2em;
      line-height: 1.6;
      text-align: right;
      flex-basis: 20%; }
      .ui-my-bet-game-component .ui-my-bet-game-coeff .my-bet-game-coeff-quality span {
        font-size: 1.5em;
        color: #363c3f;
        font-weight: 700; }

.ui-my-bet-game-close-icon {
  flex: 1;
  background: url("/static/img/side-bar/cancel.png") no-repeat center 1.7em;
  background-size: 2em;
  cursor: pointer; }
  .ui-my-bet-game-close-icon:hover {
    filter: contrast(4); }

.ui-my-bets-content .ui-my-bets-help-list {
  padding: 1em 1em 1em 3em;
  margin: 0; }
  .ui-my-bets-content .ui-my-bets-help-list li {
    font-size: 1.5em; }

.ui-my-bets-content .my-bets-header {
  height: 3.1em;
  display: flex;
  border-bottom: 2px solid #131313; }
  .ui-my-bets-content .my-bets-header .my-bets-header-menu-element {
    flex: 1;
    display: flex;
    background-color: #e8e8e8;
    cursor: pointer; }
    .ui-my-bets-content .my-bets-header .my-bets-header-menu-element span {
      margin: auto;
      font-size: 1.1em;
      color: #666;
      font-weight: 600;
      text-align: center; }
    .ui-my-bets-content .my-bets-header .my-bets-header-menu-element.active {
      background-color: #e9a033; }
      .ui-my-bets-content .my-bets-header .my-bets-header-menu-element.active span {
        color: #212121; }

.ui-my-bets-content .my-bets-list {
  position: relative; }
  .ui-my-bets-content .my-bets-list .cart-list-item {
    transition: opacity .5s, transform .5s; }
  .ui-my-bets-content .my-bets-list .cart-list-leave-to, .ui-my-bets-content .my-bets-list .cart-list-enter {
    opacity: 0;
    transform: translateY(-30px); }
  .ui-my-bets-content .my-bets-list .cart-list-leave-active {
    position: absolute;
    left: 0;
    right: 0; }

.ui-my-bets-content .my-bet-sumbit-bets-info {
  width: 100%;
  padding: 0.5em 2em 0 2.1em; }
  .ui-my-bets-content .my-bet-sumbit-bets-info .my-bet-sumbit-bets-odds {
    height: 4em;
    display: flex;
    flex-wrap: wrap; }
  .ui-my-bets-content .my-bet-sumbit-bets-info .odds-in-the-button {
    min-height: 2.5em !important;
    height: auto; }
  .ui-my-bets-content .my-bet-sumbit-bets-info .odds-in-the-drop {
    height: 2.5em !important;
    margin-top: .5em; }
  .ui-my-bets-content .my-bet-sumbit-bets-info .my-bet-sumbit-bets-odds-name {
    margin: auto 0;
    flex: 1;
    font-size: 1.4em;
    color: #7d7d7d;
    font-weight: 400;
    white-space: nowrap; }
  .ui-my-bets-content .my-bet-sumbit-bets-info .my-bet-sumbit-bets-odds-count {
    margin: auto 0;
    flex: 1;
    text-align: right;
    font-size: 1.5em;
    color: #363c3f;
    font-weight: 700; }
  .ui-my-bets-content .my-bet-sumbit-bets-info .my-bet-sumbit-bets-odds-drop {
    flex-basis: 10.5em;
    position: relative;
    margin-left: 5px; }
    .ui-my-bets-content .my-bet-sumbit-bets-info .my-bet-sumbit-bets-odds-drop .my-bet-sumbit-bets-odds-select {
      width: 100%;
      height: 2em;
      background-color: #eceff1;
      display: flex;
      cursor: pointer;
      font-size: 1.2em;
      letter-spacing: 0;
      color: #636363;
      font-weight: 400;
      padding: 0;
      border: 1px solid #dddddd; }
    .ui-my-bets-content .my-bet-sumbit-bets-info .my-bet-sumbit-bets-odds-drop .my-bets-submit-drop-count {
      position: absolute;
      width: 100%;
      display: flex;
      overflow: hidden;
      max-height: 0;
      background-color: #eceff1;
      z-index: 1;
      cursor: pointer;
      border-radius: 0 0 5px 5px; }
      .ui-my-bets-content .my-bet-sumbit-bets-info .my-bet-sumbit-bets-odds-drop .my-bets-submit-drop-count .my-bets-submit-drop-list {
        height: 2em;
        flex: 1;
        padding-left: 1.05em; }
        .ui-my-bets-content .my-bet-sumbit-bets-info .my-bet-sumbit-bets-odds-drop .my-bets-submit-drop-count .my-bets-submit-drop-list span {
          font-size: 1.2em;
          letter-spacing: 0;
          color: #636363;
          font-weight: 400; }
  .ui-my-bets-content .my-bet-sumbit-bets-info .bets-take-whit-long-input {
    margin-top: 1.3em; }
    .ui-my-bets-content .my-bet-sumbit-bets-info .bets-take-whit-long-input input {
      margin-left: 0 !important;
      flex: 1; }
    .ui-my-bets-content .my-bet-sumbit-bets-info .bets-take-whit-long-input span, .ui-my-bets-content .my-bet-sumbit-bets-info .bets-take-whit-long-input label {
      flex-basis: 6.9em; }
  .ui-my-bets-content .my-bet-sumbit-bets-info .my-bet-submit-bets-stake {
    width: 100%;
    height: 2.6em;
    display: flex; }
    .ui-my-bets-content .my-bet-sumbit-bets-info .my-bet-submit-bets-stake input {
      width: 10.7em;
      height: 2.6em;
      background-color: #eeeeee;
      border: 1px solid #dddddd;
      margin-left: 6.8em;
      margin-right: 1em;
      padding: 0 .5em; }
    .ui-my-bets-content .my-bet-sumbit-bets-info .my-bet-submit-bets-stake span, .ui-my-bets-content .my-bet-sumbit-bets-info .my-bet-submit-bets-stake label {
      font-size: 1.6em;
      letter-spacing: 0;
      color: #212121;
      font-weight: 600;
      margin: auto 0; }
    .ui-my-bets-content .my-bet-sumbit-bets-info .my-bet-submit-bets-stake .my-bet-submit-bets-stake-currency {
      flex-basis: 4.3em;
      justify-content: flex-end;
      display: flex; }
      .ui-my-bets-content .my-bet-sumbit-bets-info .my-bet-submit-bets-stake .my-bet-submit-bets-stake-currency span {
        font-size: 1.4em;
        letter-spacing: 0;
        color: #7d7d7d;
        font-weight: 400; }
  .ui-my-bets-content .my-bet-sumbit-bets-info .my-bet-sybmit-money-set {
    width: 100%;
    height: 4.7em;
    display: flex;
    justify-content: space-between; }
    .ui-my-bets-content .my-bet-sumbit-bets-info .my-bet-sybmit-money-set .money-quality-set {
      width: 13%;
      line-height: 1.7;
      border-radius: 3px;
      height: 2em;
      margin: auto 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background: url("/static/img/baner-left-side/baner-button-bg.png") no-repeat center;
      background-size: cover;
      cursor: pointer; }
      .ui-my-bets-content .my-bet-sumbit-bets-info .my-bet-sybmit-money-set .money-quality-set.money_disable {
        opacity: 0.8;
        cursor: default; }
      .ui-my-bets-content .my-bet-sumbit-bets-info .my-bet-sybmit-money-set .money-quality-set span {
        font-size: 1em;
        color: #ffffff;
        font-weight: 400; }
      .ui-my-bets-content .my-bet-sumbit-bets-info .my-bet-sybmit-money-set .money-quality-set i {
        font-size: 1.9em;
        color: #ffffff;
        margin: auto; }
  .ui-my-bets-content .my-bet-sumbit-bets-info .my-bet-submit-place-bet-button {
    width: 100%;
    margin: 2.1em 0 2.2em 0; }
    .ui-my-bets-content .my-bet-sumbit-bets-info .my-bet-submit-place-bet-button .ui-event-button {
      margin: 0 auto; }

.ui-my-bets-content .my-bet-submit-footer {
  width: 100%;
  height: 8.1em;
  background-size: 100%;
  padding-top: 1.25em;
  background-color: #1c1e1e; }
  .ui-my-bets-content .my-bet-submit-footer .my-bets-submit-footer-clear {
    display: flex;
    width: 100%;
    height: 2.6em;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    .ui-my-bets-content .my-bet-submit-footer .my-bets-submit-footer-clear .my-bets-submit-clear-text {
      text-align: right;
      font-size: 1.5em;
      color: #ff4d30;
      font-weight: 500;
      margin-right: 1em; }
    .ui-my-bets-content .my-bet-submit-footer .my-bets-submit-footer-clear .my-bets-submit-clear-close-icon {
      width: 1.7em;
      height: 1.7em;
      background: url("/static/img/side-bar/cancel-red.png") no-repeat;
      background-position: center;
      transition: all .3s; }
  .ui-my-bets-content .my-bet-submit-footer .my-bets-submit-footer-check-box {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: .6em; }
    .ui-my-bets-content .my-bet-submit-footer .my-bets-submit-footer-check-box .my-bets-submit-footer-check-box-element {
      flex-basis: 2em;
      height: 2em;
      border-radius: 3px;
      background-color: #eeeeee;
      border: 1px solid #c4c4c4;
      margin: 0 0 0 3.6em;
      margin-left: 0;
      display: flex;
      cursor: pointer; }
      .ui-my-bets-content .my-bet-submit-footer .my-bets-submit-footer-check-box .my-bets-submit-footer-check-box-element i {
        margin: auto;
        color: #a86918;
        font-size: 1.6em; }
    .ui-my-bets-content .my-bet-submit-footer .my-bets-submit-footer-check-box .my-bets-submit-check-box-text {
      font-size: 1.4em;
      letter-spacing: 0;
      color: #9e9e9e;
      font-weight: 400;
      padding-left: 0.8em;
      line-height: 1.36;
      margin-bottom: 0; }

.ui-one-click-set {
  width: 100%;
  min-height: 4.4em;
  background-color: #363c3f;
  margin: .7em 0 1em 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .ui-one-click-set.active_line {
    display: flex; }
  .ui-one-click-set .one-click-live {
    font-size: 1.8em;
    letter-spacing: .4px;
    color: #ffffff;
    font-weight: 700;
    text-shadow: 0 0 4px #fff4f4d4;
    width: 3.1em;
    min-height: 44px;
    border-right: 1px solid #464646;
    border-bottom: 3px solid #e9a033;
    display: flex;
    align-items: center;
    justify-content: center; }
  .ui-one-click-set .ui-one-click-radio {
    flex-basis: 10em;
    min-height: 44px;
    border-left: 1px solid #464646;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }

.carousel_wrap {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-left: 5px;
  margin-right: 5px; }
  .carousel_wrap .slick-track {
    display: flex; }
  .carousel_wrap .slick-list {
    overflow: hidden; }
  .carousel_wrap .slick-slider {
    padding-left: 3.5em;
    padding-right: 3.5em; }
    .carousel_wrap .slick-slider .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
      height: 14px;
      background: none;
      font-size: 0;
      outline: none;
      border: none;
      z-index: 99; }
      .carousel_wrap .slick-slider .slick-arrow:before {
        content: '';
        position: absolute;
        top: 0;
        width: 2px;
        height: 9px;
        background-color: #999999;
        transition: 0.3s; }
      .carousel_wrap .slick-slider .slick-arrow:after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 2px;
        height: 9px;
        background-color: #999999;
        transition: 0.3s; }
      .carousel_wrap .slick-slider .slick-arrow:hover:before, .carousel_wrap .slick-slider .slick-arrow:hover:after {
        background-color: #fff;
        transition: 0.3s; }
      .carousel_wrap .slick-slider .slick-arrow.slick-disabled:before, .carousel_wrap .slick-slider .slick-arrow.slick-disabled:after {
        background-color: #999999 !important;
        cursor: default; }
      .carousel_wrap .slick-slider .slick-arrow.slick-prev {
        left: -3.5em; }
        .carousel_wrap .slick-slider .slick-arrow.slick-prev:before {
          transform: rotate(45deg);
          left: 3px; }
        .carousel_wrap .slick-slider .slick-arrow.slick-prev:after {
          transform: rotate(-45deg);
          left: 3px; }
      .carousel_wrap .slick-slider .slick-arrow.slick-next {
        right: -3.5em; }
        .carousel_wrap .slick-slider .slick-arrow.slick-next:before {
          transform: rotate(-45deg);
          right: 3px; }
        .carousel_wrap .slick-slider .slick-arrow.slick-next:after {
          transform: rotate(45deg);
          right: 3px; }
    .carousel_wrap .slick-slider .slick-slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 25px; }
      .carousel_wrap .slick-slider .slick-slide.slick-active {
        transition: 0.3s; }

.list_link {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  line-height: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #999999;
  text-shadow: 0 0 4px rgba(27, 24, 21, 0.47);
  transition: 0.3s; }
  .list_link:hover, .list_link:active, .list_link:focus, .list_link.active {
    color: #ffffff !important;
    text-decoration: none !important;
    outline: none;
    transition: 0.3s; }
    .list_link:hover .list_icon, .list_link:active .list_icon, .list_link:focus .list_icon, .list_link.active .list_icon {
      filter: invert(0);
      transition: 0.3s; }

.list_icon {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin-right: 7px;
  filter: invert(50%);
  transition: 0.3s; }

.list_icon_all {
  filter: invert(50%);
  width: 14px !important;
  height: 14px !important;
  transition: 0.3s; }

.link_wrap {
  display: flex;
  align-items: center; }
  .link_wrap:hover .list_icon_all {
    filter: invert(0);
    transition: 0.3s; }
  .link_wrap.active_wrap a {
    color: #ffffff; }
  .link_wrap.active_wrap .list_icon_all {
    filter: invert(0); }

.ui-upcoming-events {
  background: url("/static/img/baner-left-side/background.png") center;
  background-size: cover;
  height: 23.4em;
  width: 100%;
  margin-bottom: .2em;
  padding: 1.9em 1.4em 1.7em 1.4em;
  display: flex;
  flex-direction: column; }
  .ui-upcoming-events:last-child {
    margin-bottom: 0; }
  .ui-upcoming-events .event-header {
    display: flex; }
    .ui-upcoming-events .event-header .event-name {
      flex-basis: 8.5em;
      height: 2em;
      background-position: 0 center;
      background-repeat: no-repeat;
      background-size: 2.2em 100%;
      text-align: end;
      margin-left: 0.9em; }
      .ui-upcoming-events .event-header .event-name span {
        font-size: 1.5em;
        color: #ffffff;
        font-weight: 700; }
    .ui-upcoming-events .event-header .event-liga {
      font-size: 1.4em;
      padding-left: 0.8em;
      flex: 1;
      color: #bcbcbc;
      font-weight: 500; }
  .ui-upcoming-events .event-value {
    flex: 1;
    display: flex; }
    .ui-upcoming-events .event-value .event-value-home, .ui-upcoming-events .event-value .event-value-guest {
      flex-basis: 9.7em; }
    .ui-upcoming-events .event-value .midle-event-value {
      flex: 1; }
  .ui-upcoming-events .ui-upcoming-events-button {
    margin: 0 auto;
    width: 11.7em;
    height: 3.5em;
    position: relative; }
  .ui-upcoming-events .ui-header-button {
    background-position: 0 -0.6em;
    background-size: 100% 125%;
    font-size: 1.2em; }
    .ui-upcoming-events .ui-header-button .background-header-button {
      line-height: 2.4; }
  .ui-upcoming-events .ui-radius-button {
    height: 5.1em;
    right: 0;
    top: -.3em;
    background-size: 100% 84%;
    font-size: 1.2em;
    background-position: center top; }
    .ui-upcoming-events .ui-radius-button .background-header-button {
      line-height: 3.8; }

.game-view {
  margin-top: 1.2em; }
  .game-view .game-view-title {
    padding: 1rem 2rem 2rem 2rem;
    margin: 0 auto;
    border-bottom: 2px solid #131313;
    background-color: #ffffff;
    line-height: 2.3rem;
    font-size: 2.2rem;
    color: #212121;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .game-view .game-view-title a {
      color: #8E8E8E;
      font-size: 1.1rem;
      line-height: 1.2rem;
      margin-bottom: 5px;
      display: inline-block; }
      .game-view .game-view-title a:hover {
        color: #d6892f; }
  .game-view .clone_video {
    border: none;
    background: none;
    outline: none;
    width: 20px;
    height: 20px;
    background-image: url(/static/img/games/full_icon_new.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding: 0;
    margin-left: 5px;
    margin-right: 10px;
    opacity: 0.6;
    transition: 0.3s; }
    .game-view .clone_video:hover {
      opacity: 1;
      transition: 0.3s; }
  .game-view .show_video_btn {
    width: 30px;
    height: 20px;
    border: none;
    background: none;
    outline: none;
    background-image: url(/static/img/side-bar/youtube.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    transition: 0.3s;
    margin-right: 1em; }
    .game-view .show_video_btn:hover {
      transform: scale(1.1);
      transition: 0.3s; }
    .game-view .show_video_btn.active {
      transform: scale(1.1);
      position: relative; }
      .game-view .show_video_btn.active:before {
        content: '';
        position: absolute;
        bottom: -6px;
        left: 0;
        right: 0;
        height: 3px;
        background-color: #d5892f; }
  .game-view .game_content_top {
    margin-bottom: 1em; }
  .game-view .game-view-stats {
    background-color: #ffffff;
    text-align: center;
    border-bottom: 2px solid #131313;
    color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-color: transparent; }
    .game-view .game-view-stats .game-view-stats-top {
      display: flex;
      align-items: stretch;
      justify-content: center; }
    .game-view .game-view-stats .not_live {
      min-height: 200px; }
      .game-view .game-view-stats .not_live .game_stats_center {
        justify-content: center; }
      .game-view .game-view-stats .not_live .game-view-duration {
        margin-bottom: 0;
        padding-top: 20px;
        padding-bottom: 20px; }
    .game-view .game-view-stats::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 1; }
    .game-view .game-view-stats::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: url("/static/img/backgrounds/universal.jpg") no-repeat;
      background-position: center;
      background-size: cover;
      z-index: -1; }
    .game-view .game-view-stats .game-view-result {
      font-size: 8em;
      line-height: 1;
      color: #ff4d30;
      font-weight: 800;
      text-align: center;
      position: relative;
      z-index: 3;
      margin-bottom: 35px; }
    .game-view .game-view-stats .game-view-result-small {
      font-size: 3em !important; }
    .game-view .game-view-stats .game-view-duration {
      color: #ffffff;
      padding-top: 10px;
      font-weight: 700;
      line-height: 1.1;
      margin-bottom: 7.5em;
      position: relative;
      z-index: 3; }
      .game-view .game-view-stats .game-view-duration p {
        font-size: 1.6em;
        margin-bottom: 0; }
      .game-view .game-view-stats .game-view-duration span {
        font-size: 3em; }
      .game-view .game-view-stats .game-view-duration .finished {
        font-size: 2em; }
    .game-view .game-view-stats .game_stats_center {
      padding-left: 3em;
      padding-right: 3em;
      margin-left: 2em;
      margin-right: 2em;
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 30em; }
      .game-view .game-view-stats .game_stats_center:before {
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 2;
        background-color: #272727;
        clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%);
        -webkit-clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%); }
      .game-view .game-view-stats .game_stats_center:after {
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 1;
        background-color: #333333;
        clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
        -webkit-clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%); }
    .game-view .game-view-stats .team_name {
      position: absolute;
      z-index: 3;
      flex: 1;
      color: #ffffff;
      max-width: 450px;
      display: flex;
      align-items: center;
      top: 50%;
      transform: translateY(-50%); }
      .game-view .game-view-stats .team_name::before {
        content: '';
        position: absolute;
        top: 0px !important;
        bottom: 0px !important;
        background: url("/static/img/games/name_bg.jpg") no-repeat bottom;
        background-size: cover;
        z-index: -3; }
      .game-view .game-view-stats .team_name.team_name_left {
        left: 0; }
        .game-view .game-view-stats .team_name.team_name_left::before {
          right: 30px;
          left: 0; }
      .game-view .game-view-stats .team_name.team_name_right {
        right: 0; }
        .game-view .game-view-stats .team_name.team_name_right::before {
          left: 30px;
          right: 0; }
      .game-view .game-view-stats .team_name span {
        width: 17em;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 1em;
        font-size: 2em;
        line-height: 1.1em;
        color: #1c1e1e;
        font-weight: 700;
        flex-grow: 2;
        position: relative;
        z-index: -2; }
        .game-view .game-view-stats .team_name span.name_left {
          justify-content: flex-end;
          text-align: right;
          padding-right: 2.5em; }
        .game-view .game-view-stats .team_name span.name_right {
          text-align: left;
          padding-left: 2.5em; }
      .game-view .game-view-stats .team_name .team_img {
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        background-size: 75%;
        background-position: center;
        position: relative; }
        .game-view .game-view-stats .team_name .team_img:after {
          content: '';
          position: absolute;
          top: -3px;
          left: -3px;
          right: -3px;
          bottom: -3px;
          background-color: #fff;
          border-radius: 50%;
          z-index: -1;
          box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.6); }
        .game-view .game-view-stats .team_name .team_img.img_left {
          margin-left: -30px; }
        .game-view .game-view-stats .team_name .team_img.img_right {
          margin-right: -30px; }
      .game-view .game-view-stats .team_name::before {
        content: '';
        position: absolute; }
  .game-view .game-view-groups {
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em; }
    .game-view .game-view-groups select {
      font-size: 1.5em;
      width: 20em; }
  .game-view .ui-game-show-content {
    max-height: unset;
    width: 100%;
    box-shadow: none; }

.scroll_tabs {
  max-width: 100%; }
  .scroll_tabs .ps__rail-x {
    background: none !important;
    z-index: 99999; }
  .scroll_tabs .ps__thumb-x {
    background-color: #d6892f !important; }

.game-tabs-wrap {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0; }
  .game-tabs-wrap .game-tab-item {
    display: flex;
    align-items: center;
    padding: 0.8em 1.5em;
    font-size: 1.4em;
    line-height: 1.2;
    cursor: pointer;
    color: #999999;
    transition: 0.3s;
    border-bottom: 3px solid transparent;
    text-shadow: 0 0 4px rgba(27, 24, 21, 0.47);
    border-right: 1px solid #464646 !important;
    white-space: nowrap; }
    .game-tabs-wrap .game-tab-item:hover {
      transition: 0.3s;
      color: #ffffff;
      border-color: #e9a033; }
  .game-tabs-wrap .active-game-tab {
    border-color: #e9a033;
    color: #ffffff; }

.game-search-wrap {
  margin-right: 1.5em;
  display: flex;
  align-items: center; }
  .game-search-wrap input {
    padding: 0.23em;
    font-size: 1.2em;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #464646;
    transition: 0.3s; }
    .game-search-wrap input:hover, .game-search-wrap input:focus {
      border-color: #ffffff;
      transition: 0.3s; }
  .game-search-wrap span {
    font-size: 1.2em;
    cursor: pointer;
    margin-left: 0.3em;
    transition: 0.3s; }
    .game-search-wrap span:hover {
      color: #ffffff;
      transition: 0.3s; }

.view-groups-left {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-grow: 2;
  overflow: hidden;
  padding-left: 25px;
  padding-right: 25px;
  position: relative; }
  .view-groups-left .scroll_arrow_left {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    color: #ffffff;
    font-size: 15px;
    display: flex;
    align-items: center;
    opacity: 0.6; }
  .view-groups-left .scroll_arrow_right {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    color: #ffffff;
    font-size: 15px;
    display: flex;
    align-items: center;
    opacity: 0.6; }

.view-groups-right {
  display: flex;
  margin-right: 1.5em;
  align-items: center; }
  .view-groups-right input, .view-groups-right .game-search-reset {
    display: none; }
  .view-groups-right.showSearch input, .view-groups-right.showSearch .game-search-reset {
    display: block; }
  .view-groups-right.showSearch .show_search_btn {
    display: none; }

.show_search_btn {
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s; }
  .show_search_btn:hover {
    opacity: 0.8;
    transition: 0.3s; }

.temp_change {
  width: 25px;
  height: 21px;
  background: none;
  outline: none;
  border: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  transition: 0.3s; }
  .temp_change:not(:last-child) {
    margin-right: 0.5em; }
  .temp_change.temp_change1 {
    background-image: url("/static/img/games/col1.png"); }
  .temp_change.temp_change2 {
    background-image: url("/static/img/games/col2.png"); }
  .temp_change.temp_change3 {
    background-image: url("/static/img/games/col3.png"); }
  .temp_change:hover, .temp_change.active {
    opacity: 1;
    transition: 0.3s; }

.video_container {
  display: none; }

.unlogin .without_reg {
  display: block !important; }

.with_video {
  display: flex;
  align-items: stretch; }
  .with_video .video_container {
    display: block;
    width: 45%;
    position: relative; }
    .with_video .video_container object {
      width: 100% !important;
      height: 100% !important; }
    .with_video .video_container .without_reg {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #333333;
      z-index: 3; }
      .with_video .video_container .without_reg .btns_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%; }
        .with_video .video_container .without_reg .btns_wrap a, .with_video .video_container .without_reg .btns_wrap button {
          min-width: 10em;
          color: #ffffff !important;
          font-size: 1.2em;
          font-weight: 600;
          text-transform: uppercase;
          margin-bottom: 1em;
          text-align: center;
          border: none;
          outline: none; }
  .with_video .game-view-stats {
    width: 55%; }
    .with_video .game-view-stats .game_stats_center {
      margin-left: 0 !important;
      margin-right: 0 !important; }
    .with_video .game-view-stats .game-view-result {
      font-size: 5em; }
    .with_video .game-view-stats .game-view-duration p {
      font-size: 1.4em; }
    .with_video .game-view-stats .game-view-duration span {
      font-size: 2em; }
    .with_video .game-view-stats .team_name {
      width: 32%; }
      .with_video .game-view-stats .team_name:before {
        top: 5px;
        bottom: 5px; }
      .with_video .game-view-stats .team_name span {
        width: 7em !important;
        font-size: 1.6em; }
      .with_video .game-view-stats .team_name .team_img {
        width: 75px;
        height: 75px; }

.result_table_wrap {
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  overflow: auto;
  margin-bottom: 1em;
  position: relative;
  z-index: 3;
  scrollbar-color: #ff9915 #f5f5f5;
  scrollbar-width: thin; }
  .result_table_wrap::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transperent; }
  .result_table_wrap::-webkit-scrollbar-thumb {
    background-color: rgba(255, 153, 21, 0.6);
    opacity: 0.6;
    border-radius: 5px; }
  .result_table_wrap::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transperent; }

.mobile_name {
  display: none; }

.result_table {
  font-size: 1.4em;
  line-height: 1;
  margin: auto;
  color: #ffffff;
  position: relative;
  z-index: 3; }
  .result_table thead {
    border-bottom: 1px solid #464646; }
  .result_table tr {
    padding: 5px; }
    .result_table tr:not(:last-child) {
      border-bottom: 1px solid #464646; }
  .result_table td, .result_table th {
    padding: 5px;
    min-width: 40px;
    text-align: center; }
  .result_table td {
    font-weight: bold; }

.team_table_icon {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
  position: relative; }
  .team_table_icon:after {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background-color: #fff;
    border-radius: 50%;
    z-index: -1;
    box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.6); }

.temp_change:last-child {
  display: none; }

.game-view .game-view-stats .team_name {
  max-width: 350px; }
  .game-view .game-view-stats .team_name span {
    width: 12em; }
  .game-view .game-view-stats .team_name .team_img {
    flex-shrink: 0; }

.game-view .game-view-stats .game_stats_center {
  margin-left: 1em;
  margin-right: 1em;
  min-width: 25em; }
  .game-view .game-view-stats .game_stats_center .game-view-result {
    font-size: 5em;
    margin-bottom: 70px; }

.with_video .video_container {
  width: 50%; }

.with_video .game-view-stats {
  width: 50%; }
  .with_video .game-view-stats .game_stats_center {
    min-width: 20em; }
  .with_video .game-view-stats .game-view-duration {
    margin-bottom: 4em; }
  .with_video .game-view-stats .game-view-result {
    margin-bottom: 40px; }
  .with_video .game-view-stats .team_name span {
    font-size: 1.4em; }
    .with_video .game-view-stats .team_name span.name_left {
      padding-right: 3em; }
    .with_video .game-view-stats .team_name span.name_right {
      padding-left: 3em; }
  .with_video .game-view-stats .team_name .team_img {
    width: 45px !important;
    height: 45px !important; }

.with_video .result_table thead {
  display: none; }

.with_video .result_table tr {
  border: none; }

.with_video .result_table td {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  .with_video .result_table td .mobile_name {
    display: block;
    margin-right: 5px; }

.with_video .team_table_icon {
  margin: auto; }

.col3 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  flex-flow: wrap; }
  .col3 .column {
    width: calc(33.33% - 10px);
    margin-right: 5px;
    margin-left: 5px; }
  .col3 .game-show-content-elements {
    float: none;
    background-color: #e8e8e8;
    display: inline-block;
    width: 100%; }
    .col3 .game-show-content-elements:last-child {
      margin-bottom: 0.7em !important; }

.game-view .game-view-stats .game_stats_center {
  min-width: 20em; }

.game-view .game-view-stats .game-view-duration {
  margin-bottom: 3.5em; }
  .game-view .game-view-stats .game-view-duration p {
    font-size: 1.3em; }
  .game-view .game-view-stats .game-view-duration span {
    font-size: 2em; }

.game-view .game-view-stats .game-view-result {
  margin-bottom: 50px;
  font-size: 3.5em; }

.game-view .game-view-stats .team_name {
  top: 40%;
  width: 240px; }
  .game-view .game-view-stats .team_name span {
    font-size: 1.6em; }
    .game-view .game-view-stats .team_name span.name_left {
      padding-right: 3.5em; }
    .game-view .game-view-stats .team_name span.name_right {
      padding-left: 3.5em; }
  .game-view .game-view-stats .team_name .team_img {
    width: 75px;
    height: 75px; }

.game-view .with_video .game-view-stats .team_name {
  width: 120px; }
  .game-view .with_video .game-view-stats .team_name span {
    font-size: 1.4em; }

.with_video .game-view-stats .game-view-stats-top {
  flex-wrap: wrap;
  align-items: center;
  padding-top: 15px; }

.with_video .game-view-stats .game_stats_center {
  order: 2;
  width: 100%;
  margin: 0;
  margin-top: 15px; }
  .with_video .game-view-stats .game_stats_center:after {
    display: none; }
  .with_video .game-view-stats .game_stats_center:before {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    opacity: 0.6; }

.with_video .game-view-stats .game-view-result {
  margin-bottom: 20px !important; }

.with_video .game-view-stats .team_name {
  order: 1;
  position: static;
  transform: translateY(0);
  max-width: 100%; }
  .with_video .game-view-stats .team_name::before {
    top: 15px;
    bottom: 15px; }
  .with_video .game-view-stats .team_name .team_img {
    width: 75px !important;
    height: 75px !important; }
    .with_video .game-view-stats .team_name .team_img.img_left {
      margin-right: 5px; }
    .with_video .game-view-stats .team_name .team_img.img_right {
      margin-left: 5px; }

.temp_change {
  display: none; }

.game-view .game-view-stats .game-view-stats-top {
  flex-wrap: wrap;
  align-items: center;
  padding-top: 15px; }

.game-view .game-view-stats .game_stats_center {
  order: 2;
  width: 100%;
  margin: 0;
  margin-top: 15px; }
  .game-view .game-view-stats .game_stats_center:after {
    display: none; }
  .game-view .game-view-stats .game_stats_center:before {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    opacity: 0.6; }

.game-view .game-view-stats .game-view-result {
  margin-bottom: 20px !important; }

.game-view .game-view-stats .team_name {
  order: 1;
  position: static;
  transform: translateY(0);
  max-width: 100%; }
  .game-view .game-view-stats .team_name .team_img {
    width: 60px !important;
    height: 60px !important; }
    .game-view .game-view-stats .team_name .team_img.img_left {
      margin-right: 5px; }
    .game-view .game-view-stats .team_name .team_img.img_right {
      margin-left: 5px; }

.game-view .game-view-groups {
  flex-wrap: wrap;
  justify-content: flex-start; }
  .game-view .game-view-groups .view-groups-left {
    width: 100%;
    border-bottom: 1px solid #464646;
    margin-bottom: 2em;
    overflow: hidden; }

.view-groups-right {
  margin-right: 0;
  margin-left: 2em;
  padding-bottom: 2em; }

.with_video {
  flex-direction: column; }
  .with_video .video_container {
    width: 100%;
    min-height: 400px;
    order: 2; }
  .with_video .game-view-stats {
    width: 100%;
    order: 1; }
    .with_video .game-view-stats .team_name {
      width: 40%; }
  .with_video .result_table thead {
    display: table-caption; }
  .with_video .result_table td {
    display: table-cell; }
    .with_video .result_table td .mobile_name {
      display: none; }
  .with_video .table_list thead {
    display: none; }
  .with_video .table_list tr {
    border: none; }
  .with_video .table_list td {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    .with_video .table_list td .mobile_name {
      display: block;
      margin-right: 5px; }

.col2 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  flex-flow: wrap; }
  .col2 .column {
    width: calc(50% - 10px);
    margin-right: 5px;
    margin-left: 5px; }
  .col2 .game-show-content-elements {
    width: 100%;
    display: inline-block; }

.with_video .video_container {
  height: auto !important; }

.carusel {
  width: 100%;
  overflow: hidden;
  position: relative; }
  .carusel img {
    width: 100%;
    height: 100%; }
  .carusel .slick-slider {
    height: 100%; }
    .carusel .slick-slider div {
      height: 100%; }
  .carusel .slick-track {
    display: flex; }
  .carusel .slick-dots {
    position: absolute;
    top: 50%;
    right: 55px;
    transform: translateY(-50%);
    list-style: none;
    counter-reset: counter; }
    .carusel .slick-dots li:not(:last-child) {
      margin-bottom: 20px; }
    .carusel .slick-dots li:before {
      top: 0;
      transition: 0.3s; }
    .carusel .slick-dots button {
      font-size: 0;
      position: relative;
      background: none;
      border: none;
      outline: none;
      width: 25px;
      height: 25px; }
      .carusel .slick-dots button:before {
        counter-increment: counter;
        content: "0" counter(counter);
        font-size: 14px;
        line-height: 14px;
        color: #bcb9b9;
        font-weight: 900;
        transition: 0.3s; }
      .carusel .slick-dots button:hover:before {
        color: #ffffff;
        transition: 0.3s; }
    .carusel .slick-dots .slick-active:not(:last-child) {
      padding-bottom: 7em;
      position: relative;
      transition: 0.3s; }
      .carusel .slick-dots .slick-active:not(:last-child):before {
        content: '';
        position: absolute;
        top: 35px;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 1px;
        background-color: #ff4d30;
        transition: 0.3s; }
    .carusel .slick-dots .slick-active button:before {
      color: #ffffff;
      transition: 0.3s; }
  .carusel .button_wrap {
    position: absolute;
    bottom: 6em;
    left: 4em;
    cursor: pointer;
    z-index: 1; }
    .carusel .button_wrap:before {
      content: '';
      position: absolute;
      top: 10px;
      left: 0;
      bottom: -10px;
      right: -5px;
      background-color: #ff6939;
      clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
      -webkit-clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
      transition: 0.3s;
      z-index: -1; }
    .carusel .button_wrap:hover:before {
      background-color: #fff;
      transition: 0.3s; }
    .carusel .button_wrap:hover .carusel-button {
      background-color: #ff6939;
      color: #ffffff;
      transition: 0.3s; }
  .carusel .carusel-button {
    display: inline-block;
    min-width: 17em;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: #ff4d30;
    font-weight: 900;
    background-color: #fff;
    padding: 17px 30px;
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    -webkit-clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    transition: 0.3s; }

.loginIn.carusel .slick-slider div {
  max-height: 415px; }

.ui-one-click-radio .radio-text {
  width: 100%;
  text-align: center;
  font-size: 1.4em;
  letter-spacing: 0px;
  color: #adadad;
  font-weight: 500;
  line-height: 1.3; }

.ui-one-click-radio .radio-content {
  display: flex;
  width: 79%; }
  .ui-one-click-radio .radio-content .radio-content-text {
    font-size: 1.2em;
    letter-spacing: 0.4px;
    color: #adadad;
    font-weight: 500;
    line-height: 1.2;
    background: none;
    border: none;
    max-width: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    outline: none; }
    .ui-one-click-radio .radio-content .radio-content-text:disabled {
      border-bottom-color: transparent; }
  .ui-one-click-radio .radio-content .radio-content-value {
    position: relative;
    flex-basis: 3.3em;
    height: 1.1em;
    border-radius: 5px;
    background-image: url("./../../img/radio/background.png");
    border: 1px solid #161616;
    margin: auto;
    display: flex;
    cursor: pointer; }
    .ui-one-click-radio .radio-content .radio-content-value:hover .radio-icon {
      background-color: #292929;
      border: 1px solid #161616; }
      .ui-one-click-radio .radio-content .radio-content-value:hover .radio-icon:before {
        background-color: #ffffff;
        border: 1px solid #b8b8b8; }
    .ui-one-click-radio .radio-content .radio-content-value .radio-false, .ui-one-click-radio .radio-content .radio-content-value .radio-true {
      flex: 1; }
    .ui-one-click-radio .radio-content .radio-content-value .radio-icon {
      position: absolute;
      height: 1.7em;
      width: 1.7em;
      border-radius: 50%;
      top: -0.4em;
      transition: all .5s; }
      .ui-one-click-radio .radio-content .radio-content-value .radio-icon:before {
        content: '';
        width: 1.3em;
        height: 1.3em;
        border-radius: 50%;
        right: .1em;
        position: absolute;
        top: .1em;
        transition: all .5s; }
    .ui-one-click-radio .radio-content .radio-content-value .radio-icon-active {
      background-color: #292929;
      border: 1px solid #161616 !important;
      right: -3%; }
      .ui-one-click-radio .radio-content .radio-content-value .radio-icon-active:before {
        background-color: #d6892f !important;
        border: 1px solid #ffc000; }
    .ui-one-click-radio .radio-content .radio-content-value .radio-icon-default {
      background-color: #292929;
      border: 1px solid #161616;
      right: 50%; }
      .ui-one-click-radio .radio-content .radio-content-value .radio-icon-default:before {
        background-color: #c4c4c4;
        border: 1px solid #ffffff; }

