.games-games-results .content-wrapper {
  background: #171917 url(/static/img/home/Background.png) no-repeat;
  padding-left: 0;
  padding-right: 0; }

.slide-enter-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.slide-leave-active {
  -moz-transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.games-games-results .content-wrapper {
  overflow: visible; }

.slide-enter-to, .slide-leave {
  max-height: 100px;
  overflow: hidden; }

.open_result {
  position: absolute;
  top: 40%;
  right: 20px;
  width: 12px;
  height: 12px;
  background: none;
  border: none;
  outline: none;
  background: url(/static/img/results/result_arrow.png) no-repeat;
  transition: 0.3s;
  transform: rotate(180deg); }
  .open_result:hover {
    opacity: 0.8;
    transition: 0.3s; }
  .open_result.active {
    transform: rotate(0);
    transition: 0.3s; }

.slide-enter, .slide-leave-to {
  overflow: hidden;
  max-height: 0; }

.game-results-container {
  width: 100%;
  padding: 3rem 1rem;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap; }
  .game-results-container .results_main_title {
    width: 100%;
    background-color: #363c3f;
    margin-bottom: 10px;
    padding: 15px 20px; }
    .game-results-container .results_main_title h1 {
      font-size: 18px;
      line-height: 26px;
      color: #ffffff;
      font-weight: 700;
      margin: 0; }
  .game-results-container .ui-button-content {
    position: relative; }
    .game-results-container .ui-button-content .content-text, .game-results-container .ui-button-content .content-icon {
      position: relative;
      z-index: 2; }
    .game-results-container .ui-button-content.active .content-text {
      color: #ffffff; }
    .game-results-container .ui-button-content.active::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #f38608;
      opacity: 0.5;
      z-index: 1; }
  .game-results-container .result_content {
    width: 80%; }
  .game-results-container .filters {
    width: 100%;
    margin-bottom: 15px; }
    .game-results-container .filters .filters_top, .game-results-container .filters .filters_bot, .game-results-container .filters .filters_bot_left {
      display: flex;
      align-items: center; }
      .game-results-container .filters .filters_top div:not(:last-child), .game-results-container .filters .filters_bot div:not(:last-child), .game-results-container .filters .filters_bot_left div:not(:last-child) {
        margin-right: 1em; }
    .game-results-container .filters .filters_bot {
      justify-content: space-between; }
      .game-results-container .filters .filters_bot .filters_bot_right button {
        background-color: #d6892f;
        padding: 5px 30px 5px 20px;
        outline: none;
        border: none;
        position: relative;
        transition: 0.3s; }
        .game-results-container .filters .filters_bot .filters_bot_right button:hover {
          opacity: 0.8;
          transition: 0.3s; }
        .game-results-container .filters .filters_bot .filters_bot_right button span {
          font-size: 12px;
          font-size: 14px;
          color: #ffffff; }
        .game-results-container .filters .filters_bot .filters_bot_right button::before {
          content: '';
          width: 9px;
          height: 6px;
          position: absolute;
          top: 12px;
          right: 15px;
          background: url(/static/img/results/collapse_arrow.png) no-repeat;
          transition: 0.3s; }
        .game-results-container .filters .filters_bot .filters_bot_right button.expanded::before {
          transform: rotate(180deg);
          transition: 0.3s; }
    .game-results-container .filters .filters_top {
      margin-bottom: 15px; }
    .game-results-container .filters .result_search {
      position: relative;
      min-width: 210px; }
      .game-results-container .filters .result_search input {
        width: 100%;
        background: none;
        border: none;
        border-bottom: 1px solid #878787;
        padding: 8px 25px 8px 3px;
        font-size: 14px;
        line-height: 16px;
        color: #878787;
        font-weight: 400;
        outline: none; }
      .game-results-container .filters .result_search button {
        position: absolute;
        top: 11px;
        right: 9px;
        width: 13px;
        height: 13px;
        border: none;
        outline: none;
        background: url(/static/img/results/result_search.png) no-repeat; }
    .game-results-container .filters-live {
      font-size: 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center; }
      .game-results-container .filters-live label {
        margin: 0;
        position: relative;
        margin-bottom: 0;
        cursor: pointer;
        padding-left: 25px;
        font-size: 14px;
        line-height: 26px;
        color: #878787; }
        .game-results-container .filters-live label::before {
          content: '';
          width: 18px;
          height: 18px;
          border-radius: 3px;
          background-color: #e5e5e5;
          border: 1px solid #939393;
          position: absolute;
          top: 4px;
          left: 0; }
        .game-results-container .filters-live label::after {
          content: '';
          width: 15px;
          height: 11px;
          position: absolute;
          top: 7px;
          left: 1px;
          background: url(/static/img/results/result_ok.png) no-repeat;
          display: none; }
      .game-results-container .filters-live input {
        width: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        position: absolute; }
        .game-results-container .filters-live input:checked + label::after {
          display: block; }
    .game-results-container .filters-sport {
      flex-grow: 1;
      font-size: 1.2rem;
      padding: .3rem 1rem; }
      .game-results-container .filters-sport select {
        height: 2rem;
        min-width: 25rem; }
  .game-results-container .results > div:not(:last-child) {
    margin-bottom: 2px; }
  .game-results-container .result_sport {
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 10px 17px;
    box-shadow: 0 0 7px rgba(27, 24, 21, 0.32);
    background-color: #2f2f2f;
    background-size: cover;
    margin-bottom: 2px; }
    .game-results-container .result_sport p {
      margin-bottom: 0; }
    .game-results-container .result_sport .result_sport_icon {
      margin-right: 10px;
      width: 23px;
      height: 23px;
      background-repeat: no-repeat;
      background-size: 100%;
      filter: invert(50%); }
  .game-results-container .game-results-tournament {
    border-top: 1px solid #dedfdf;
    font-size: 1.3rem;
    color: #333;
    overflow: hidden;
    background: #ffffff; }
    .game-results-container .game-results-tournament .result-tournament-title {
      color: #454545;
      font-size: 1.1em;
      line-height: 1.3em;
      padding: 1em 4em;
      position: relative;
      display: flex;
      align-items: center; }
      .game-results-container .game-results-tournament .result-tournament-title .check_wrap {
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center; }
        .game-results-container .game-results-tournament .result-tournament-title .check_wrap label {
          position: relative;
          width: 20px;
          height: 20px;
          margin-bottom: 0;
          cursor: pointer; }
          .game-results-container .game-results-tournament .result-tournament-title .check_wrap label::before {
            content: '';
            width: 20px;
            height: 20px;
            border-radius: 3px;
            background-color: #e5e5e5;
            border: 1px solid #939393;
            position: absolute;
            top: 0;
            left: 0; }
          .game-results-container .game-results-tournament .result-tournament-title .check_wrap label::after {
            content: '';
            width: 15px;
            height: 11px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: url(/static/img/results/result_ok.png) no-repeat;
            display: none; }
        .game-results-container .game-results-tournament .result-tournament-title .check_wrap input {
          width: 0;
          height: 0;
          overflow: hidden;
          visibility: hidden;
          position: absolute; }
          .game-results-container .game-results-tournament .result-tournament-title .check_wrap input:checked + label::after {
            display: block; }
    .game-results-container .game-results-tournament .result-games-list .result-games-item {
      width: 100%;
      display: flex;
      padding: 1.2em 2em 1.2em 3em;
      background-color: #f8dab8;
      font-size: 1.1em;
      line-height: 1.3em;
      color: #363c3f;
      font-weight: 400; }
      .game-results-container .game-results-tournament .result-games-list .result-games-item:not(:last-child) {
        border-bottom: 1px solid #131414; }
      .game-results-container .game-results-tournament .result-games-list .result-games-item .live {
        display: none;
        flex-basis: 5rem; }
        .game-results-container .game-results-tournament .result-games-list .result-games-item .live.active {
          background: #0F0; }
      .game-results-container .game-results-tournament .result-games-list .result-games-item .time {
        flex-basis: 10rem; }
      .game-results-container .game-results-tournament .result-games-list .result-games-item .title {
        flex-grow: 1; }
      .game-results-container .game-results-tournament .result-games-list .result-games-item .result {
        text-align: right; }

.result_sidebar {
  width: calc(20% - 25px);
  margin-right: 25px; }

.sidebar_title {
  width: 100%;
  height: 3em;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  color: #ffffff;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 18px 0 #fffdfd40;
  margin-bottom: 0;
  transition: margin-bottom .3s;
  border: 1px solid #d5892f;
  margin-bottom: 0.4em;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  padding: 0 15px;
  overflow: hidden; }
  .sidebar_title .sidebar_search_wrap input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100000px;
    background: none;
    border: none;
    color: #d6892f;
    font-size: 1.2em;
    outline: none;
    padding-left: 5px;
    z-index: 999;
    border-radius: 5px;
    transition: 0.3s; }
  .sidebar_title .sidebar_buttons {
    display: flex;
    align-items: center;
    margin-left: 5px; }
    .sidebar_title .sidebar_buttons button {
      background: none;
      border: none;
      outline: none; }
    .sidebar_title .sidebar_buttons .sidebar_search {
      width: 13px;
      height: 13px;
      background: url(/static/img/results/result_search.png) no-repeat;
      margin-right: 10px; }
    .sidebar_title .sidebar_buttons .sidebar_sort {
      width: 24px;
      height: 16px;
      background: url(/static/img/results/result_sort.png) no-repeat; }
  .sidebar_title.showed span {
    opacity: 0;
    transition: 0.3s; }
  .sidebar_title.showed .sidebar_search_wrap input {
    left: 0;
    right: 50px;
    width: calc(100% - 65px);
    transition: 0.3s; }
  .sidebar_title.showed .sidebar_search {
    position: relative;
    background: none; }
    .sidebar_title.showed .sidebar_search::before {
      content: 'X';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      font-size: 13px;
      line-height: 13px;
      font-weight: bold;
      color: #d6892f; }

.mx-datepicker {
  max-width: 170px; }

.mx-input-wrapper {
  margin-right: 0 !important;
  max-width: 170px; }

.mx-input {
  height: 35px !important;
  font-size: 14px !important;
  line-height: 16px !important;
  color: #ffffff !important;
  background-color: #2f2f2f !important;
  border: 1px solid #4b4b4b !important;
  padding-left: 30px !important;
  padding-right: 10px !important;
  border-radius: 0 !important; }
  .mx-input::-webkit-input-placeholder {
    color: #ffffff !important; }
  .mx-input:-ms-input-placeholder {
    color: #ffffff !important; }
  .mx-input::placeholder {
    color: #ffffff !important; }

.mx-input-append {
  right: auto !important;
  left: 0 !important; }

.mx-calendar-icon {
  color: #ffffff !important; }

.mx-calendar-content .cell.actived {
  background-color: #d6892f !important; }

.mx-calendar-content .cell:hover {
  background-color: #f8dab8 !important; }

.modal {
  z-index: 99999 !important; }

@media screen and (max-width: 1500px) {
  .game-results-container .filters .filters_bot {
    display: block; }
    .game-results-container .filters .filters_bot .filters_bot_left {
      flex-wrap: wrap; }
    .game-results-container .filters .filters_bot .filters_bot_right {
      margin-top: 10px; } }

@media screen and (max-width: 1000px) {
  .game-results-container {
    display: block; }
    .game-results-container .result_content {
      width: 100%; }
  .result_sidebar {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    flex-wrap: wrap;
    display: flex; }
  .sidebar_title {
    font-size: 1.4em; } }

@media screen and (max-width: 625px) {
  .filters_bot_left .filters-live {
    margin-top: 3px;
    margin-bottom: 3px; } }

.tournament_not_found {
  display: none; }
  .tournament_not_found:nth-child(2) {
    display: block; }

