.support-badge {
  padding: 3px; }

.support-requests {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch; }
  .support-requests .support-requests-sidebar {
    flex-shrink: 0;
    width: 300px;
    margin-bottom: 0;
    margin-right: 5px;
    background: #fff; }
  .support-requests .support-requests-list {
    width: 100%; }
    .support-requests .support-requests-list .request {
      text-decoration: none;
      display: block;
      border: 1px solid #CCC;
      margin-bottom: 5px;
      padding: 5px; }

.support-chat .support-chat-messages {
  width: 100%; }
  .support-chat .support-chat-messages .message {
    padding: 10px;
    display: flex;
    font-size: 1.5em; }
    .support-chat .support-chat-messages .message:nth-child(2n) {
      background: #f4f6f7; }
    .support-chat .support-chat-messages .message .message-header {
      width: 20em;
      font-size: 0.8em;
      display: flex;
      flex-direction: column; }
      .support-chat .support-chat-messages .message .message-header .message-sender {
        flex-grow: 1; }
      .support-chat .support-chat-messages .message .message-header .message-time {
        float: left;
        margin-right: 10px; }
    .support-chat .support-chat-messages .message .message-text {
      flex: 1;
      white-space: pre-line; }
    .support-chat .support-chat-messages .message .message-files .message-file {
      border: 1px solid #CCC;
      margin: 5px 5px 0 0; }

.support-chat .support-chat-info {
  border-bottom: 2px solid #333;
  padding: 0.5em 4em;
  margin-bottom: 10px; }
  .support-chat .support-chat-info .support-chat-back {
    color: #7a7a7a;
    font-size: 2em;
    margin-right: 3em;
    margin-left: 10px;
    text-decoration: none; }
    .support-chat .support-chat-info .support-chat-back i {
      margin-right: 0.5em;
      font-size: 1em; }
  .support-chat .support-chat-info .support-chat-theme {
    font-size: 2em; }
  .support-chat .support-chat-info .request-time {
    color: #7a7a7a;
    font-size: 1.2em; }

.support-chat .support-chat-form .fileinput-button {
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  color: #a86918; }

.support-chat .support-chat-form .support-form-files {
  font-size: 1.5em; }
  .support-chat .support-chat-form .support-form-files .message-file {
    display: flex;
    align-items: center;
    padding-top: 10px; }
    .support-chat .support-chat-form .support-form-files .message-file i {
      margin-right: 5px; }

.support-chat .support-chat-form .support-form-uploading {
  font-size: 2em;
  display: block; }
  .support-chat .support-chat-form .support-form-uploading i {
    padding: 5px; }

.support-chat.box .support-chat-content.box-body {
  padding-bottom: 4em; }

