.footer-blocks
    flex-basis: 100%
    width: 100%
    background-color: #131313
    display: flex
    padding-top: 4em
    padding-bottom: 2em
    background: url('/static/img/footer/footer_bg.jpg') no-repeat
    background-size: cover
    background-position: center
    .info-footer-content
        // margin: 0 auto
        flex-basis: 117em
        display: flex
        padding-left: 10px
        padding-right: 10px
    .info-footer-text
        flex: 1
        overflow: hidden
        word-break: break-word
        padding-right: 1.5em
        .info-footer-header
            font-size: 1.6em
            letter-spacing: 0.25px
            color: #ffffff
            font-weight: 700
            margin-bottom: 1.75em
            line-height: .8
        h5
            font-size: 1.25em
            color: #ffffff
            margin-bottom: 0.7em
            font-weight: 700
        p
            font-size: 1.2em
            color: #676767
            margin-bottom: 1.6em
            font-weight: 700
        span
            color: #d6892f
            font-weight: 700
            font-size: 1em
        h6
            color: #cecece
            font-size: 1.25em
            margin-bottom: 1.2em
            font-weight: 700
        ul
            color: #ffffff
            margin: 0
            font-size: 1.2em
            padding: 0 0 0 1.6em
            line-height: 1.7
            li
                color: #676767
                font-weight: 700
.footer-navigation
    background: url('/static/img/footer/bg.jpg') no-repeat
    background-size: cover
    background-position: center
    width: 100%
    // height: 26.8em
    padding-top: 50px
    // padding-bottom: 10px
    display: flex
    flex-wrap: wrap
    position: relative
    z-index: 1
    &:before
        content: ''
        position: absolute
        bottom: 4em
        left: 0
        right: 0
        height: 1px
        background-color: rgba(#ffffff, 0.1)    
    .footer-navigation-count
        width: 97.9em
        margin: auto
        min-height: 17em
        height: auto
    .footer-navigation-context
        display: flex
        width: 100%
        .ui-user
            flex-basis: 5.3em
            padding-top: 0.2em
            .picture
                margin: auto
                background-position: center
                height: 5.5em
                width: 5.5em
                background-size: contain
        .footer-link-content
            display: flex
            justify-content: space-between
            flex-basis: 48.7em
            margin-left: 3.3em
            a
                font-size: 1.5em
                letter-spacing: 0
                color: #ffffff
                font-weight: 500
                margin: auto
                display: block
        .footer-social
            display: flex
            flex: 1
            .footer-social-text
                margin: auto
                text-transform: uppercase
                letter-spacing: .3px
                color: #ffffff
                font-weight: 700
                flex-grow: 1
                text-align: right
                span
                    font-size: 1.5em
            .footer-social-icons
                display: flex
                flex: 1
    .footer-for-mobile-app
        height: 68%
        width: 100%
        display: flex
        padding-top: 3.2em
        .footer-for-mobile-icon
            // height: 100%
            width: 8.6em
            height: 8.6em
            background: url('/static/img/footer/adult.png') no-repeat center
            background-size: contain
        .footer-for-mobile-text-count
            margin-left: 1.7em
            padding-top: 0.8em
            .footer-for-mobile-text-opacity
                font-size: 1.4em
                letter-spacing: .5px
                color: #727272
                font-weight: 400
                line-height: 1.4
            .footer-for-mobile-text-white
                font-size: 1.4em
                letter-spacing: .7px
                color: #ffffff
                font-weight: 600
                margin-top: .4em
        .footer-for-mobile-button
            flex: 1
            padding-left: 13.8em
            position: relative
            .ui-radius-button
                width: 54.8%
                background-position: center
                background-repeat: no-repeat
                background-size: 104% 94%
                top: -1.2em
                .background-header-button
                    font-size: 2em
                    line-height: 3.9
.footer-copyright
    width: 100%
    height: 4em
    display: flex    
    margin-top: 40px
    span
        font-size: 1.2em
        letter-spacing: .35px
        color: #ffffff
        font-weight: 400
        margin: auto

// @media screen and (max-width: "1630px")
.footer-navigation
    min-height: 26.8em
    height: auto
    padding-top: 15px
    padding-bottom: 15px
    .footer-for-mobile-app
        // flex-wrap: wrap
        .footer-for-mobile-button
            padding-left: 20px
        .footer-for-mobile-icon
            min-height: 6em
    .footer-navigation-count
        min-height: 17em
        height: auto
    .footer-navigation-context
        .footer-link-content
            flex-basis: 40.7em
        .footer-social
            display: block
            margin-left: 15px
            .footer-social-text
                margin: 0
                text-align: left
.ui-social
    &:first-child
        margin-left: 0
.footer-link-block
    &:nth-child(2)
        margin-left: 10px
// @media screen and (max-width: "1290px")
.footer-navigation
    .footer-for-mobile-app
        flex-wrap: wrap
        .footer-for-mobile-button
            padding-left: 0
            flex: auto

// @media screen and (max-width: "1000px")
//     .footer-blocks
//         .info-footer-text
//             width: 100%
//             flex: unset
//             text-align: center
//             .info-footer-header
//                 line-height: 1.5
//         .info-footer-content
//             flex-wrap: wrap
//             padding: 1.2em
//     .footer-copyright
//         padding: 0 1.2em
//     .footer-navigation
//         height: auto
//         &::before
//             display: none
//         .footer-navigation-count
//             width: 100%
//             overflow: hidden
//             height: auto
//             padding: 1.2em
//         .footer-navigation-context
//             flex-wrap: wrap
//             position: relative
//             display: block
//             .ui-user
//                 position: static
//                 // right: 5.2em
//                 right: 11em
//                 top: 7.5em
//                 justify-content: flex-start
//                 margin-bottom: 10px
//                 .picture
//                     width: 7em
//                     height: 7em
//                     margin: 0
//             .footer-link-content
//                 flex-wrap: wrap
//                 width: 100%
//                 margin-left: 0
//                 .footer-link-block
//                     width: 50%
//                     &:nth-child(2)
//                         margin-left: 0
//             .footer-social
//                 margin-top: 3em
//                 padding: 1.2em
//                 padding-left: 0
//                 margin-left: 0
//                 .footer-social-text
//                     text-align: left
//         .footer-for-mobile-app
//             width: 100%
//             flex-wrap: wrap
//             .footer-for-mobile-icon
//                 // width: 100%
//                 margin-bottom: 10px
//             .footer-for-mobile-text-count
//                 padding: 0
//                 margin: 0
//                 width: 100%
//             .footer-for-mobile-button
//                 padding: 0
//                 margin-top: 1em


// @media screen and (max-width: "414px")
//     .game-view .game-view-groups select
//         width: 100% !important
//     .footer-navigation
//         .footer-navigation-context
//             .ui-user
//                 right: 5.2em
//                 top: 9.5em
//                 .picture
//                     width: 4.5em
//                     height: 4.5em
//             .footer-link-content
//                 a
//                     font-size: 1.4em

// @media screen and (max-width: "400px")
//     .footer-navigation
//         .footer-navigation-context
//             .ui-user
//                 right: 4.2em
//                 .picture
//                     width: 4.5em
//                     height: 4.5em
//     .ui-game-show-coefficient .show-all-flex-coefficient
//         flex: unset
//         flex-basis: 100%
//         flex-wrap: wrap
//     .ui-coefficients-for-bet
//         flex-basis: 33%
//         height: auto
//         margin-bottom: 0.5em

// @media screen and (min-width: "1000px")
.footer-blocks
    flex-basis: auto
    width: auto
    // margin-left: -32.5em
    // margin-right: -32.5em
    padding-left: 32.5em
    padding-right: 32.5em
.footer-navigation
    width: auto
    padding-left: 32.5em
    padding-right: 32.5em
