.roulette {
    position: relative;
    font-size: 1vw;
    background-image: url(/static/casino/img/roulette/bg.jpg);
    image-rendering: -webkit-optimize-contrast;
    background-size: cover;
    .dont_touch {
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        opacity: 0.4;
    }
    .breadcrumbs {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        top: 0;
        height: 100%;

        li {
            font-size: .625em;
            color: #fff;
        }

        a {
            font-size: 1em;
            color: #fff;
        }
    }
}

@media (max-width: 1365px) {
    .roulette {
        font-size: 13.66px;
    }
}

.roulette__head {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    height: 2.8em;
    background-color: rgba(11, 40, 65, 0.5);
}

.roulette__title {
    margin: 0;
    line-height: 140%;
    font-size: 1.25em;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.roulette__body {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.roulette__game {
    position: relative;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 61.1em;
    height: 36.86em;
    background-image: url(/static/casino/img/roulette/main_bg2.jpg);
    image-rendering: -webkit-optimize-contrast;
    background-size: 100% 100%;
    z-index: 1;
}

.roulette__roulette {
    left: 9.4%;
    top: 7.1%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.roulette-outer, .roulette__roulette {
    position: absolute;
    width: 16.8em;
    height: 16.8em;
    -webkit-perspective: 22em;
    perspective: 22em;
    -webkit-perspective-origin: 75% 100%;
    perspective-origin: 75% 100%;
}

.roulette-outer {
    left: 4.7%;
    top: 0;
    -webkit-transform-style: flat;
    transform-style: flat;
}

.roulette-outer__segment {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform-origin: 50% 9.8125em;
    transform-origin: 50% 9.8125em;
    width: 1.25em;
    height: 1.5em;
    font-size: .8em;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    will-change: transform;
    transition: -webkit-transform 6s cubic-bezier(0.77, 0.97, 0.65, 1);
    transition: transform 6s cubic-bezier(0.77, 0.97, 0.65, 1);
    transition: transform 6s cubic-bezier(0.77, 0.97, 0.65, 1), -webkit-transform 6s cubic-bezier(0.77, 0.97, 0.65, 1);

    &:first-of-type {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(9.73deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(9.73deg) rotateX(-25deg);
        background-color: #0f6115;
    }

    &:nth-of-type(2) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(19.46deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(19.46deg) rotateX(-25deg);
        background-color: #d10000;
    }

    &:nth-of-type(3) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(29.19deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(29.19deg) rotateX(-25deg);
        background-color: #1a1a1a;
    }

    &:nth-of-type(4) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(38.92deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(38.92deg) rotateX(-25deg);
        background-color: #d10000;
    }

    &:nth-of-type(5) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(48.65deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(48.65deg) rotateX(-25deg);
        background-color: #1a1a1a;
    }

    &:nth-of-type(6) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(58.38deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(58.38deg) rotateX(-25deg);
        background-color: #d10000;
    }

    &:nth-of-type(7) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(68.11deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(68.11deg) rotateX(-25deg);
        background-color: #1a1a1a;
    }

    &:nth-of-type(8) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(77.84deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(77.84deg) rotateX(-25deg);
        background-color: #d10000;
    }

    &:nth-of-type(9) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(87.57deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(87.57deg) rotateX(-25deg);
        background-color: #1a1a1a;
    }

    &:nth-of-type(10) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(97.3deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(97.3deg) rotateX(-25deg);
        background-color: #d10000;
    }

    &:nth-of-type(11) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(107.03deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(107.03deg) rotateX(-25deg);
        background-color: #1a1a1a;
    }

    &:nth-of-type(12) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(116.76deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(116.76deg) rotateX(-25deg);
        background-color: #d10000;
    }

    &:nth-of-type(13) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(126.49deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(126.49deg) rotateX(-25deg);
        background-color: #1a1a1a;
    }

    &:nth-of-type(14) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(136.22deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(136.22deg) rotateX(-25deg);
        background-color: #d10000;
    }

    &:nth-of-type(15) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(145.95deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(145.95deg) rotateX(-25deg);
        background-color: #1a1a1a;
    }

    &:nth-of-type(16) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(155.68deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(155.68deg) rotateX(-25deg);
        background-color: #d10000;
    }

    &:nth-of-type(17) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(165.41deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(165.41deg) rotateX(-25deg);
        background-color: #1a1a1a;
    }

    &:nth-of-type(18) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(175.14deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(175.14deg) rotateX(-25deg);
        background-color: #d10000;
    }

    &:nth-of-type(19) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(184.87deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(184.87deg) rotateX(-25deg);
        background-color: #1a1a1a;
    }

    &:nth-of-type(20) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(194.6deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(194.6deg) rotateX(-25deg);
        background-color: #d10000;
    }

    &:nth-of-type(21) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(204.33deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(204.33deg) rotateX(-25deg);
        background-color: #1a1a1a;
    }

    &:nth-of-type(22) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(214.06deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(214.06deg) rotateX(-25deg);
        background-color: #d10000;
    }

    &:nth-of-type(23) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(223.79deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(223.79deg) rotateX(-25deg);
        background-color: #1a1a1a;
    }

    &:nth-of-type(24) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(233.52deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(233.52deg) rotateX(-25deg);
        background-color: #d10000;
    }

    &:nth-of-type(25) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(243.25deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(243.25deg) rotateX(-25deg);
        background-color: #1a1a1a;
    }

    &:nth-of-type(26) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(252.98deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(252.98deg) rotateX(-25deg);
        background-color: #d10000;
    }

    &:nth-of-type(27) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(262.71deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(262.71deg) rotateX(-25deg);
        background-color: #1a1a1a;
    }

    &:nth-of-type(28) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(272.44deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(272.44deg) rotateX(-25deg);
        background-color: #d10000;
    }

    &:nth-of-type(29) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(282.17deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(282.17deg) rotateX(-25deg);
        background-color: #1a1a1a;
    }

    &:nth-of-type(30) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(291.9deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(291.9deg) rotateX(-25deg);
        background-color: #d10000;
    }

    &:nth-of-type(31) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(301.63deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(301.63deg) rotateX(-25deg);
        background-color: #1a1a1a;
    }

    &:nth-of-type(32) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(311.36deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(311.36deg) rotateX(-25deg);
        background-color: #d10000;
    }

    &:nth-of-type(33) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(321.09deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(321.09deg) rotateX(-25deg);
        background-color: #1a1a1a;
    }

    &:nth-of-type(34) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(330.82deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(330.82deg) rotateX(-25deg);
        background-color: #d10000;
    }

    &:nth-of-type(35) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(340.55deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(340.55deg) rotateX(-25deg);
        background-color: #1a1a1a;
    }

    &:nth-of-type(36) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(0.973turn) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(0.973turn) rotateX(-25deg);
        background-color: #d10000;
    }

    &:nth-of-type(37) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(360.01deg) rotateX(-25deg);
        transform: rotateX(30deg) translateX(-50%) rotate(360.01deg) rotateX(-25deg);
        background-color: #1a1a1a;
    }

    &.winner {
        transition: box-shadow 0.3s 5.6s, -webkit-transform 6s cubic-bezier(0.77, 0.97, 0.65, 1);
        transition: transform 6s cubic-bezier(0.77, 0.97, 0.65, 1), box-shadow 0.3s 5.6s;
        transition: transform 6s cubic-bezier(0.77, 0.97, 0.65, 1), box-shadow 0.3s 5.6s, -webkit-transform 6s cubic-bezier(0.77, 0.97, 0.65, 1);
        box-shadow: inset 0 0 0.5vw 0.4vw rgba(245, 231, 163, 0.8);
    }
}

.roulette-inner {
    position: absolute;
    left: 1.7%;
    top: -9.3%;
    width: 16.8em;
    height: 16.8em;
    -webkit-perspective: 19em;
    perspective: 19em;
    -webkit-perspective-origin: 75% 100%;
    perspective-origin: 75% 100%;
    -webkit-transform-style: flat;
    transform-style: flat;
}

.roulette-inner__segment {
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform-origin: 50% 6.7em;
    transform-origin: 50% 6.7em;
    width: 1em;
    height: 1.2em;
    font-size: 1em;
    color: #fff;
    box-shadow: inset 0 -3px 3px -3px #000;
    will-change: transform;
    transition: -webkit-transform 6s cubic-bezier(0.77, 0.97, 0.65, 1);
    transition: transform 6s cubic-bezier(0.77, 0.97, 0.65, 1);
    transition: transform 6s cubic-bezier(0.77, 0.97, 0.65, 1), -webkit-transform 6s cubic-bezier(0.77, 0.97, 0.65, 1);

    &:first-of-type {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(9.73deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(9.73deg) rotateX(0deg);
        background-color: #0f6115;
    }

    &:nth-of-type(2) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(19.46deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(19.46deg) rotateX(0deg);
        background-color: #d10000;
    }

    &:nth-of-type(3) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(29.19deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(29.19deg) rotateX(0deg);
        background-color: #1a1a1a;
        z-index: 1;
    }

    &:nth-of-type(4) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(38.92deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(38.92deg) rotateX(0deg);
        background-color: #d10000;
    }

    &:nth-of-type(5) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(48.65deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(48.65deg) rotateX(0deg);
        background-color: #1a1a1a;
        z-index: 1;
    }

    &:nth-of-type(6) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(58.38deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(58.38deg) rotateX(0deg);
        background-color: #d10000;
    }

    &:nth-of-type(7) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(68.11deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(68.11deg) rotateX(0deg);
        background-color: #1a1a1a;
        z-index: 1;
    }

    &:nth-of-type(8) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(77.84deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(77.84deg) rotateX(0deg);
        background-color: #d10000;
    }

    &:nth-of-type(9) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(87.57deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(87.57deg) rotateX(0deg);
        background-color: #1a1a1a;
        z-index: 1;
    }

    &:nth-of-type(10) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(97.3deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(97.3deg) rotateX(0deg);
        background-color: #d10000;
    }

    &:nth-of-type(11) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(107.03deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(107.03deg) rotateX(0deg);
        background-color: #1a1a1a;
        z-index: 1;
    }

    &:nth-of-type(12) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(116.76deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(116.76deg) rotateX(0deg);
        background-color: #d10000;
    }

    &:nth-of-type(13) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(126.49deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(126.49deg) rotateX(0deg);
        background-color: #1a1a1a;
        z-index: 1;
    }

    &:nth-of-type(14) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(136.22deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(136.22deg) rotateX(0deg);
        background-color: #d10000;
    }

    &:nth-of-type(15) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(145.95deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(145.95deg) rotateX(0deg);
        background-color: #1a1a1a;
        z-index: 1;
    }

    &:nth-of-type(16) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(155.68deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(155.68deg) rotateX(0deg);
        background-color: #d10000;
    }

    &:nth-of-type(17) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(165.41deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(165.41deg) rotateX(0deg);
        background-color: #1a1a1a;
        z-index: 1;
    }

    &:nth-of-type(18) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(175.14deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(175.14deg) rotateX(0deg);
        background-color: #d10000;
    }

    &:nth-of-type(19) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(184.87deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(184.87deg) rotateX(0deg);
        background-color: #1a1a1a;
        z-index: 1;
    }

    &:nth-of-type(20) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(194.6deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(194.6deg) rotateX(0deg);
        background-color: #d10000;
    }

    &:nth-of-type(21) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(204.33deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(204.33deg) rotateX(0deg);
        background-color: #1a1a1a;
        z-index: 1;
    }

    &:nth-of-type(22) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(214.06deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(214.06deg) rotateX(0deg);
        background-color: #d10000;
    }

    &:nth-of-type(23) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(223.79deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(223.79deg) rotateX(0deg);
        background-color: #1a1a1a;
        z-index: 1;
    }

    &:nth-of-type(24) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(233.52deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(233.52deg) rotateX(0deg);
        background-color: #d10000;
    }

    &:nth-of-type(25) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(243.25deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(243.25deg) rotateX(0deg);
        background-color: #1a1a1a;
        z-index: 1;
    }

    &:nth-of-type(26) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(252.98deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(252.98deg) rotateX(0deg);
        background-color: #d10000;
    }

    &:nth-of-type(27) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(262.71deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(262.71deg) rotateX(0deg);
        background-color: #1a1a1a;
        z-index: 1;
    }

    &:nth-of-type(28) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(272.44deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(272.44deg) rotateX(0deg);
        background-color: #d10000;
    }

    &:nth-of-type(29) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(282.17deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(282.17deg) rotateX(0deg);
        background-color: #1a1a1a;
        z-index: 1;
    }

    &:nth-of-type(30) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(291.9deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(291.9deg) rotateX(0deg);
        background-color: #d10000;
    }

    &:nth-of-type(31) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(301.63deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(301.63deg) rotateX(0deg);
        background-color: #1a1a1a;
        z-index: 1;
    }

    &:nth-of-type(32) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(311.36deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(311.36deg) rotateX(0deg);
        background-color: #d10000;
    }

    &:nth-of-type(33) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(321.09deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(321.09deg) rotateX(0deg);
        background-color: #1a1a1a;
        z-index: 1;
    }

    &:nth-of-type(34) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(330.82deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(330.82deg) rotateX(0deg);
        background-color: #d10000;
    }

    &:nth-of-type(35) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(340.55deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(340.55deg) rotateX(0deg);
        background-color: #1a1a1a;
        z-index: 1;
    }

    &:nth-of-type(36) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(0.973turn) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(0.973turn) rotateX(0deg);
        background-color: #d10000;
    }

    &:nth-of-type(37) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(360.01deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(360.01deg) rotateX(0deg);
        background-color: #1a1a1a;
        z-index: 1;
    }

    &.winner {
        transition: box-shadow 0.3s 5.6s, -webkit-transform 6s cubic-bezier(0.77, 0.97, 0.65, 1);
        transition: transform 6s cubic-bezier(0.77, 0.97, 0.65, 1), box-shadow 0.3s 5.6s;
        transition: transform 6s cubic-bezier(0.77, 0.97, 0.65, 1), box-shadow 0.3s 5.6s, -webkit-transform 6s cubic-bezier(0.77, 0.97, 0.65, 1);
        box-shadow: inset 0 0 0.5vw 0.4vw rgba(245, 231, 163, 0.8);
    }
}

.roulette-borders {
    position: absolute;
    left: 1.7%;
    top: -9.3%;
    width: 16.8em;
    height: 16.8em;
    -webkit-perspective: 19em;
    perspective: 19em;
    -webkit-perspective-origin: 75% 100%;
    perspective-origin: 75% 100%;
    -webkit-transform-style: flat;
    transform-style: flat;
}

.roulette-borders__segment {
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform-origin: 50% 6.7em;
    transform-origin: 50% 6.7em;
    width: .1em;
    height: 1.2em;
    font-size: 1em;
    background-color: #fff;
    box-shadow: 0 0 .2em #000;
    will-change: transform;
    transition: -webkit-transform 6s cubic-bezier(0.77, 0.97, 0.65, 1);
    transition: transform 6s cubic-bezier(0.77, 0.97, 0.65, 1);
    transition: transform 6s cubic-bezier(0.77, 0.97, 0.65, 1), -webkit-transform 6s cubic-bezier(0.77, 0.97, 0.65, 1);

    &:first-of-type {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(14.595deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(14.595deg) rotateX(0deg);
    }

    &:nth-of-type(2) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(24.325deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(24.325deg) rotateX(0deg);
    }

    &:nth-of-type(3) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(34.055deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(34.055deg) rotateX(0deg);
    }

    &:nth-of-type(4) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(43.785deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(43.785deg) rotateX(0deg);
    }

    &:nth-of-type(5) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(53.515deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(53.515deg) rotateX(0deg);
    }

    &:nth-of-type(6) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(63.245deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(63.245deg) rotateX(0deg);
    }

    &:nth-of-type(7) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(72.975deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(72.975deg) rotateX(0deg);
    }

    &:nth-of-type(8) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(82.705deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(82.705deg) rotateX(0deg);
    }

    &:nth-of-type(9) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(92.435deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(92.435deg) rotateX(0deg);
    }

    &:nth-of-type(10) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(102.165deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(102.165deg) rotateX(0deg);
    }

    &:nth-of-type(11) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(111.895deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(111.895deg) rotateX(0deg);
    }

    &:nth-of-type(12) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(121.625deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(121.625deg) rotateX(0deg);
    }

    &:nth-of-type(13) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(131.355deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(131.355deg) rotateX(0deg);
    }

    &:nth-of-type(14) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(141.085deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(141.085deg) rotateX(0deg);
    }

    &:nth-of-type(15) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(150.815deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(150.815deg) rotateX(0deg);
    }

    &:nth-of-type(16) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(160.545deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(160.545deg) rotateX(0deg);
    }

    &:nth-of-type(17) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(170.275deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(170.275deg) rotateX(0deg);
    }

    &:nth-of-type(18) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(180.005deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(180.005deg) rotateX(0deg);
    }

    &:nth-of-type(19) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(189.735deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(189.735deg) rotateX(0deg);
    }

    &:nth-of-type(20) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(199.465deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(199.465deg) rotateX(0deg);
    }

    &:nth-of-type(21) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(209.195deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(209.195deg) rotateX(0deg);
    }

    &:nth-of-type(22) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(218.925deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(218.925deg) rotateX(0deg);
    }

    &:nth-of-type(23) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(228.655deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(228.655deg) rotateX(0deg);
    }

    &:nth-of-type(24) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(238.385deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(238.385deg) rotateX(0deg);
    }

    &:nth-of-type(25) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(248.115deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(248.115deg) rotateX(0deg);
    }

    &:nth-of-type(26) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(257.845deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(257.845deg) rotateX(0deg);
    }

    &:nth-of-type(27) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(267.575deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(267.575deg) rotateX(0deg);
    }

    &:nth-of-type(28) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(277.305deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(277.305deg) rotateX(0deg);
    }

    &:nth-of-type(29) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(287.035deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(287.035deg) rotateX(0deg);
    }

    &:nth-of-type(30) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(296.765deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(296.765deg) rotateX(0deg);
    }

    &:nth-of-type(31) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(306.495deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(306.495deg) rotateX(0deg);
    }

    &:nth-of-type(32) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(316.225deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(316.225deg) rotateX(0deg);
    }

    &:nth-of-type(33) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(325.955deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(325.955deg) rotateX(0deg);
    }

    &:nth-of-type(34) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(335.685deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(335.685deg) rotateX(0deg);
    }

    &:nth-of-type(35) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(345.415deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(345.415deg) rotateX(0deg);
    }

    &:nth-of-type(36) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(355.145deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(355.145deg) rotateX(0deg);
    }

    &:nth-of-type(37) {
        -webkit-transform: rotateX(30deg) translateX(-50%) rotate(364.875deg) rotateX(0deg);
        transform: rotateX(30deg) translateX(-50%) rotate(364.875deg) rotateX(0deg);
    }
}

.roulette__ring {
    position: absolute;
    -webkit-transform: rotateX(30deg);
    transform: rotateX(30deg);
    border: .15em solid #fff;
    border-radius: 50%;
    pointer-events: none;
}

.roulette__ring_inner, .roulette__ring_outer {
    left: 10.5%;
    top: -10%;
    width: 13.7em;
    height: 13.7em;
}

.roulette__ball {
    position: absolute;
    left: 8.2em;
    top: 4.6em;
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
    width: .78em;
    height: .78em;
    background-image: url(/static/casino/img/roulette/ball.png);
    image-rendering: -webkit-optimize-contrast;
    background-size: 100% 100%;
    border-radius: 50%;
    box-shadow: 0 0.05em 0.05em rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.roulette__base {
    left: 18.4%;
    top: 13.85%;
    width: 11em;
    background-image: url(/static/casino/img/roulette/base.png);
    position: absolute;
    height: 6.57em;
    image-rendering: -webkit-optimize-contrast;
    background-size: 100% 100%;
}

.roulette__handle {
    position: absolute;
    height: 6.57em;
    image-rendering: -webkit-optimize-contrast;
    background-size: 100% 100%;
    left: 40.2%;
    top: -6.3%;
    width: 3.3em;
    background-image: url(/static/casino/img/roulette/handle.png);
}

.roulette__border {
    position: absolute;
    left: -21.65%;
    top: 25.6%;
    width: 24.25em;
    height: 11.05em;
    background-image: url(/static/casino/img/roulette/border.png);
    image-rendering: -webkit-optimize-contrast;
    background-size: 100% 100%;
}

.roulette__grids {
    position: absolute;
    left: 55%;
    top: 9%;
    -webkit-transform: perspective(125em) rotateX(48deg) rotateY(-2deg) rotate(-45deg);
    transform: perspective(125em) rotateX(48deg) rotateY(-2deg) rotate(-45deg);
}

.roulette-grid {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.roulette-grid_numbers {
    width: 14.6em;
    direction: rtl;
}

.roulette-grid_groups {
    position: absolute;
    left: 0;
    top: 2.5em;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    z-index: 1;
}

.roulette-grid__hint {
    position: absolute;
    bottom: 100%;
    right: 100%;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    z-index: 2;

    &:after {
        content: "";
        position: absolute;
        top: 100%;
        right: 0;
        width: 7.5em;
        height: 2.5em;
        background-image: url(/static/casino/img/roulette/arrow.png);
        background-size: cover;
    }

    i {
        display: block;
        padding-right: .26667em;
        height: 1.66667em;
        line-height: 1.66667em;
        font-size: .75em;
        font-style: normal;
        color: #fff;
        text-align: right;
        text-transform: uppercase;
        white-space: nowrap;
    }
}

.roulette-grid__row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.roulette-grid__cell {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: .1em;
    width: 4.8em;
    height: 2.5em;
    direction: ltr;
    border: 0.2em solid hsla(0, 0%, 100%, 0.5);
    border-right: none;
    border-bottom: none;

    &:nth-of-type(3n - 1) {
        width: 4.999em;
        border-right: 0.2em solid hsla(0, 0%, 100%, 0.5);
    }

    &:first-of-type {
        width: 14.6em;
        border-right: 0.2em solid hsla(0, 0%, 100%, 0.5);
    }
}

.roulette-grid_numbers .roulette-grid__cell:nth-last-of-type(-n+3) {
    height: 2.7em;
    border-bottom: 0.2em solid hsla(0, 0%, 100%, 0.5);
    cursor: default;
}

.roulette-grid__row {
    &:first-of-type .roulette-grid__cell {
        width: 10em;
        height: 2.3em;
        border-top: none;
        border-right: none;
        border-bottom: none;

        &:last-of-type {
            width: 10.2em;
            border-right: 0.2em solid hsla(0, 0%, 100%, 0.5);
        }
    }

    &:last-of-type .roulette-grid__cell {
        width: 5em;
        height: 2.5em;
        border-right: none;
        border-bottom: 0.2em solid hsla(0, 0%, 100%, 0.5);

        &:last-of-type {
            width: 5.2em;
            border-right: 0.2em solid hsla(0, 0%, 100%, 0.5);
        }
    }
}

.roulette-grid__item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 2.2em;
    font-weight: 700;
    color: #fff;
    font-family: Times New Roman,Roboto,Roboto Local,Helvetica,Sans-Serif,Arial;
    box-shadow: inset 0 0 0.5vw 0.2vw hsla(0, 0%, 100%, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    will-change: background-color,box-shadow;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.roulette-grid_numbers .roulette-grid__cell:nth-last-of-type(-n+3) .roulette-grid__item {
    font-size: 1.2em;
    background-color: transparent;
}

.roulette-grid_groups .roulette-grid__item {
    font-size: 1.15em;
}

.roulette-grid_numbers .roulette-grid__cell:first-of-type .roulette-grid__item {
    background-color: #0f6115;
}

.black .roulette-grid__item {
    background-color: #1a1a1a;
}

.red .roulette-grid__item {
    background-color: #d10000;
}

.roulette-grid__item_black, .roulette-grid__item_red {
    position: relative;
}

.roulette-grid__item_black:before {
    content: "";
    position: absolute;
    left: 1em;
    top: -.15em;
    width: 2em;
    height: 2em;
    -webkit-transform: scale(1.4, 0.55) rotate(-45deg);
    transform: scale(1.4, 0.55) rotate(-45deg);
    border: 0.17391em solid hsla(0, 0%, 100%, 0.5);
    box-sizing: border-box;
}

.roulette-grid__item_red:before {
    content: "";
    position: absolute;
    left: 1em;
    top: -.15em;
    width: 2em;
    height: 2em;
    -webkit-transform: scale(1.4, 0.55) rotate(-45deg);
    transform: scale(1.4, 0.55) rotate(-45deg);
    border: 0.17391em solid hsla(0, 0%, 100%, 0.5);
    box-sizing: border-box;
    background-color: #d10000;
}

.roulette-grid__item_black:before {
    background-color: #1a1a1a;
}

.highlight .roulette-grid__item {
    box-shadow: inset 0 0 0.5vw 0.2vw hsla(0, 0%, 100%, 0.8);

    &:hover {
        box-shadow: inset 0 0 0.5vw 0.2vw hsla(0, 0%, 100%, 0.8);
    }
}

.winner .roulette-grid__item {
    transition: box-shadow .3s 5.6s;
    box-shadow: inset 0 0 0.5vw 0.4vw rgba(245, 231, 163, 0.8);

    &:hover {
        transition: box-shadow .3s 5.6s;
        box-shadow: inset 0 0 0.5vw 0.4vw rgba(245, 231, 163, 0.8);
    }
}

.roulette-grid__drop {
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.roulette-grid__drop_center {
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.roulette-grid__drop_hpair {
    right: -.27273em;
    top: 0;
    width: .31818em;
    height: 100%;
}

.roulette-grid__drop_vpair {
    right: 0;
    top: -.27273em;
    width: 100%;
    height: 0.31818em;
}

.roulette-grid__cell:nth-of-type(-n+4) .roulette-grid__drop_vpair {
    display: none;
}

.roulette-grid__drop_quad {
    right: -.5em;
    top: -.5em;
    width: .81818em;
    height: 0.81818em;
}

.roulette-grid__cell:nth-of-type(-n+4) .roulette-grid__drop_quad {
    display: none;
}

.roulette-grid__drop.with-riw {
    z-index: 2;
}

.roulette-window {
    display: none;
    top: 50%;
    -webkit-transform: translateY(-111%) translateZ(10em);
    transform: translateY(-111%) translateZ(10em);
    margin-left: -10em;
    padding: 1em 2em;
    width: 20em;
    font-size: 1vw;
    text-align: center;
    border: 1px solid #fff;
    box-shadow: -0.1em 0 1.5em rgba(0, 0, 0, 0.6);
    z-index: 1;
    position: absolute;
    left: 50%;
    background-color: #113555;

    &:after {
        position: absolute;
        left: 50%;
        background-color: #113555;
        content: "";
        bottom: 0;
        -webkit-transform: translateX(-0.595em) scaleX(0.8) rotate(-45deg);
        transform: translateX(-0.595em) scaleX(0.8) rotate(-45deg);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        width: 1em;
        height: 1em;
        border-bottom: 1px solid #fff;
        border-left: 1px solid #fff;
    }
}

.roulette-window__close {
    position: absolute;
    top: .2em;
    right: .3em;
    cursor: pointer;

    &:before {
        content: "x";
        display: block;
        -webkit-transform: scaleY(0.75);
        transform: scaleY(0.75);
        line-height: 70%;
        font-family: Arial,Helvetica,Sans-Serif;
        font-size: 1.2em;
        color: #d9d9d9;
        will-change: color;
        transition: color 0.3s;
    }

    &:hover:before {
        color: #fff;
    }
}

.roulette-window__btn {
    margin-top: 1.20482em;
    padding: 0 .18072em;
    min-width: 7.83133em;
    height: 1.75663em;
    font-size: .83em;
    color: #fff;
    text-transform: uppercase;
    background-color: #84b332;
    border: none;
    outline: none;
    cursor: pointer;
    will-change: background-color;
    transition: background-color 0.3s;

    &:focus, &:hover {
        background-color: #678b27;
    }
}

.roulette__chips {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    left: 20em;
    top: 24em;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 2.5em;
    height: 2.5em;
}

.roulette-window .roulette__chips {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    position: static;
    width: auto;
}

.roulette__chip {
    position: absolute;
    -webkit-transform: rotateX(48deg) rotateY(-2deg) rotate(-45deg);
    transform: rotateX(48deg) rotateY(-2deg) rotate(-45deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 2.5em;
    height: 2.245em;
    background-image: url(/static/casino/img/roulette/chips.png);
    image-rendering: -webkit-optimize-contrast;
    background-size: 100% auto;
    border-radius: 1em/1.1em;
    box-shadow: 0 0.1em 0.15em 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    will-change: box-shadow;
    transition: box-shadow 0.3s;
    left: 0;
    top: 0;
}

.roulette__chips .roulette__chip:first-of-type {
    left: 0;
    top: 0;
}

.roulette__chip.chip1 {
    background-position: 0 0;
}

.roulette__chips .roulette__chip:nth-of-type(2) {
    left: 140%;
    top: 100%;
}

.roulette__chip.chip2 {
    background-position: 0 25%;
}

.roulette__chips .roulette__chip:nth-of-type(3) {
    left: 280%;
    top: 200%;
}

.roulette__chip.chip3 {
    background-position: 0 50%;
}

.roulette__chips .roulette__chip:nth-of-type(4) {
    left: 420%;
    top: 300%;
}

.roulette__chip.chip4 {
    background-position: 0 75%;
}

.roulette__chips .roulette__chip:nth-of-type(5) {
    left: 560%;
    top: 400%;
}

.roulette__chip {
    &.chip5 {
        background-position: 0 100%;
    }

    &:hover {
        box-shadow: 0 0.1em 0.15em 0.15em rgba(0, 0, 0, 0.5);
    }
}

.roulette-grid__drop > .roulette__chip {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-1.25em, -1.1225em);
    transform: translate(-1.25em, -1.1225em);
    font-size: 0.3em;
}

.roulette-grid_numbers .roulette-grid__cell:nth-last-of-type(-n+3) .roulette-grid__drop > .roulette__chip {
    font-size: 0.543em;
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip {
    -webkit-transform: rotate(-90deg) translate(-1.25em, -1.1225em);
    transform: rotate(-90deg) translate(-1.25em, -1.1225em);
    font-size: 0.562em;
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(2) {
    -webkit-transform: translate(-1.05em, -1.3225em);
    transform: translate(-1.05em, -1.3225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(2) {
    -webkit-transform: rotate(-90deg) translate(-1.05em, -1.3225em);
    transform: rotate(-90deg) translate(-1.05em, -1.3225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(3) {
    -webkit-transform: translate(-0.95em, -1.4225em);
    transform: translate(-0.95em, -1.4225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(3) {
    -webkit-transform: rotate(-90deg) translate(-0.95em, -1.4225em);
    transform: rotate(-90deg) translate(-0.95em, -1.4225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(4) {
    -webkit-transform: translate(-0.85em, -1.5225em);
    transform: translate(-0.85em, -1.5225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(4) {
    -webkit-transform: rotate(-90deg) translate(-0.85em, -1.5225em);
    transform: rotate(-90deg) translate(-0.85em, -1.5225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(5) {
    -webkit-transform: translate(-0.75em, -1.6225em);
    transform: translate(-0.75em, -1.6225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(5) {
    -webkit-transform: rotate(-90deg) translate(-0.75em, -1.6225em);
    transform: rotate(-90deg) translate(-0.75em, -1.6225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(6) {
    -webkit-transform: translate(-0.65em, -1.7225em);
    transform: translate(-0.65em, -1.7225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(6) {
    -webkit-transform: rotate(-90deg) translate(-0.65em, -1.7225em);
    transform: rotate(-90deg) translate(-0.65em, -1.7225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(7) {
    -webkit-transform: translate(-0.55em, -1.8225em);
    transform: translate(-0.55em, -1.8225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(7) {
    -webkit-transform: rotate(-90deg) translate(-0.55em, -1.8225em);
    transform: rotate(-90deg) translate(-0.55em, -1.8225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(8) {
    -webkit-transform: translate(-0.45em, -1.9225em);
    transform: translate(-0.45em, -1.9225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(8) {
    -webkit-transform: rotate(-90deg) translate(-0.45em, -1.9225em);
    transform: rotate(-90deg) translate(-0.45em, -1.9225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(9) {
    -webkit-transform: translate(-0.35em, -2.0225em);
    transform: translate(-0.35em, -2.0225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(9) {
    -webkit-transform: rotate(-90deg) translate(-0.35em, -2.0225em);
    transform: rotate(-90deg) translate(-0.35em, -2.0225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(10) {
    -webkit-transform: translate(-0.25em, -2.1225em);
    transform: translate(-0.25em, -2.1225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(10) {
    -webkit-transform: rotate(-90deg) translate(-0.25em, -2.1225em);
    transform: rotate(-90deg) translate(-0.25em, -2.1225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(11) {
    -webkit-transform: translate(-0.15em, -2.2225em);
    transform: translate(-0.15em, -2.2225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(11) {
    -webkit-transform: rotate(-90deg) translate(-0.15em, -2.2225em);
    transform: rotate(-90deg) translate(-0.15em, -2.2225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(12) {
    -webkit-transform: translate(-0.05em, -2.3225em);
    transform: translate(-0.05em, -2.3225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(12) {
    -webkit-transform: rotate(-90deg) translate(-0.05em, -2.3225em);
    transform: rotate(-90deg) translate(-0.05em, -2.3225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(13) {
    -webkit-transform: translate(0.05em, -2.4225em);
    transform: translate(0.05em, -2.4225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(13) {
    -webkit-transform: rotate(-90deg) translate(0.05em, -2.4225em);
    transform: rotate(-90deg) translate(0.05em, -2.4225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(14) {
    -webkit-transform: translate(0.15em, -2.5225em);
    transform: translate(0.15em, -2.5225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(14) {
    -webkit-transform: rotate(-90deg) translate(0.15em, -2.5225em);
    transform: rotate(-90deg) translate(0.15em, -2.5225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(15) {
    -webkit-transform: translate(0.25em, -2.6225em);
    transform: translate(0.25em, -2.6225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(15) {
    -webkit-transform: rotate(-90deg) translate(0.25em, -2.6225em);
    transform: rotate(-90deg) translate(0.25em, -2.6225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(16) {
    -webkit-transform: translate(0.35em, -2.7225em);
    transform: translate(0.35em, -2.7225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(16) {
    -webkit-transform: rotate(-90deg) translate(0.35em, -2.7225em);
    transform: rotate(-90deg) translate(0.35em, -2.7225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(17) {
    -webkit-transform: translate(0.45em, -2.8225em);
    transform: translate(0.45em, -2.8225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(17) {
    -webkit-transform: rotate(-90deg) translate(0.45em, -2.8225em);
    transform: rotate(-90deg) translate(0.45em, -2.8225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(18) {
    -webkit-transform: translate(0.55em, -2.9225em);
    transform: translate(0.55em, -2.9225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(18) {
    -webkit-transform: rotate(-90deg) translate(0.55em, -2.9225em);
    transform: rotate(-90deg) translate(0.55em, -2.9225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(19) {
    -webkit-transform: translate(0.65em, -3.0225em);
    transform: translate(0.65em, -3.0225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(19) {
    -webkit-transform: rotate(-90deg) translate(0.65em, -3.0225em);
    transform: rotate(-90deg) translate(0.65em, -3.0225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(20) {
    -webkit-transform: translate(0.75em, -3.1225em);
    transform: translate(0.75em, -3.1225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(20) {
    -webkit-transform: rotate(-90deg) translate(0.75em, -3.1225em);
    transform: rotate(-90deg) translate(0.75em, -3.1225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(21) {
    -webkit-transform: translate(0.85em, -3.2225em);
    transform: translate(0.85em, -3.2225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(21) {
    -webkit-transform: rotate(-90deg) translate(0.85em, -3.2225em);
    transform: rotate(-90deg) translate(0.85em, -3.2225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(22) {
    -webkit-transform: translate(0.95em, -3.3225em);
    transform: translate(0.95em, -3.3225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(22) {
    -webkit-transform: rotate(-90deg) translate(0.95em, -3.3225em);
    transform: rotate(-90deg) translate(0.95em, -3.3225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(23) {
    -webkit-transform: translate(1.05em, -3.4225em);
    transform: translate(1.05em, -3.4225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(23) {
    -webkit-transform: rotate(-90deg) translate(1.05em, -3.4225em);
    transform: rotate(-90deg) translate(1.05em, -3.4225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(24) {
    -webkit-transform: translate(1.15em, -3.5225em);
    transform: translate(1.15em, -3.5225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(24) {
    -webkit-transform: rotate(-90deg) translate(1.15em, -3.5225em);
    transform: rotate(-90deg) translate(1.15em, -3.5225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(25) {
    -webkit-transform: translate(1.25em, -3.6225em);
    transform: translate(1.25em, -3.6225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(25) {
    -webkit-transform: rotate(-90deg) translate(1.25em, -3.6225em);
    transform: rotate(-90deg) translate(1.25em, -3.6225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(26) {
    -webkit-transform: translate(1.35em, -3.7225em);
    transform: translate(1.35em, -3.7225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(26) {
    -webkit-transform: rotate(-90deg) translate(1.35em, -3.7225em);
    transform: rotate(-90deg) translate(1.35em, -3.7225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(27) {
    -webkit-transform: translate(1.45em, -3.8225em);
    transform: translate(1.45em, -3.8225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(27) {
    -webkit-transform: rotate(-90deg) translate(1.45em, -3.8225em);
    transform: rotate(-90deg) translate(1.45em, -3.8225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(28) {
    -webkit-transform: translate(1.55em, -3.9225em);
    transform: translate(1.55em, -3.9225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(28) {
    -webkit-transform: rotate(-90deg) translate(1.55em, -3.9225em);
    transform: rotate(-90deg) translate(1.55em, -3.9225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(29) {
    -webkit-transform: translate(1.65em, -4.0225em);
    transform: translate(1.65em, -4.0225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(29) {
    -webkit-transform: rotate(-90deg) translate(1.65em, -4.0225em);
    transform: rotate(-90deg) translate(1.65em, -4.0225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(30) {
    -webkit-transform: translate(1.75em, -4.1225em);
    transform: translate(1.75em, -4.1225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(30) {
    -webkit-transform: rotate(-90deg) translate(1.75em, -4.1225em);
    transform: rotate(-90deg) translate(1.75em, -4.1225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(31) {
    -webkit-transform: translate(1.85em, -4.2225em);
    transform: translate(1.85em, -4.2225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(31) {
    -webkit-transform: rotate(-90deg) translate(1.85em, -4.2225em);
    transform: rotate(-90deg) translate(1.85em, -4.2225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(32) {
    -webkit-transform: translate(1.95em, -4.3225em);
    transform: translate(1.95em, -4.3225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(32) {
    -webkit-transform: rotate(-90deg) translate(1.95em, -4.3225em);
    transform: rotate(-90deg) translate(1.95em, -4.3225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(33) {
    -webkit-transform: translate(2.05em, -4.4225em);
    transform: translate(2.05em, -4.4225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(33) {
    -webkit-transform: rotate(-90deg) translate(2.05em, -4.4225em);
    transform: rotate(-90deg) translate(2.05em, -4.4225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(34) {
    -webkit-transform: translate(2.15em, -4.5225em);
    transform: translate(2.15em, -4.5225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(34) {
    -webkit-transform: rotate(-90deg) translate(2.15em, -4.5225em);
    transform: rotate(-90deg) translate(2.15em, -4.5225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(35) {
    -webkit-transform: translate(2.25em, -4.6225em);
    transform: translate(2.25em, -4.6225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(35) {
    -webkit-transform: rotate(-90deg) translate(2.25em, -4.6225em);
    transform: rotate(-90deg) translate(2.25em, -4.6225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(36) {
    -webkit-transform: translate(2.35em, -4.7225em);
    transform: translate(2.35em, -4.7225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(36) {
    -webkit-transform: rotate(-90deg) translate(2.35em, -4.7225em);
    transform: rotate(-90deg) translate(2.35em, -4.7225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(37) {
    -webkit-transform: translate(2.45em, -4.8225em);
    transform: translate(2.45em, -4.8225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(37) {
    -webkit-transform: rotate(-90deg) translate(2.45em, -4.8225em);
    transform: rotate(-90deg) translate(2.45em, -4.8225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(38) {
    -webkit-transform: translate(2.55em, -4.9225em);
    transform: translate(2.55em, -4.9225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(38) {
    -webkit-transform: rotate(-90deg) translate(2.55em, -4.9225em);
    transform: rotate(-90deg) translate(2.55em, -4.9225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(39) {
    -webkit-transform: translate(2.65em, -5.0225em);
    transform: translate(2.65em, -5.0225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(39) {
    -webkit-transform: rotate(-90deg) translate(2.65em, -5.0225em);
    transform: rotate(-90deg) translate(2.65em, -5.0225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(40) {
    -webkit-transform: translate(2.75em, -5.1225em);
    transform: translate(2.75em, -5.1225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(40) {
    -webkit-transform: rotate(-90deg) translate(2.75em, -5.1225em);
    transform: rotate(-90deg) translate(2.75em, -5.1225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(41) {
    -webkit-transform: translate(2.85em, -5.2225em);
    transform: translate(2.85em, -5.2225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(41) {
    -webkit-transform: rotate(-90deg) translate(2.85em, -5.2225em);
    transform: rotate(-90deg) translate(2.85em, -5.2225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(42) {
    -webkit-transform: translate(2.95em, -5.3225em);
    transform: translate(2.95em, -5.3225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(42) {
    -webkit-transform: rotate(-90deg) translate(2.95em, -5.3225em);
    transform: rotate(-90deg) translate(2.95em, -5.3225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(43) {
    -webkit-transform: translate(3.05em, -5.4225em);
    transform: translate(3.05em, -5.4225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(43) {
    -webkit-transform: rotate(-90deg) translate(3.05em, -5.4225em);
    transform: rotate(-90deg) translate(3.05em, -5.4225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(44) {
    -webkit-transform: translate(3.15em, -5.5225em);
    transform: translate(3.15em, -5.5225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(44) {
    -webkit-transform: rotate(-90deg) translate(3.15em, -5.5225em);
    transform: rotate(-90deg) translate(3.15em, -5.5225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(45) {
    -webkit-transform: translate(3.25em, -5.6225em);
    transform: translate(3.25em, -5.6225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(45) {
    -webkit-transform: rotate(-90deg) translate(3.25em, -5.6225em);
    transform: rotate(-90deg) translate(3.25em, -5.6225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(46) {
    -webkit-transform: translate(3.35em, -5.7225em);
    transform: translate(3.35em, -5.7225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(46) {
    -webkit-transform: rotate(-90deg) translate(3.35em, -5.7225em);
    transform: rotate(-90deg) translate(3.35em, -5.7225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(47) {
    -webkit-transform: translate(3.45em, -5.8225em);
    transform: translate(3.45em, -5.8225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(47) {
    -webkit-transform: rotate(-90deg) translate(3.45em, -5.8225em);
    transform: rotate(-90deg) translate(3.45em, -5.8225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(48) {
    -webkit-transform: translate(3.55em, -5.9225em);
    transform: translate(3.55em, -5.9225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(48) {
    -webkit-transform: rotate(-90deg) translate(3.55em, -5.9225em);
    transform: rotate(-90deg) translate(3.55em, -5.9225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(49) {
    -webkit-transform: translate(3.65em, -6.0225em);
    transform: translate(3.65em, -6.0225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(49) {
    -webkit-transform: rotate(-90deg) translate(3.65em, -6.0225em);
    transform: rotate(-90deg) translate(3.65em, -6.0225em);
}

.roulette-grid_numbers .roulette-grid__drop > .roulette__chip:nth-of-type(50) {
    -webkit-transform: translate(3.75em, -6.1225em);
    transform: translate(3.75em, -6.1225em);
}

.roulette-grid_groups .roulette-grid__drop > .roulette__chip:nth-of-type(50) {
    -webkit-transform: rotate(-90deg) translate(3.75em, -6.1225em);
    transform: rotate(-90deg) translate(3.75em, -6.1225em);
}

.roulette-grid__drop > .roulette__chip:nth-of-type(n+51) {
    display: none;
}

.roulette-window .roulette__chip {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: static;
    -webkit-transform: none !important;
    transform: none !important;
    font-size: 1em;
    cursor: pointer;
}

.roulette-result {
    position: absolute;
    top: .5em;
    right: .365em;
    padding: 1em .677em;
    min-width: 18.6em;
    text-align: right;
    background-image: linear-gradient(270deg, #113555, transparent);
    border-right: 0.1em solid #84b332;
}

.roulette-result__text {
    color: #fff;
}

.roulette-result__bet, .roulette-result__text {
    line-height: 250%;
    font-size: calc(.3125em + 6px);
    font-weight: 700;
    text-transform: uppercase;
}

.roulette-result__bet {
    color: #1d81cd;
}

.roulette-controls {
    position: absolute;
    left: .73em;
    bottom: .78em;
    padding: .625em;
    background-color: rgba(17, 53, 85, 0.5);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.roulette-controls__item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.3em;
    width: 10.88em;
    height: 5em;
    font-size: .625em;
    color: #fff;
    text-align: center;
    background-color: #113555;
    cursor: pointer;
    will-change: background-color;
    transition: background-color 0.3s;

    ~ .roulette-controls__item {
        margin-left: 1px;
    }

    &:hover {
        background-color: #84b332;
    }

    &:before {
        display: block;
        margin-bottom: .16em;
        font-family: "Font Awesome 5 Free";
        font-size: 1em;
        font-weight: 900;
        color: #fff;
    }
}

.roulette-controls__item_play:before {
    content: "";
}

.roulette-controls__item_repeat:before {
    content: "";
}

.roulette-controls__item_clear:before {
    content: "";
}

.roulette-bet {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-bottom: 1.25em;
    width: 10em;
    background-color: rgba(11, 40, 65, 0.5);
}

.roulette-bet__heading {
    background-color: rgba(11, 40, 65, 0.5);
    margin: 0;
    padding: .5em;
    line-height: 160%;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 10vw;
}

.roulette-bet__list {
    padding: 0.5em 0;
}

.roulette-bet__item {
    position: relative;
    padding: 0 2em;
    line-height: 280%;
    font-size: .95em;
    font-weight: 700;
    color: #fff;
    text-align: right;

    &:before {
        content: "";
        position: absolute;
        left: 1.26316em;
        top: .46842em;
        width: 1.97368em;
        height: 1.86316em;
        background-image: url(/static/casino/img/roulette/chips.png);
        image-rendering: -webkit-optimize-contrast;
        background-size: 100% auto;
    }
}

.roulette-bet__item_1:before {
    background-position: 0 0;
}

.roulette-bet__item_2:before {
    background-position: 0 25%;
}

.roulette-bet__item_3:before {
    background-position: 0 50%;
}

.roulette-bet__item_4:before {
    background-position: 0 75%;
}

.roulette-bet__item_5:before {
    background-position: 0 100%;
}

.roulette-bet__amount {
    line-height: 280%;
    font-size: 1.25em;
    font-weight: 700;
    color: #84b332;
    text-align: center;
}

.roulette-bet__btns {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 0.365em;
}

.roulette-bet__btn {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 10%;
    height: 2.1875em;
    font-size: 1em;
    background-color: #113555;
    border: none;
    outline: none;
    cursor: pointer;
    will-change: background-color;
    transition: background-color 0.3s;

    ~ .roulette-bet__btn {
        margin-left: 1px;
    }

    &:focus, &:hover {
        background-color: #84b332;
    }

    &:before {
        font-family: "Font Awesome 5 Free";
        font-size: 1em;
        font-weight: 900;
        color: #fff;
    }
}

.roulette-bet__btn_play:before {
    font-size: 1.5rem;
    content: "\f04b";
}

.roulette-bet__btn_repeat:before {
    content: "";
}

.roulette-bet__btn_clear:before {
    content: "";
}

.roulette-bet__rules {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    margin-top: auto;
    line-height: 140%;
    font-size: 1em;
    color: #fff;
    box-shadow: inset 0 -2px 0 #fff;
    cursor: pointer;
    will-change: box-shadow;
    transition: box-shadow 0.3s;

    &:after {
        content: "\f29c";
        margin-left: .25em;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }

    &:hover {
        box-shadow: inset 0 -2px 0 transparent;
    }
}

.roulette-popup {
    color: #fff;
    width: 650px;
    position: fixed;
    margin: 20px 0 0 -325px;
    left: 50%;
    top: 0;
    z-index: 100;
    overflow-y: auto;
    overflow-x: hidden;

    &.hidden {
        display: none;
    }
}

.roulette-popup__close {
    position: absolute;
    top: 5px;
    right: 8px;
    -webkit-transform: scaleY(0.8);
    transform: scaleY(0.8);
    font-size: 20px;
    color: #d9d9d9;
    cursor: pointer;
    will-change: color;
    transition: color 0.3s;

    &:hover {
        color: #fff;
    }
}

.roulette-popup__body {
    padding: 40px;
    width: 650px;
    border: 1px solid #fff;
    background: url(/static/casino/img/roulette/popup-bg.jpg) 70% 70%;
    background-size: auto 100%;
    image-rendering: -webkit-optimize-contrast;
    text-align: center;
}

.roulette-popup__heading, .roulette-popup__subheading {
    margin: 0 0 35px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.roulette-popup__heading {
    font-size: 36px;
}

.roulette-popup__subheading {
    font-size: 24px;
}

.roulette-popup__h3 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.roulette-popup__wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 60px;
}

.roulette-popup__btn {
    margin-top: 30px;
    padding: 0 20px;
    min-width: 265px;
    height: 54px;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    background: #84b332;
    border: none;
    outline: none;
    cursor: pointer;
    will-change: background-color;
    transition: background-color 0.3s;

    &:focus, &:hover {
        background-color: #678b27;
    }
}

.roulette-popup__btn_reg {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.roulette-popup__btn_login {
    background-color: #1d81cd;

    &:focus, &:hover {
        background-color: #14578a;
    }
}

.roulette-popup__wrap .roulette-popup__btn {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-top: 0;
    min-width: 0;
    font-size: 20px;

    ~ .roulette-popup__btn {
        margin-left: 14px;
    }
}

.roulette-popup__caption, .roulette-popup__text {
    margin: 15px 0 0;
    line-height: 160%;
    font-size: 14px;
    color: #fffae0;
    text-align: left;
}

.roulette-popup__text_common {
    opacity: .6;
    margin: 10px 0;
    font-size: 12px;
    text-align: center;
}

.roulette-popup__caption {
    margin-bottom: 8px;
    font-weight: 500;
}

.roulette-popup__list {
    margin: 0;
    padding-left: 18px;
    text-align: left;

    li {
        line-height: 160%;
        font-size: 14px;
        color: #fffae0;
    }
}

.roulette-popup__table {
    border-collapse: separate;
    border-spacing: 1px;

    td {
        padding: 5px 10px;
    }

    th {
        padding: 5px 10px;
        height: 35px;
        color: #113555;
        background: #fff;
    }

    td {
        background: hsla(0, 0%, 100%, 0.1);
    }
}

.roulette-popup__msg {
    font-size: 16px;
    font-weight: 500;
    color: #fffae0;
    text-align: center;
}

.changeBalance-wrap .select-balance {
    &.chosen-container {
        width: 100% !important;
        font-size: 1em;
        text-align: left;

        .chosen-single {
            padding: 0 .42941em;
            width: 100%;
            height: 2.35294em;
            line-height: 2.35294em;
            font-family: Roboto, Roboto Local, Arial, Helvetica, Sans-Serif !important;
            font-size: .85em;
            color: #fff;
            text-align: left;
            image-rendering: -webkit-optimize-contrast;
            background-size: 100% 100%;
            background: #113555 no-repeat;
            border: none;
            border-radius: 0;
            box-shadow: none;
            outline: none;
            cursor: pointer;
            will-change: background-color;
            transition: background-color 0.3s;
        }
    }

    &:not(.chosen-container) {
        padding: 0 .42941em;
        width: 100%;
        height: 2.35294em;
        line-height: 2.35294em;
        font-family: Roboto, Roboto Local, Arial, Helvetica, Sans-Serif !important;
        font-size: .85em;
        color: #fff;
        text-align: left;
        image-rendering: -webkit-optimize-contrast;
        background-size: 100% 100%;
        background: #113555 no-repeat;
        border: none;
        border-radius: 0;
        box-shadow: none;
        outline: none;
        cursor: pointer;
        will-change: background-color;
        transition: background-color 0.3s;
    }

    &.chosen-container .chosen-single[disabled], &:not(.chosen-container)[disabled] {
        background: #666;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default;
    }

    &.chosen-container {
        .chosen-single {
            padding: 0 1em;
        }

        &.chosen-with-drop .chosen-single, &:focus .chosen-single, &:hover .chosen-single {
            background-color: #84b332;
        }
    }

    &:not(.chosen-container) {
        &:focus, &:hover {
            background-color: #84b332;
        }
    }

    * {
        box-sizing: border-box;
    }

    &.chosen-container {
        .chosen-single {
            span {
                margin-right: 1em;
            }

            div {
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                right: .5em;
                width: 1em;
                text-align: center;

                &:before {
                    content: "\f107";
                    -webkit-transform-origin: 50% 50%;
                    transform-origin: 50% 50%;
                    display: block;
                    font-family: "Font Awesome 5 Free";
                    color: #fff;
                    text-shadow: none;
                    will-change: transform;
                    font-weight: 900;
                    transition: -webkit-transform .3s;
                    transition: transform .3s;
                    transition: transform 0.3s, -webkit-transform 0.3s;
                }
            }
        }

        &.chosen-with-drop {
            .chosen-single {
                border-radius: 0;
            }

            div:before {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }

        .chosen-single div b {
            display: none;
        }

        .chosen-drop {
            top: auto !important;
            bottom: 100%;
            background-color: #113555;
            border: none;
            border-radius: 0;
        }

        .chosen-results {
            margin: 0;
            padding: 0;
            color: #fff;

            li {
                padding: .5em .42941em;
                font-size: 0.85em;

                &.highlighted {
                    background: #84b332;
                }
            }
        }
    }
}

.arcticmodal-container, .arcticmodal-overlay {
    -webkit-transform: translateZ(30em);
    transform: translateZ(30em);
}

.wc__mini {
    left: auto !important;
    right: 5px;
}

@media (max-width: 1365px) {
    .wc__mini {
        left: 50% !important;
        -webkit-transform: translateX(9em);
        transform: translateX(9em);
        right: auto;
        font-size: 13.66px;
    }
}

@media screen and (max-width: 1800px) {
    .roulette__title {
        opacity: 0;
    }
}

.jackpot {
    right: 1% !important;
    top: 13em !important;
    font-size: 11px !important;
}

@media screen and (max-width: 1800px) {
    .jackpot {
        top: 9em !important;
        right: 40% !important;
    }
}

@media screen and (max-width: 1800px) {
    .jackpot__content {
        height: 0 !important;
    }
}