<template>
        <div class="filters">
            <div class="all_filters">
                <div class="filter">
                    <div class="filters_bot_right">
                        <input type="checkbox" name="marked" id="marked" @click="showChecked">
                        <label for="marked" v-if="isShowCheck === false">{{translateText.marked}}</label>
                        <label for="marked" v-else>{{translateText.expand}}</label>
                    </div>
                </div>
                <div class="filter">
                    <div class="filters_bot_right" @click="allExpand">
                        <button>
                            <span :class="{expanded: isExpand}" v-if="!isExpand">{{translateText.expand}}</span>
                            <span :class="{expanded: isExpand}" v-if="isExpand">{{translateText.collapse}}</span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- <div class="filters_top">
                <div class="filters-live">
                    <input type="checkbox" v-model="liveLocal" @change="updateLive(liveLocal)" name="live" id="live"/>
                    <label for="live">Live</label>
                </div>
                <div class="filters-live">
                    <input type="checkbox" name="result" id="result"/>
                    <label for="result">{{translateText.title}}</label>
                </div>
                <div class="filters-live">
                    <input type="checkbox" name="hResult" id="hResult"/>
                    <label for="hResult">{{translateText.hr}}</label>
                </div>
            </div>
            <div class="filters_bot">
                <div class="filters_bot_left">
                    <date-picker v-model="timeLocal" @change="updateTime(timeLocal)" valueType="format" :first-day-of-week="1" :lang="lang"></date-picker>
                    <div class="filters-live">
                        <input type="checkbox" name="score" id="score"/>
                        <label for="score">{{translateText.score}}</label>
                    </div>
                    <div class="filters-live">
                        <input type="checkbox" name="video" id="video"/>
                        <label for="video">{{translateText.video}}</label>
                    </div>
                    <div class="filters-live">
                        <input type="checkbox" name="marked" id="marked" @click="showChecked">
                        <label for="marked">{{translateText.marked}}</label>
                    </div>
                    <div class="filters-live">
                        <input type="checkbox" name="popular" id="popular"/>
                        <label for="popular">{{translateText.popular}}</label>
                    </div>
                    <div class="result_search">
                        <input type="text" :placeholder="translateText.search" v-model="searchVal" @keyup="$emit('update:searchVal', searchVal);">
                        <button></button>
                    </div>
                </div>
                <div class="filters_bot_right" @click="allExpand">
                    <button :class="{expanded: isExpand}">
                        <span  v-if="!isExpand">{{translateText.expand}}</span>
                        <span v-if="isExpand">{{translateText.collapse}}</span>
                    </button>
                </div>
            </div> -->
        </div>
</template>

<script>
import DatePicker from 'vue2-datepicker';
export default {
    props: ['isExpand', 'translateText', 'allExpand', 'searchVal', 'time', 'live', 'lang'],
    data () {
        return {
            timeLocal: this.time,
            liveLocal: this.live,
            isShowCheck: false
        }
    },
    components: {
        DatePicker
    },
    methods: {
        updateTime(value) {
            this.$emit('update:time', value);
        },
        updateLive(value) {
            this.$emit('update:live', value);
        },
        showChecked() {
            $('.results_wrap').each((id, el) => {                
                if($(el).find('.game-results-tournament').not(".checked").length === $(el).find('.game-results-tournament').length && $('#marked').prop( "checked" )) {
                    $(el).hide();                    
                } else {
                    $(el).show();                    
                }                            
            });
            if($('#marked').prop( "checked" )){
                $('.game-results-tournament').not(".checked").hide();
            } else {
                $('.game-results-tournament').not(".checked").show();
            }
            this.isShowCheck = !this.isShowCheck
        }
    }
}
</script>