<template>
    <div class="result_sidebar">
        <div class="sidebar_title" :class="{showed: isSearchShowed}">
            <span> {{translateText.type}} </span>
            <div class="sidebar_buttons">
                <div class="sidebar_search_wrap">
                    <input type="text" ref="sidebarInput" v-model="sideSearchVal" @keyup="$emit('update:sideSearchVal', sideSearchVal)">
                    <button class="sidebar_search" @click="sidebarSearch"></button>
                </div>                    
                <button class="sidebar_sort" @click="sort"></button>
            </div>
        </div>
        <div class="ui-button-content" @click="allSport">
            <div class="button-content">
                <div class="content-icon"></div>
                <div class="content-text">{{translateText.all}}</div>
            </div>
        </div>
        <div class="ui-button-content"
            v-for=" item in sports"
            :key="item[0]"
            :value="item[0]"
            @click="selectSport(item[0])"
            :class="{ active: filters.includes(+item[0]) }"
            >
            <div class="button-content" :id="item[0]">
                <div class="content-icon" :class="'icon' || ''" :style="setSidebarIcon(item[1])"></div>
                <div class="content-text">{{item[1]}}</div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data: function(){
        return{
            isSearchShowed: false,
        }
    },
    props: ['filters', 'selectSport', 'setSidebarIcon', 'translateText', 'allSport', 'sports', 'sideSearchVal', 'sort'],
    methods: {
        sidebarSearch() {
            this.isSearchShowed = !this.isSearchShowed;
            this.$refs.sidebarInput.focus();             
        }
    },  
}
</script>