<template>
    <div class="game-results-container container">
        <div class="results_main_title">
            <div class="left-side">
                <div class="btn_back" @click="back"><i class="fas fa-arrow-left"></i></div>
                <h1>{{translateText.title}}</h1>
            </div>
            <div class="right-side">
                <date-picker v-model="timeLocal" @change="updateTime(timeLocal)" valueType="format" :first-day-of-week="1" :lang="lang"></date-picker>
            </div>
        </div>
        <div class="results_main_title toggle-live">
            <div class="left-side" v-bind:class="{ active: live }" @click="live = true">
                LIVE
            </div>
            <div class="right-side" v-bind:class="{ active: !live }" @click="live = false">
                ЛИНИЯ
            </div>
        </div>
        <side-bar 
            :filters="filters" 
            :selectSport="selectSport" 
            :setSidebarIcon="setSidebarIcon" 
            :translateText="translateText"
            :allSport="allSport" 
            :sports="sportsList"
            :sideSearchVal.sync="sideSearchVal"
            :sort="sort"
        />
        <div class="result_content">
            <filter-block 
                :isExpand="isExpand"
                :translateText="translateText"
                :allExpand="allExpand"
                :searchVal.sync="searchVal"
                :time.sync="time"
                :live.sync="live"
                :lang="lang"
            />
            <div class="results" ref="results">
                <div v-for="(list, key) in gameGroups" :key="key" class="results_wrap">
                    <div class="result_sport">
                        <div class="result_sport_icon" :class="'icon' || ''" :style="setIcon(list[0].sports_image)"></div>
                        <p>{{key}}</p>
                    </div>
                    <tournament :isExpand="isExpand" v-for="result in list" :key="result.tournament_id" :result="result" :timeFilter="time" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import DatePicker from 'vue2-datepicker';
    import resultTournament from "tournament.vue";
    import sideBar from 'results-side-bar-mob.vue';
    import filter from 'results-filter-mob.vue';
    let timeout = null;
    export default {
        data: function() {
            return {
                timeLocal: this.time,
                live: +window.location.search.includes('live=1'),
                sport: '',
                filters: [],
                results: [],
                sports: {},
                translateText: {},
                searchVal: '',
                isSorted: 1,
                isExpand: false,
                time: '',
                lang: 'en',
                sideSearchVal: '',
            };
        },
        components: {
            'tournament': resultTournament,
            'side-bar': sideBar,
            'filter-block': filter,
            DatePicker
        },
        computed: {
            gameGroups(){ 
                return this.results.reduce((r, a) => {                    
                    const list =  [...r[a.sports_title] || [], a].filter((item) => {
                        return (this.filters.length === 0 || this.filters.includes(item.sports_id))
                        && (this.searchVal.length === 0 || item.tournament_title.toLowerCase().includes(this.searchVal.toLowerCase()))
                        // && item.tournament_events[0].start_date.includes(this.time) 
                    });                    
                    if (list.length !== 0){
                        r[a.sports_title] = list;                        
                    }                                       
                    return r;
                }, {});
            },
            sportsList(){
                let sports = this.sports;
                let sortable = [];
                for (let title in this.sports) {
                        sortable.push([title, this.sports[title]]);
                }

                if(this.isSorted === 2) {
                    sortable.sort(function(a, b){
                        if (a[1] < b[1]) 
                            return -1
                         if (a[1] > b[1])
                             return 1
                     return 0
                    })
                } else if(this.isSorted === 3){
                    sortable.sort(function(a, b){
                        if (a[1] < b[1]) 
                            return 1
                         if (a[1] > b[1])
                             return -1
                     return 0
                    })
                }   

                let result = sortable.filter(item => item[1].toLowerCase().includes(this.sideSearchVal.toLowerCase()));

                if(this.sideSearchVal.length !== 0){
                    return result;
                } else {
                    return sortable; 
                }
            }
        },
        created: function (){
            const html = document.documentElement.getAttribute("lang");            
            if(html == 'ru'){
                return this.translateText = {
                    all: "Все",
                    type: "ВИДЫ СПОРТА",
                    search: "Поиск",
                    title: "Результаты",
                    hr: "Харрисон результаты",
                    score: "Счет матча",
                    video: "Показать с видео",
                    marked: "Показать отмеченные",
                    popular: "Популярные",
                    expand: "Показать все",
                    collapse: "Свернуть все",
                    },
                    this.lang = "ru";                   
            } else{
                return this.translateText = {
                    all: "All",
                    type: "TYPE OF SPORTS",
                    search: "Search",
                    title: "Results",
                    hr: "Harrison results",
                    score: "Match score",
                    video: "Show with video",
                    marked: "Show marked",
                    popular: "Popular",
                    expand: "Expand All",
                    collapse: "Collapse All",
                    },
                    this.lang = "en"; 
            }  
        },
        watch: {
            live() {
                this.loadEvents();
            },
        },
        methods: {
            updateTime(time){
                this.time = time
            },
            back(){
                window.history.go(-1)
            },
            loadEvents() {
                clearTimeout(timeout);
                this.$refs.results.classList.add('loading');
                fetch('/games/games/results-list' + (this.live ? '?live=1' : '')).then((result) => result.json()).then((data) => {
                    this.$refs.results.classList.remove('loading');
                    if(!data.success) {
                        throw new Error(data.message);
                    }                                        
                    this.results = data.events;
                    this.sports = data.sports;                    
                    timeout = setTimeout(() => {this.loadEvents()}, 30000);
                });
            },
            selectSport(key) {   
                const id = parseInt(key);
                if (this.filters.includes(id)) {
                    this.filters = this.filters.filter((filterId) => filterId !== id);
                } else {
                    this.filters.push(id);
                }
            },
            allSport() {                                
                return this.filters = [];
            },
            setIcon(link){
                return link !== null ? {
                    'background-image':`url('/uploads/games/${link}')`
                } : {};
            },
            setSidebarIcon(title){
                let imgUrl = this.results.filter(item => item.sports_title.includes(title));
                return {'background-image':`url('/uploads/games/${imgUrl[0].sports_image}')`}
            },
            allExpand(){
                this.isExpand = !this.isExpand;
            },
            sort(){
                if(this.isSorted === 1 || this.isSorted === 3){
                    return this.isSorted = 2;
                } else if(this.isSorted === 2){
                    return this.isSorted = 3;
                }
            }
        },
        mounted() {
            this.loadEvents();
        }
    }
</script>