<template>
    <div class="result_sidebar">
        <div class="carousel_wrap">
            <slick :options="slickOptions" v-if="loading">
                <div class="link_wrap" @click="allSport">
                    <div class="list_link all_link">
                        <div class="list_icon game-icon content-icon"></div>          
                        {{translateText.all}}
                    </div>
                </div>
                <div class="link_wrap" v-for="item in getList" :key="item[0]" :value="item[0]" @click="selectSport(item[0])" :class="{ active: filters.includes(+item[0]) }">
                    <div class="list_link" :id="item[0]">
                        <div class="list_icon game-icon content-icon" :class="'icon' || ''" :style="setSidebarIcon(item[1])"></div>
                        {{item[1]}}
                    </div>
                </div>
            </slick>
        </div>
    </div>
</template>

<script>
import Slick from 'vue-slick';
export default {
    components: {Slick},
    props: ['filters', 'selectSport', 'setSidebarIcon', 'translateText', 'allSport', 'sports', 'sideSearchVal', 'sort'],
    data: function(){
        return{
            loading: true,
            isSearchShowed: false,
            slickOptions: {
                infinite: false,
                variableWidth: true,
                swipeToSlide: true
            },
        }
    },
    computed: {
        getList(){
        let list = this.sports;
        return list;
        },
    },
    watch: {
        getList() {
        this.loading = false;    
        setTimeout(() => {
            return this.loading = true;        
        }, 300);  
        }
    },
    methods: {
        sidebarSearch() {
            this.isSearchShowed = !this.isSearchShowed;
            this.$refs.sidebarInput.focus();             
        }
    },  
}
</script>