<template>
    <div :class="{tournament_not_found: !events.length}">
        <div class="game-results-tournament" :class="{checked : selected}" v-if="events.length">
            <div class="result-tournament-title">
                <div class="check_wrap">
                    <input type="checkbox" :id="result.tournament_id" @click="toggleCheck">
                    <label :for="result.tournament_id"></label>
                </div>
                {{ result.tournament_title || ''}}
                <button class="open_result" @click="toggleResults" :class="{active: isActive}"></button>
            </div>
            <transition name="slide">
                <div class="result-games-list" v-if="isActive">
                    <transition-group name="slide">
                        <div class="result-games-item" v-for="game in events" :key="game.id">
                            <div class="live" :class="{active: game.live}"></div>
                            <div class="time">
                                {{ game.live ? '' : game.start_date }} 
                                {{ game.start_time }}
                            </div>
                            <div class="title">
                                {{ game.title }}
                            </div>
                            <div class="result">
                                {{ game.result }}
                            </div>
                        </div>
                    </transition-group>
                </div>
            </transition>
        </div>  
        <div class="game-results-tournament" v-if="!events.length">
            <div class="result-tournament-title">
                Ничего не найдено
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "result-tournament",
        props: ['result', 'isExpand', 'time', 'timeFilter'],
        data: function() {
            return {
                isActive: false,
                selected: false,
            };
        },
        watch: {
            isExpand(val) {
                this.isActive = val;
            },
        },
        computed: {                      
            events() {                
                if(this._props.timeFilter === "") {
                    return this.result.tournament_events;
                } else {
                    return this.result.tournament_events.filter(item => {
                        return item.start_date == this._props.timeFilter;
                    });
                }
            }
        },
        methods: {
            toggleResults() {
                this.isActive = !this.isActive;
            },
            toggleCheck() {
                this.selected = !this.selected;
            }
        }
    }
</script>