<template>
    <div class="ui-button-content" v-if="tournaments.length >= 1">
        <div class="button-content" @click="toggleSport" ref="button">
            <div class="content-icon" :class="sport.icon || ''" :style="setIcon(sport.image)"></div>
            <div class="content-text">{{ sport.title }}</div>
            <div class="content-value" :class="{ 'hideVideo': !isLive }">
                <div class="content-avance">
                    <span>{{ eventsCount || 0 }}</span>
                </div>
                <div class="content-video" v-if="isLive">
                    <div class="content-video-text">
                        {{ sport.videos_count || 0 }}
                    </div>
                    <div class="content-video-image"></div>
                </div>
            </div>
        </div>
        <div class="content bacground-content" ref="content">
            <div class="ui-button-drop-toggle router-all-link-sport" @click="watchEvents">
                Все
            </div>
            <tournament v-for="tournament in tournaments" :key="tournament.id" :tournament="tournament"></tournament>
        </div>
    </div>
</template>

<script>
    import {games} from 'backend/games';
    import tournament from "./sidebar-tournament.vue";
    export default {
        components: {tournament},
        props: ['sport', 'game', 'withVideo'],
        data: function() {
            return {
                events: {}
            };
        },
        name: "left-sidebar-sport",
        computed: {
            eventsCount: function() {                
                return this.sport.tournaments.reduce((total, item) => {
                    return total + item.events_count;
                }, 0);
            },
            tournaments: function() {
                // console.log(this.sport.tournaments);
                if(this._props.withVideo === true){
                    const list = this.sport.tournaments.filter(item => item.videos_count >= 1);
                    // console.log(list);
                    return list;
                } else{
                    return this.sport.tournaments;
                }                
            },
            isLive() {
                return games.isLive;
            }
        },
        methods: {
            toggleSport() {
                const opener = this.$refs.button;
                const content = this.$refs.content;
                if(opener.className.includes('button-active')){
                    jQuery(content).slideUp(300, () => {
                        opener.classList.remove('button-active');
                    });
                } else {
                    if(jQuery(window).width() < 1000){
                        jQuery('.bacground-content').slideUp(300, () => {
                            jQuery('.button-content').removeClass('button-active');
                        });
                    }
                    jQuery(content).slideDown(300, () => {
                        opener.classList.add('button-active');
                    });
                }
            },
            watchEvents(){
                this.$router.push({name: (this.isLive ? 'live/sport' : 'line/sport'), params:{sports_id: this.sport.id}});
                                
                setTimeout(() => {
                    jQuery('html, body').animate({
                        scrollTop: jQuery("div.games-list").offset().top
                    }, 1000)
                }, 300)
                
            },
            setIcon(link){                
                return link !== null ? {
                    'background-image':`url('/uploads/games/${link}')`
                } : {};
            },

        }
    }
</script>