<template>
    <div class="ui-button-drop-toggle">
        <router-link class="button-drop-toggle" :to="{name: (isLive ? 'live/tournament' : 'line/tournament'), params:{tournament_id: tournament.id}}">
            <div class="drop-toggle-icon" :style="(tournament.flag) && setFlag(tournament.flag)"></div>
            <div class="drop-toggle-content" @click="scrollUp">
                <span>{{ tournament.title }}</span>
            </div>
        </router-link>
        <div class="drop-toggle-button" @click="toggleAccordion" ref="plus">
            <i class="fas fa-plus-square"></i>
        </div>
        <ul class="tournaments_list" ref="acContent">
            <li v-for="event in events" :key="event.id">
                <router-link :to="{name: 'game', params:{id: event.id}}">
                    {{ event.title }}
                </router-link>
            </li>
        </ul>
    </div>
</template>

<script>
    import {games} from 'backend/games';
    export default {
        props: ['tournament'],
        name: "sidebar-tournament",
        computed: {
            isLive() {
                return games.isLive;
            }
        },
        data: function () {
            return {
                events: []
            };
        },
        methods: {
            setFlag(country){
                return {
                    'background-image':`url('/static/img/flags/${country}.svg')`
                };
            },
            scrollUp(){
                const top = document.getElementsByClassName('content-bar')[0].offsetTop;                
                if(jQuery(window).width() > 1000){                
                    window.scrollTo({
                        top: top,
                        left: 0,
                        behavior: 'smooth'
                    });
                }
            },
            toggleAccordion() {
                let opener = this.$refs.plus;
                if($(opener).siblings('.tournaments_list').hasClass('opened')){
                    $(opener).siblings('.tournaments_list').removeClass('opened');
                    $(opener).find('i').removeClass('fa-minus-square').addClass('fa-plus-square');
                } else {
                    if(this.events.length === 0) {
                        games.loadGames({tournament_id: this.tournament.id}).then(data => {                           
                            
                            this.events = data[0].tournament_events;
                        });
                    }
                    $(opener).siblings('.tournaments_list').addClass('opened');
                    $(opener).find('i').removeClass('fa-plus-square').addClass('fa-minus-square');
                }
            },
        }
    }
</script>