.box.profile-account
    > .box-body
        display: flex
        padding: 0 0 4em 0
        &.notice-important
            color: #a86918
            padding: 1em 4em
            span
                font-size: 1.5em
        .profile-account-main
            flex: 1
            border-right: 1px solid #999
            padding: 0.5em 4em
        .profile-account-right
            flex: 2
            padding: 0.5em 4em
// @media(max-width: 992px)
//     .profile-account
//         > .box-body
//             .profile-account-right
//                 flex: 1

// @media(max-width: 768px)
//     .profile-account
//         > .box-body
//             flex-direction: column
