.bets-history
    background: #909090
    padding: 1rem 4rem
    // border-radius: 5px
    margin-top: 1rem
    &-search-form &-date
        font-size: 1.5rem
        background: #1F1F1F
        color: #FFF
        padding: 5px 10px
        border-radius: 5px
        display: inline-block
        i
            color: #D6892F
        .form-group
            width: 9rem
            display: inline-block
            margin: 0 5px
            input
                padding: 0 5px
                line-height: 2rem
                height: 2rem
                text-align: center
            .help-block
                margin: 0
    &-search-form .btn-red
        vertical-align: baseline
    &-item
        background: #FFFFFF
        border-radius: 5px
        margin-top: 1rem
        &-title
            border-bottom: 1px solid #131313
            display: flex
            align-items: center
            .history-item
                &-id
                    flex: 0 0 14rem
                    text-align: center
                    color: #000
        &-title, &-content
            .history-item-field
                padding: 5px 10px
                font-size: 1.2rem
                text-align: center
                border-left: 1px solid #CCC
                display: inline-grid
                align-items: center
        &-content
            display: flex
            align-items: stretch
            .opener
                flex: 0 0 2rem
                font-size: 1rem
                padding: 0
                .show-button
                    margin-left: 1.3rem
                    flex: 0 0 .7rem
            .history-item
                &-created_at
                    flex: 0 0 12rem
                    text-align: center
                    border-left: 0
        &-title, &-content
            padding: 10px 0
            .history-item
                &-label
                    flex-grow: 1
                    color: #000
                    font-weight: 400
                &-bet
                    flex: 0 0 20rem
                &-win
                    flex: 0 0 15rem
                &-type
                    flex: 0 0 15rem
                &-status
                    flex: 0 0 20rem
                    &-info
                        line-height: 2rem
                        display: inline-flex
                        margin: auto
                    &-badge
                        font-size: 1.5rem
                        font-weight: 700
                        border: 1px solid transparent
                        color: #FFF
                        padding: 0 10px
                        border-radius: 5px
                        text-transform: uppercase
                        float: right
                        margin-left: auto
                        &.item-badge-active
                            background: #5292DA
                        &.item-badge-win
                            background: #99BF50
                        &.item-badge-lose
                            background: #D34A44
                    &-label
                        flex: 0 0 15rem
                        border-left: 0
        &-multi &-content
            .history-item
                &-bet, &-win, &-status
                    text-align: left
                &-label
                    text-transform: uppercase
        &-items
            margin: 0 1rem
            background: #EDEEF0
            max-height: 0
            transition: max-height linear .3s
            overflow: hidden
            border-radius: 0 0 5px 5px
            &.opened
                max-height: 5000px
            .history-item
                &-created_at
                    flex-basis: 13rem
                &-status
                    flex: 0 0 34rem
                &-coefficient
                    flex: 0 0 15rem
                &-outcome
                    flex: 0 0 20rem

    &-item-single &-item-content .history-item-status,
    &-item-multi > &-item-content .history-item-status-label
        display: flex
    .history-item-block-label
        color: #7A7A7A
    .item-status-point
        width: 18px
        height: 18px
        border: 1px solid #CCC
        display: inline-block
        border-radius: 50%
        box-sizing: content-box
        float: right
        margin-left: 1rem
        &:after
            content: ''
            width: 12px
            height: 12px
            display: block
            border-radius: 50%
            margin: 3px
        &.item-point
            &-active
                border-color: #5194DB
                &:after
                    background-color: #B4C5D7

.bets-history-item-title .history-item-status-badge, .bets-history-item-content .history-item-status-badge
    margin: 0 auto

// @media only screen and (max-width : 1200px)
//     .bets-history
//         overflow: hidden
//         & > div
//             overflow-x: auto            
//     .bets-history-item
//         // width: 60em
//         width: 100em
//     .bets-history-item-items
//         width: calc(100em - 2rem)
//         &.opened
//             overflow: visible





@media screen and (max-width: "414px")
    .bets-history-item
        // width: 70em
    .bets-history-item-items
        // width: calc(70em - 2rem)
    .bets-history        
    &-search-form &-date
        .form-group
            width: 7em
