.login-form
    border-radius: 5px
    .panel-heading
        background: #FFFFFF
        text-align: center
        color: #D68A2C
        font-size: 2rem
        text-transform: uppercase
        line-height: 5rem
    &-fields
        background: #F1F2F4
        padding: 20px 20px 0 20px
        input
            border-radius: 5px
        label.control-label
            font-size: 1.5rem
            color: #000
            text-align: left
            i
                color: #CCC
                margin-right: 10px
    &-additionals
        background: #FFFFFF
        text-align: center
        a
            color: #8B8B8B
            line-height: 3rem
            font-size: 1.5rem
        button
            margin: 10px 0

    &-page
        padding: 20px 0
    &-page &
        margin-bottom: 0
    &-popup
        max-width: 45rem
        margin: auto
        border-radius: 5px
        .popup-close
            position: absolute
            cursor: pointer
            right: 0
            color: #FFF
            font-size: 3rem
            margin-right: -4rem