.profile-heading
    background: #373C40
    margin: 10px 5px
    padding: 1rem 1rem 1rem 3.8rem
    color: #F4F5F7
    text-shadow: 0 0 0.5em #F4F5F7
    font-size: 2rem
#account-deposit-form
    padding: 20px
.profile-content
    padding-bottom: 2em
    color: #454545   
    #content-block
        max-width: 1000px
        margin: auto
    input, select, textarea
        border: 1px solid #ccc
        background: #EEEEEE
        border-radius: 5px
    .box
        background: #FFF
        // border-radius: 5px
        border-bottom: 1px solid #FFF
        &.no-body
            border-bottom: none
            border-radius: 5px 5px 0 0
        .box-header
            border-bottom: 2px solid #333
            padding: 0.5rem 4rem
            font-size: 2rem
        .box-body
            padding: 0.5em 4em
        .box-footer
            padding: 0.5em 4em 2em 4em
    .control-label
        padding: 7px 0
        margin: 0
        font-size: 1.5em
        font-weight: 400
        + .form-control-static
            font-size: 1.5em
            font-weight: 700
            float: right
            padding: 7px 0
            margin: 0
    .form-horizontal .form-group
        margin: 0
    .grid-view
        tbody > tr > td,
        thead > tr > th
            font-size: 1.2em
        .summary
            height: 28px
            line-height: 28px
            font-size: 1.2rem
        a
            color: #a2a2a2

        .pagination
            margin: 0 10px 0 0
            li
                &.active
                    a
                        background-color: #ddd
                        border-color: #ddd
        .filters

            input, select, textarea
                background: #FFF
            .help-block
                margin: 0
            .kv-field-range-container
                margin: 0

.auto_row
    display: flex
    align-items: center
    margin-bottom: 20px
.auto_item
    padding: 5px 10px
    font-size: 1.2em
    color: #ffffff
    background-color: #1c1e1e
    border-radius: 3px
    cursor: pointer
    transition: 0.3s
    &:hover
        opacity: 0.8
        transition: 0.3s
    &:not(:last-child)
        margin-right: 10px

.pm_images_row
    padding: 0.5em 4em
    display: flex
    justify-content: space-between
    margin-bottom: 5px
    .pm_image
        max-width: 30px
        &:not(:last-child)
            margin-right: 5px
        img
            max-width: 100%
            
.f_n
    float: none !important

#account-withdraw-form
    padding: 20px
    .btn-group
        margin-right: 10px
        margin-bottom: 10px
        label
            position: relative
            padding-top: 50px
            &::before
                content: ''
                position: absolute
                top: 5px
                left: 5px
                right: 5px
                height: 40px
                background-position: center
                background-repeat: no-repeat
                background-size: contain
    .webmoney
        label
            &::before
                background-image: url(/static/img/payment-icons/webmoney.png)
    .visa
        label
            &::before
                background-image: url(/static/img/payment-icons/3.png)
    .qiwi
        label
            &::before
                background-image: url(/static/img/payment-icons/4.png)
    .yandex
        label
            &::before
                background-image: url(/static/img/payment-icons/5.png)
    .payeer
        label
            &::before
                background-image: url(/static/img/payment-icons/7.png)
    .bitcoin
        label
            &::before
                background-image: url(/static/img/payment-icons/8.png)
    .perfectmoney
        label
            &::before
                background-image: url(/static/img/payment-icons/9.png)
    .beeline
        label
            &::before
                background-image: url(/static/img/payment-icons/14.png)
    .mts
        label
            &::before
                background-image: url(/static/img/payment-icons/15.png)
    .megafon
        label
            &::before
                background-image: url(/static/img/payment-icons/16.png)
    .tele2
        label
            &::before
                background-image: url(/static/img/payment-icons/17.png)
    .alfa
        label
            &::before
                background-image: url(/static/img/payment-icons/20.png)
    .ethereum
        label
            &::before
                background-image: url(/static/img/payment-icons/64.png)
.form_with_wrap
    display: none
    position: fixed
    width: 500px
    padding: 20px
    padding-top: 40px
    background-color: #fff
    z-index: 9
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
.overlay_modal
    display: none
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(#000, 0.4)
    z-index: 8
.form_with_close
    position: absolute
    top: 5px
    right: 10px
    font-size: 20px
    font-weight: bold
    color: #333333
    cursor: pointer
    // transition: 0.3s
    &:hover
        opacity: 0.8
        // transition: 0.3s
        

// @media screen and (max-width: "550px")
//     .form_with_wrap
//         width: 300px
// @media screen and (max-width: "414px")
//     .profile-content
//         .box
//             width: 100%
//             .box-body
//                 padding: 0.5em 1em !important
//                 .bets-history-date
//                     margin-bottom: 1em

// @media screen and (max-width: "375px")
//     .profile-content
//         .box
//             width: 100%
    