.registration-tabs
    background: #FFFFFF
    margin: 10px 5px
    border-radius: 5px
    position: relative
    &:before
        display: block
        position: absolute
        width: 100%
        height: 2px
        background: #E7E7E7
        top: 3.5rem
        margin-top: -1px
        left: 0
    & &-links
        border: 0
        display: flex
        justify-content: space-between
        &:before
            display: block
            position: absolute
            width: 100%
            height: 2px
            background: #E7E7E7
        &:after
            display: none
        li
            margin: 0
            > a
                font-size: 2rem
                line-height: 3.5rem
                padding: 0 10px
            > a, > a:hover, > a:focus
                color: #000
                border: 0
                border-bottom: 2px solid transparent
                background: none
            &.active
                > a
                    color: #A96719
                    border-color: #A96719
    & &-list
        .control-label
            padding: 0
            margin: 0
            font-size: 1.5rem
            font-weight: 400
            height: 2.5rem
            line-height: 2.5rem
        .checkbox-branded .help-block
            float: none
            text-align: center
        .help-block
            margin: 0
            float: right
            line-height: 2.5rem
        .hint-block
            font-size: 1.5rem
            color: #A3A3A3
            margin: .5rem 0
        .col-md-6
            padding: 5px 2rem
            &:first-child
                padding-left: 15px
            &:last-child
                padding-right: 15px
    .email-screen
        display: none
        &.active
            display: block
    & &-steps
        width: 23rem
        display: flex
        padding: 0
        margin: 20px auto
        justify-content: space-between
        li
            position: relative
            display: block
            width: 4rem
            height: 4rem
            border: 3px solid #FFF
            box-sizing: content-box
            line-height: 4rem
            text-align: center
            font-size: 2rem
            border-radius: 50%
            box-shadow: 0 0 5px #CCC, 5px 5px 10px #EEE inset
            background: #FFF
            &:after
                content: ''
                display: none
                top: 2rem
                width: 6rem
                background: #D6892F
                height: 4px
                position: absolute
                left: 4rem
                margin-top: -1px
            &.active
                border-color: #D6892F
                &:after
                    display: block

            &:last-child:after
                display: none
    &-result
        margin: 10px 5px
        .box-header
            text-align: center
        &-id, &-password
            color: #000
            font-size: 3rem
            span
                color: #333
                display: inline-block
                width: 50%
                text-align: right
                padding-left: 10px
                margin-right: 10px


    & &-email
        &-success
            color: #D6892F
            font-size: 3rem
            text-align: center
            text-transform: uppercase
        &-sent
            color: #444444
            font-size: 1.2rem
            text-align: center
            margin: 3rem
        &-deposit
            .btn-red
                font-size: 2rem
        .go-home
            color: #666
            margin: 3rem
            display: inline-block