.support-requests-list
    .requests-header
        .box-body
            padding: 0
            margin: 0 4em
            border-bottom: 1px solid #CCC
        a
            font-size: 2em
            color: #7a7a7a
            margin-right: 2em
            text-decoration: none
            margin-bottom: -2px
            margin-left: -5px
            display: inline-block
            padding: 3px 5px
            &:last-child
                margin-right: 0
            &.active
                color: #454545
                border-bottom: 2px solid #d6892f
    .grid-view
        .box-header
            border-bottom: none
        .panel
            border: none

// @media screen and (max-width: "550px")
//     .support-requests-list
//         .requests-header
//             .box-body
//                 display: flex
//                 justify-content: space-between
//             a
//                 font-size: 1.4em
//                 margin-right: 1em