<template>
    <div id="games-console" class="home mobile_layout">
        <div class="content-bar">
            <router-view v-on:cartopen="cartopen($event)"></router-view>
        </div>
        <transition name="modal">
            <div class="side-bar-right" v-if="cartShow">
                <div class="cart-popup-wpar" @click="cartHide(false)"></div>
                <container-cart v-on:closeCart="cartHide($event)"></container-cart>
            </div>
        </transition>
        <transition name="cartBtn">
            <div class="show-cart-btn" @click="openCart" v-if="!cartShow"><i class="fas fa-list-alt"></i><span>{{count}}</span></div>
        </transition>
    </div>
</template>

<script>
    import cart from 'components/mobile/right/cart';
    export default {
        components: {cart},
        name: "display-mobile",
        data: function() {
            return {
                cartShow: false,
                count: null
            };
        },
        methods: {
            openCart: function() {
                this.cartShow = true
            },
            cartHide: function(close) {
                this.cartShow = close
            },
            cartopen: function(bool) {
                this.cartShow = bool
            }
        },
        watch: {
            cartShow: function() {
            fetch(`/games/carts/view`).then((result) => result.json()).then((result) => {
                this.count = result.items.length
            }).catch((err) => {
                console.error(err);
            });
            }
        },
        mounted() {
            fetch(`/games/carts/view`).then((result) => result.json()).then((result) => {
                this.count = result.items.length
            }).catch((err) => {
                console.error(err);
            });
        }
    }
</script>