.panel-group
    .panel-default
        background: none
        border: none
        .panel-heading
            width: 100%
            height: 4.2em
            position: relative
            z-index: 1
            color: #878787
            // background: #1f1f1f url(/static/img/side-bar/background.png) no-repeat
            background-size: cover
            // border-radius: 5px
            display: flex
            // box-shadow: 0 0 18px 0 #fffdfd40
            margin-bottom: 0
            cursor: pointer
            transition: margin-bottom .3s
            // border: 1px solid #d5892f
            padding: 0
            line-height: 4em
            background-color: #1c1e1e 
            transition: 0.3s           
            a
                text-decoration: none
                font-size: 1.8em
                font-weight: 700
                text-transform: uppercase
                transition: color .3s
                display: block
                width: 100%
                padding-left: 2em
                color: #878787                
                &:hover, &:focus
                    color: #FFF
            &:hover
                box-shadow: 1px 2px 8px 2px rgba(255,77,48,0.1)
                transition: 0.3s
                a
                    color: #ffffff
                    transition: 0.3s
        .panel-collapse
            .panel-body
                background: #FFF
                border: 1px solid #ddd
                margin-top: -5px
                padding: 15px 10px 10px 10px
                border-radius: 0 0 5px 5px
                ul
                    margin: 0
                    list-style: none
                    padding: 0
                    li
                        font-size: 1.4em
                        margin-bottom: 0.5em
                        padding-bottom: 0.5em
                        border-bottom: 1px solid #CCC
                        &:last-child
                            border-bottom: none
                            margin-bottom: 0
                            padding-bottom: 0
                        a
                            color: #333
                            text-decoration: none
                            .fas
                                margin-right: 1em
                                color: #d5892f
        .rules-element
            border-radius: 5px
            height: auto
            line-height: 4em
            margin-bottom: .5em
            a
                width: 100%
                height: 100%
                position: relative
                z-index: 1
                color: #ffffff
                // background: #1f1f1f url(/static/img/buttons/background.png) 
                background-color: #2f2f2f
                background-size: 50%
                // border-radius: 5px
                display: flex
                // box-shadow: 0 0 18px 0 #fffdfd40
                margin-bottom: 0
                cursor: pointer
                transition: margin-bottom .3s
                // border: 1px solid rgba(255,255,255,0.27058823529411763)
                // padding: 0
                text-decoration: none
                font-size: 1.4em
                line-height: 1.2
                font-weight: 700
                text-transform: uppercase
                padding-left: 2em
                .caret
                    display: none
                &:hover
                    background-color: #7f7f7f
        .dropdown-menu
            position: relative !important
            width: 100%
            top: unset
            background: none
            // background-image: url(/static/img/static-pages/about_bg.jpg)
            background-image: linear-gradient(0deg, #4e4e4e 0%, #242424 100%)
            font-size: inherit
            li
                height: auto
                line-height: 3em
                border: none
                margin: 0
                a
                    box-shadow: none
                    border: none
                    background: none
                    text-decoration: none
                    text-transform: uppercase   
                    white-space: normal
                    line-height: 2.2em

.rules-container
    // background-image: url(/static/img/static-pages/about_bg.jpg)
    background-repeat: no-repeat
    background-position-y: top
    background-color: #131313
    


.col-md-9
    // background-image: url(/static/img/static-pages/rules-content.png)
    .panel-heading
        display: none !important
    .panel-title
        font-size: inherit
        a
            font-size: 1.6em
            letter-spacing: 0px
            line-height: 1.6em
            color: #d6892f
            font-family: "Lato"
            font-weight: 700

.content-rules
    .panel-body
        background: none !important
        border: none !important
        li
            font-size: inherit
        p
            font-size: 1em
            line-height: 1.8em
            color: #8e8e8e
            font-family: "Lato"
            font-weight: 700
        strong
            font-size: 1.3em
            letter-spacing: 0px
            line-height: 2.6em
            color: #ffffff
            font-family: "Lato"
            font-weight: 700
        table
            border: 1px
            text-align: center
            float: none
            td
                padding: 0.5em
        ol
            padding-left: 0.5em

// Bonuses
.content-view-bonuses
    .container-fluid
        padding-top: 15px
        padding-bottom: 15px
    #rules-list
        max-width: 1100px
        margin: auto
        padding: 20px
        background-color: #fff
        border-radius: 15px
        img
            max-width: 100%
    .panel-body
        padding: 0
        border: none
        p, li
            color: #212121
            font-size: 1.5em
            line-height: 1.2
            font-family: "Lato", sans-serif
        strong
            color: #212121
        p:nth-child(1)
            font-size: 3em
        li
            margin-bottom: 5px
    #rules-menu
        a
            background-color: #333333
            padding: 15px 10px
            color: #999999
            font-size: 1.5em
            font-weight: 700
            transition: 0.3s
            &:hover
                background-color: #7f7f7f
                color: #ffffff
                transition: 0.3s
        

@media screen and (min-width: "1000px")
    // .rules-container
    //     margin-left: -32.5em
    .content-view-about-us, .content-view-contacts
        .content-wrapper
            padding-left: 0
        .static_wrap
            margin-right: 0
            
