.ui-button-content
  // border-radius: 6px
  overflow: hidden
  &:nth-child(2n)
    .button-content
      background-color: #2f2f2f
  &:nth-child(2n + 1)
    .button-content
      background-color: #333333
  .button-content
    width: 100%
    height: 4.4em
    // background: url('/static/img/side-bar/content-background.png') no-repeat
    background-size: cover
    // border-radius: 6px    
    display: flex
    cursor: pointer
    // border-bottom: 1px solid #d6892f
    transition: all .3s
    position: relative
    text-decoration: none


    // &:before
    //   content: ''
    //   position: absolute
    //   right: 3px
    //   left: 3px
    //   bottom: 0
    //   height: 1px
    //   background-color: #d6892f
    // &:after
    //   width: 100%
    //   height: 100%
    //   content: ''
    //   position: absolute
    //   transition: border .3s
    //   border-radius: 6px
    &:hover
      background-color: #7f7f7f
      .content-icon
        filter: invert(0)
        transition: 0.3s
      &:after
        border: 1px solid #d6892f
      .content-text
        color: #ffffff
    .content-icon
      flex-basis: 6em
      // background-size: contain
      // height: 2.1em
      // background-position-x: 2.3em
      background-repeat: no-repeat
      margin: auto
      filter: invert(50%)
      height: 100%
      background-position: center
      margin: 0
      background-size: 40%
      // transition: 0.3s
    .content-text
      flex: 1
      color: #999999
      font-size: 1.5em
      font-weight: 700
      margin: auto
      text-shadow: 0 0 4px #1b1815
      // text-transform: uppercase

    .content-value
      display: flex
      flex-basis: 10.5em
      margin: auto
      div
        height: 2em
        display: flex
        align-items: center
        border-radius: 3px
        span, .content-video-text
          font-size: 1.4em
          font-weight: 700
          letter-spacing: 0
          color: #212121
      .content-avance
        margin-right: 0.8em
        background-color: #ffffff
        padding: .2em
        flex-basis: 2.8em
        justify-content: center
        z-index: 99
      .content-video
        background-color: #ffffff
        padding: .2em
        flex-basis: 5em
        display: flex
        .content-video-image
          flex: 1
          background: url('/static/img/side-bar/youtube.png') no-repeat
          background-position-y: center
          background-position-x: 0.6em
          background-size: 1.8em
        .content-video-text
          flex-basis: 1.3em
          justify-content: flex-end
  .button-active
    // border-radius: 6px 6px 0 0
    // background-image: url('/static/img/side-bar/background-active.png')
    background-color: #7f7f7f !important
    .content-text
      color: #ffffff
    .content-icon
      filter: invert(0)
      transition: 0.3s

.bacground-content
  background-color: #ffffff
  padding: 0 2.1em

.hideVideo
  justify-content: flex-end
  padding-right: 1em


.football
  background-image: url('/static/img/balls/football.png')

.american-f
  background-image: url('/static/img/balls/american-f.png')

.baseball
  background-image: url('/static/img/balls/baseball.png')

.basketball
  background-image: url('/static/img/balls/basketball.png')

.billiards
  background-image: url('/static/img/balls/billiards.png')

.golf
  background-image: url('/static/img/balls/golf.png')

.ice-hockey
  background-image: url('/static/img/balls/ice-hockey.png')

.tennis
  background-image: url('/static/img/balls/tennis.png')

.volleyball
  background-image: url('/static/img/balls/volleyball.png')


// @media screen and (max-width: "1000px")
//   .ui-button-content
//     overflow: visible
//     width: 50%
//     position: relative
//     .button-content 
//       .content-icon
//         flex-basis: 5em
//       .content-text
//         padding-right: 5px
//       .content-value
//         flex-basis: 9.5em        
//   .bacground-content
//         position: absolute
//         z-index: 999
//         top: 100%
//         left: 0
//         right: 0
//         max-height: 400px
//         overflow: auto !important
//         border-bottom: 1px solid #2f2f2f
//         padding-bottom: 10px

// @media screen and (max-width: "414px")
//   .ui-button-content
//     .button-content
//       .content-text
//         font-size: 1em
