.ui-button-drop-toggle
    overflow: hidden
    position: relative
    padding-right: 16px
    border-bottom: 1px solid #f38608 
    &:last-child
        margin-bottom: 5px 
    &:hover
        border-bottom-color: #000000
    .button-drop-toggle
        width: 100%
        height: auto
        display: flex        
        line-height: 2.2
        transition: border-bottom .3s
        cursor: pointer
        text-decoration: none
        &:hover
            border-bottom-color: #000000
            text-decoration: none
        div
            margin: auto
        .drop-toggle-icon
            flex-basis: 2em
            height: 2em
            background-position: 0.4em center
            background-size: 1.6em 1.4em
            background-repeat: no-repeat
        .drop-toggle-content
            flex: 1
            padding-left: 1.85em            
            span
                font-size: 1.4em
                color: #454545
                font-weight: 400
                padding: 0.4em 0
                line-height: 1.4em
                display: block
                transition: 0.3s
            &:hover
                span
                    color: #d6892f
                    transition: 0.3s
.drop-toggle-button
    flex-basis: 1.3em
    display: flex
    position: absolute
    top: 9px
    right: 0
    // transform: translateY(-50%)
    cursor: pointer
    i
        color: #d6892f
        font-size: 1.4em
        margin: auto 0 auto auto

.router-all-link-sport
    text-align: center
    font-size: 1.4em
    border-bottom: 1px solid #f38608
    line-height: 2.2
    color: #000000
    cursor: pointer
    &:hover
        border-bottom-color: #000000
        color: #d6892f

.ui-button-drop-toggle:last-child
    .button-drop-toggle
        border-bottom: none

.Poland
    background-image: url('/static/img/flags-game/Poland.png')

.Egypt
    background-image: url('/static/img/flags-game/Egypt.png')

.friend
    background-image: url('/static/img/flags-game/friend.png')

.Mexico
    background-image: url('/static/img/flags-game/Mexico.png')

.Qatar
    background-image: url('/static/img/flags-game/Qatar.png')

// @media screen and (max-width: "1000px")
//     .drop-toggle-button
//         top: 6px