.side-bar
    width: 32.5em
    padding: 1.2em

.ui-button-side-bar
    height: auto
    margin-bottom: 2em
    .text, .text-right-side-bar
        // text-align: center
    .content
        display: none
        overflow: hidden
        &.active
            display: block

// .side-bar-right
//     .text, .text-right-side-bar
//         text-align: center
.tac
    .text
        text-align: center
.right_event
    a
        font-size: 1.6em !important
        text-transform: none !important
.button
    .arrow-button
        margin: auto 0
        flex-basis: 5.6em
        display: flex
        align-items: center
        justify-content: center
        transform: rotate(0deg)
        color: #FFF
        transition: transform .3s
        i
            color: white
            font-size: 1.4em
    &.active
        color: #ffffff
        box-shadow: 1px 2px 8px 2px rgba(255,77,48,0.1)
        margin-bottom: 5px
        &:after
            opacity: 0
            transition: 0.3s
        .arrow-button
            transform: rotate(180deg)
            i
                color: #d6892f

.text, .text-right-side-bar
    margin: auto 0
    flex: 1
    padding-left: 0.2em
    text-align: left
    span, a
        font-size: 1.8em
        font-weight: 700
        text-transform: uppercase
        transition: color .3s
    &:hover
        span, a
            color: #bbbbbb

.text-right-side-bar
    flex-basis: 3.5em
    span, a
        text-decoration: none
        color: #808080

.text-right-side-active
    span, a
        color: #ffffff
    &:hover
        span, a
            color: #ffffff !important

.arrow-hide-side-bar
    margin: auto 0
    display: flex
    align-items: center
    justify-content: center
    flex-basis: 5.3em
    i
        color: white
        font-size: 1.8em

.content-elements
    display: flex
    flex-basis: 15.3em
    padding-right: 1.4em
    justify-content: flex-end
    .content-button
        margin: auto
        margin-left: 0.3em
        margin-right: 0.3em
        border-radius: 3px
        min-width: 7.3rem
        height: 2rem
        color: #212121
        word-spacing: 0.5em
        padding-left: 0.6em
        background-color: #ffffff
        background-repeat: no-repeat
        background-position-x: .5em
        background-position-y: center
        background-size: 1.8em
        &.youtube
            width: 6rem
        span
            letter-spacing: 0
            font-size: 1.4em
            font-weight: 700

.youtube
    background-image: url('/static/img/side-bar/youtube.png')
    text-align: end
    padding-right: .5em

.event-content
    // border-radius: 6px
    .content
        background-color: #ffffff
        padding: 1em
        transition: max-height, padding .3s !important

.button, .ui-button
    width: 100%
    height: 4.2em
    position: relative
    z-index: 1
    color: #878787
    // background: #1f1f1f url('/static/img/side-bar/background.png') no-repeat
    background-color: #1c1e1e
    background-size: cover
    // border-radius: 5px
    display: flex
    // box-shadow: 0 0 18px 0 #fffdfd40
    margin-bottom: 0
    cursor: pointer
    transition: margin-bottom .3s
    .text 
        span
            font-size: 1.7em
            text-transform: none
    &:after
        content: ''
        position: absolute
        width: 100%
        height: 1px
        bottom: -1px
        background-color: #3c3c3c
    &:hover
        color: #ffffff
        box-shadow: 1px 2px 8px 2px rgba(255,77,48,0.1)
        &:after
            opacity: 0
            transition: 0.3s
            // border: 1px solid rgb(213, 137, 47)
            // border-radius: 5px            

.tournaments_list
    list-style: none    
    height: 0
    padding: 0
    margin: 0
    transition: 0.3s
    &.opened
        padding: 1em
        height: auto
        transition: 0.3s
    li:not(:last-child)
        margin-bottom: 3px
    a
        color: #212121
        word-spacing: 0.5em
        font-size: 1.4em
        font-weight: 700
        &:hover
            text-decoration: none
            color: #ff9915
.games-games-index
    .select2-container
        left: auto !important
        right: 0 !important

.line_tabs_wrap
    margin-bottom: 0.1em
    border-bottom: none 
    .home_btn
        margin-right: 10px
        margin-left: 10px
        font-size: 21px
        color: #ffffff !important

    &:hover
        color: #878787
    .line_tabs
        list-style: none
        display: flex
        align-items: stretch
        justify-content: space-between
        width: 100%
        padding-left: 0
        margin-bottom: 0
        border-bottom: 1px solid #3c3c3c 
        li
            width: 50%
            display: flex
            align-items: center
            justify-content: center
            text-align: center
            font-size: 1.7em
            font-weight: 700
            transition: 0.3s
            position: relative
            border: 1px solid transparent
            border-bottom: none 
            &::before
                content: ''
                position: absolute
                bottom: 0
                left: 0
                right: 0
                height: 4px
                background: rgb(255,145,9)
                background: linear-gradient(90deg, rgba(255,145,9,1) 0%, rgba(255,175,50,1) 35%, rgba(255,137,0,1) 100%)
                opacity: 0
                transition: 0.3s
            &:hover, &.active
                color: #ffffff
                border: 1px solid #3c3c3c
                border-bottom: none                
                // box-shadow: inset 0 0 10px rgba(0,0,0,0.4)
                transition: 0.3s
                &::before
                    opacity: 1
                    transition: 0.3s

.toggle_vide_btn
    opacity: 0.7
    transition: 0.3s
    &:hover
        opacity: 1
        transition: 0.3s 
    &.active
        opacity: 1

// @media screen and (max-width: "1000px")
//     .side-bar
//         width: 100%
//     .content-elements .content-button
//         width: 6em
//         min-width: 6em
//         height: auto
//         &.youtube
//             width: 6em
//         span
//             font-size: 1.1em
//     .arrow-hide-side-bar
//         display: none

//     .ui-button-side-bar 
//         overflow: visible
//         margin-bottom: 1em
//         .left_content, .content.active.left_content
//             overflow: visible
//             display: none
//             flex-wrap: wrap

//     .fav_sidebar, .up_sidebar
//         display: none

//     .sport_content
//         display: none
//         .arrow-button
//             order: 1
//         .text
//             order: 2
//         .time_drop_wrap
//             order: 3
//             margin-bottom: 0
//             .navbar-nav 
//                 .select2-container--default 
//                     .select2-selection--single
//                         padding-top: 0.6em
//         .content-elements
//             order: 4

//     .line_tabs_wrap
//         order: 2
//         margin-right: 10px
//         align-items: center
//         .line_tabs
//             border-bottom: none
//             li
//                 min-height: 33.5px
// @media screen and (max-width: "550px")
//     .ui-button-side-bar
//         margin-bottom: 0 
//     .games-games-index
//         .select2-container
//             left: 0 !important
//             right: 0 !important
// @media screen and (max-width: "414px")
//     .text, .text-right-side-bar
//         span, a
//             font-size: 1.5em

// @media screen and (min-width: "1000px")
.scroll_sidebar
    max-height: calc(100vh - 75px)
    position: relative
    .ps__rail-y
        background: none !important
        z-index: 99999
        min-height: 100px !important
        display: block !important
    .ps__thumb-y
        background-color: #d6892f !important
        min-height: 100px !important
        display: block !important
.side-bar
    position: fixed
    top: 75px
    left: 0
    // max-height: calc(100vh - 75px)
    // overflow-y: auto
    scrollbar-color: #ff9915 #f5f5f5
    scrollbar-width: thin
    // padding-right: 0
    width: 32em
    // margin-right: 1.2em
    z-index: 2
    // &::-webkit-scrollbar 
    //     width: 5px
    //     background-color: transperent
    // &::-webkit-scrollbar-thumb
    //     background-color: rgba(#ff9915, 0.6)
    //     opacity: 0.6
    //     border-radius: 5px
    // &::-webkit-scrollbar-track
    //     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
    //     background-color: transperent

.toggle_left
    .content-wrapper
        padding-left: 6em
        overflow: hidden
        transition: 0.3s
    .side-bar
        left: -26em
        transition: 0.3s
        overflow: hidden
        z-index: 9999
        .content-elements, .bacground-content, .upcoming
            height: 0
            opacity: 0
            visibility: hidden
        .content-text, .content-value
            display: none
        .ui-button-content 
            .button-content
                justify-content: flex-end
                .content-icon
                    // flex-basis: 5em
                    height: 100%
                    background-position: center
                    margin: 0
                    background-size: 40%
        .arrow-hide-side-bar
            transform: rotate(180deg)
            transition: 0.3s
        &:hover
            left: 0
            overflow: auto
            .ui-button-content 
                .button-content
                    .content-icon
                        flex-basis: 6em
                        // background-size: contain
                        // height: 2.1em
                        // background-position-x: 2.3em
            .content-elements, .bacground-content, .upcoming
                height: auto
                opacity: 1
                visibility: visible
            .content-text
                display: block
            .content-value
                display: flex
