.ui-button
    .text
        flex-basis: 26em
        span
            text-transform: none
            padding-left: .9em
            color: #ffffff
    .ui-button-icon
        flex-basis: 7.5em
        background-repeat: no-repeat
        background-size: 3.5em
        background-position: center

.icon-cubes
    background-image: url('/static/img/side-bar/icon-cubes.png')

.btn
    &.btn-red
        // background: #1f1f1f url(/static/img/side-bar/background.png) no-repeat
        // border-radius: 5px
        // box-shadow: inset #ff00005c 0 2px 16px, #ff00005c 0 5px 5px -5px
        // border: 1px solid #F00
        // color: #FFF
        // text-transform: uppercase
        // &:hover
        //     color: #fff
        display: inline-block
        padding: 6px 15px
        background-color: #d6892f
        background-size: 100%
        transition: background-image .3s
        cursor: pointer
        font-weight: 700
        text-decoration: none !important
        transition: 0.3s
        color: #ffffff !important
        outline: none !important
        &:hover
            text-decoration: none
            background-color: #ca7615
            transition: 0.3s
            box-shadow: inset 0 0 5px rgba(#fefb3b, 0.7)

.show-button
    flex-basis: 1em
    height: 4.5em
    border-radius: 3px
    transition: all .3s
    cursor: pointer
    align-items: center
    justify-content: center
    display: flex
    margin: auto 0 auto 2.9em
    transform-origin: center
    i
        font-size: 1.2em
        transition: all .3s
.show-button-default
    background-image: linear-gradient(90deg, #ff8900 0%, #ffaf32 50%, #ff8900 100%)
    border: 1px solid #ff9c00
    i
        color: #363636
        transform: rotate(0deg)
.show-button-active
    background-image: linear-gradient(90deg, #ff8900 0%, #ffaf32 50%, #ff8900 100%)
    border: 1px solid #ff9c00
    i
        color: #a55d00
        transform: rotate(180deg)