.ui-event-button
  margin: auto
  max-width: 22.5em
  height: 5em
  // border-radius: 8px
  // background-image: linear-gradient(0deg, #700303 0%, #ff292f 100%)
  // box-shadow: 0 3px 3px 0px #fd2f35
  background-color: #d6892f
  position: relative
  display: flex
  transition: background-image, box-shadow .3s
  cursor: pointer
  span
    position: relative
    z-index: 4
    text-transform: uppercase
    font-size: 1.5em
    letter-spacing: 0px
    color: #ffffff
    // font-family: "Lato"
    font-weight: 700
    margin: auto
  // &:before
  //   content: ''
  //   position: absolute
  //   left: 2px
  //   top: 2px
  //   height: calc(100% - 4px)
  //   width: calc(100% - 4px)
  //   border-radius: 8px
  //   overflow: hidden
  //   background-image: url('/static/img/buttons/background.png')
  //   background-repeat: no-repeat
  //   background-size: cover
  //   background-position: center
  //   transition: all .3s
  &:hover
    text-decoration: none
    background-color: #ca7615
    transition: 0.3s
    box-shadow: inset 0 0 5px rgba(#fefb3b, 0.7)
    // &:before
    //   box-shadow: inset 0 0 3px 4px #51c5fd12


        // background: url('/static/img/baner-left-side/baner-button-bg.png') no-repeat