.ui-radius-button
    // width: 100%
    // height: 100%
    // background: url('/static/img/buttons/button_radius.png') no-repeat center
    display: inline-block
    padding: 10px 15px
    background-color: #d6892f
    background-size: 100%
    transition: background-image .3s
    cursor: pointer
    font-weight: 700
    // position: absolute
    // right: -.5em
    text-decoration: none !important
    transition: 0.3s
    .background-header-button
        font-size: 1em
        color: #ffffff
        width: 100%
        line-height: 1.2
        text-align: center
        text-transform: uppercase
    .background-header-button-with-icon
        text-align: left
        padding-left: 2.8em
        i
            margin-right: .5em
    &:hover
        // background-image: url('/static/img/buttons/button_radius_hover.png')
        text-decoration: none
        background-color: #ca7615
        transition: 0.3s
        box-shadow: inset 0 0 5px rgba(#fefb3b, 0.7)