.ui-social
  width: 3.4em
  height: 3.4em
  // background: url('/static/img/footer/social.png') no-repeat center
  background-size: contain
  border-radius: 6px
  margin: auto 0 auto 2.3em
  display: flex
  transition: all .3s
  cursor: pointer
  position: relative
  text-decoration: none !important
  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: #1c1e1e
    border-radius: 50%
    z-index: 1
    box-shadow: 1px 2px 8px 2px rgba(255,77,48,0.1)
    transition: 0.3s
  &:hover
    &:before
      box-shadow: none
      transition: 0.3s
    i
      color: #d6892f
  i
    color: #ffffff
    margin: auto
    font-size: 1.6em
    position: relative
    z-index: 2