.ui-team
  height: 100%
  width: 100%
  .event-team
    background-size: 83.4%
    background-position: center 0.9em
    background-repeat: no-repeat
    text-align: center
    word-break: break-word
    padding-top: 9.3em
    span
      font-size: 11px
      color: #ffffff
      font-weight: 1000
      text-align: center
      text-transform: uppercase
  .event-coefficient
    font-size: 1.6em
    color: #d6892f
    font-weight: 1000
    text-align: center
    padding-top: .1em

.Leipzig
  background-image: url('./../../img/team-football/Leipzig.png')
.Hoffenheim
  background-image: url('./../../img/team-football/Hoffenheim.png')
.Girona
  background-image: url('./../../img/team-football/Girona.png')
.RealSociedad
  background-image: url('./../../img/team-football/RealSociedad.png')