.ui-user
    flex-basis: 12em
    display: flex
    // transition: box-shadow .3s
    .picture
        height: 4.5em
        width: 3.9em
        margin: auto 0 auto 2.55em
        background: url('/static/img/nav-button/SupportButton.png') no-repeat center
        background-size: cover
        cursor: pointer
        // transition: all .3s
        // border-radius: 6px
    &:hover
        .picture
            background-image: url('/static/img/nav-button/sup_hover.png')
            // box-shadow: 0 0 7px 0 #ffffff28