<template>
    <div class="ui-accumulator-of-day">
        <div class="ui-button">
            <div class="text">
                <span><?= Yii::t('bets', 'Accumulator Of The Day'); ?></span>
            </div>
        </div>
        <div class="ui-game-user-day-content">
            <div class="content-game">
                <div class="icon-game basketball"></div>
                <div class="date-time-game">
                    <div class="date-game">25.02</div>
                    <div class="time-hame">18:00</div>
                </div>
                <div class="team-game">
                    <div class="team-game-name">Copenhagen</div>
                    <div class="team-game-name">Vendsyssel</div>
                </div>
            </div>
            <div class="result-game">
                <div class="name-rate-game">
                    W1
                </div>
                <div class="coefficient-game">
                    2.68
                </div>
            </div>
        </div>
        <div class="ui-game-user-day-content">
            <div class="content-game">
                <div class="icon-game football"></div>
                <div class="date-time-game">
                    <div class="date-game">25.02</div>
                    <div class="time-hame">14:00</div>
                </div>
                <div class="team-game">
                    <div class="team-game-name">New Orleans Pelicans</div>
                    <div class="team-game-name">Philadelphia 76ers</div>
                </div>
            </div>
            <div class="result-game">
                <div class="name-rate-game">
                    Individual Total 1 Over (<span>2.5</span>)
                </div>
                <div class="coefficient-game">
                    1.496
                </div>
            </div>
        </div>
        <div class="ui-game-user-day-content">
            <div class="content-game">
                <div class="icon-game football"></div>
                <div class="date-time-game">
                    <div class="date-game">25.02</div>
                    <div class="time-hame">16:00</div>
                </div>
                <div class="team-game">
                    <div class="team-game-name">Benfica</div>
                    <div class="team-game-name">Chaves</div>
                </div>
            </div>
            <div class="result-game">
                <div class="name-rate-game">
                    Handicap 1 (<span>2.5</span>)
                </div>
                <div class="coefficient-game">
                    1.57
                </div>
            </div>
        </div>

        <div class="accumulator-footer">
            <div class="result-text">
                <div class="result-content"><?= Yii::t('bets', 'Bonus from BET:'); ?></div>
                <div class="result-coefficient bonus-color-result">{{ bonus || 0 }}</div>
            </div>
            <div class="result-text">
                <div class="result-content"><?= Yii::t('bets', 'Overall ODDS:'); ?></div>
                <div class="result-coefficient">{{ rate || 0 }}</div>
            </div>
            <div class="ui-accumulator-button-position">
                <div class="ui-radius-button">
                    <div class="background-header-button"><?= Yii::t('bets', 'Add to bet slip'); ?></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';

    import {gamesMixin} from 'backend/games';
    import {cart} from "../../backend/bets";

    export default Vue.component('container-accumulator', {
        template: '#container-accumulator-template',
        mixins: [gamesMixin],
        data: function () {
            return {
                items: []
            };
        },
        computed: {
            rate() {
                return Math.round(this.items.reduce((value, item) => {
                    return item.rate * value;
                }, 1) * 1000) / 1000;
            },
            bonus() {
                return 0;
            },
        },
        methods: {
            toggleContainer(){
                const opener = this.$refs.opener;
                const content = this.$refs.content;
                if(opener.className.includes('active')){
                    opener.classList.remove('active');
                    content.classList.remove('active');
                } else {
                    opener.classList.add('active');
                    content.classList.add('active');
                }
            },
            addToCart() {
                this.items.forEach((item) => {
                    cart.add(item.id);
                });
            }
        }
    });
</script>