<template>
    <div id="games-console" class="home">
        <div class="mob_banner carusel" id="mob_banner">
            <img src="/static/img/carusel/slide_mob.jpg" alt="">
            <div class="button_wrap" v-if="!loggedIn">
                <a href="/user/auth/login" class="carusel-button" data-toggle="modal" data-target="#loginPopup">
                    <span>
                        {{ $t('PLACE A BET') }}
                    </span>
                </a>
            </div>
        </div>
        <div class="side-bar">
            <vue-custom-scrollbar class="scroll_sidebar" :settings="{
                wheelPropagation : false,
            }">
                <container-favourites></container-favourites>
                <container-sidebar></container-sidebar>
                <container-upcoming></container-upcoming>
            </vue-custom-scrollbar>
        </div>
        <div class="content-bar">
            <router-view></router-view>
        </div>
        <div class="side-bar-right">
            <container-cart></container-cart>
            <div class="video_sidebar_wrap"></div>
            <container-casino></container-casino>
            <container-accumulator></container-accumulator>
        </div>
    </div>
</template>

<script>
    import sidebar from 'components/left/sidebar';
    import favourites from 'components/left/favourites';
    import upcoming from 'components/left/upcoming';
    import cart from 'components/right/cart';
    import accumulator from 'components/right/accumulator';
    import casino from 'components/right/casino';
    import carusel from 'components/game/carusel';
    import vueCustomScrollbar from 'vue-custom-scrollbar';

    export default {
        components: {sidebar, favourites, upcoming, cart, accumulator, casino, carusel, vueCustomScrollbar},
        name: "display-desktop",
        computed: {
            loggedIn() {
                return !!window.socketGameParams.loggedIn;
            }
        }
    }
</script>