<template>
    <div class="ui-my-bet-game-component cart-list-item" v-bind:class="classBlocked">
        <div class="ui-my-bet-game-content">
            <div class="ui-my-bet-game-content-icon" :style="setIcon(item.sport_image)"></div>
            <div class="show-games-teams">
                <div class="show-team-name">{{ item.game_title }}</div>
            </div>
            <div class="ui-my-bet-game-close-icon" @click="remove()"></div>
        </div>
        <div class="ui-my-bet-game-quality"><span>{{ item.market_title }}</span></div>
        <div class="ui-my-bet-game-coeff">
            <div class="my-bet-game-coeff-name">
                <span>{{ item.outcome_title }}</span>
                <div class="coeffComponentCount">
                    &nbsp;(<span class="ComponentCountCoeff">{{ item.rate_now }}</span>)
                    <span class="price-confirm" @click="confirm()">
                        <i class="fas fa-check"></i>
                    </span>
                </div>
            </div>
            <div class="my-bet-game-coeff-quality"><span>{{ item.rate }}</span></div>
        </div>
    </div>
</template>

<script>
    import {cart, cartOnChange} from 'backend/bets';
    export default {
        name: "cart-item",
        props: ['item'],
        methods: {
            confirm() { 
                cart.confirm(this.item.id);
            },
            remove() {
                cart.remove(this.item.id);
            },
            setIcon(link){
                return link === null ? {} : {
                    'background-image':`url('/uploads/games/${link}')`
                };
            }
        },
        computed: {
            classBlocked() {
                // console.log(this.item);
                return {
                    'blocked': !this.item.is_enabled || !!this.item.is_finished || !!this.item.is_banned || !!this.item.is_hidden,
                    'price-changed': (
                        cart.on_change === cartOnChange.ON_CHANGE_ACCEPT_INCREASE && this.item.rate > this.item.rate_now
                    ) || (
                        cart.on_change === cartOnChange.ON_CHANGE_CONFIRM && this.item.rate !== this.item.rate_now
                    )
                };
            }
        }
    }
</script>