<template>
    <div class="right_wrap">
        <div class="ui-button-side-bar event-content">
            <div class="button tac right_event">
                <div class="text text-right-side-active" ref="button" @click="slipToggle()">
                    <span>{{ $t('Bet slip') }}</span>
                </div>
                <div class="text-right-side-bar">
                    <a href="/games/bets/index">{{ $t('My bets') }}</a>
                </div>
                <div class="time_drop_wrap">
                    <ul id="nav-timezones" class="navbar-nav nav">
                        <select id="select-timezone" class="form-control" name="timezone" >
                            <option v-for="(value, key) in timezonesList" :value="value" v-bind:key="key">
                                {{ key }}
                            </option>
                        </select>
                    </ul>
                </div>
            </div>
            <div class="content active" ref="content">
                <div class="ui-my-bets-content" v-if="items.length === 0">
                    <ol class="ui-my-bets-help-list">
                        <li>{{ $t('Select sports') }}</li>
                        <li>{{ $t('Select outcome') }}</li>
                        <li>{{ $t('Select bet amount and type') }}</li>
                    </ol>
                </div>
                <div class="ui-my-bets-content" v-if="items.length > 0">
                    <div class="my-bets-header">
                        <div class="my-bets-header-menu-element" v-bind:class="{active: type === 0}" @click="setType(0)">
                            <span>{{ $t('SINGLE') }}</span>
                        </div>
                        <div class="my-bets-header-menu-element" v-bind:class="{active: type === 1}" @click="setType(1)" v-if="items.length > 1" >
                            <span>{{ $t('ACCUMULATOR') }}</span>
                        </div>
                    </div>
                    <div class="alert alert-danger fade in" role="alert" v-if="!!messageError && messageError.length > 0">
                        {{ messageError }} <span class="glyphicon glyphicon-remove" aria-hidden="true" @click="hideError()"></span>
                    </div>
                    <transition-group name="cart-list" tag="div" class="my-bets-list">
                        <cart-item v-for="item in items" :key="item.id" :item="item"></cart-item>
                    </transition-group>
                    <div class="my-bet-sumbit-bets-info">
                        <div class="my-bet-sumbit-bets-odds" v-if="type === 1 || items.length === 1">
                            <div class="my-bet-sumbit-bets-odds-name">{{ $t('Overall odds:') }}</div>
                            <div class="my-bet-sumbit-bets-odds-count">{{ rate }}</div>
                        </div>
                        <div class="my-bet-submit-bets-stake">
                            <span>{{ $t('Stake:') }}</span>
                            <input class="my-bet-submit-bets-input" v-model="bet" type="number" step="0.01" :min="cart.minimal - 1" :max="cart.maximal + 1">
                            <div class="my-bet-submit-bets-stake-currency">
                                <span>
                                    {{ userCurrency }}
                                </span>
                            </div>
                        </div>
                        <div class="my-bet-sybmit-money-set">
                            <div class="money-quality-set" @click="bet += 10"><span>10</span></div>
                            <div class="money-quality-set" @click="bet += 50"><span>50</span></div>
                            <div class="money-quality-set" @click="bet += 100"><span>100</span></div>
                            <div class="money-quality-set" @click="bet += 1000"><span>1000</span></div>
                            <div class="money-quality-set money_disable"><span>2500</span></div>
                            <div class="money-quality-set money_disable"><span>5000</span></div>
                            <div class="money-quality-set" @click="bet = 0">
                                <i class="fas fa-long-arrow-alt-left"></i>
                            </div>
                        </div>
                        <div class="my-bet-sumbit-bets-odds odds-in-the-button">
                            <div class="my-bet-sumbit-bets-odds-name">{{ $t('Max. stake amount:') }}</div>
                            <div class="my-bet-sumbit-bets-odds-count">{{ limit || 0 }}</div>
                        </div>
                        <div class="my-bet-sumbit-bets-odds odds-in-the-button" v-if="type === 1 || items.length === 1">
                            <div class="my-bet-sumbit-bets-odds-name">{{ $t('Potential winnings:') }}</div>
                            <div class="my-bet-sumbit-bets-odds-count">{{ win }}</div>
                        </div>
                        <div class="my-bet-sumbit-bets-odds odds-in-the-button">
                            <div class="my-bet-sumbit-bets-odds-name">{{ $t('When odds change:') }}</div>
                            <div class="my-bet-sumbit-bets-odds-drop">
                                <select class="my-bet-sumbit-bets-odds-select" v-model="on_change">
                                    <option value="1">
                                        {{ $t('Confirm') }}
                                    </option>
                                    <option value="0">
                                        {{ $t('Agree') }}
                                    </option>
                                    <option value="2">
                                        {{ $t('Accept when increase') }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="my-bet-submit-bets-stake bets-take-whit-long-input">
                            <label for="cart-promocode">{{ $t('Promo code:') }}</label>
                            <input class="my-bet-submit-bets-input" name="cart-promocode" id="cart-promocode"/>
                        </div>
                        <div class="my-bet-submit-place-bet-button" @click="place()" v-if="userLoggedIn">
                            <div class="ui-event-button">
                                <span>{{ $t('PLACE A BET') }}</span>
                            </div>
                        </div>
                        <div class="my-bet-submit-place-bet-button" v-if="!userLoggedIn">
                            <a href="/user/auth/login" class="ui-event-button" data-toggle="modal" data-target="#loginPopup">
                                <span>{{ $t('Log In') }}</span>
                            </a>
                        </div>
                    </div>
                    <div class="my-bet-submit-footer">
                        <div class="my-bets-submit-footer-clear" @click="clean()">
                            <div class="my-bets-submit-clear-text">{{ $t('REMOVE ALL') }}</div>
                            <div class="my-bets-submit-clear-close-icon"></div>
                        </div>
                        <div class="my-bets-submit-footer-check-box">
                            <input type="checkbox" class="my-bets-submit-footer-check-box-element" name="cart-clean" id="cart-clean" checked>
                            <label for="cart-clean" class="my-bets-submit-check-box-text">
                                {{ $t('Clear bet slip after placing a bet') }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';

    import {cart} from 'backend/bets';
    import item from "components/right/cart-item.vue";

    const TYPE_SINGLE = 0;
    const TYPE_MULTI = 1;

    export default Vue.component('container-cart', {
        components: {
            'cart-item': item
        },
        data: function() {
            return {
                typeLocal: TYPE_MULTI
            };
        },
        mounted() {
            jQuery(this.$el).find('#select-timezone').select2({
                themeCss: ".select2-container--default",
                dropdownAutoWidth: true,
                templateSelection: function(){ return $('');},
                theme: "default",
                width: "100%",
                language: "ru"
            });
            jQuery(this.$el).find('#select-timezone').on('change', function(event) {window.location.href = '/core/timezone?timezone=' + $(this).val();});
        },
        methods: {
            remove: (id) => cart.remove(id),
            clean: () => cart.clean(),
            edit: (amount, change) => cart.edit(amount, change),
            place: function() {
                cart.place(document.getElementById('cart-clean').checked, document.getElementById('cart-promocode').value, this.type)
            },
            hideError: () => {
                cart.messageError = '';
            },
            setType(type) {
                this.typeLocal = type;
            },
            slipToggle() {
                const opener = this.$refs.button;
                const content = this.$refs.content;
                if(opener.className.includes('text-right-side-active')) {
                    opener.classList.remove('text-right-side-active');
                    content.classList.remove('active');
                } else {
                    opener.classList.add('text-right-side-active');
                    content.classList.add('active');
                }
            },
            timeToggle() {
                const opener = this.$refs.time_button;
                const content = this.$refs.list;
                if(opener.className.includes('time_active')) {
                    opener.classList.remove('time_active');
                    content.classList.remove('active');
                } else {
                    opener.classList.add('time_active');
                    content.classList.add('active');
                }
            }
        },
        computed: {
            userLoggedIn() {
                return !!window.socketGameParams.loggedIn;
            },
            userCurrency() {
                return window.socketGameParams.currency;
            },
            timezoneSelected() {
                return window.timezone;
            },
            timezonesList() {
                return window.timezones;
            },
            type: {
                get: function () {
                    return (
                        this.typeLocal !== TYPE_SINGLE && this.items.length === 1
                    ) ? TYPE_SINGLE : this.typeLocal;
                },
                set: function (value) {
                    this.typeLocal = value;
                }
            },
            cart: () => cart,
            bet: {
                get: () => { return cart.bet || 0; },
                set: function (value) {
                    cart.edit(value, this.on_change);
                }
            },
            on_change: {
                get: () => { return +cart.on_change },
                set: function (value) {
                    cart.edit(this.bet, +value);
                },
            },
            items: () => cart.items,
            win: function() {
                return Math.round(this.rate * cart.bet * 1000) / 1000;
            },
            limit: function() {
                return cart.maximal;
            },
            rate: function() {
                return Math.round(cart.items.reduce((value, item) => {
                    return item.rate * value;
                }, 1) * 1000) / 1000;
            },
            messageError: () => cart.messageError,
        }
    });
</script>