<template>
    <div class="game_sidebar">
        <ul class="game_sidebar_list">
            <li>
                <a href="/games/mini-games/game?name=roulette">
                    <div class="game_sidebar_img" style="background-image: url(/static/img/mini-games/roulet.jpg)"></div>
                    <div class="game_sidebar_title">
                        Roulette
                    </div>
                </a>
            </li>
            <li>
                <a href="/games/mini-games/game?name=rock-paper-scissors">
                    <div class="game_sidebar_img game2" style="background-image: url(/static/img/mini-games/rock.jpg)"></div>
                    <div class="game_sidebar_title">
                        Rock Paper Scissors
                    </div>
                </a>
            </li>
            <li>
                <a href="/games/mini-games/game?name=heads-or-tails">
                    <div class="game_sidebar_img game2" style="background-image: url(/static/img/mini-games/headsortails.jpg)"></div>
                    <div class="game_sidebar_title">
                        Heads of Tails
                    </div>
                </a>
            </li>
            <li>
                <a href="/games/mini-games/game?name=lucky-card">
                    <div class="game_sidebar_img game2" style="background-image: url(/static/img/mini-games/lucky.jpg)"></div>
                    <div class="game_sidebar_title">
                        Lucky card
                    </div>
                </a>
            </li>
        </ul>
    </div>
</template>

<script>
    import Vue from 'vue';
    export default Vue.component('container-casino', {
        name: "casino"
    })
</script>