@import url(https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap);
.headsortails-game {
  background-image: url("/static/casino/img/headsortails/background.png");
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
.headsortails-game > .container {
    padding: 70px 15px 20px;
}
.headsortails-game button {
    outline: none !important;
}
.headsortails-game .coin-wrap {
    padding-top: 100px;
}
.headsortails-game .btn-set-bet {
    border: 2px solid #88561b;
    background: #ebbe60 url("/static/casino/img/headsortails/btn-coin.png") no-repeat center;
    background-size: contain;
    width: 150px;
    height: 40px;
}
.headsortails-game .btn-set-bet:hover {
      background-image: url("/static/casino/img/headsortails/btn-coin.png");
      border: 2px solid #d4862a;
}
.headsortails-game .btn-set-amount {
    background-color: #08296a;
    border: 2px solid #eabd5f;
    color: #eabd5f;
    font-weight: bold;
}
.headsortails-game .btn-set-amount:focus {
      color: #eabd5f;
}
.headsortails-game .btn-set-amount:hover {
      background-color: #083493;
      border: 2px solid #eabd5f;
      color: #eabd5f;
}
.headsortails-game .amount-bet {
    width: 100px;
    display: inline-block;
    border: 2px solid #eabd5f;
    text-align: center;
    vertical-align: middle;
}
.headsortails-game .btn-remove-sum {
    border: 2px solid #eabd5f;
    color: red;
    background-color: #fff;
    font-weight: bold;
}
.headsortails-game .bet-type-wrap {
    padding: 15px;
    text-align: center;
    margin: 25px 0;
}
.headsortails-game .bet-type-wrap .heads, .headsortails-game .bet-type-wrap .tails {
      display: inline-block;
      border: 1px solid #0d56db;
      width: 260px;
      height: 160px;
      background: rgba(44, 137, 213, 0.15) no-repeat;
      background-size: contain;
      color: #fff;
      font-weight: bold;
      font-size: 18px;
      padding: 65px 27px;
}
.headsortails-game .bet-type-wrap .msg-wrap {
      width: calc(100% - 580px);
      display: inline-block;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
}
.headsortails-game .bet-type-wrap .heads {
      background-image: url("/static/casino/img/headsortails/heads.png");
      background-position-x: left;
      border-top-left-radius: 80px;
      border-bottom-left-radius: 80px;
      text-align: right;
      margin-left: 25px;
      cursor: pointer;
}
.headsortails-game .bet-type-wrap .tails {
      background-image: url("/static/casino/img/headsortails/tails.png");
      background-position-x: right;
      border-top-right-radius: 80px;
      border-bottom-right-radius: 80px;
      text-align: left;
      margin-right: 25px;
      cursor: pointer;
}

