@import url(https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap);
.luckycard-game {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
  background-image: url("/static/casino/img/luckycard/background_green.jpg");
}
.luckycard-game > .container {
    padding: 70px 15px 20px;
}
.luckycard-game button {
    outline: none !important;
}
.luckycard-game .btn-black {
    color: #fff;
    background-color: #000;
    padding: 7px;
}
.luckycard-game .btn-red {
    color: #fff;
    background-color: #cf0000;
    padding: 7px;
}
.luckycard-game .btn {
    outline: 0 !important;
}
.luckycard-game .amount-bet {
    width: 100px;
    display: inline-block;
    vertical-align: middle;
}
.luckycard-game .btn-black:hover,
  .luckycard-game .btn-red:hover,
  .luckycard-game .btn-black:focus,
  .luckycard-game .btn-red:focus {
    color: #fff;
}
.luckycard-game .btn-suit {
    width: 49%;
    margin-top: 15px;
    padding: 3px 0;
}
.luckycard-game .card-face-wrap {
    padding: 16px;
    border: 6px solid #d0d000;
    border-radius: 8px;
    display: inline-block;
    min-height: 350px;
    min-width: 251px;
}
.luckycard-game .card-bets-wrap {
    padding: 16px;
    border: 6px solid #d0d000;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    margin-top: 25px;
}
.luckycard-game .cards-right, .luckycard-game .cards-left {
    padding-top: 215px;
}
.luckycard-game .msg-wrap {
    text-align: center;
    color: #fff;
    font-size: 20px;
    min-height: 60px;
    margin: 15px 0;
}
.luckycard-game .text-bold {
    font-weight: bold;
}

