@import url(https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap);
.rockpaperscissors-game {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
  background-image: url("/static/casino/img/rockpaperscissors/background.jpg");
}
.rockpaperscissors-game > .container {
    padding: 20px 15px 20px;
}
.rockpaperscissors-game button {
    outline: none !important;
}
.rockpaperscissors-game .amount-bet {
    width: 100px;
    display: inline-block;
    vertical-align: middle;
}
.rockpaperscissors-game .bet_type_wrap {
    text-align: center;
}
.rockpaperscissors-game .bet_type_wrap .bet_type {
      display: inline-block;
      width: 200px;
      height: 180px;
      margin: 5px;
      padding-top: 30px;
}
.rockpaperscissors-game .bet_type_wrap .bet_type .rock, .rockpaperscissors-game .bet_type_wrap .bet_type .paper, .rockpaperscissors-game .bet_type_wrap .bet_type .scissors {
        width: 130px;
        height: 130px;
        background-size: contain;
        background: transparent no-repeat center;
        border: none;
}
.rockpaperscissors-game .bet_type_wrap .bet_type .rock {
        background-image: url("/static/casino/img/rockpaperscissors/rock.png");
}
.rockpaperscissors-game .bet_type_wrap .bet_type .paper {
        background-image: url("/static/casino/img/rockpaperscissors/paper.png");
}
.rockpaperscissors-game .bet_type_wrap .bet_type .scissors {
        background-image: url("/static/casino/img/rockpaperscissors/scissors.png");
}
.rockpaperscissors-game .bet_type_wrap .bet_type:hover {
        background-image: url("/static/casino/img/rockpaperscissors/selected_bet.png");
        background-size: contain;
}
.rockpaperscissors-game .hands_wrap {
    text-align: center;
}
.rockpaperscissors-game .hands_wrap .left_box, .rockpaperscissors-game .hands_wrap .right_box {
      width: 302px;
      height: 200px;
      border: 1px solid #484848;
      border-radius: 8px;
      display: inline-block;
      margin: 25px 30px;
}
.rockpaperscissors-game .btn-danger {
    background-color: #fc0001;
}
.rockpaperscissors-game .msg-wrap {
    font-family: 'Marck Script', cursive;
    color: #511DA7;
    font-size: 40px;
    min-height: 140px;
}

