@import url(https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap);
.thimbles-game {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
  background-image: url("/static/casino/img/thimbles/background.jpg");
}
.thimbles-game > .container {
    padding: 20px 15px 20px;
}
.thimbles-game button {
    outline: none !important;
}
.thimbles-game .card-bets-wrap input {
    text-align: center;
}
.thimbles-game .card-bets-wrap input.amount-bet {
      width: 100px;
      display: inline-block;
      vertical-align: middle;
}
.thimbles-game .bet_type_wrap {
    text-align: center;
    margin: 25px 0;
}
.thimbles-game .bet_type .thimble-left,
  .thimbles-game .bet_type .thimble-center,
  .thimbles-game .bet_type .thimble-right {
    width: 160px;
    height: 270px;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
}
.thimbles-game .msg-wrap {
    padding: 15px 0;
    min-height: 160px;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 24px;
    margin: 15px 0;
    text-align: center;
    color: #fff;
}
.thimbles-game .game_type_wrap {
    text-align: center;
    margin: 8px;
}
.thimbles-game .game_type_wrap .info-type-game {
      display: inline-block;
      font-family: 'Fira Sans Extra Condensed', sans-serif;
      font-size: 24px;
      padding: 2px 15px 0;
      vertical-align: top;
      color: #fff;
}
.thimbles-game .game_type_wrap .game_type_switch {
      height: 43px;
      width: 160px;
      border: 2px solid #fff;
      border-radius: 20px;
      display: inline-block;
      position: relative;
}
.thimbles-game .game_type_wrap .ball_switch {
      display: inline-block;
      height: 40px;
      width: 40px;
      background: url("/static/casino/img/thimbles/ball.png") no-repeat;
      background-size: cover;
}

